Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): add codebase audit report
  docs/qa/TERP_CODEBASE_AUDIT.md
  docs/sessions/completed/Session-20260116-QA-AUDIT-2c4f6a.md
Due: prettier --write

fix: allow Super Admin demo users to perform mutations in protectedProcedure
  server/_core/trpc.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: trigger redeploy for Super Admin demo user mutation fix
  server/_core/trpc.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: add missing live shopping timeout columns (MEET-075-BE)
  drizzle/migrations/0058_add_live_shopping_timeout_columns.sql
Due: none

fix: add live shopping timeout columns to autoMigrate (MEET-075-BE)
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: correct liveSessionStatusEnum column name to match database
  drizzle/schema-live-shopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comment explaining status column name in liveSessionStatusEnum
  drizzle/schema-live-shopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: add schema compatibility check to sessionTimeoutService
  server/services/live-shopping/sessionTimeoutService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: align Redhat QA synthesis wording
  docs/reports/TERP_CONSOLIDATED_QA_SYNTHESIS_REDHAT.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260116-QA-SYNTHESIS-REDHAT-54abad.md
  docs/sessions/completed/Session-20260116-QA-SYNTHESIS-f0e927.md
  docs/sessions/completed/Session-20260117-QA-REVISIONS-d79e3b.md
Due: prettier --write

fix: resolve 23 TypeScript errors in VIP and strain services
  docs/roadmaps/MVP_TYPESCRIPT_FIX_EXECUTION_PLAN.md
  docs/roadmaps/MVP_TYPESCRIPT_FIX_REDHAT_QA_REPORT.md
  server/services/strainMatchingService.ts
  server/services/vipCreditService.ts
  server/services/vipDebtAgingService.ts
  server/services/vipPortalAdminService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: address 3 critical issues found in RedHat QA review
  docs/roadmaps/MVP_TYPESCRIPT_FIX_COMPREHENSIVE_QA_REPORT.md
  server/services/vipDebtAgingService.ts
  server/services/vipPortalAdminService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: execute Wave 1 backlog fixes and add debt aging cron job
  client/src/components/inventory/AdvancedFilters.tsx
  docs/roadmaps/NON_BETA_BACKLOG_EXECUTION_PLAN.md
  docs/roadmaps/NON_BETA_BACKLOG_EXECUTION_PLAN_QA_REVIEW.md
  server/_core/index.ts
  server/cron/debtAgingCron.ts
  server/services/vipCreditService.ts
  server/services/vipDebtAgingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add comprehensive Digital Ocean E2E test suite
  scripts/do-e2e-test-suite.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add live site e2e testing infrastructure
  package.json
  pnpm-lock.yaml
  scripts/live-comprehensive-e2e.ts
  scripts/live-curl-test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci: add GitHub Actions workflow for live site e2e tests
  .github/workflows/e2e-live-site.yml
Due: none

fix: update e2e test credentials and add curl-based testing docs
  .github/workflows/e2e-live-site.yml
  docs/guides/E2E_TESTING.md
  tests/smoke/smoke.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add comprehensive E2E testing suite and detailed test report
  E2E_COMPREHENSIVE_TEST_REPORT.md
  tests-e2e/comprehensive-e2e-suite.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: improve e2e workflows with correct credentials and on-demand testing
  .github/workflows/ai-qa-agent.yml
  .github/workflows/e2e-live-site.yml
  .github/workflows/mega-qa-cloud.yml
  scripts/mega-qa/ensure-e2e-users.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: standardize test credentials across all e2e test files
  live-test-plan.md
  scripts/mega-qa/ensure-e2e-users.ts
  tests-e2e/fixtures/auth.ts
  tests-e2e/specialized/auth.spec.ts
  tests/e2e/setup/test-data.setup.ts
  tests/e2e/specs/auth.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add real E2E test execution suite with proxy support
  E2E_TEST_EXECUTION_REPORT.md
  tests-e2e/run-comprehensive-http-tests.ts
  tests-e2e/run-http-tests.ts
  tests-e2e/run-with-proxy.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add Puppeteer-based E2E test runner
  tests-e2e/run-puppeteer-tests.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add PR cleanup recommendations for repository maintenance
  PR_CLEANUP_RECOMMENDATIONS.md
Due: prettier --write

Remove broken workflow
  .github/workflows/e2e-live-site.yml
Due: none

Restore e2e workflow with workflow_dispatch
  .github/workflows/e2e-live-site.yml
Due: none

Fix YAML syntax: quote environment variables
  .github/workflows/e2e-live-site.yml
Due: none

BUG-098: Fix inventory display issue with supplier data
  client/public/version.json
  client/version.json
  server/inventoryDb.ts
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): add Workflow & Notification System tasks for MVP and Beta
  docs/prompts/INV-001.md
  docs/prompts/INV-002.md
  docs/prompts/NAV-006.md
  docs/prompts/NAV-007.md
  docs/prompts/NAV-008.md
  docs/prompts/WF-001.md
  docs/prompts/WF-002.md
  docs/prompts/WF-003.md
  docs/prompts/WF-004.md
  docs/prompts/WF-005.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(prompts): enhance implementation guides with accurate code references
  docs/prompts/INV-001.md
  docs/prompts/INV-002.md
  docs/prompts/NAV-006.md
  docs/prompts/NAV-007.md
  docs/prompts/NAV-008.md
  docs/prompts/WF-001.md
  docs/prompts/WF-002.md
  docs/prompts/WF-003.md
  docs/prompts/WF-004.md
  docs/prompts/WF-005.md
Due: prettier --write

Add comprehensive MVP Strategic Execution Plan
  docs/roadmaps/MVP_STRATEGIC_EXECUTION_PLAN_2026-01-19.md
  docs/roadmaps/README.md
Due: prettier --write

CRITICAL: Red Hat QA Audit reveals MVP ~93% complete
  docs/roadmaps/MVP_STRATEGIC_EXECUTION_PLAN_2026-01-19.md
  docs/roadmaps/QA_VALIDATION_REPORT_2026-01-19.md
Due: prettier --write

docs: apply redhat qa to ux strategy
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260119-DOCS-UX-REDHAT-64eb00.md
  docs/sessions/completed/Session-20260119-DOCS-UX-STRATEGY-39dfe3.md
  docs/specs/ui-ux-strategy/ASSUMPTION_LOG.md
  docs/specs/ui-ux-strategy/ATOMIC_ROADMAP.md
  docs/specs/ui-ux-strategy/ATOMIC_UX_STRATEGY.md
  docs/specs/ui-ux-strategy/FEATURE_PRESERVATION_MATRIX.md
  docs/specs/ui-ux-strategy/PATTERN_APPLICATION_PLAYBOOK.md
  docs/specs/ui-ux-strategy/RISK_REGISTER.md
Due: prettier --write

Update MASTER_ROADMAP with 2026 Strategic MVP status
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: comprehensive red-hat QA review of atomic UX strategy
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260119-DOCS-UX-REDHAT-64eb00.md
  docs/sessions/completed/Session-20260119-DOCS-UX-REDHAT-DEEP-REVIEW.md
  docs/sessions/completed/Session-20260119-DOCS-UX-STRATEGY-39dfe3.md
  docs/specs/ui-ux-strategy/ASSUMPTION_LOG.md
  docs/specs/ui-ux-strategy/ATOMIC_ROADMAP.md
  docs/specs/ui-ux-strategy/ATOMIC_UX_STRATEGY.md
  docs/specs/ui-ux-strategy/FEATURE_PRESERVATION_MATRIX.md
  docs/specs/ui-ux-strategy/PATTERN_APPLICATION_PLAYBOOK.md
  docs/specs/ui-ux-strategy/RISK_REGISTER.md
Due: prettier --write

Deep gap analysis: resolve unknown features, add mobile priorities
  docs/sessions/completed/Session-20260119-DOCS-UX-REDHAT-DEEP-REVIEW.md
  docs/specs/ui-ux-strategy/ATOMIC_ROADMAP.md
  docs/specs/ui-ux-strategy/FEATURE_PRESERVATION_MATRIX.md
Due: prettier --write

Add comprehensive Work Surface handoff report
  docs/specs/ui-ux-strategy/WORK_SURFACE_HANDOFF_REPORT.md
Due: prettier --write

Add mockup generation prompt for Work Surface designs
  docs/specs/ui-ux-strategy/MOCKUP_GENERATION_PROMPT.md
Due: prettier --write

docs(ux): refine work surface roadmap and guardrails
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260120-DOCS-UX-US-PLAN-e88090.md
  docs/specs/ui-ux-strategy/ATOMIC_ROADMAP.md
  docs/specs/ui-ux-strategy/WORK_SURFACE_HANDOFF_REPORT.md
Due: prettier --write

docs(ux): comprehensive Red Hat QA improvements for PR #244
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260120-REDHAT-QA-PR244-DEEP.md
  docs/specs/ui-ux-strategy/ASSUMPTION_LOG.md
  docs/specs/ui-ux-strategy/ATOMIC_ROADMAP.md
  docs/specs/ui-ux-strategy/FEATURE_PRESERVATION_MATRIX.md
  docs/specs/ui-ux-strategy/RISK_REGISTER.md
  docs/specs/ui-ux-strategy/WORK_SURFACE_HANDOFF_REPORT.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
