Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

Add deployment infrastructure tasks and PREREQ-001 to roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat: Automated Slack bot configuration verification
  package.json
  scripts/slack-bot-auto-setup.md
  scripts/slack-bot-verify.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

INFRA-008: Fix migration consolidation
  scripts/start.sh
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

INFRA-011: Update deployment configuration
  .do/app.yaml
Due: none

BUG-012: Fix Add Item button not responding
  client/src/pages/OrderCreatorPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-013: Fix inventory table not displaying data
  client/src/pages/Inventory.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add persona-based testing findings - critical workflow blockers identified
  docs/testing/PERSONA_TESTING_COMPREHENSIVE_FINDINGS.md
  docs/testing/PERSONA_TESTING_EXECUTION_LOG.md
  docs/testing/PERSONA_TESTING_FINAL_SUMMARY.md
  docs/testing/USER_PERSONA_TESTING_STRATEGY.md
Due: prettier --write

BUG-011: Hide debug dashboard in production
  client/src/pages/Orders.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-014: Fix Todo Lists route 404
  client/src/components/DashboardLayout.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

QA-034: Fix Widget Visibility disappearing when Custom layout selected
  client/src/components/dashboard/v3/CustomizationPanel.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

QA-028: Ensure AppSidebar is hidden on all dashboard routes
  client/src/components/layout/AppShell.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

PREREQ-001: Create migration script for QA-044
  docs/roadmaps/MASTER_ROADMAP.md
  scripts/apply-qa-044-migration.js
Due: prettier --write

INFRA-006: Enhance conflict resolution
  scripts/auto-resolve-conflicts.sh
  scripts/handle-push-conflict.sh
Due: none

INFRA-007: Update swarm manager to merge to main and enforce deployment monitoring
  scripts/manager.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Remove redundant dynamic imports in manager.ts
  scripts/manager.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add comprehensive persona-based testing reports and 5 new bugs to roadmap
  docs/roadmaps/MASTER_ROADMAP.md
  docs/testing/ALL_PERSONAS_COMPREHENSIVE_TESTING.md
  docs/testing/FINAL_COMPREHENSIVE_PERSONA_TESTING_REPORT.md
  docs/testing/PERSONA_TESTING_QA_REVIEW.md
  docs/testing/RAPID_PERSONA_TESTING_FINAL.md
Due: prettier --write

BUG-015: Fix Cmd+K Command Palette shortcut
  client/src/App.tsx
  client/src/components/CommandPalette.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-016: Implement theme toggle
  client/src/App.tsx
  client/src/components/layout/AppHeader.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Add --no-frozen-lockfile to build command
  .do/app.yaml
Due: none

fix: Update nixpacks.toml to use --no-frozen-lockfile
  nixpacks.toml
Due: none

QA-045: Link Events to Clients
  client/src/components/calendar/EventFormDialog.tsx
  client/src/components/clients/ClientCalendarTab.tsx
  client/src/pages/ClientProfilePage.tsx
  server/routers/calendar.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write
