Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: improve pool error handling in db-sync
  scripts/db-sync.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: update connection stabilization report with current status
  docs/DB-CONNECTION-STABILIZATION-REPORT.md
Due: prettier --write

docs(DATA-002-AUGMENT): add execution report and fix column/table names
  docs/DATA-002-AUGMENT-EXECUTION-REPORT.md
  scripts/augment-client-relationships.ts
  scripts/augment-financial-chains.ts
  scripts/augment-inventory-movements.ts
  scripts/augment-orders.ts
  scripts/validate-data-quality.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs(DATA-002-AUGMENT): update roadmap with execution status
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Fix: Address top 3 production loading issues
  docs/sessions/active/Session-20251203-PROD-LOADING-dc6060.md
Due: prettier --write

Checkpoint before follow-up message
  docs/sessions/active/Session-20251203-PROD-LOADING-dc6060.md
Due: prettier --write

fix(prod): make Sentry initialization non-blocking
  client/src/main.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: update session with Sentry fix details
  docs/sessions/active/Session-20251203-PROD-LOADING-dc6060.md
Due: prettier --write

feat: add DigitalOcean job for running augmentation scripts from stable connection
  .do/app-augment-data-job.yaml
  docs/DATA-002-AUGMENT-RUN-FROM-STABLE-CONNECTION.md
  package.json
Due: prettier --write

docs: add job instructions to .do/README.md
  .do/README.md
Due: prettier --write

docs: update job instructions with actual app ID
  docs/DATA-002-AUGMENT-RUN-FROM-STABLE-CONNECTION.md
Due: prettier --write

feat: add convenience script to run augmentation via DO job
  scripts/run-augmentation-via-do-job.sh
Due: none

docs: add quick start script instructions
  docs/DATA-002-AUGMENT-RUN-FROM-STABLE-CONNECTION.md
Due: prettier --write

feat: add API endpoint to run augmentation scripts from production server
  scripts/run-augmentation-via-api.ts
  server/routers.ts
  server/routers/adminDataAugment.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: add authentication to adminDataAugment router
  server/routers/adminDataAugment.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add execution status and monitoring script for DATA-002-AUGMENT
  docs/DATA-002-AUGMENT-EXECUTION-STATUS.md
  scripts/monitor-and-run-augmentation.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Configure augment-data job and remove seed job
  .do/app-augment-data-job.yaml
  .do/app.yaml
Due: none

docs(DATA-002-AUGMENT): update roadmap status to in-progress and document execution blockers
  .do/app.yaml
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(DATA-002-AUGMENT): add next steps and resolution plan
  docs/DATA-002-AUGMENT-NEXT-STEPS.md
Due: prettier --write

feat(DATA-002-AUGMENT): add HTTP endpoint to bypass tRPC auth issues
  server/_core/index.ts
  server/routers/dataAugmentHttp.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat(DATA-002-AUGMENT): add HTTP client script for augmentation
  scripts/run-augmentation-via-http.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
