Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add comprehensive roadmap status report (Nov 14)
  docs/ROADMAP_STATUS_REPORT.md
Due: prettier --write

Add agent prompts for INFRA-003, DATA-002, DATA-003
  docs/prompts/DATA-002.md
  docs/prompts/DATA-003.md
  docs/prompts/INFRA-003.md
Due: prettier --write

Update roadmap: Mark agent prompts creation task as complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Update ACTIVE_SESSIONS.md: Add Session-20251114-critical-404s-bd57b1 to completed
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

Mark ST-016 and ST-010 as complete in roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Update QA-020 & QA-046 completion status in roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Session cleanup: Archive all 9 completed sessions
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251113-st002-completion-3f7ae026.md
  docs/sessions/active/Session-20251113-st006-deadcode-2f6b7778.md
  docs/sessions/completed/Session-20251112-workflow-system-011CV4V.md
  docs/sessions/completed/Session-20251113-st002-completion-3f7ae026.md
  docs/sessions/completed/Session-20251113-st006-deadcode-2f6b7778.md
  docs/sessions/completed/Session-20251114-QA-010-daf97c3e.md
  docs/sessions/completed/Session-20251114-QA-015-2cdeadb5.md
  docs/sessions/completed/Session-20251114-QA-038-60c5c592.md
  docs/sessions/completed/Session-20251114-QA-044-b04ecb75.md
  docs/sessions/completed/Session-20251114-calendar-events-428937.md
  docs/sessions/completed/Session-20251114-testing-infra-687ceb.md
Due: prettier --write

Add strict protocol enforcement templates for agents
  docs/agent-prompts/AGENT-EXAMPLE-DB-PERFORMANCE.md
  docs/agent-prompts/AGENT_TEMPLATE_STRICT.md
Due: prettier --write

Add copy-paste agent prompts with strict protocol enforcement
  docs/COPY_PASTE_AGENT_PROMPTS.md
Due: prettier --write

Move completed session files from active/ to completed/ directory
  docs/sessions/active/Session-20251114-code-quality-6105e5-COMPLETION.md
  docs/sessions/active/Session-20251114-code-quality-6105e5.md
Due: prettier --write

Register Agent-02: Monitoring (ST-008, ST-009)
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251117-monitoring-749ff8a8.md
Due: prettier --write

Register Agent-01: Database Performance (ST-005, ST-015, ST-017)
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251117-db-performance-d6d96289.md
Due: prettier --write

Register Agent-03: E2E Tests (ST-011)
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251117-e2e-tests-30c9a27f.md
Due: prettier --write

chore: Register Agent-05 session for ST-013 and RF-001
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251117-data-integrity-b9bcdea1.md
Due: prettier --write

chore: Update active sessions tracking
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

ST-005: Add database indexes for foreign keys
  drizzle/0038_add_missing_indexes.sql
Due: none

RF-003: Fix any types in dbUtils.ts (8 any -> 0 any)
  server/_core/dbUtils.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

ST-008: Implement Sentry error tracking
  client/src/components/ErrorBoundary.tsx
  client/src/main.tsx
  package.json
  pnpm-lock.yaml
  sentry.client.config.ts
  sentry.server.config.ts
  server/_core/monitoring.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

RF-003: Fix any types in dashboard.ts (20 any -> 0 any)
  server/routers/dashboard.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

ST-015: Add performance baseline benchmarks
  docs/performance-baseline.md
  scripts/benchmark-api.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

RF-003: Fix any types in adminQuickFix.ts (17 any -> 0 any)
  server/routers/adminQuickFix.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

RF-003: Fix any types in adminSchemaPush.ts (16 any -> 0 any)
  server/routers/adminSchemaPush.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

RF-003: Fix any types in adminMigrations.ts (12 any -> 0 any)
  server/routers/adminMigrations.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

RF-003: Fix any types in 8 database modules (81 any -> ~20 any)
  server/alertConfigurationDb.ts
  server/autoMigrate.ts
  server/clientsDb.ts
  server/dashboardAnalytics.ts
  server/productIntakeDb.ts
  server/recurringOrdersDb.ts
  server/salesSheetEnhancements.ts
  server/samplesDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

ST-017: Document and test batch status transition logic
  docs/batch-status-transitions.md
  server/routers/batches.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
