Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ]
}

feat: Add standalone roadmap dashboard
  product-management/pm-evaluation/roadmap-dashboard.html
Due: none

Deploy roadmap dashboard to GitHub Pages
  index.html
Due: none

fix: Include roadmap and parallelization data in dashboard
  product-management/_system/scripts/status-tracker.py
  product-management/pm-evaluation/dashboard.json
Due: prettier --write

feat: Add auto-update script for GitHub Pages
  product-management/_system/scripts/update-github-pages.sh
Due: none

feat: Add centralized agent prompt system
  agent-prompts/README.md
  agent-prompts/dev-agent.md
  agent-prompts/pm-agent.md
  agent-prompts/qa-agent.md
Due: prettier --write

[TERP-INIT-003] Database Migration for Calendar Module
  drizzle/0020_flimsy_makkari.sql
  drizzle/meta/0020_snapshot.json
  drizzle/meta/_journal.json
Due: prettier --write

Update agent prompts with user-provided versions and API keys
  agent-prompts/README.md
  agent-prompts/dev-agent.md.backup
  agent-prompts/implementation-agent-base.md
  agent-prompts/initiative-creator-base.md
  agent-prompts/initiative-creator.md
  agent-prompts/pm-agent-base.md
  agent-prompts/pm-agent.md.backup
  agent-prompts/qa-agent.md.backup
Due: prettier --write

[HOTFIX] Fix JSX syntax error in ClientsListPage
  client/src/pages/ClientsListPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add Dashboard V3 migration instructions
  MIGRATION_INSTRUCTIONS.md
Due: prettier --write

feat: Add Dashboard V3 database migration
  apply_dashboard_migration.sh
  drizzle/0026_recreate_dashboard_preferences.sql
Due: none

[HOTFIX] Fix circular dependency in Inventory routing
  client/src/pages/Inventory.tsx
Due: eslint --fix --max-warnings=0, prettier --write
