Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

chore: update auto-generated version.json files
  client/public/version.json
  client/version.json
Due: prettier --write

fix(ci): resolve PR-458 schema and seed regressions
  client/src/components/work-surface/QuotesWorkSurface.tsx
  drizzle/schema-sprint5-trackd.ts
  scripts/generators/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): align schema validation DB sync with current schema
  .github/workflows/schema-validation.yml
Due: none

fix(ci): refresh schema drift baseline thresholds
  .github/workflows/schema-validation.yml
Due: none

Simplify workspaces and harden order flows
  client/src/App.tsx
  client/src/components/CommandPalette.tsx
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/layout/MobileNav.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/components/orders/OrderStatusTimeline.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/index.css
  client/src/lib/workspaceRoutes.ts
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/AnalyticsPage.tsx
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  client/src/pages/InterestListPage.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/PricingRulesPage.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/SalesSheetCreatorPage.tsx
  client/src/pages/SalesWorkspacePage.tsx
  client/src/pages/WorkflowQueuePage.tsx
  server/db/queries/workflow-queue.ts
  server/inventoryDb.ts
  server/lib/fulfillmentStatusCompatibility.ts
  server/lib/photographyCompleteCompatibility.test.ts
  server/lib/photographyCompleteCompatibility.ts
  server/matchingEngineEnhanced.ts
  server/ordersDb.ts
  server/routers/matchingEnhanced.ts
  server/routers/orders.ts
  server/routers/referrals.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(stress): add github-safe secret contract [skip-staging-sync]
  .env.stress.example
  .gitignore
  docs/testing/STRESS_SECRETS.md
  docs/testing/STRESS_TESTING_RUNBOOK.md
  scripts/stress/generate-auth-token.sh
Due: prettier --write

Simplify workspaces and harden order flows (#459)
  client/src/App.tsx
  client/src/components/CommandPalette.tsx
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/layout/MobileNav.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/components/orders/OrderStatusTimeline.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/index.css
  client/src/lib/workspaceRoutes.ts
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/AnalyticsPage.tsx
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  client/src/pages/InterestListPage.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/PricingRulesPage.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/SalesSheetCreatorPage.tsx
  client/src/pages/SalesWorkspacePage.tsx
  client/src/pages/WorkflowQueuePage.tsx
  server/db/queries/workflow-queue.ts
  server/inventoryDb.ts
  server/lib/fulfillmentStatusCompatibility.ts
  server/lib/photographyCompleteCompatibility.test.ts
  server/lib/photographyCompleteCompatibility.ts
  server/matchingEngineEnhanced.ts
  server/ordersDb.ts
  server/routers/matchingEnhanced.ts
  server/routers/orders.ts
  server/routers/referrals.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(multi): address staging QA feedback — TER-564, TER-578, TER-579, TER-580
  .github/workflows/pre-merge.yml
  client/index.html
  client/public/version.json
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/main.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/version.json
  scripts/terminology-drift-audit.sh
  server/routers/referrals.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(ux): comprehensive UI/UX simplification plan v2.0
  docs/plans/UX_SIMPLIFICATION_PLAN.md
Due: prettier --write

docs(audit): comprehensive reliability assessment report
  docs/reports/RELIABILITY_AUDIT_2026-03-07.md
Due: prettier --write

chore: update auto-generated version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

fix(schema): shorten FK constraint names exceeding MySQL 64-char limit
  drizzle/schema-sprint5-trackd.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): add QA account seeding and auth to E2E job
  .github/workflows/pre-merge.yml
Due: none

fix(multi): address staging QA feedback — TER-564, TER-578, TER-579, TER-580 (#461)
  .github/workflows/pre-merge.yml
  client/index.html
  client/public/version.json
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/main.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/version.json
  drizzle/schema-sprint5-trackd.ts
  scripts/terminology-drift-audit.sh
  server/routers/referrals.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): add TXSAFE transaction safety remediation plan
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/TXSAFE-execution-plan.md
Due: prettier --write

docs(ux): reorganize Inventory as physical operations hub
  docs/plans/UX_SIMPLIFICATION_PLAN.md
Due: prettier --write

docs(roadmap): add Linear ticket IDs to TXSAFE tasks (TER-581–TER-594)
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/TXSAFE-execution-plan.md
Due: prettier --write

feat(notifications,payments): TER-588 circuit breaker + queue persistence, TER-589 overpayment tolerance config
  server/_core/env.ts
  server/routers/payments.ts
  server/services/notificationRepository.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): TER-605/606/607 — inventory workspace consolidation with new tabs
  client/src/config/workspaces.ts
  client/src/pages/InventoryWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): add E2E stall diagnostics and live progress [TER-576, TER-577]
  .github/workflows/pre-merge.yml
Due: none

fix(payments): add FOR UPDATE locks and configurable overpayment tolerance
  server/routers/payments.ts
  server/routers/poReceiving.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(multi): health check 503, monetary max bounds, PO receiving validation
  server/_core/index.ts
  server/routers/credits.ts
  server/routers/orders.ts
  server/routers/payments.ts
  server/routers/poReceiving.ts
  server/routers/purchaseOrders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(infra): TXSAFE infrastructure improvements
  server/_core/circuitBreaker.ts
  server/_core/criticalMutation.ts
  server/_core/dbTransaction.ts
  server/_core/env.ts
  server/_core/rateLimiter.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(referrals): consistent legacy schema compatibility across all endpoints
  server/routers/referrals.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): enforce actor attribution lint rules and fix violations
  eslint.config.js
  server/inventoryIntakeService.ts
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(infra): database-backed idempotency cache and query timeout
  drizzle/schema.ts
  server/_core/criticalMutation.ts
  server/_core/env.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): collapse navigation and simplify dashboard
  client/src/components/DashboardLayout.test.tsx
  client/src/components/dashboard/SimpleDashboard.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/components/ui/DataTable.tsx
  client/src/config/navigation.consolidation.test.ts
  client/src/config/navigation.ts
  client/src/hooks/useRecentPages.ts
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/DashboardV3.tsx
  server/routers/inventory.ts
  server/routers/orders.ts
  server/routers/quotes.ts
  server/services/live-shopping/sessionOrderService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(multi): update tests for transaction and idempotency changes
  client/public/version.json
  client/version.json
  server/_core/criticalMutation.integration.test.ts
  server/_core/criticalMutation.test.ts
  server/routers/inventory.test.ts
  server/routers/orders.test.ts
  server/routers/payments.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): add idempotency_keys to TABLES_PENDING_MIGRATION
  tests/integration/schema-verification.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(multi): address deferred items — batch validation, constants, TODOs, migration audit
  client/src/components/orders/OrderPreview.tsx
  migrations/README.md
  server/inventoryDb.test.ts
  server/inventoryDb.ts
  server/ordersDb.ts
  server/routers/inventory.test.ts
  server/services/live-shopping/sessionTimeoutService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json files
  client/public/version.json
  client/version.json
Due: prettier --write

chore(testing): WIP staging load test infrastructure
  tests-e2e/chains/definitions/index.ts
  tests-e2e/chains/personas.ts
  tests-e2e/chains/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(testing): expand staging load test coverage to 57 chains (100% pass rate)
  playwright.config.ts
  tests-e2e/chains/definitions/accounting-chains.ts
  tests-e2e/chains/definitions/cross-domain-chains.ts
  tests-e2e/chains/definitions/inventory-chains.ts
  tests-e2e/chains/definitions/ops-chains.ts
  tests-e2e/chains/definitions/sales-chains.ts
  tests-e2e/chains/personas.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(testing): add full golden flow and cross-domain chain definitions
  tests-e2e/chains/definitions/cross-domain-chains.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(testing): add staging load test infrastructure
  package.json
  scripts/staging-load-test.ts
  tests-e2e/chains/chain-executor.ts
  tests-e2e/chains/chain-runner.spec.ts
  tests-e2e/chains/definitions/accounting-chains.ts
  tests-e2e/chains/definitions/cross-domain-chains.ts
  tests-e2e/chains/definitions/index.ts
  tests-e2e/chains/definitions/inventory-chains.ts
  tests-e2e/chains/definitions/ops-chains.ts
  tests-e2e/chains/definitions/sales-chains.ts
  tests-e2e/chains/health-monitor.ts
  tests-e2e/chains/simulation-runner.spec.ts
  tests-e2e/chains/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(testing): implement add_line_item, custom actions, preconditions, and cleanup in chain executor
  tests-e2e/chains/chain-executor.ts
  tests-e2e/chains/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(testing): update chain definitions index to include all write-path modules
  tests-e2e/chains/definitions/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(testing): add write-path chains for inventory, accounting, and ops lifecycles
  tests-e2e/chains/definitions/write-path-accounting-chains.ts
  tests-e2e/chains/definitions/write-path-inventory-chains.ts
  tests-e2e/chains/definitions/write-path-ops-chains.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
