Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Update roadmap with accurate completion status
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

chore(session): register Session-20260108-DATA-SEED-EXEC-1b7f13
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260108-DATA-SEED-EXEC-1b7f13.md
Due: prettier --write

docs: Add DATA-010 Red Hat QA execution roadmap
  docs/qa/DATA-010-REDHAT-QA-EXECUTION-ROADMAP.md
Due: prettier --write

fix: Reopen DATA-010 with accurate status from Red Hat QA
  docs/archive/legacy-reports/DATA-010-COMPLETION-REPORT.md
  docs/archive/legacy-reports/DATA-010-FINAL-STATUS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251203-DATA-010-fff4be03.md
Due: prettier --write

docs: Add DATA-010 completion prompt for agent execution
  docs/prompts/DATA-010-COMPLETION.md
Due: prettier --write

feat(security): Implement SEC-011 and SEC-012 security enhancements
  server/routers/adminSetup.ts
  server/routers/vipPortal.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(notifications): Add notification triggers for business events
  server/routers/accounting.ts
  server/routers/orders.ts
  server/services/notificationTriggers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Update roadmap to reflect completed work (v4.3)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(data-010): Complete schema validation system per Red Hat QA roadmap
  .github/workflows/schema-validation.yml
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251203-DATA-010-fff4be03.md
  drizzle/schema.ts
  scripts/utils/schema-validation.integration.test.ts
  scripts/utils/schema-validation.property.test.ts
  server/inventoryMovementsDb.ts
  server/ordersDb.ts
  server/routers/audit.ts
  server/routers/inventoryMovements.ts
  server/routers/poReceiving.ts
  server/routers/returns.ts
  server/routers/warehouseTransfers.ts
  server/samplesDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(data-010): Red Hat QA adversarial review fixes
  scripts/utils/schema-validation.property.test.ts
  scripts/validate-schema-sync.ts
  server/inventoryMovementsDb.ts
  server/routers/inventoryMovements.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add DATA-010 deployment guide with AI agent prompt
  docs/prompts/DEPLOY-DATA-010.md
Due: prettier --write

chore: register session Session-20260108-DEPLOY-DATA-010-ced486
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260108-DEPLOY-DATA-010-ced486.md
Due: prettier --write

feat(DEPLOY-DATA-010): Complete schema validation deployment and archive session
  SCHEMA_VALIDATION_REPORT.md
  apply_migration.py
  check_db_state.py
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260108-DEPLOY-DATA-010-ced486.md
  docs/sessions/completed/Session-20260108-DEPLOY-DATA-010-ced486.md
  schema-validation-report.json
Due: prettier --write

docs: Add DATA-010 verification prompt for production validation
  docs/prompts/VERIFY-DATA-010.md
Due: prettier --write

feat(security): Add security-first execution plan with parallel agent architecture
  docs/roadmaps/SECURITY_EXECUTION_PLAN_2026-01-09.md
Due: prettier --write

docs: Update MASTER_ROADMAP with verified bug fixes (BUG-041, BUG-042, BUG-070)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

test(e2e): Execute comprehensive E2E test coverage against live environment
  qa-results/COVERAGE_REPORT.csv
  qa-results/DEFECT_LOG.csv
  qa-results/E2E_TEST_EXECUTION_REPORT.md
Due: prettier --write

docs(roadmap): Add E2E test coverage defects to MVP roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(roadmap): Complete MVP execution plan covering all 72 open tasks
  docs/roadmaps/COMPLETE_MVP_EXECUTION_PLAN_2026-01-09.md
Due: prettier --write

fix(security): Critical security hardening from adversarial QA review
  client/src/components/common/PageErrorBoundary.tsx
  client/src/main.tsx
  scripts/backup-database.ts
  server/_core/healthCheck.ts
  server/_core/index.ts
  server/alertConfigurationDb.ts
  server/routers/health.ts
  server/routers/orderEnhancements.ts
  server/services/vipPortalAdminService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): Add missing permission definitions for security features
  server/services/rbacDefinitions.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): Fresh E2E test execution after main merge
  qa-results/COVERAGE_REPORT.csv
  qa-results/DEFECT_LOG.csv
  qa-results/E2E_TEST_EXECUTION_REPORT.md
Due: prettier --write

chore(qa): add role auth evidence and sample flow checks
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260109-QA-E2E-a63131.md
  qa-results/E2E_BROWSER_COVERAGE_REPORT.csv
  qa-results/E2E_BROWSER_DEFECT_LOG.csv
  qa-results/E2E_BROWSER_FLOW_RESULTS.csv
  qa-results/E2E_BROWSER_REPORTING_RECONCILIATION.csv
  qa-results/E2E_BROWSER_ROLE_MATRIX.csv
  qa-results/E2E_BROWSER_SCREENSHOT_INDEX.csv
  qa-results/E2E_BROWSER_STATE_TRANSITIONS.csv
  qa-results/E2E_BROWSER_TEST_EXECUTION_LOG.md
Due: prettier --write

fix(security): Implement fixes from user flow QA and red hat security review
  client/src/App.tsx
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/inventory/BatchDetailDrawer.tsx
  client/src/pages/AnalyticsPage.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  server/clientsDb.ts
  server/routers/clients.ts
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(auth): Add QA Authentication Layer for deterministic RBAC testing
  .env.example
  CHANGELOG.md
  client/src/components/qa/QaRoleSwitcher.tsx
  client/src/pages/Login.tsx
  docs/AUTH_SETUP.md
  docs/auth/QA_AUTH.md
  docs/qa/QA_PLAYBOOK.md
  docs/qa/README.md
  docs/reference/README.md
  package.json
  server/_core/env.ts
  server/_core/index.ts
  server/_core/qaAuth.ts
  server/auditLogger.ts
  server/db/seed/qaAccounts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add comprehensive QA Auth documentation per TERP protocol
  docs/features/README.md
  docs/features/modules/qa-authentication.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(qa): Implement complete oracle-based automated test system
  docs/qa/FLOW_COVERAGE_PLAN.md
  docs/qa/README.md
  docs/qa/TEST_ORACLE_SCHEMA.md
  package.json
  pnpm-lock.yaml
  scripts/qa/oracle-coverage-report.ts
  tests-e2e/oracles/_seed-profiles/basic_sales.yaml
  tests-e2e/oracles/accounting/list-invoices.oracle.yaml
  tests-e2e/oracles/auth-fixtures.ts
  tests-e2e/oracles/auth/login-super-admin.oracle.yaml
  tests-e2e/oracles/clients/create-client.oracle.yaml
  tests-e2e/oracles/clients/list-clients.oracle.yaml
  tests-e2e/oracles/dashboard/view-dashboard.oracle.yaml
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/index.ts
  tests-e2e/oracles/inventory/list-batches.oracle.yaml
  tests-e2e/oracles/loader.ts
  tests-e2e/oracles/oracle-runner.spec.ts
  tests-e2e/oracles/orders/list-orders.oracle.yaml
  tests-e2e/oracles/orders/navigate-create-order.oracle.yaml
  tests-e2e/oracles/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(qa): add seedable test credentials
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260109-QA-E2E-0c47cb.md
  docs/sessions/active/Session-20260109-QA-E2E-a63131.md
  qa-results/E2E_BROWSER_COVERAGE_REPORT.csv
  qa-results/E2E_BROWSER_DEFECT_LOG.csv
  qa-results/E2E_BROWSER_FLOW_RESULTS.csv
  qa-results/E2E_BROWSER_REPORTING_RECONCILIATION.csv
  qa-results/E2E_BROWSER_ROLE_MATRIX.csv
  qa-results/E2E_BROWSER_SCREENSHOT_INDEX.csv
  qa-results/E2E_BROWSER_STATE_TRANSITIONS.csv
  qa-results/E2E_BROWSER_TEST_EXECUTION_LOG.md
  server/db/seed/testAccounts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ui): Red Hat QA fixes for regression bugs merge
  client/src/components/inventory/BatchDetailDrawer.tsx
  client/src/config/navigation.ts
  client/src/pages/SearchResultsPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(qa): Resolve TypeScript errors from QA review
  client/src/components/inventory/BatchDetailDrawer.tsx
  server/clientsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: Update version.json build metadata
  client/public/version.json
  client/version.json
Due: prettier --write

chore: trigger deployment to fix database connection
  .deployment-trigger
Due: none

fix(tests): Update smoke tests for production testing with auth
  tests/smoke/smoke.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(qa): Fix ESM imports for oracle system
  tests-e2e/oracles/auth-fixtures.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/index.ts
  tests-e2e/oracles/loader.ts
  tests-e2e/oracles/oracle-runner.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(qa): Add Oracle QA cloud workflow for GitHub Actions
  .github/workflows/oracle-qa-cloud.yml
Due: none

docs(roadmap): Add QA Sales Manager role testing issues and strategic fix plan
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/QA_STRATEGIC_FIX_PLAN.md
  product-management/initiatives/registry.json
Due: prettier --write

fix(pricing): Fix RC-001 - Missing pricing defaults causing order finalization failure
  scripts/generators/pricing.ts
  scripts/seed-pricing.ts
  server/routers/orders.ts
  server/services/pricingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(api): Fix RC-002 - API query/pagination issues causing Products and Spreadsheet failures
  client/src/components/spreadsheet/ClientGrid.tsx
  docs/qa/RC-001-VALIDATION.md
  server/ordersDb.ts
  server/routers/productCatalogue.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
