Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

feat: Add slack bolt and other dependencies
  docs/roadmaps/ROADMAP_UPDATE_2025-11-22.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Integrate Slack bot with manager script
  package.json
  pnpm-lock.yaml
  scripts/slack-bot.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-009: Correct Create Order sidebar link
  client/src/components/DashboardLayout.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add comprehensive bug investigation report for BUG-008 and BUG-009
  docs/testing/BUG_INVESTIGATION_REPORT.md
Due: prettier --write

Update Master Roadmap with BUG-008 investigation and BUG-009 completion
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Add E2E Testing Session 2 documentation
  docs/testing/E2E_TESTING_SESSION_2.md
Due: prettier --write

Update roadmap and add prompts for Phase 2 Stabilization
  docs/prompts/BUG-005.md
  docs/prompts/BUG-006.md
  docs/prompts/BUG-007.md
  docs/prompts/BUG-008.md
  docs/prompts/BUG-009.md
  docs/prompts/QA-044.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Fix BUG-008: Purchase Orders page crash (Safe date parsing and null checks)
  client/src/pages/PurchaseOrdersPage.tsx
  docs/sessions/active/Session-20251122-BUG-008-MANUAL.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: BUG-007 autonomous implementation
  docs/sessions/completed/Session-20251122-BUG-008-MANUAL.md
Due: prettier --write

Final roadmap cleanup for Phase 2 start
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Remove obsolete session documentation
  docs/sessions/active/Session-20251122-BUG-005-2f5fd174.md
Due: prettier --write

Document swarm cleanup and roadmap synchronization
  docs/sessions/completed/Session-20251122-SWARM-CLEANUP.md
Due: prettier --write

feat: DATA-002-AUGMENT autonomous implementation
  docs/prompts/DATA-002-AUGMENT.md
  docs/roadmaps/MASTER_ROADMAP.md
  scripts/manager.ts
  scripts/roadmap.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Document DATA-002-AUGMENT cleanup
  docs/sessions/completed/Session-20251122-DATA-002-AUGMENT-CLEANUP.md
Due: prettier --write

docs: Add comprehensive UI testing findings and roadmap tasks
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/TESTING_ROADMAP.md
  docs/testing/COMPREHENSIVE_UNTESTED_ELEMENTS.md
  docs/testing/INVENTORY_PAGE_FINDINGS.md
  docs/testing/PLACEHOLDER_FINDINGS.md
Due: prettier --write

docs: Add comprehensive E2E testing session 2 results and new bugs
  docs/roadmaps/MASTER_ROADMAP.md
  docs/testing/COMPREHENSIVE_TESTING_SUMMARY.md
  docs/testing/REMAINING_COVERAGE_SESSION.md
Due: prettier --write

docs: Add comprehensive gap analysis and 2 new bugs from strategic testing
  docs/roadmaps/MASTER_ROADMAP.md
  docs/testing/GAP_ANALYSIS.md
  docs/testing/GAP_TESTING_EXECUTION.md
Due: prettier --write

Complete 100% test coverage - Final comprehensive E2E testing report with 42 protocols executed
  docs/testing/COMPREHENSIVE_TEST_EXECUTION_LOG.md
  docs/testing/E2E_TESTING_EXECUTION_LOG.md
  docs/testing/FINAL_100_PERCENT_COVERAGE_REPORT.md
  docs/testing/GAP_TESTING_EXECUTION.md
  docs/testing/RAPID_BATCH_TEST_RESULTS.md
  docs/testing/UNTESTED_UI_ELEMENTS_INVENTORY.md
Due: prettier --write

fix: Add .dockerignore and optimize Dockerfile.bot for better caching
  .dockerignore
  Dockerfile.bot
Due: none

fix: Update health check path from / to /health
  .do/app.yaml
Due: none
