Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

docs: Add consolidated roadmap processing completion report
  CONSOLIDATED_ROADMAP_PROCESSING_COMPLETE.md
Due: prettier --write

feat: Add GitHub Actions workflows to auto-sync pnpm-lock.yaml
  .github/workflows/fix-lockfile-now.yml
  .github/workflows/sync-lockfile.yml
Due: none

feat: Add GitHub Actions workflows to auto-sync pnpm-lock.yaml (#56)
  .github/workflows/fix-lockfile-now.yml
  .github/workflows/sync-lockfile.yml
Due: none

fix: Prevent workflow from triggering on workflow file changes
  .github/workflows/sync-lockfile.yml
Due: none

fix: Prevent workflows from triggering on workflow file changes
  .github/workflows/deploy-watchdog.yml
  .github/workflows/update-lockfile.yml
Due: none

docs: Add guide for canceling queued workflows
  CANCEL_QUEUED_WORKFLOWS.md
Due: prettier --write

docs: Add bulk cancel workflows guide and script
  .github/workflows/cancel-queued-workflows.sh
  BULK_CANCEL_WORKFLOWS.md
Due: prettier --write

docs: Track lockfile fix workflow progress
  DEPLOYMENT_FIX_IN_PROGRESS.md
Due: prettier --write

docs: add deployment failure analysis and PR steps
  DEPLOYMENT_FAILURE_ANALYSIS.md
  PR_CREATION_STEPS.md
Due: prettier --write

feat: switch DigitalOcean deploy to Dockerfile
  .do/app.yaml
  Dockerfile
Due: none

fix: include patches in Docker build and update DO spec
  .do/app.yaml
  Dockerfile
Due: none

fix: provide hooks/useAuth re-export for docker build
  client/src/hooks/useAuth.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: update deployment protocols for Docker workflow
  AGENT_ONBOARDING.md
  DEPLOYMENT_COMPLETE_SOLUTION.md
  FINAL_DEPLOYMENT_SOLUTION.md
  FIX_TERP_DEPLOYMENT.md
  docs/ROADMAP_AGENT_GUIDE.md
Due: prettier --write

feat: auto-provision public demo user for anonymous visitors
  server/_core/context.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: fallback to synthetic public user when db unavailable
  server/_core/context.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add Double Sprint Plan and execution tracking documents
  docs/DOUBLE_SPRINT_PLAN_2025-01-27.md
  docs/EXECUTION_SUMMARY_2025-01-27.md
  docs/QA_VALIDATION_REPORT_2025-01-27.md
  docs/SPRINT_EXECUTION_STATUS_2025-01-27.md
Due: prettier --write

docs: Add SEC-001 prompt - Fix Permission System Bypass
  docs/prompts/SEC-001.md
Due: prettier --write

Register session for SEC-001
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251125-SEC-001-7aa9b79d.md
Due: prettier --write

SEC-001: Remove public access bypasses from permission middleware and tRPC procedures
  server/_core/permissionMiddleware.ts
  server/_core/trpc.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add autonomous execution progress tracking
  docs/EXECUTION_PROGRESS_2025-01-27.md
Due: prettier --write

SEC-001: Add comprehensive permission middleware tests
  server/_core/permissionMiddleware.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write
