Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add staging branch protection notice
  .github/STAGING_BRANCH_PROTECTED.md
Due: prettier --write

fix(ci): add permissions block to sync-staging workflow for push access
  .github/workflows/sync-staging.yml
Due: none

fix(security): remove actor-from-input pattern in salesSheet and dashboard routers
  server/routers/dashboardEnhanced.ts
  server/routers/salesSheetEnhancements.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version metadata from build
  client/public/version.json
  client/version.json
Due: prettier --write

fix(hooks): make branch naming agent-agnostic in pre-push hook and start-task script
  .husky/pre-push
  .husky/qa-config.sh
  scripts/start-task.sh
Due: none

docs(qa): add QA strategy for golden-flow UX revamp branch
  docs/qa/QA_STRATEGY_GOLDEN_REVAMP.md
Due: prettier --write

chore: update build version metadata
  client/public/version.json
  client/version.json
Due: prettier --write

fix(pick-pack): TER-297/TER-298/TER-300 quality fixes
  drizzle/schema.ts
  server/routers/pickPack.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: Wave 1+2 quality fixes across 10 tickets
  client/src/components/work-surface/VendorsWorkSurface.tsx
  client/src/config/navigation.ts
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/LiveShoppingPage.tsx
  scripts/qa/placeholder-scan.sh
  server/routers/clientLedger.ts
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: Wave 2 powersheet hook + TS/label fixes (TER-283-287, TER-289)
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/hooks/work-surface/__tests__/usePowersheetSelection.test.ts
  client/src/hooks/work-surface/index.ts
  client/src/hooks/work-surface/usePowersheetSelection.ts
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/IntakeReceipts.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(TER-303): remove as-any casts and lint errors in testing/db-util.ts
  testing/db-util.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: Wave 3 — design tokens + any-type cleanup (TER-292, TER-293)
  client/src/components/needs/ClientNeedsTab.tsx
  client/src/components/needs/needForm.types.ts
  client/src/components/work-surface/ClientLedgerWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/lib/statusTokens.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(TER-292): properly type ClientNeedsTab — zero eslint-disables
  client/src/components/needs/ClientNeedsTab.tsx
  client/src/components/needs/NeedForm.tsx
  client/src/components/needs/needForm.types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(TER-291): consolidate 9 accounting pages into workspace shell
  client/src/App.tsx
  client/src/config/workspaces.ts
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/accounting/AccountingDashboard.tsx
  client/src/pages/accounting/BankAccounts.tsx
  client/src/pages/accounting/BankTransactions.tsx
  client/src/pages/accounting/Bills.tsx
  client/src/pages/accounting/ChartOfAccounts.tsx
  client/src/pages/accounting/Expenses.tsx
  client/src/pages/accounting/FiscalPeriods.tsx
  client/src/pages/accounting/GeneralLedger.tsx
  client/src/pages/accounting/Payments.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

feat(ui): standardize filter/sort/search panel rollout
  client/src/components/ui/filter-sort-search-panel.tsx
  client/src/pages/InterestListPage.tsx
  client/src/pages/LeaderboardPage.tsx
  client/src/pages/VendorSupplyPage.tsx
  client/src/pages/accounting/BankTransactions.tsx
  client/src/pages/accounting/Bills.tsx
  client/src/pages/accounting/ChartOfAccounts.tsx
  client/src/pages/accounting/Expenses.tsx
  client/src/pages/accounting/GeneralLedger.tsx
  client/src/pages/accounting/Payments.tsx
  server/_core/vite.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

checkpoint: filter panel rollout + server remediation (WIP)
  client/src/components/ui/filter-sort-search-panel.tsx
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/pages/InterestListPage.tsx
  client/src/pages/LeaderboardPage.tsx
  client/src/pages/VendorSupplyPage.tsx
  client/src/pages/accounting/BankTransactions.tsx
  client/src/pages/accounting/Bills.tsx
  client/src/pages/accounting/ChartOfAccounts.tsx
  client/src/pages/accounting/Expenses.tsx
  client/src/pages/accounting/GeneralLedger.tsx
  client/src/pages/accounting/Payments.tsx
  server/routers/clientLedger.ts
  server/routers/pickPack.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: remediate all QA findings from adversarial review
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/pages/accounting/ChartOfAccounts.tsx
  client/src/pages/accounting/Payments.tsx
  server/routers/payments.ts
  server/routers/pickPack.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): standardize filter/sort/search panel rollout
  server/_core/vite.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(po): add explicit null for nullable column in PO items INSERT (BUG-002)
  server/routers/purchaseOrders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(accounting): add missing Bad Debt Expense account to seed data (BUG-004)
  server/badDebtDb.ts
  server/services/orderAccountingService.ts
  server/services/orderOrchestrator.ts
  server/services/seedDefaults.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): fix intake API — add explicit nulls and TRPCError propagation (BUG-001)
  server/inventoryIntakeService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(payments): fix transaction rollback — resolve GL accounts before txn (BUG-003)
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(clientLedger): replace all floating-point money math with Decimal-safe pipeline (TER-296)
  server/routers/clientLedger.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(test): add getFiscalPeriodId mock to payments test
  server/routers/payments.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add atomic score-to-90 revamp roadmap with strict gates
  docs/roadmaps/GOLDEN_REVAMP_SCORE_90_EXECUTION_ROADMAP.md
Due: prettier --write

feat: complete golden-flow UX revamp and staging validation hardening
  client/public/fonts/DMMono-Medium.woff2
  client/public/fonts/DMMono-Regular.woff2
  client/public/fonts/Fraunces-Light.woff2
  client/public/fonts/Fraunces-Regular.woff2
  client/public/fonts/InstrumentSans-Regular.woff2
  client/public/fonts/InstrumentSans-SemiBold.woff2
  client/src/App.tsx
  client/src/components/CommandPalette.tsx
  client/src/components/layout/AppBreadcrumb.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/components/orders/LineItemRow.tsx
  client/src/components/orders/LineItemTable.test.tsx
  client/src/components/orders/LineItemTable.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/config/navigation.ts
  client/src/hooks/powersheet/usePowersheetSelection.test.ts
  client/src/hooks/powersheet/usePowersheetSelection.ts
  client/src/hooks/useNavigationState.test.ts
  client/src/hooks/useNavigationState.ts
  client/src/index.css
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/types/powersheet.ts
  docs/audits/rbac-reconcile-report.json
  docs/audits/schema-fingerprint-report.json
  drizzle.config.test.ts
  tests-e2e/golden-flows/gf-003-order-to-cash.spec.ts
  tests-e2e/golden-flows/gf-004-invoice-payment.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(golden-flows): stabilize oracle runtime and local test seeding
  client/src/components/CommandPalette.test.tsx
  client/src/components/CommandPalette.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/components/orders/LineItemTable.test.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/components/work-surface/directIntakeSelection.test.ts
  client/src/components/work-surface/directIntakeSelection.ts
  client/src/config/navigation.ts
  client/src/hooks/powersheet/usePowersheetSelection.test.ts
  client/src/hooks/useNavigationState.test.ts
  docs/audits/rbac-reconcile-report.json
  docs/audits/schema-fingerprint-report.json
  package.json
  scripts/qa/golden-flow-assertion-quality.ts
  server/routers/clientLedger.ts
  server/routers/payments.ts
  server/routers/pickPack.ts
  testing/db-util.ts
  tests-e2e/golden-flows/gf-002-procure-to-pay.spec.ts
  tests-e2e/golden-flows/gf-003-order-to-cash.spec.ts
  tests-e2e/golden-flows/gf-004-gl-entries.spec.ts
  tests-e2e/golden-flows/gf-004-invoice-payment.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/gf-006-client-ledger-review.spec.ts
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
  tests-e2e/oracles/crm/clients-archive.oracle.yaml
  tests-e2e/oracles/crm/clients-delete.oracle.yaml
  tests-e2e/oracles/crm/clients-update.oracle.yaml
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/procurement/gf-002-procure-to-pay.oracle.yaml
  tests-e2e/utils/e2e-business-helpers.ts
  tests-e2e/utils/golden-flow-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(schema): add order_item_bags.deleted_at migration + canary (TER-297)
  server/_core/index.ts
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Create PO button blocked by inspector overlay + reduce disk usage
  Dockerfile
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Atomic UX Parity rollout plan (V4) and Codex handoff prompt
  docs/plans/2026-02-25-atomic-ux-parity-rollout.md
  docs/plans/codex-handoff-atomic-ux-parity.md
Due: prettier --write

feat(intake): wire useUndo for row deletion with 10s recovery window
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

refactor(intake): migrate to rich usePowersheetSelection hook
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(intake): wire powersheet contracts for fill-down and unified duplicate
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/lib/powersheet/contracts.test.ts
  client/src/lib/powersheet/contracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(intake): add WorkSurfaceStatusBar with keyboard hints
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(intake): add CSV export for intake sessions
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
