Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add 2025-11-22 TERP roadmap update
  docs/ROADMAP_UPDATE_2025-11-22.md
Due: prettier --write

Add .cursorrules and update ROADMAP_AGENT_GUIDE.md
  .cursorrules
  docs/ROADMAP_AGENT_GUIDE.md
Due: prettier --write

Update .cursorrules
  .cursorrules
Due: none

Update .cursorrules and add watch-deploy.sh
  .cursorrules
  scripts/watch-deploy.sh
Due: none

Add version checking system with auto-update notification
  client/index.html
  client/src/App.tsx
  client/src/components/VersionChecker.tsx
  client/src/hooks/use-version-check.ts
  scripts/generate-version.cjs
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Move .cursorrules to .cursor/ directory structure
  .cursor/rules/terp-master-protocol.mdc
Due: none

Add deploy watchdog workflow for DigitalOcean monitoring
  .github/workflows/deploy-watchdog.yml
Due: none

Add Phase 1 & 2 agent prompts and deployment guide
  docs/PHASE-1-2-AGENT-DEPLOYMENT.md
  docs/prompts/BUG-002.md
  docs/prompts/DATA-002-AUGMENT.md
  docs/prompts/FEATURE-002.md
  docs/prompts/QA-044-MIGRATION.md
Due: prettier --write

feat: Add Swarm Manager V2 for parallel agent orchestration
  .cursor/rules/roadmap-manager.mdc
  .gitignore
  package.json
  scripts/manager.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add Cloud Agent support to swarm manager with graceful doctl degradation
  scripts/manager.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: add slack commander bot
  Dockerfile.bot
  package.json
  scripts/slack-bot.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Update Dockerfile.bot to use pnpm with --no-frozen-lockfile
  Dockerfile.bot
Due: none

fix: Use corepack for pnpm in Dockerfile.bot for better reliability
  Dockerfile.bot
Due: none

feat: Add AI-powered pre-commit code review system
  .husky/pre-commit
  docs/PRE_COMMIT_AI_REVIEW_SYSTEM.md
  docs/PRE_COMMIT_REVIEW_QUICK_REFERENCE.md
  docs/ROADMAP_AGENT_GUIDE.md
  package.json
  scripts/pre-commit-review.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Address critical security vulnerabilities in pre-commit review
  docs/PRE_COMMIT_REVIEW_QA_REPORT.md
  docs/PRE_COMMIT_REVIEW_QA_SUMMARY.md
  scripts/pre-commit-review.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: Add spec files and deployment configs to .gitignore
  .gitignore
Due: none

docs: Add deployment spec template and guide
  .do/app.spec.template.yaml
  .gitignore
  docs/DEPLOYMENT_SPEC_FILES_GUIDE.md
Due: prettier --write

feat: Add accessible deployment configuration for agents
  .do/app.spec.yaml
  .github/workflows/set-secrets.yml
  .gitignore
  docs/SECRETS_MANAGEMENT_FOR_AGENTS.md
  scripts/fetch-and-set-secrets.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add 6 critical workflow bugs to roadmap (BUG-003 through BUG-007, ST-019)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat: Add scripts to add secrets to GitHub Secrets
  docs/ADD_SECRETS_TO_GITHUB.md
  scripts/add-secrets-to-github.sh
  scripts/add-secrets-to-github.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add remote methods to add secrets to GitHub Secrets
  .github/workflows/add-secrets.yml
  docs/ADD_SECRETS_REMOTE_GUIDE.md
  docs/ADD_SECRETS_TO_GITHUB.md
  scripts/add-secrets-remote.sh
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
