Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

feat(seed): add deploy-safe open-source photo fallback toggle
  .env.example
  docs/DATABASE_SETUP.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/SETUP.md
  docs/deployment/SEEDING_RUNBOOK.md
  package.json
  scripts/seed/README.md
  scripts/seed/seeders/open-source-flower-images.test.ts
  scripts/seed/seeders/open-source-flower-images.ts
  scripts/seed/seeders/seed-batch-images-safe.ts
  scripts/seed/seeders/seed-product-images.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(qa): add balanced ladder release-train validation tooling
  docs/roadmaps/2026-03-02-feedback-video-evidence-packet-v2-template.md
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
  docs/roadmaps/2026-03-02-feedback-video-qa-gates.md
  docs/roadmaps/2026-03-02-feedback-video-subagent-coordination-plan.md
  docs/roadmaps/2026-03-03-feedback-video-balanced-ladder-qa-protocol.md
  docs/roadmaps/checkpoint-bundles/README.md
  package.json
  scripts/ci/domain-test-map.json
  scripts/ci/verify-release-train-impact-map.sh
  scripts/qa/release-train/checkpoint-gate.sh
  scripts/qa/release-train/final-gate.sh
  scripts/qa/release-train/ticket-fast-loop.sh
Due: prettier --write

feat(release-train): land wave3 contract fixes and qa acceleration artifacts
  client/public/version.json
  client/src/components/CommandPalette.tsx
  client/src/components/orders/OrderStatusActions.test.tsx
  client/src/components/orders/OrderStatusActions.tsx
  client/src/components/ui/empty-state.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/version.json
  docs/audits/rbac-reconcile-report.json
  docs/roadmaps/.wave3-6-acceptance.md
  docs/roadmaps/.wave3-6-task-map.tsv
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
  docs/roadmaps/checkpoint-bundles/checkpoint-3-20260303-151214/bundle.md
  docs/roadmaps/checkpoint-bundles/checkpoint-3-blast-radius.md
  docs/roadmaps/checkpoint-bundles/checkpoint-3-red-adversarial-notes.md
  qa-results/release-train/TER-488/20260303-130658/changed-files.txt
  qa-results/release-train/TER-488/20260303-130658/evidence-packet-v2.md
  qa-results/release-train/TER-488/20260303-130658/resolver-output.txt
  scripts/qa/release-train/checkpoint-gate.sh
  scripts/qa/release-train/ticket-fast-loop.sh
  tests-e2e/oracles/crm/clients-create.oracle.yaml
  tests-e2e/oracles/orders/confirm-order.oracle.yaml
  tests-e2e/oracles/orders/create-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/update-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/update-order-status.oracle.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(protocol): set QA gating efficiency standard as default
  CLAUDE.md
  docs/ROADMAP_AGENT_GUIDE.md
  docs/protocols/QA_GATING_EFFICIENCY_PROTOCOL_V1.md
  docs/protocols/README.md
  docs/templates/COMPLETION_REPORT_TEMPLATE.md
  docs/templates/PROMPT_TEMPLATE_V2.md
  docs/templates/QA_GATE_DECLARATION_TEMPLATE.md
  docs/templates/SESSION_TEMPLATE.md
  docs/templates/TASK_TEMPLATE.md
Due: prettier --write

docs(roadmap): add github-only claude handoff for release train
  docs/roadmaps/2026-03-03-claude-github-handoff.md
Due: prettier --write

feat(release-train): complete checkpoints 3-6 cross-TERP propagation
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/golden-flows/InvoiceToPaymentFlow.tsx
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json after build verification
  client/public/version.json
  client/version.json
Due: prettier --write

chore: update version.json build metadata
  client/public/version.json
  client/version.json
Due: prettier --write

chore: update version.json after audit build verification
  client/public/version.json
  client/version.json
Due: prettier --write

fix(work-surfaces): address adversarial audit findings across 7 files
  client/public/version.json
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/golden-flows/InvoiceToPaymentFlow.tsx
  client/version.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: increase Vitest timeout to stabilize full-suite UI runs
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-sheets): correct total math, harden conversions, merge PR #449
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/pages/SharedSalesSheetPage.tsx
  docs/roadmaps/checkpoint-bundles/2026-03-04-queue-clean-nonqa-ledger.md
  server/routers/salesSheets.test.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-sheets): audit remediation — nullish coalescing, rounding, test coverage
  client/public/version.json
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/pages/SharedSalesSheetPage.tsx
  client/version.json
  server/routers/salesSheets.test.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(sidebar): stabilize quick actions assertion
  client/src/components/layout/AppSidebar.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: QA-hardened parallel execution plan for 40 tasks across 4 roadmaps
  docs/roadmaps/EPIC_PARALLEL_EXECUTION_PLAN.md
Due: prettier --write

docs: clear Gate 0.1 — release train branch already in main
  docs/roadmaps/EPIC_PARALLEL_EXECUTION_PLAN.md
Due: prettier --write

docs: Claude Code orchestration research report with 28 citations
  docs/research/CLAUDE_CODE_ORCHESTRATION_REPORT.md
Due: prettier --write

docs: generalize orchestration report — remove all TERP-specific content
  docs/research/CLAUDE_CODE_ORCHESTRATION_REPORT.md
Due: prettier --write

docs: slim CLAUDE.md to ~100 lines, add skills, update AGENTS.md [skip-staging-sync]
  .claude/settings.json
  .claude/skills/architecture/SKILL.md
  .claude/skills/deprecated-systems/SKILL.md
  .claude/skills/roadmap-management/SKILL.md
  .claude/skills/verification-protocol/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs: slim CLAUDE.md, add skills, update AGENTS.md [skip-staging-sync]
  .claude/settings.json
  .claude/skills/architecture/SKILL.md
  .claude/skills/deprecated-systems/SKILL.md
  .claude/skills/roadmap-management/SKILL.md
  .claude/skills/verification-protocol/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs: UX-first execution plan v3 + 4 custom agent definitions
  .claude/agents/lex-foundation.md
  .claude/agents/lex-normalizer.md
  .claude/agents/stx-builder.md
  .claude/agents/ux-implementer.md
  docs/roadmaps/EPIC_PARALLEL_EXECUTION_PLAN_V3.md
Due: prettier --write

feat(dashboard): consolidate owner command center with plain-language copy
  client/src/components/dashboard/owner/OwnerCashDecisionPanel.tsx
  client/src/components/dashboard/owner/OwnerDebtPositionWidget.tsx
  client/src/components/dashboard/owner/OwnerQuickCardsWidget.tsx
  client/src/components/dashboard/owner/OwnerVendorsNeedPaymentWidget.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/inventory/InventoryCard.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/pages/OwnerCommandCenterDashboard.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(dashboard): add appointments widget to owner dashboard
  client/src/components/dashboard/owner/OwnerAppointmentsWidget.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(adr): add dashboard widget architecture decision (S4)
  docs/adr/0005-dashboard-widget-architecture.md
Due: prettier --write

feat(dashboard): add SKU status browser widget (S1)
  client/src/components/dashboard/owner/OwnerSkuStatusBrowserWidget.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/CreditsWorkspacePage.tsx
  client/src/pages/DemandSupplyWorkspacePage.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/OwnerCommandCenterDashboard.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/RelationshipsWorkspacePage.tsx
  client/src/pages/SalesWorkspacePage.tsx
  docs/stress-testing/STRESS_RUNBOOK.md
  docs/terminology/authority-source-register.md
  docs/terminology/schema.json
  docs/terminology/term-map.json
  package.json
  playwright.config.ts
  tests/stress/staging-critical.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): add Wave U2 widgets and parallel session artifacts
  client/src/index.css
  scripts/stress-invariant-gate.sh
  scripts/stress-orchestrate.sh
  scripts/stress-preflight.sh
  tests/stress/mixed-traffic.k6.js
  tests/stress/peak.k6.js
  tests/stress/smoke.k6.js
  tests/stress/soak.k6.js
Due: none

docs(lex): add terminology bible, census and audit scripts
  client/public/version.json
  client/version.json
  docs/terminology/TERMINOLOGY_BIBLE.md
  package.json
  scripts/terminology-census.sh
  scripts/terminology-drift-audit.sh
  tests/unit/terminology/term-map.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(lex): integrate terminology drift audit into QA gates (LEX-015)
  package.json
Due: prettier --write

docs(lex): add LEX program closure report (LEX-016)
  docs/terminology/LEX_CLOSURE_REPORT.md
Due: prettier --write

fix(stx): k6 compatibility fixes and smoke rehearsal evidence (STX-010)
  docs/stress-testing/STX-010-REHEARSAL-EVIDENCE.md
  tests/stress/mixed-traffic.k6.js
  tests/stress/peak.k6.js
  tests/stress/smoke.k6.js
  tests/stress/soak.k6.js
Due: prettier --write

docs(lex): normalize active docs to canonical terminology (LEX-013)
  docs/AUTH_SETUP.md
  docs/CLAUDE_WORKFLOW.md
  docs/DEV_QUICK_REFERENCE.md
  docs/PROJECT_CONTEXT.md
  docs/STEP5_APP_IMPLEMENTATION_PLAN_PO_TO_INTAKE.md
  docs/STEP5_STRUCTURAL_RESET_V2.md
  docs/adr/0004-surface-hidden-features-in-sidebar.md
  docs/architecture/TRUTH_MODEL.md
  docs/golden-flows/GOLDEN_FLOWS_RUNBOOK.md
  docs/golden-flows/specs/GF-001-DIRECT-INTAKE.md
  docs/golden-flows/specs/GF-002-PROCURE-TO-PAY.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/specs/ENH-003-SPEC.md
  docs/specs/FEAT-003-INLINE-PRODUCT-SPEC.md
  docs/specs/FEAT-007-CASH-AUDIT-SPEC.md
  docs/specs/FEATURE-006-SPEC.md
  docs/specs/FEATURE-010-SPEC.md
  docs/specs/FEATURE-011-SPEC.md
  docs/specs/FEATURE-022-SPEC.md
  docs/specs/FEATURE-SPREADSHEET-VIEW-SPEC.md
  docs/specs/FEATURE_FLAG_INTEGRATION_REQUIREMENTS.md
  docs/specs/NAV_ACCESSIBILITY_ENHANCEMENT_SPEC.md
Due: prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

docs(lex): integrate Gate 1 review — Evan approves 5 policy locks
  docs/terminology/TERMINOLOGY_BIBLE.md
Due: prettier --write

feat(lex): normalize Receiving→Intake in UI strings (LEX-009)
  client/src/components/CommandPalette.tsx
  client/src/components/inventory/PurchaseModal.tsx
  client/src/components/layout/AppBreadcrumb.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/uiux-slice/PurchaseOrdersSlicePage.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/config/navigation.ts
  client/src/pages/ProcurementWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(lex): normalize Sales Order and Quote terminology (LEX-010)
  client/src/components/inventory/MovementHistoryPanel.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/orders/FloatingOrderPreview.tsx
  client/src/components/orders/OrderPreview.tsx
  client/src/components/orders/WorkflowStatusTracker.tsx
  client/src/components/ui/empty-state.tsx
  client/src/components/work-surface/ClientLedgerWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/config/navigation.ts
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/SalesWorkspacePage.tsx
  client/src/pages/UnifiedSalesPortalPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(lex): normalize Vendor→Supplier in UI strings (LEX-008)
  client/src/components/accounting/PayVendorModal.tsx
  client/src/components/alerts/AlertsPanel.tsx
  client/src/components/audit/AuditModal.tsx
  client/src/components/calendar/EventFormDialog.tsx
  client/src/components/clients/ClientComplexTab.tsx
  client/src/components/cogs/CogsGlobalSettings.tsx
  client/src/components/inventory/ActiveFiltersIndicator.tsx
  client/src/components/inventory/AdvancedFilters.tsx
  client/src/components/inventory/CogsEditModal.tsx
  client/src/components/inventory/FilterChips.tsx
  client/src/components/inventory/InventoryCard.tsx
  client/src/components/needs/MatchCard.tsx
  client/src/components/orders/OrderStatusActions.tsx
  client/src/components/orders/OrderStatusBadge.tsx
  client/src/components/sales/AdvancedFilters.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/components/samples/SampleList.tsx
  client/src/components/samples/SampleReturnDialog.tsx
  client/src/components/samples/VendorShipDialog.tsx
  client/src/components/spreadsheet/ClientGrid.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
  client/src/components/supply/SupplyForm.tsx
  client/src/components/uiux-slice/InventoryBrowseSlicePage.tsx
  client/src/components/uiux-slice/PurchaseOrdersSlicePage.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/VendorsWorkSurface.tsx
  client/src/config/workspaces.ts
  client/src/lib/data-cards/metricConfigs.ts
  client/src/pages/DemandSupplyWorkspacePage.tsx
  client/src/pages/MatchmakingServicePage.tsx
  client/src/pages/SampleManagement.tsx
  client/src/pages/Settings.tsx
  client/src/pages/VendorSupplyPage.tsx
  client/src/pages/accounting/AccountingDashboard.tsx
  client/src/pages/accounting/Bills.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(lex): fix missed Vendor→Supplier strings in SampleList menu items (LEX-008)
  client/src/components/samples/SampleList.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(lex): apply dynamic Brand/Farmer labels in UI (LEX-011)
  client/src/components/inventory/PurchaseModal.tsx
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/ProductsWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
