Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": ["prettier --write"],
  "server/**/*.test.ts": ["vitest related --run"]
}

DIAG-006: Add leaderboard tables existence check (fixed syntax)
  server/routers/debug.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

FIX-013: Add leaderboard table creation to adminSchemaPush
  server/routers/adminSchemaPush.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

DIAG-007: Add comprehensive database schema check to identify missing migrations
  server/routers/debug.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

FIX-014: Comprehensive adminSchemaPush for all missing migrations 0027-0042
  server/routers/adminSchemaPush.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: add FEATURE-019 Signal Messaging and UX-021 Quick Actions
  docs/prompts/FEATURE-019.md
  docs/prompts/UX-021.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

roadmap: add ST-024 Remove Comments Feature
  docs/prompts/ST-024.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: Add Live Shopping page and route to fix 404 error
  client/src/App.tsx
  client/src/pages/LiveShoppingPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: add FEATURE-020 - Tags System Revamp & Auto-Tagging Rules
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

roadmap: add BUG-038 (credit limit button) and UX-022 (table audit & filtering)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

roadmap: add BUG-039 - Client Profile COGS duplication & pricing rules table refresh
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

roadmap: add UX-023 - In-Context Module Settings Access
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

USP-001: Add Unified Sales Portal schema columns
  drizzle/0043_add_usp_columns.sql
  drizzle/schema.ts
  server/routers/adminSchemaPush.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-002: Add Unified Sales Portal backend router
  server/routers.ts
  server/routers/unifiedSalesPortal.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-003: Add Unified Sales Portal frontend
  client/src/App.tsx
  client/src/pages/UnifiedSalesPortalPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-004: Critical bug fixes - use existing ordersDb, copy line items, add terminal status filtering
  server/routers/unifiedSalesPortal.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-005: Enhanced frontend with drag-drop, confirmation dialog, advanced filtering, list view
  client/src/pages/UnifiedSalesPortalPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-006: Add Sales Portal to navigation
  client/src/config/navigation.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-007: Fix backend query - use orders.total instead of orders.totalAmount
  server/routers/unifiedSalesPortal.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

USP-008: Remove orderStatus reference - field doesn't exist in orders table
  server/routers/unifiedSalesPortal.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

DOCS: Add USP architecture documentation and update roadmap
  docs/DEPRECATION_NOTICE.md
  docs/architecture/UNIFIED_SALES_PORTAL.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(live-shopping): implement three-status product workflow
  client/src/components/live-shopping/StaffSessionConsole.tsx
  client/src/components/vip-portal/LiveShoppingSession.tsx
  docs/ATOMIC_UX_ROADMAP.md
  drizzle/0030_live_shopping_item_status.sql
  drizzle/schema-live-shopping.ts
  server/lib/sse/sessionEventManager.ts
  server/routers/liveShopping.ts
  server/routers/vipPortalLiveShopping.ts
  server/services/creditEngine-patch.ts
  server/services/live-shopping/sessionCartService.ts
  server/services/live-shopping/sessionCreditService.ts
  server/services/live-shopping/sessionOrderService.ts
  server/services/live-shopping/sessionPricingService.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ROADMAP UPDATE: Added Cooper Rd Working Session Remediation Sprint (V5)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(live-shopping): address Redhat QA critical issues
  server/lib/sse/sessionEventManager.ts
  server/services/live-shopping/sessionOrderService.ts
  src/pages/api/sse/live-shopping/[sessionId].ts
  src/pages/api/sse/vip/live-shopping/[roomCode].ts
  src/pages/live-shopping/[sessionId].tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Live Shopping comprehensive QA report
  docs/LIVE_SHOPPING_QA_REPORT.md
Due: prettier --write

chore(roadmap): Comprehensive roadmap cleanup and session archival
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/NEW_TASKS_BACKLOG.md
  docs/sessions/active/Session-20251122-BUG-002-d1e8e99f.md
  docs/sessions/active/Session-20251124-WF-002-e5f6g7h8.md
  docs/sessions/active/Session-20251212-CODE-QUALITY-FINAL-fbc028.md
  docs/sessions/active/Session-20251217-DASHBOARD-FIX-90d4e2.md
  docs/sessions/active/Session-20251217-REMEDIATION-aa6873.md
  docs/sessions/active/Session-20251230-ROADMAP-CLEANUP-39dfaf.md
  docs/sessions/completed/RF-003-006-COMPLETION-REPORT.md
  docs/sessions/completed/ST-013-RF-001-ANALYSIS.md
  docs/sessions/completed/Session-20251117-code-quality-69818400.md
  docs/sessions/completed/Session-20251122-BUG-002-d1e8e99f.md
  docs/sessions/completed/Session-20251122-BUG-003-a9371575.md
  docs/sessions/completed/Session-20251122-BUG-004-6aa15aac.md
  docs/sessions/completed/Session-20251122-BUG-005-2f5fd174.md
  docs/sessions/completed/Session-20251122-BUG-006-c404dd39.md
  docs/sessions/completed/Session-20251122-ST-019-7ec1cfdc.md
  docs/sessions/completed/Session-20251125-SEC-001-7aa9b79d.md
  docs/sessions/completed/Session-20251130-PERF-002-9da73aa3.md
  docs/sessions/completed/Session-20251209-SCHEMA-FIX-db7a91.md
  docs/sessions/completed/Session-20251211-CODE-QUALITY-STABILIZATION.md
  docs/sessions/completed/Session-20251211-DB-PILOT-ASSESS-2cf0ce.md
  docs/sessions/completed/Session-20251211-DB-PLAN-f9b211.md
  docs/sessions/completed/Session-20251212-CODE-QUALITY-FINAL-fbc028.md
  docs/sessions/completed/Session-20251212-MEMORY-CRISIS-0a0e0c.md
  docs/sessions/completed/Session-20251217-DASHBOARD-FIX-90d4e2.md
  docs/sessions/completed/Session-20251217-REMEDIATION-aa6873.md
  docs/sessions/completed/Session-20251217-UIUX-ROADMAP-cb92a7.md
  docs/sessions/completed/Session-20251218-MASTER-FIX-c0f9fa.md
  docs/sessions/completed/Session-20251219-SPRINT-A-5ccd4e.md
  docs/sessions/completed/Session-20251219-TASK-ID-ac1b24.md
  docs/sessions/completed/Session-20251219-UX-SPRINT-B-57169f.md
  docs/sessions/completed/code-quality-analysis.md
Due: prettier --write

docs(protocols): Add atomic session archival and validation improvements
  .kiro/steering/05-external-agent-handoff.md
  docs/ACTIVE_SESSIONS.md
  docs/PROTOCOL_IMPROVEMENTS_2025-12-30.md
  docs/archive/agent-prompts/UNIVERSAL_AGENT_RULES.md
  docs/sessions/active/Session-20251230-ROADMAP-CLEANUP-39dfaf.md
Due: prettier --write

chore: archive Session-20251230-ROADMAP-CLEANUP-39dfaf
  docs/sessions/completed/Session-20251230-ROADMAP-CLEANUP-39dfaf.md
Due: prettier --write

SECURITY: Remove .env.production from repo and add to .gitignore
  .gitignore
Due: none

REFACTOR: Move Slackbot code to EvanTenenbaum/TERP-Slackbot
  Dockerfile.bot
  scripts/bot-start.sh
  scripts/fix-slack-bot-autonomous.ts
  scripts/monitor-slack-bot-deployment.sh
  scripts/qa/slack-reporter.ts
  scripts/slack-bot-ai.ts
  scripts/slack-bot-health-check.ts
  scripts/slack-bot-mobile.ts
  scripts/slack-bot-qa-handlers.ts
  scripts/slack-bot-verify.ts
  scripts/slack-bot.test.ts
  scripts/slack-bot.ts
  test-gemini-bot.ts
  test-slack-connection.js
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

CLEANUP: Remove deprecated Vercel configuration
  .gitignore
  .vercel/README.txt
  .vercel/project.json
  vercel.json
Due: prettier --write

CLEANUP: Remove deprecated Railway configuration
  railway.json
  scripts/monitor-railway-deploy.sh
  scripts/verify-production-seeding.sh
Due: prettier --write

CLEANUP: Archive non-master roadmaps to enforce Single Source of Truth
  docs/roadmaps/archive/BUG-034-ATOMIC-ROADMAP.md
  docs/roadmaps/archive/LIVE_SHOPPING_ATOMIC_ROADMAP.md
  docs/roadmaps/archive/PHASE_5_ATOMIC_ROADMAP.md
  docs/roadmaps/archive/QUAL-003-PARALLEL-EXECUTION-STRATEGY.md
  docs/roadmaps/archive/README.md
  docs/roadmaps/archive/TESTING_ROADMAP.md
Due: prettier --write

CLEANUP: Update docs/archive/README.md with current file count and recent changes
  docs/archive/README.md
Due: prettier --write

DOCS: Add CI/CD Pipeline Audit Report
  docs/deployment/CI_CD_AUDIT_REPORT.md
Due: prettier --write

DOCS: Add Technical Debt Report with categorized TODO/FIXME items
  TECHNICAL_DEBT_INVENTORY.txt
  docs/TECHNICAL_DEBT_REPORT.md
Due: prettier --write

roadmap: Close QUAL-003, deprecate INFRA-012, add QUAL-005/006/007
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Add strategic sprint plan for completing all remaining tasks
  docs/roadmaps/STRATEGIC_SPRINT_PLAN.md
Due: prettier --write

CLEANUP: Remove @slack/bolt dependency and add Dependency Audit Report
  docs/DEPENDENCY_AUDIT_REPORT.md
  package-lock.json
  package.json
Due: prettier --write

CLEANUP: Remove nixpacks.toml (Railway) and organize report files
  docs/reports/roadmap_cleanup_report.json
  docs/reports/schema-validation-report.json
  nixpacks.toml
Due: prettier --write

docs: Fix strategic sprint plan after Redhat QA review (v1.1)
  docs/roadmaps/STRATEGIC_SPRINT_PLAN.md
Due: prettier --write
