Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

Update build status [skip ci]
  .github/BUILD_STATUS.md
Due: prettier --write

Complete ST-012: Configure Sentry Monitoring
  docs/SENTRY_QA_ANALYSIS.md
  docs/ST-012_COMPLETION_REPORT.md
  docs/agent_prompts/sentry_config_template.md
  docs/roadmaps/MASTER_ROADMAP.md
  scripts/monitoring/configure_sentry_alerts.py
  scripts/monitoring/configure_uptimerobot.py
Due: prettier --write

Update pnpm-lock.yaml after removing @sentry/tracing
  pnpm-lock.yaml
Due: none

Fix: Repair broken string literals in generateOrderNumber function
  server/ordersDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Update Sentry Handlers API for v10+ compatibility
  sentry.server.config.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Update to Sentry v10 setupExpressErrorHandler API
  sentry.server.config.ts
  server/_core/index.ts
  server/_core/monitoring.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Remove performanceMiddleware to resolve circular dependency
  server/_core/trpc.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Register DATA-002 and DATA-003 sessions
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251118-DATA-002-2ddb9da5.md
  docs/sessions/active/Session-20251118-DATA-003-eb8c3d43.md
Due: prettier --write

Archive DATA-002 and DATA-003 sessions, update roadmap
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251118-DATA-002-2ddb9da5.md
  docs/sessions/completed/Session-20251118-DATA-003-eb8c3d43.md
Due: prettier --write

DATA-002 & DATA-003: Seed comments, dashboard, and pricing tables
  docs/DATA-002-003-COMPLETION-REPORT.md
  docs/sessions/active/Session-20251118-DATA-002-2ddb9da5.md
  docs/sessions/active/Session-20251118-DATA-003-eb8c3d43.md
  scripts/seed-comments-dashboard.ts
  scripts/seed-pricing.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update DATA-002 and DATA-003 prompts with actual database schema
  docs/prompts/DATA-002.md
  docs/prompts/DATA-003.md
Due: prettier --write

Create comprehensive data seeding roadmap and DATA-004 prompt
  docs/DATA_SEEDING_ROADMAP.md
  docs/prompts/DATA-004.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write
