Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: TypeScript errors batch 25 - refunds.ts schema alignment (transactions, transactionLinks)
  server/routers/refunds.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: TypeScript errors batch 26 - search.ts batches schema alignment
  server/routers/search.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: resolve all TypeScript errors (306 -> 0)
  client/src/pages/vip-portal/VIPDashboard.tsx
  scripts/generators/orders.ts
  server/routers/purchaseOrders.ts
  server/routers/rbac-permissions.ts
  server/routers/rbac-roles.ts
  server/routers/rbac-users.ts
  server/routers/returns.ts
  server/routers/search.ts
  server/routers/settings.ts
  server/routers/vipPortal.ts
  server/routers/warehouseTransfers.ts
  server/samplesDb.ts
  server/seedStrains.ts
  server/services/cogsChangeIntegrationService.ts
  server/services/liveCatalogService.ts
  server/transactionsDb.ts
  server/utils/softDelete.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: fix AppHeader null handling and update tests
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: update TypeScript error reduction documentation (976→0 complete)
  docs/ACTIVE_SESSIONS.md
  docs/CHANGELOG.md
  docs/sessions/completed/Session-20251212-TYPESCRIPT-ERROR-REDUCTION.md
Due: prettier --write

feat: add automated QA pipeline with GitHub Actions and Slack integration
  .github/workflows/daily-qa.yml
  .github/workflows/qa-initial-audit.yml
  .gitignore
  QA_PIPELINE_SETUP.md
  docs/testing/AUTOMATED_QA_PIPELINE.md
  package.json
  playwright.config.ts
  qa-results/.gitkeep
  scripts/qa/bug-generator.ts
  scripts/qa/history.ts
  scripts/qa/index.ts
  scripts/qa/parser.ts
  scripts/qa/slack-reporter.ts
  scripts/qa/types.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: remove --frozen-lockfile from QA workflows for pnpm compatibility
  .github/workflows/daily-qa.yml
  .github/workflows/qa-initial-audit.yml
Due: none

fix: resolve schema drift in invoices and payments tables (DATA-010)
  drizzle/schema.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: sync pnpm-lock.yaml with package.json overrides and wouter patch
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add production-grade seeding infrastructure (DATA-010)
  package.json
  scripts/seed/README.md
  scripts/seed/lib/data-masking.ts
  scripts/seed/lib/locking.ts
  scripts/seed/lib/logging.ts
  scripts/seed/lib/validation.ts
  scripts/seed/seed-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: remove mock data seeding from QA workflows
  .github/workflows/daily-qa.yml
  .github/workflows/qa-initial-audit.yml
Due: none

feat: implement Phase 2 individual table seeders (DATA-011)
  scripts/seed/README.md
  scripts/seed/seed-main.ts
  scripts/seed/seeders/index.ts
  scripts/seed/seeders/seed-batches.ts
  scripts/seed/seeders/seed-clients.ts
  scripts/seed/seeders/seed-invoices.ts
  scripts/seed/seeders/seed-orders.ts
  scripts/seed/seeders/seed-payments.ts
  scripts/seed/seeders/seed-products.ts
  scripts/seed/seeders/seed-vendors.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: add CLI module for future refactoring
  scripts/seed/lib/cli.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: register external agent session Session-20251215-DATA-011-5d08d4 for DATA-011
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251215-DATA-011-5d08d4.md
Due: prettier --write

feat(seed): complete DATA-011 production documentation and legacy cleanup
  docs/DATABASE_SETUP.md
  docs/deployment/SEEDING_RUNBOOK.md
  package.json
  scripts/legacy/seed-realistic-main.ts
  scripts/legacy/seed-realistic-runner.ts
  scripts/seed/README.md
  server/_core/index.ts
  server/services/seedDefaults.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs(seed): add DATA-011 completion report and verification script
  ca-certificate.crt
  docs/DATA-011-COMPLETION-REPORT.md
  docs/sessions/active/Session-20251215-DATA-011-5d08d4.md
  scripts/verify-production-seeding.sh
Due: prettier --write

chore: archive DATA-011 session and update ACTIVE_SESSIONS
  docs/ACTIVE_SESSIONS.md
  docs/sessions/completed/Session-20251215-DATA-011-5d08d4.md
Due: prettier --write

docs: add DATA-011 manual verification steps guide
  docs/DATA-011-MANUAL-STEPS.md
Due: prettier --write

docs: add DATA-011 final summary
  DATA-011-FINAL-SUMMARY.md
Due: prettier --write

docs: add quick console commands reference for DATA-011
  CONSOLE-COMMANDS.md
Due: prettier --write

feat: add one-step production verification script
  verify-production.sh
Due: none

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
