Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add files via upload
  docs/non-codex-takeover-bundle-2026-03-19/00-START-HERE.md
  docs/non-codex-takeover-bundle-2026-03-19/00-protocol/AGENTS.md
  docs/non-codex-takeover-bundle-2026-03-19/00-protocol/CLAUDE.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/ACTIVE_GATE_STATUS.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/G2-runtime-gate.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/Implement.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/PowersheetGrid-boundary-contract.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/README.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/non-codex-takeover-handoff-2026-03-19.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/non-codex-takeover-prompt-2026-03-19.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/parallel-module-readiness-review-2026-03-19.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/remaining-atomic-completion-roadmap-2026-03-19.md
  docs/non-codex-takeover-bundle-2026-03-19/01-orders-execution/ter-795-state.json
  docs/non-codex-takeover-bundle-2026-03-19/02-broader-build-source-of-truth/spreadsheet-native-build-source-of-truth.md
  docs/non-codex-takeover-bundle-2026-03-19/02-broader-build-source-of-truth/spreadsheet-native-pack-capability-ledger-summary.md
  docs/non-codex-takeover-bundle-2026-03-19/02-broader-build-source-of-truth/spreadsheet-native-pack-capability-ledger.csv
  docs/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/direct-intake-capability-ledger.csv
  docs/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/operations-inventory-sheet-capability-ledger.csv
  docs/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/purchase-orders-capability-ledger.csv
  docs/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/sales-orders-sheet-capability-ledger.csv
  docs/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/sales-sheets-capability-ledger.csv
  docs/non-codex-takeover-bundle-2026-03-19/04-design-review-context/actionable_tasks.md
  docs/non-codex-takeover-bundle-2026-03-19/04-design-review-context/deep_pass_review.md
  docs/non-codex-takeover-bundle-2026-03-19/04-design-review-context/prd_draft.md
Due: prettier --write

docs(orders): add github-ready takeover bundle [skip-staging-sync]
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/00-START-HERE.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/00-protocol/AGENTS.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/00-protocol/CLAUDE.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/ACTIVE_GATE_STATUS.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/G2-runtime-gate.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/Implement.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/PowersheetGrid-boundary-contract.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/README.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/non-codex-takeover-handoff-2026-03-19.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/non-codex-takeover-prompt-2026-03-19.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/parallel-module-readiness-review-2026-03-19.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/remaining-atomic-completion-roadmap-2026-03-19.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/01-orders-execution/ter-795-state.json
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/02-broader-build-source-of-truth/spreadsheet-native-build-source-of-truth.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/02-broader-build-source-of-truth/spreadsheet-native-pack-capability-ledger-summary.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/02-broader-build-source-of-truth/spreadsheet-native-pack-capability-ledger.csv
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/direct-intake-capability-ledger.csv
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/operations-inventory-sheet-capability-ledger.csv
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/purchase-orders-capability-ledger.csv
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/sales-orders-sheet-capability-ledger.csv
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/03-detailed-ledgers/sales-sheets-capability-ledger.csv
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/04-design-review-context/actionable_tasks.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/04-design-review-context/deep_pass_review.md
  docs/roadmaps/orders-spreadsheet-runtime/non-codex-takeover-bundle-2026-03-19/04-design-review-context/prd_draft.md
Due: prettier --write

feat(orders): classify all remaining G2 rows with closure, limitation, and blocker packets
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  docs/specs/spreadsheet-native-foundation/orders-runtime/ter-795-state.json
  output/playwright/orders-runtime-g2/2026-03-19/orders-runtime-clear-edit-rejection-closure-packet.json
  output/playwright/orders-runtime-g2/2026-03-19/orders-runtime-failure-mode-closure-packet.json
  output/playwright/orders-runtime-g2/2026-03-19/orders-runtime-multicell-edit-blocker-packet.json
  output/playwright/orders-runtime-g2/2026-03-19/orders-runtime-paste-blocker-packet.json
  output/playwright/orders-runtime-g2/2026-03-19/orders-runtime-sort-filter-limitation-packet.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update generated version.json from build [skip-staging-sync]
  client/public/version.json
  client/version.json
Due: prettier --write

docs(orders): update G2 gate to closed-with-evidence and sync proof row map
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G2-runtime-gate.md
Due: prettier --write

chore: gitignore .claude/settings.local.json for personal permissions
  .gitignore
Due: none

feat(orders): add G3 document adapter mount and logic preservation proof
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-2-g3-orders-document-rollout.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G3-document-gate.md
  output/playwright/orders-runtime-g3/2026-03-20/orders-runtime-g3-adapter-mount-closure-packet.json
  output/playwright/orders-runtime-g3/2026-03-20/orders-runtime-g3-conversion-blocker-packet.json
  output/playwright/orders-runtime-g3/2026-03-20/orders-runtime-g3-logic-preservation-closure-packet.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): close G3 gate — reclassify conversion as adjacent-owned
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-2-g3-orders-document-rollout.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G3-document-gate.md
  output/playwright/orders-runtime-g3/2026-03-20/orders-runtime-g3-conversion-reclassification-packet.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): adversarial QA — fix stale surfacing statuses and G2 roadmap drift
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-1-g2-shared-runtime-foundation.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G2-runtime-gate.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(orders): sync roadmap README + G4 gate status after G2/G3 closure
  docs/roadmaps/orders-spreadsheet-runtime/README.md
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-3-g4-cross-surface-rollout.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G4-cross-surface-gate.md
Due: prettier --write

fix(orders): fix isSample normalization inconsistency and margin >= 100 validation
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): G3 QA — downgrade ORD-WF-008 surfacingStatus, fix packet factual errors
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  docs/specs/spreadsheet-native-foundation/orders-runtime/G3-document-gate.md
  output/playwright/orders-runtime-g3/2026-03-20/orders-runtime-g3-conversion-reclassification-packet.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): close G4 cross-surface gate with evidence
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.test.tsx
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  docs/roadmaps/orders-spreadsheet-runtime/README.md
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-3-g4-cross-surface-rollout.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G4-cross-surface-gate.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G5-surfacing-gate.md
  output/playwright/orders-runtime-g4/2026-03-20/orders-runtime-g4-cross-surface-consistency-closure-packet.json
  output/playwright/orders-runtime-g4/2026-03-20/orders-runtime-g4-queue-return-closure-packet.json
  output/playwright/orders-runtime-g4/2026-03-20/orders-runtime-g4-workflow-targeting-closure-packet.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): sync rollout status tooling with G5 promotion
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-1-g2-shared-runtime-foundation.md
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-4-g5-surfacing-affordance-closure.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/01-issue-manifest.json
  docs/specs/spreadsheet-native-foundation/orders-runtime/ACTIVE_GATE_STATUS.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G2-runtime-gate.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/HANDOFF-2026-03-19-CODEX-EXECUTION-PROMPT.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/Implement.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/PROOF_BUDGET.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/adversarial-review-context.json
  docs/specs/spreadsheet-native-foundation/orders-runtime/adversarial-review-context.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/ter-795-state.json
  scripts/spreadsheet-native/generate-orders-runtime-active-gate-status.mjs
  scripts/spreadsheet-native/generate-orders-runtime-proof-budget.mjs
  scripts/spreadsheet-native/orders-runtime-status-lib.mjs
  scripts/spreadsheet-native/sync-orders-runtime-ter795-state.mjs
Due: prettier --write

feat(orders): implement G5 surfacing affordances for all Orders surfaces
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.tsx
  client/src/components/spreadsheet-native/PowersheetGrid.tsx
  client/src/index.css
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-4-g5-surfacing-affordance-closure.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G5-surfacing-gate.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/execution-metrics.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): address adversarial review findings for G5 surfacing
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.tsx
  client/src/components/spreadsheet-native/PowersheetGrid.tsx
  client/src/components/work-surface/KeyboardHintBar.tsx
  client/src/index.css
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  docs/specs/spreadsheet-native-foundation/orders-runtime/execution-metrics.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(orders): add atomic completion roadmap with agent delegations
  docs/roadmaps/orders-spreadsheet-runtime/ATOMIC_COMPLETION_ROADMAP.md
Due: prettier --write

docs(orders): close G5/G6/G7 gates and retire Orders initiative
  docs/roadmaps/orders-spreadsheet-runtime/README.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G5-surfacing-gate.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G6-rollout-verdict.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G7-retirement-handoff.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/execution-metrics.json
Due: prettier --write

docs(roadmap): add spreadsheet-native full rollout roadmap with capability regression prevention
  docs/roadmaps/spreadsheet-native-full-rollout/README.md
Due: prettier --write

chore(rollout): add capability extraction script and run against all 11 classic surfaces
  docs/specs/spreadsheet-native-ledgers/extracted/DirectIntakeWorkSurface-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/PickPackWorkSurface-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/PurchaseOrdersWorkSurface-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/QuotesWorkSurface-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/client-ledger-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/inventory-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/invoices-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/payments-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/returns-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/sales-sheets-capabilities.csv
  docs/specs/spreadsheet-native-ledgers/extracted/samples-capabilities.csv
  package.json
  scripts/extract-worksurface-capabilities.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders-runtime): remediate closure audit gaps
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.test.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.tsx
  client/src/components/spreadsheet-native/PowersheetGrid.test.tsx
  client/src/components/work-surface/KeyboardHintBar.tsx
  client/src/lib/spreadsheet-native/ordersRolloutContract.ts
  client/src/pages/SalesWorkspacePage.tsx
  client/src/pages/SpreadsheetNativePilotRollout.test.tsx
  docs/roadmaps/orders-spreadsheet-runtime/README.md
  docs/roadmaps/orders-spreadsheet-runtime/roadmap-1-g2-shared-runtime-foundation.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/01-issue-manifest.json
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/2026-03-20-closure-remediation-roadmap.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/ACTIVE_GATE_STATUS.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G2-runtime-gate.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G6-rollout-verdict.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/G7-retirement-handoff.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/Implement.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/PROOF_BUDGET.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/adversarial-review-context.json
  docs/specs/spreadsheet-native-foundation/orders-runtime/adversarial-review-context.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/execution-metrics.json
  docs/specs/spreadsheet-native-foundation/orders-runtime/ter-795-state.json
  output/playwright/orders-runtime-g2/2026-03-20/orders-runtime-multicell-edit-limitation-packet.json
  output/playwright/orders-runtime-g2/2026-03-20/orders-runtime-paste-limitation-packet.json
  output/playwright/orders-runtime-g2/2026-03-20/orders-runtime-selection-closure-packet.json
  output/playwright/orders-runtime-g2/2026-03-20/orders-runtime-selection-report.json
  package.json
  scripts/spreadsheet-native/orders-runtime-closure-packet.mjs
  scripts/spreadsheet-native/probe-orders-runtime-selection.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(rollout): add Wave 1 implementation briefs with extraction cross-check
  docs/roadmaps/spreadsheet-native-full-rollout/briefs/W1A-inventory.md
  docs/roadmaps/spreadsheet-native-full-rollout/briefs/W1B-sales-sheets.md
  docs/roadmaps/spreadsheet-native-full-rollout/briefs/W1C-payments.md
  docs/roadmaps/spreadsheet-native-full-rollout/briefs/W1D-client-ledger.md
Due: prettier --write

docs(ledger): add detailed Client Ledger capability ledger (12 rows)
  docs/specs/spreadsheet-native-ledgers/client-ledger-capability-ledger-summary.md
Due: prettier --write

docs(ledger): add Payments (20 rows) and Client Ledger (12 rows) capability ledgers
  docs/specs/spreadsheet-native-ledgers/payments-capability-ledger-summary.md
Due: prettier --write

feat(sales-sheets): add SalesSheetsPilotSurface sheet-native surface
  client/src/components/spreadsheet-native/SalesSheetsPilotSurface.tsx
  client/src/pages/SalesWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): implement sheet-native surface to full parity with classic
  client/src/components/spreadsheet-native/InventorySheetPilotSurface.test.tsx
  client/src/components/spreadsheet-native/InventorySheetPilotSurface.tsx
  client/src/index.css
  client/src/pages/InventoryWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(plan): add master implementation plan for spreadsheet-native full rollout
  docs/superpowers/plans/2026-03-20-spreadsheet-native-full-rollout.md
Due: prettier --write

refactor(powersheet): generalize foundation for multi-module reuse
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.tsx
  client/src/components/spreadsheet-native/InventorySheetPilotSurface.tsx
  client/src/components/spreadsheet-native/PowersheetGrid.tsx
  client/src/index.css
  client/src/lib/powersheet/contracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(plan): revise rollout plan v2 incorporating adversarial feedback
  docs/superpowers/plans/2026-03-20-spreadsheet-native-full-rollout.md
Due: prettier --write

feat(spreadsheet-native): Epic A — starter kit, instrumentation, G6 resolution
  client/src/lib/spreadsheet-native/searchParams.ts
  docs/specs/spreadsheet-native-foundation/STARTER-KIT.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G6-rollout-verdict.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/execution-metrics.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(spreadsheet-native): address QA findings from Epic A adversarial review
  client/src/lib/spreadsheet-native/searchParams.test.tsx
  docs/specs/spreadsheet-native-foundation/STARTER-KIT.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
  docs/specs/spreadsheet-native-foundation/orders-runtime/G6-rollout-verdict.md
  docs/specs/spreadsheet-native-foundation/orders-runtime/execution-metrics.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(docs): remove find-and-replace stutter in proof-row-map CSV
  docs/specs/spreadsheet-native-foundation/orders-runtime/02-proof-row-map.csv
Due: none

docs(ledger): add Returns (29 rows) and Samples (26 rows) capability ledgers
  docs/specs/spreadsheet-native-ledgers/returns-capability-ledger-summary.md
  docs/specs/spreadsheet-native-ledgers/samples-capability-ledger-summary.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
