Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ]
}

[HOTFIX] Simplify inventory routing - remove useRoute dependency
  client/src/pages/Inventory.tsx
Due: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Calendar Migration Applied to Production ✅
  package-lock.json
Due: prettier --write

Update production credentials in Bible and agent prompts
  agent-prompts/dev-agent.md
  agent-prompts/initiative-creator.md
  agent-prompts/pm-agent.md
  docs/DEVELOPMENT_PROTOCOLS.md
Due: prettier --write

[FIX] Replace React Router with Wouter in all components - fixes deployment error
  client/src/components/layout/AppHeader.tsx
  client/src/pages/TodoListDetailPage.tsx
  client/src/pages/TodoListsPage.tsx
  client/src/pages/VIPPortalConfigPage.tsx
  drizzle/migrations/0003_inventory_stability_improvements_mysql.sql
  drizzle/migrations/0003_inventory_stability_improvements_production.sql
Due: eslint --fix --max-warnings=0, prettier --write

[REVERT] Remove problematic inventory routing changes
  client/src/pages/Inventory.tsx
Due: eslint --fix --max-warnings=0, prettier --write

[HOTFIX] Remove package-lock.json - project uses pnpm
  package-lock.json
Due: prettier --write

Update Digital Ocean API key in Bible and agent prompts
  agent-prompts/dev-agent.md
  agent-prompts/initiative-creator.md
  agent-prompts/pm-agent.md
  docs/DEVELOPMENT_PROTOCOLS.md
Due: prettier --write

[FIX] Remove react-router-dom dependency completely
  package.json
Due: prettier --write

[SYSTEM] Update Digital Ocean API key and add doctl CLI instructions
  agent-prompts/dev-agent.md
  agent-prompts/initiative-creator.md
  agent-prompts/pm-agent.md
  docs/DEVELOPMENT_PROTOCOLS.md
Due: prettier --write

[HOTFIX] Remove react-router-dom from lockfile - clean install
  pnpm-lock.yaml
Due: none
