Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(wave-10): TER-263/264/93/261 — storage enum names, health version, tags TRPCError, batch scripts
  client/public/version.json
  client/version.json
  docs/prompts/WAVE10-TER-261-data-cleanup-live-batches.md
  docs/prompts/WAVE10-TER-262-vendorpayables-select-error.md
  docs/prompts/WAVE10-TER-263-storage-createzone-insert.md
  docs/prompts/WAVE10-TER-264-tags-create-select-error.md
  docs/prompts/WAVE10-TER-93-deployment-health-check.md
  docs/prompts/WAVE10_AGENT_PROMPT.md
  drizzle/schema-storage.ts
  scripts/migrations/ter-261-diagnose-live-batches.ts
  scripts/migrations/ter-261-fix-live-batch-qty.ts
  server/_core/healthCheck.ts
  server/routers/tags.ts
  server/routers/vendorPayables.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(schema): TER-262 fix vendorPayable enum column names
  drizzle/schema.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve duplicate version.json entries from merge conflict
  client/public/version.json
  client/version.json
Due: prettier --write

fix(qa): address adversarial review findings — P1 path + P2 logic bugs
  scripts/migrations/ter-261-fix-live-batch-qty.ts
  server/_core/healthCheck.ts
  server/routers/tags.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json to reflect QA fix commit 4ff3d1f
  client/public/version.json
  client/version.json
Due: prettier --write

fix(ter261): correct DB column names in batch cleanup script
  scripts/fix-ter261-bad-qty-batches.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(mobile): address mobile UX audit — tables, touch targets, layout overflow
  client/public/version.json
  client/src/components/DashboardLayout.tsx
  client/src/components/ui/DataTable.tsx
  client/src/components/ui/DataTablePagination.tsx
  client/src/components/ui/sidebar.tsx
  client/src/components/ui/table.tsx
  client/src/index.css
  client/src/pages/PricingRulesPage.tsx
  client/src/pages/ReturnsPage.tsx
  client/version.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(mobile): address QA findings — dead CSS selectors, cramped grids, stacked padding
  client/src/components/ui/DataTablePagination.tsx
  client/src/index.css
  client/src/pages/PricingRulesPage.tsx
  client/src/pages/ReturnsPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

fix: resolve P0 infinite loop in DashboardPreferencesContext and remaining any types
  client/src/components/vip-portal/LiveCatalog.tsx
  client/src/contexts/DashboardPreferencesContext.tsx
  client/src/pages/IntakeReceipts.tsx
  client/src/pages/Settings.tsx
  server/strainMatcher.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json
  client/public/version.json
  client/version.json
Due: prettier --write

docs: update roadmap and Linear sync docs with Lint Zero completion
  docs/LINEAR_ROADMAP_SYNC.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

fix(schema): comprehensive database column name alignment audit
  .husky/pre-commit
  drizzle.config.ts
  drizzle/schema-gamification.ts
  drizzle/schema.ts
  migrations/README.md
  server/_core/criticalMutation.ts
  server/_core/inventoryLocking.ts
  server/routers/advancedTagFeatures.ts
  server/routers/payments.ts
  server/routers/productGrades.ts
  server/routers/unifiedSalesPortal.ts
  server/services/creditEngine-patch.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: QA report action plan + 12 Linear issue templates (Wave 11)
  docs/prompts/LINEAR-ISSUES-QA-2026-02-19.md
  docs/roadmaps/QA-REPORT-ACTION-PLAN-2026-02-19.md
Due: prettier --write

docs: forge battle-hardened prompts for Wave 11A P0 bugs
  docs/prompts/FORGED-BUG-001-intake-api.md
  docs/prompts/FORGED-BUG-002-po-line-items.md
  docs/prompts/FORGED-BUG-003-payment-rollback.md
  docs/prompts/FORGED-BUG-004-order-status-lifecycle.md
Due: prettier --write

fix(po): add explicit null for nullable column in PO items INSERT (BUG-002)
  server/routers/purchaseOrders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(accounting): add missing Bad Debt Expense account to seed data (BUG-004)
  server/badDebtDb.ts
  server/services/orderAccountingService.ts
  server/services/orderOrchestrator.ts
  server/services/seedDefaults.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): fix intake API — add explicit nulls and TRPCError propagation (BUG-001)
  server/inventoryIntakeService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(payments): fix transaction rollback — resolve GL accounts before txn (BUG-003)
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(seed): add canonical full-system seeding and integrity verification
  README.md
  docs/SEED_SCRIPT_USAGE.md
  docs/deployment/SEEDING_RUNBOOK.md
  package.json
  scripts/seed-full-system.ts
  scripts/seed/README.md
  scripts/verify-seed-integrity.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci: remove PR preview deployments
  .do/app.preview.yaml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-deploy.yml
  docs/DEV_ENVIRONMENT_SETUP.md
  docs/PREVIEW_DEPLOYMENTS.md
Due: prettier --write

ci: remove PR preview deployments (#440)
  .do/app.preview.yaml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-deploy.yml
  docs/DEV_ENVIRONMENT_SETUP.md
  docs/PREVIEW_DEPLOYMENTS.md
Due: prettier --write

fix: replace process.exit(1) with throw in catch block
  scripts/seed-comprehensive.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

perf: optimize batch status history with bulk INSERT (100x faster)
  scripts/seed-comprehensive.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: change product_category to category in pricing_defaults
  scripts/seed-comprehensive.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: add schema validation skip guard for calendar_availability
  scripts/seed-comprehensive.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: change referralCreditStatus to status in referral_credits
  scripts/seed-comprehensive.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): third-party independent audit of codex/uiux-master-plan-v4-20260221
  .qa/third-party-audit/2026-02-21-opus46/changed-files.txt
  .qa/third-party-audit/2026-02-21-opus46/claim-reconciliation.md
  .qa/third-party-audit/2026-02-21-opus46/findings.md
  .qa/third-party-audit/2026-02-21-opus46/gate-matrix.md
  .qa/third-party-audit/2026-02-21-opus46/risk-register.md
  .qa/third-party-audit/2026-02-21-opus46/screens/README.md
  .qa/third-party-audit/2026-02-21-opus46/verification.md
Due: prettier --write

docs(qa): add audit log files (force-add past .gitignore)
  .qa/third-party-audit/2026-02-21-opus46/commands.log
  .qa/third-party-audit/2026-02-21-opus46/console.log
  .qa/third-party-audit/2026-02-21-opus46/network.log
Due: none

docs(qa): add pre-existing issues to findings (not regressions)
  .qa/third-party-audit/2026-02-21-opus46/findings.md
Due: prettier --write

chore: add staging app spec for DigitalOcean App Platform
  .do/app-staging.yaml
Due: none

docs: add staging environment documentation and app spec
  .env.app-ids.example
  docs/STAGING_ENVIRONMENT.md
Due: prettier --write

docs: add staging-first workflow to all agent and developer docs
  .do/README.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/sync-staging.yml
  .kiro/steering/02-workflows.md
  .kiro/steering/04-infrastructure.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: prettier --write

fix(ci): fix sync-staging workflow to fetch all remote branches
  .github/workflows/sync-staging.yml
Due: none

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
