Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: create CODE-QUALITY-IMPROVEMENT-2025 initiative from code review
  DO_ENV_FIX_SUMMARY.md
  DO_ENV_VARS_AUDIT.md
  docs/initiatives/CODE-QUALITY-IMPROVEMENT-2025.md
  scripts/fix-do-env-vars.sh
Due: prettier --write

infra: audit and fix DigitalOcean environment variables
  scripts/fix-do-env-vars.sh
Due: none

docs: add action required summary for DO env vars
  DO_ENV_ACTION_REQUIRED.md
Due: prettier --write

docs: establish unified initiative-to-roadmap workflow
  .kiro/steering/terp-master-protocol.md
  SESSION-SUMMARY.md
  SLACK-BOT-QUICK-SETUP.md
  docs/initiatives/CODE-QUALITY-IMPROVEMENT-2025.md
  docs/protocols/INITIATIVE_TO_ROADMAP_WORKFLOW.md
  package-lock.json
  package.json
  scripts/fix-do-env-vars.sh
  scripts/slack-bot-ai.ts
  test-gemini-bot.ts
  test-slack-connection.js
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

infra: configure DO to skip deployments for docs-only changes
  .do/app.yaml
  .kiro/steering/04-infrastructure.md
Due: prettier --write

docs: add completion report for DO env vars fix
  DO_ENV_FIX_COMPLETE.md
Due: prettier --write

chore: trigger deployment to apply ignore_paths config
  .deployment-trigger
  .kiro/specs/schema-validation-system/requirements.md
Due: prettier --write

spec: add DATA-010 Schema Validation System to roadmap
  .kiro/specs/schema-validation-system/design.md
  .kiro/specs/schema-validation-system/tasks.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(DATA-010): implement schema validation utilities and validation tool
  .do/app.yaml
  .kiro/specs/schema-validation-system/tasks.md
  package.json
  scripts/utils/schema-introspection.ts
  scripts/validate-schema-comprehensive.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(infra): properly link database cluster in app.yaml
  scripts/validate-schema-comprehensive.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat(DATA-010): complete schema validation system implementation
  .kiro/specs/schema-validation-system/tasks.md
  README.md
  scripts/fix-schema-drift.ts
  scripts/validate-schema-fixes.ts
  scripts/validate-schema-sync.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs(DATA-010): add completion report
  .kiro/specs/schema-validation-system/tasks.md
  DATA-010-COMPLETION-REPORT.md
Due: prettier --write

feat(DATA-010): add admin schema validation endpoint
  DATA-010-PRODUCTION-TESTING-GUIDE.md
  DATA-010-PRODUCTION-VALIDATION-GUIDE.md
  PRODUCTION-VALIDATION-GUIDE.md
  server/routers.ts
  server/routers/adminSchema.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(infra): add JWT_SECRET environment variable
  .do/app.yaml
Due: none

docs(DATA-010): add final status and testing guide
  DATA-010-FINAL-STATUS.md
  DATA-010-PRODUCTION-TESTING-GUIDE.md
  DATA-010-PRODUCTION-VALIDATION-GUIDE.md
  PRODUCTION-VALIDATION-GUIDE.md
  test-schema-validation-api.sh
Due: prettier --write

chore: register session Session-20251203-DATA-010-fff4be03 for DATA-010
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251203-DATA-010-fff4be03.md
Due: prettier --write

feat(DATA-010): fix 6 critical tables and add SEED-001 comments
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251203-DATA-010-fff4be03.md
  drizzle/schema.ts
  pnpm-lock.yaml
  scripts/validate-schema-comprehensive.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore(DATA-010): complete task and archive session
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251203-DATA-010-fff4be03.md
Due: prettier --write

feat: Add script to test database connection
  scripts/test-db-connection.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor schema introspection and testing scripts
  scripts/test-drizzle-query.ts
  scripts/utils/schema-introspection.ts
  scripts/validate-schema-comprehensive.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(prod): resolve static file path in production using process.cwd()
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251203-PROD-LOADING-dc6060.md
  server/_core/vite.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
