Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

docs: Add INFRA-003 copy-paste prompt with strict testing protocols
  docs/INFRA-003_COPY_PASTE_PROMPT.md
Due: prettier --write

Register INFRA-003 session
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

INFRA-003: Register session and mark in progress
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251118-INFRA-003-b60d4cc0.md
Due: prettier --write

INFRA-003: Add schema validation script
  scripts/validate-schema-sync.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

INFRA-003: Fix schema definitions to match database structure
  drizzle.config.ts
  drizzle/schema.ts
  server/auditLogger.ts
  server/inventoryMovementsDb.ts
  server/routers/inventoryMovements.ts
  server/routers/warehouseTransfers.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

INFRA-003: Update validation script and add comprehensive documentation
  docs/DATABASE_SCHEMA_SYNC.md
  scripts/validate-schema-sync.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

INFRA-003: Complete - Schema sync fixed, all tests passed
  docs/ACTIVE_SESSIONS.md
  docs/INFRA-003-COMPLETION-REPORT.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251118-INFRA-003-b60d4cc0.md
  docs/sessions/completed/Session-20251118-INFRA-003-b60d4cc0.md
Due: prettier --write

INFRA-003: Register session and mark in progress
  docs/sessions/active/Session-20251118-INFRA-003-c2977611.md
Due: prettier --write

INFRA-003: Additional schema sync fixes (Session c2977611)
  docs/DATABASE_SCHEMA_SYNC.md
  docs/INFRA-003-COMPLETION-REPORT.md
  docs/sessions/active/Session-20251118-INFRA-003-c2977611.md
  drizzle/schema-rbac.ts
  drizzle/schema.ts
  package.json
  pnpm-lock.yaml
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

INFRA-003: Archive session and clean up active sessions
  docs/ACTIVE_SESSIONS.md
  docs/sessions/completed/Session-20251118-INFRA-003-c2977611.md
Due: prettier --write

Fix workflow commit comment posting
  .github/workflows/merge.yml
Due: none

Add build status file for agent verification
  .github/workflows/merge.yml
Due: none

Fix duplicate fs declaration in workflow
  .github/workflows/merge.yml
Due: none

Fix DigitalOcean deployment failures
  package.json
  sentry.server.config.ts
  server/ordersDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update build status [skip ci]
  .github/BUILD_STATUS.md
Due: prettier --write

Update documentation with new build status verification method
  docs/CLAUDE_WORKFLOW.md
  docs/DEVELOPMENT_PROTOCOLS.md
Due: prettier --write

Update documentation to use BUILD_STATUS.md for verification
  docs/DEVELOPMENT_PROTOCOLS.md
  docs/NEW_AGENT_PROMPT.md
Due: prettier --write

Fix DigitalOcean deployment failures (#55)
  package.json
  sentry.server.config.ts
  server/ordersDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write
