Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add remote methods to add secrets to GitHub Secrets
  .github/workflows/add-secrets.yml
  docs/ADD_SECRETS_REMOTE_GUIDE.md
  docs/ADD_SECRETS_TO_GITHUB.md
  scripts/add-secrets-remote.sh
Due: prettier --write

feat: Add permanent secrets storage solution
  .github/workflows/bootstrap-secrets.yml
  docs/ADD_SECRETS_REMOTE_GUIDE.md
  docs/SECRETS_STORAGE_GUIDE.md
Due: prettier --write

Add Phase 2.5 and Phase 3 to roadmap with BUG-003 prompt
  docs/prompts/BUG-003.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Add Phase 2.5 and Phase 3 execution plan
  docs/PHASE_2.5_3_EXECUTION_PLAN.md
Due: prettier --write

Add agent monitoring guide
  .gitignore
  docs/AGENT_MONITORING_GUIDE.md
Due: prettier --write

Add swarm auto-start and status monitoring
  .github/workflows/swarm-auto-start.yml
  .github/workflows/swarm-status-monitor.yml
  docs/SWARM_AUTO_START_GUIDE.md
  package.json
  scripts/swarm-status-monitor.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add guide for triggering workflows manually
  docs/HOW_TO_TRIGGER_WORKFLOWS.md
Due: prettier --write

Convert swarm to manual-only with 'work until' feature
  .github/workflows/swarm-auto-start.yml
  docs/SWARM_AUTO_START_GUIDE.md
  docs/SWARM_MANUAL_START_GUIDE.md
  scripts/manager.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix target task completion check in work-until feature
  scripts/manager.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add natural language command system for swarm agents
  .github/AGENT_COMMANDS.md
  .github/workflows/execute-natural-commands.yml
  docs/NATURAL_LANGUAGE_COMMANDS_GUIDE.md
  scripts/parse-natural-commands.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix natural language command execution workflow
  .github/workflows/execute-natural-commands.yml
  scripts/execute-natural-commands.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update natural language commands guide with multiple access methods
  .github/AGENT_COMMANDS.md
  docs/NATURAL_LANGUAGE_COMMANDS_GUIDE.md
Due: prettier --write

docs: Add simple manual secrets setup guide
  docs/INTEGRATED_ROADMAP_EXECUTION_GUIDE.md
  docs/INTEGRATION_SUMMARY.md
  docs/SIMPLE_SECRETS_SETUP.md
  package.json
  scripts/execute-natural-commands.ts
  scripts/parse-natural-commands.ts
  scripts/roadmap-strategic-executor.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Clarify what actually needs to be in GitHub
  docs/WHAT_ACTUALLY_NEEDS_TO_BE_IN_GITHUB.md
Due: prettier --write

fix: Optimize Dockerfile.bot for 0.5GB memory limit with Node memory limits and pnpm optimizations
  Dockerfile.bot
Due: none

Fix BUG-002: Remove duplicate navigation bar from dashboard
  client/src/components/layout/AppShell.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251122-BUG-002-d1e8e99f.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update swarm status monitoring to run every 4 minutes instead of 30
  .github/workflows/swarm-status-monitor.yml
  docs/INTEGRATED_ROADMAP_EXECUTION_GUIDE.md
Due: prettier --write

Fix BUG-003: Integrate InventoryBrowser and CreditLimitBanner into OrderCreatorPage
  client/src/pages/OrderCreatorPage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251122-BUG-003-a9371575.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Rename GITHUB_WEBHOOK_SECRET to WEBHOOK_SECRET
  .do/app.spec.yaml
  docs/GITHUB_SECRETS_NAMING.md
  docs/SIMPLE_SECRETS_SETUP.md
  server/webhooks/github.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add complete secrets list with correct names
  .gitignore
Due: none

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
