Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add complete secrets list with correct names
  .gitignore
Due: none

Fix BUG-005: Returns Workflow Logic Gap
  client/src/pages/ReturnsPage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251122-BUG-005-2f5fd174.md
  server/routers/returns.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-006: Add entry point to workflow queue
  client/src/pages/WorkflowQueuePage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251122-BUG-006-c404dd39.md
  server/db/queries/workflow-queue.ts
  server/routers/workflow-queue.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Replace window.confirm (partial - 3 files)
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/TodoListsPage.tsx
  client/src/pages/VendorsPage.tsx
  docs/sessions/active/Session-20251122-BUG-007-2341f35b.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: enforce default autonomy mode (zero-interruption protocol)
  .cursor/rules/roadmap-manager.mdc
  scripts/manager.ts
  scripts/slack-bot.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix ST-019: Add defensive checks for edge cases
  client/src/hooks/orders/useOrderCalculations.ts
  docs/sessions/active/Session-20251122-ST-019-7ec1cfdc.md
  server/cogsCalculator.ts
  server/creditEngine.ts
  server/services/marginCalculationService.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update ST-019 status to complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Fix BUG-004: Implement media file upload for PurchaseModal
  client/src/components/inventory/PurchaseModal.tsx
  docs/sessions/active/Session-20251122-BUG-004-6aa15aac.md
  server/_core/validation.ts
  server/inventoryIntakeService.ts
  server/routers/inventory.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update BUG-004 status to complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Add exhaustive interaction protocols (TS-001 to TS-15)
  docs/testing/EXHAUSTIVE_INTERACTION_PROTOCOLS.md
Due: prettier --write

docs: Update testing master plan to reference exhaustive protocols
  docs/testing/TERP_TESTING_MASTER_PLAN.md
Due: prettier --write

docs: Add Phase 4 exhaustive protocol coverage to testing roadmap
  docs/roadmaps/TESTING_ROADMAP.md
Due: prettier --write

docs: Add mandatory QA gate for Master Test Suite
  docs/CLAUDE_WORKFLOW.md
Due: prettier --write

fix: Copy patches directory before pnpm install in Dockerfile.bot
  Dockerfile.bot
Due: none

fix: Simplify Dockerfile.bot - copy all files first, then install
  Dockerfile.bot
Due: none

fix: Make storage configuration optional to prevent build failures
  server/_core/errors.ts
  server/routers/inventory.ts
  server/storage.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add comprehensive E2E test results from Nov 22 testing session
  docs/testing/TEST_RESULTS_20251122.md
Due: prettier --write

Add BUG-008 and BUG-009 to Master Roadmap from E2E testing
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Update Testing Roadmap with E2E test execution results
  docs/roadmaps/TESTING_ROADMAP.md
Due: prettier --write

Add comprehensive E2E testing final summary document
  docs/testing/E2E_TESTING_FINAL_SUMMARY.md
Due: prettier --write

feat: Add slack bolt and other dependencies
  docs/roadmaps/ROADMAP_UPDATE_2025-11-22.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
