Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

fix: Update health check path from / to /health
  .do/app.yaml
Due: none

fix: Simplify Dockerfile.bot - copy all files then install with shamefully-hoist
  Dockerfile.bot
Due: none

docs: Add deployment monitoring, QA reports, prompts, and session documentation
  docs/DEPLOYMENT_MONITORING_2025-11-22.md
  docs/DEPLOYMENT_STATUS_2025-11-22.md
  docs/QA_REPORT_2025-11-22.md
  docs/SECRETS_SETUP_COMPLETE.md
  docs/prompts/BUG-004.md
  docs/prompts/ST-019.md
  docs/sessions/completed/Session-20251122-BUG-002-d1e8e99f.md
Due: prettier --write

feat: Add comprehensive QA/test system for Slack bot
  docs/SLACK_BOT_QA_GUIDE.md
  package.json
  scripts/slack-bot-health-check.ts
  scripts/slack-bot.test.ts
  vitest.config.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add autonomous diagnostic and fix system for Slack bot
  Dockerfile.bot
  package.json
  scripts/fix-slack-bot-autonomous.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add comprehensive guide for autonomous fix system
  docs/SLACK_BOT_AUTONOMOUS_FIX.md
Due: prettier --write

docs: Add completion summary for Slack bot fix system
  SLACK_BOT_FIX_COMPLETE.md
Due: prettier --write

Add comprehensive mobile E2E testing strategy - 47 protocols, 5 device profiles, 19-26 hour execution plan
  docs/testing/MOBILE_E2E_TESTING_STRATEGY.md
Due: prettier --write

fix: Simplify Dockerfile.bot to most basic working version
  Dockerfile.bot
Due: none

fix: Simplify Dockerfile.bot to most basic working version
  .gitignore
Due: none

Enable public access mode: remove authentication requirements for production site verification
  server/_core/permissionMiddleware.ts
  server/_core/trpc.ts
  server/routers/rbac-users.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add strategic sprint plan: Phase 2.5 completion & Phase 3 workflow verification
  docs/ROADMAP_STATUS_UPDATE_2025-11-22.md
  docs/SPRINT_EXECUTION_SUMMARY.md
  docs/SPRINT_PLAN_2025-11-22.md
  docs/STRATEGIC_SPRINT_PRESENTATION.md
  docs/SWARM_EXECUTION_GUIDE_2025-11-22.md
  docs/prompts/BUG-007-PERMISSIONS.md
  docs/prompts/BUG-010.md
  docs/prompts/WF-001.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: Optimize Dockerfile.bot - copy package files first, then install, then copy rest
  Dockerfile.bot
Due: none

fix: Optimize Dockerfile.bot - copy package files first for better caching
  Dockerfile.bot
Due: none

Fix BUG-007: Replace window.confirm with AlertDialog (Part 1)
  client/src/components/orders/OrderPreview.tsx
  client/src/components/vip-portal/LiveCatalog.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/Quotes.tsx
  docs/ACTIVE_SESSIONS.md
  docs/INTEGRATION_SUMMARY.md
  docs/ROADMAP_STATUS_UPDATE_2025-11-22.md
  docs/SPRINT_EXECUTION_SUMMARY.md
  docs/SPRINT_PLAN_2025-11-22.md
  docs/STRATEGIC_SPRINT_PRESENTATION.md
  docs/SWARM_EXECUTION_GUIDE_2025-11-22.md
  docs/prompts/BUG-007-PERMISSIONS.md
  docs/prompts/BUG-010.md
  docs/prompts/WF-001.md
  docs/sessions/active/Session-20251122-BUG-005-2f5fd174.md
  docs/sessions/active/Session-20251124-BUG-007-78a29f8b.md
  scripts/swarm-status-monitor.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Continue replacing window.confirm (Part 2)
  client/src/components/inbox/InboxItem.tsx
  client/src/pages/VendorsPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Replace window.confirm in UserManagement
  client/src/components/UserManagement.tsx
  docs/BUG-007-PROGRESS.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Replace window.confirm in VendorNotesDialog
  client/src/components/VendorNotesDialog.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add comprehensive QA review and improved mobile testing strategy v2.0 - 40% time reduction, execution-ready
  docs/testing/IMPROVED_MOBILE_E2E_TESTING_STRATEGY.md
  docs/testing/MOBILE_STRATEGY_QA_REVIEW.md
Due: prettier --write

Fix BUG-007: Replace window.confirm in SavedViewsDropdown and CustomizationPanel
  client/src/components/dashboard/v3/CustomizationPanel.tsx
  client/src/components/inventory/SavedViewsDropdown.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Replace window.confirm in ShareListModal and WorkflowSettings
  client/src/components/todos/ShareListModal.tsx
  client/src/components/workflow/WorkflowSettings.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write
