Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: complete optional property tests for all specs
  .kiro/specs/orphan-feature-linkage-cleanup/tasks.md
  .kiro/specs/schema-validation-system/tasks.md
  .kiro/specs/seeding-system-production-rollout/tasks.md
  .kiro/steering/00-core-identity.md
  .kiro/steering/06-architecture-guide.md
  .kiro/steering/07-deprecated-systems.md
  .kiro/steering/99-pre-commit-checklist.md
  .kiro/steering/README.md
  package.json
  scripts/seed/lib/seeding.property.test.ts
  scripts/utils/schema-validation.property.test.ts
  scripts/validate-doc-routes.ts
  scripts/validate-no-dangling-imports.ts
  server/routers/search.property.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: add synchronous db export to fix build error
  server/db.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat(canonical-model): complete vendor-to-supplier backend unification
  drizzle/schema.ts
  server/_core/cache.ts
  server/inventoryDb.ts
  server/routers/purchaseOrders.ts
  server/routers/vendors.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat(canonical-model): add supplier profile section to client profile page
  client/src/components/clients/SupplierProfileSection.tsx
  client/src/pages/ClientProfilePage.tsx
  server/clientsDb.ts
  server/routers/clients.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat(canonical-model): complete frontend vendor-to-supplier unification
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/components/VendorRedirect.tsx
  client/src/pages/ClientsListPage.tsx
  client/src/pages/PurchaseOrdersPage.tsx
  client/src/pages/VendorSupplyPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore(canonical-model): Phase 6 final cleanup - delete deprecated vendor components
  client/src/components/VendorNotesDialog.tsx
  client/src/pages/VendorProfilePage.tsx
  client/src/pages/VendorsPage.tsx
  docs/protocols/CANONICAL_DICTIONARY.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add tRPC usage tracking and monitoring
  client/src/components/vip-portal/MarketplaceNeeds.tsx
  client/src/components/vip-portal/MarketplaceSupply.tsx
  client/src/pages/Settings.tsx
  server/_core/trpc.ts
  server/_core/usageTracker.ts
  server/routers/monitoring.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add required tags for mega-qa
  qa-results/mega-qa/required-tags.json
Due: prettier --write

chore: register session Session-20251217-DASHBOARD-FIX-90d4e2
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251217-DASHBOARD-FIX-90d4e2.md
Due: prettier --write

fix(dashboard): add soft-delete filters to restore missing data
  docs/audits/DASHBOARD_FIX_QA_REPORT_2025-12-17.md
  server/arApDb.test.ts
  server/arApDb.ts
  validate-soft-delete-fix.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: complete session Session-20251217-DASHBOARD-FIX-90d4e2
  docs/ACTIVE_SESSIONS.md
  docs/sessions/completed/Session-20251217-DASHBOARD-FIX-90d4e2.md
Due: prettier --write

chore: register session Session-20251217-REMEDIATION-aa6873
  docs/plans/ATOMIC_REMEDIATION_PLAN_SOFT_DELETE.md
  docs/sessions/active/Session-20251217-REMEDIATION-aa6873.md
Due: prettier --write

fix(analytics): BUG-025 - Connect analytics page to real data
  client/src/pages/AnalyticsPage.tsx
  server/routers/analytics.test.ts
  server/routers/analytics.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(infra): REL-003 + REL-004 - Fix connection pool memory leak and increase pool size
  server/_core/connectionPool.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: update version.json files
  client/public/version.json
  client/version.json
Due: prettier --write

fix(arap): complete soft-delete implementation with indexes and tests
  docs/audits/FINAL_QA_REMEDIATION_2025-12-17.md
  drizzle/migrations/0011_add_deleted_at_indexes.sql
  server/arApDb.test.ts
  server/arApDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: complete session Session-20251217-REMEDIATION-aa6873
  docs/sessions/completed/Session-20251217-REMEDIATION-aa6873.md
Due: prettier --write

chore: add migration runner script for containerized environments
  scripts/run-migration-0011.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: add executable migration script for soft-delete indexes
  run-soft-delete-migration.mjs
Due: none

fix: update migration script to use compiled dist files
  run-soft-delete-migration.mjs
Due: none

feat: add property-based testing for real production code
  .lintstagedrc.json
  package.json
  tests/property/README.md
  tests/property/arbitraries.ts
  tests/property/fuzz/adversarial.property.test.ts
  tests/property/inventory/calculations.property.test.ts
  tests/property/inventory/validation.property.test.ts
  tests/property/matching/strain-aliases.property.test.ts
  tests/property/matching/strain-matcher.property.test.ts
  tests/property/pricing.property.test.ts
  vitest.config.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
