Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: bust Docker cache for Railway deployment
  Dockerfile
Due: none

docs: add Railway deployment fix summary
  RAILWAY_FIX_SUMMARY.md
Due: prettier --write

chore: close external agent session Session-20251208-RAILWAY-FIX-8ce562
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

fix: restore original index.ts for Railway deployment
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: add comprehensive error handling around Express server setup
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Railway rollback success - app fully functional
  docs/RAILWAY_ROLLBACK_DECISION.md
  docs/RAILWAY_ROLLBACK_SUCCESS.md
Due: prettier --write

fix(schema): repair critical database schema issues (ST-020/021/022)
  .husky/pre-commit-qa-check.sh
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/NEW_TASKS_BACKLOG.md
  docs/sessions/active/Session-20251209-SCHEMA-FIX-db7a91.md
  drizzle/schema.ts
  tsconfig.json
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: update session status to complete
  docs/sessions/active/Session-20251209-SCHEMA-FIX-db7a91.md
Due: prettier --write

fix(schema): repair critical database schema issues (ST-020/021/022) (#64)
  .husky/pre-commit-qa-check.sh
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/NEW_TASKS_BACKLOG.md
  docs/sessions/active/Session-20251209-SCHEMA-FIX-db7a91.md
  drizzle/schema.ts
  tsconfig.json
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(health): make health checks more resilient to prevent deployment failures
  server/_core/healthCheck.ts
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(health): always return 200 from /health endpoint for Railway
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add TERP-INIT-009: Production-Grade Database Seeding System
  docs/MOCK_DATA_SEEDING_STRATEGY_V2.md
  product-management/initiatives/TERP-INIT-009/README.md
  product-management/initiatives/TERP-INIT-009/TASK_REFERENCE.md
  product-management/initiatives/TERP-INIT-009/docs/MOCK_DATA_SEEDING_STRATEGY_V2.md
  product-management/initiatives/TERP-INIT-009/docs/gemini_qa_analysis.md
  product-management/initiatives/TERP-INIT-009/docs/research/research_liquibase.md
  product-management/initiatives/TERP-INIT-009/docs/research/research_microsoft_ef.md
  product-management/initiatives/TERP-INIT-009/docs/research/research_salesforce.md
  product-management/initiatives/TERP-INIT-009/docs/research/research_tighten.md
  product-management/initiatives/TERP-INIT-009/docs/roadmap.md
  product-management/initiatives/TERP-INIT-009/initiative.json
Due: prettier --write

docs: add mock data seeding strategy recommendation
  docs/MOCK_DATA_SEEDING_STRATEGY.md
Due: prettier --write

fix(sentry): temporarily disable Sentry to troubleshoot Railway deployment
  server/_core/monitoring.ts
  server/_core/performanceMiddleware.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

spec: create database-seeding-system spec and add DATA-011 to roadmap
  .kiro/specs/database-seeding-system/design.md
  .kiro/specs/database-seeding-system/requirements.md
  .kiro/specs/database-seeding-system/tasks.md
  docs/prompts/ST-020.md
  docs/prompts/ST-021.md
  docs/prompts/ST-022.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

db: add RBAC tables migration (0022)
  .husky/pre-commit-qa-check.sh
  docs/roadmaps/MASTER_ROADMAP.md
  drizzle/0022_create_rbac_tables.sql
  drizzle/meta/0022_snapshot.json
  drizzle/meta/_journal.json
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add INFRA-013 completion report
  INFRA-013-COMPLETION-REPORT.md
Due: prettier --write

fix: prevent RBAC index conflicts between autoMigrate and migration 0022
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: change RBAC migration guard to check roles table instead of __drizzle_migrations
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: prevent VIP Portal and RBAC index conflicts in autoMigrate
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: prevent all index conflicts between autoMigrate and migrations
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

infra: improve Railway health checks and documentation
  DEPLOY.md
  docs/deployment/DEPLOYMENT_DOCUMENTATION_INDEX.md
  docs/deployment/DEPLOY_SKIP_SEEDING.md
  railway.json
  railway.json.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
