Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

fix(sales-catalogue): close finalization races
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): preserve dirty state during inflight saves
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): polish save and load edge cases
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): harden share and quote handoffs
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): harden finalized state and handoff guards
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

[codex] Harden sales catalogue adversarial follow-ups (#563)
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(ci): add temporary runner key recovery workflow
  .github/workflows/temp-authorize-terp-gh-runner-key.yml
Due: none

chore(ci): add temporary runner key recovery workflow (#564)
  .github/workflows/temp-authorize-terp-gh-runner-key.yml
Due: none

chore(ci): remove temporary runner key recovery workflow
  .github/workflows/temp-authorize-terp-gh-runner-key.yml
Due: none

chore(ci): remove temporary runner key recovery workflow (#565)
  .github/workflows/temp-authorize-terp-gh-runner-key.yml
Due: none

fix(notifications): resolve count/list mismatch and deep link 404s (TER-970, TER-851, TER-904, TER-1040)
  client/src/components/notifications/InlineNotificationPanel.tsx
  client/src/components/notifications/NotificationBell.test.tsx
  client/src/components/notifications/NotificationBell.tsx
  client/src/components/notifications/NotificationsHub.tsx
  client/src/lib/navigation/notificationLinks.test.ts
  client/src/lib/navigation/notificationLinks.ts
  client/src/pages/NotificationsPage.test.tsx
  server/services/notificationRepository.ts
  server/services/notificationService.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): improve queue UX — next action column, date column, filter pills, collapse empty panel (TER-1014, TER-1015, TER-1016, TER-1017, TER-1018, TER-1019)
  client/src/components/accounting/RecordPaymentDialog.tsx
  client/src/components/spreadsheet-native/GeneralLedgerSurface.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.test.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.tsx
  client/src/lib/spreadsheet-native/pilotContracts.test.ts
  client/src/lib/spreadsheet-native/pilotContracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(accounting): harden accounting UX — aging context, overdue nav, debtor aging, alert escalation (TER-1032, TER-1031, TER-1034, TER-1030, TER-944, TER-971, TER-921, TER-920, TER-940)
  client/src/components/accounting/AgingBadge.tsx
  client/src/components/accounting/RecordPaymentDialog.tsx
  client/src/components/spreadsheet-native/BillsSurface.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.tsx
  client/src/components/spreadsheet-native/PaymentsSurface.tsx
  client/src/components/spreadsheet-native/QuotesPilotSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/lib/invoiceNumber.test.ts
  client/src/lib/invoiceNumber.ts
  client/src/pages/ReturnsPage.tsx
  client/src/pages/accounting/AccountingDashboard.tsx
  client/src/pages/accounting/Payments.test.tsx
  client/src/pages/accounting/Payments.tsx
  server/arApDb.ts
  server/lib/quoteValidity.test.ts
  server/lib/quoteValidity.ts
  server/ordersDb.ts
  server/routers/accounting.ts
  server/routers/orders.ts
  server/routers/returns.ts
  server/routers/unifiedSalesPortal.ts
  server/services/orderAccountingService.ts
  server/services/orderOrchestrator.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(operations): improve intake UX and receiving workflow (TER-1026, TER-1027, TER-1028, TER-1029, TER-1046, TER-889, TER-972, TER-931)
  client/src/components/spreadsheet-native/IntakePilotSurface.test.tsx
  client/src/components/spreadsheet-native/IntakePilotSurface.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/uiux-slice/PurchaseOrdersSlicePage.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/pages/InventoryWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(procurement): PO column fixes, loading skeletons, ARIA roles, View Mode relabel, browser title (TER-1021, TER-1022, TER-1023, TER-1025, TER-1044, TER-1039, TER-564, TER-924, TER-577)
  client/src/components/layout/AppBreadcrumb.tsx
  client/src/components/layout/LinearWorkspaceShell.test.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.test.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.tsx
  client/src/config/navigation.ts
  client/src/config/workspaces.test.ts
  client/src/config/workspaces.ts
  client/src/const.test.ts
  client/src/const.ts
  client/src/hooks/useRecentPages.test.tsx
  client/src/hooks/useRecentPages.ts
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/SpreadsheetNativePilotRollout.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(breadcrumb): correct direct-intake route label to Direct Intake (was incorrectly mapped to Product Intake)
  client/src/components/layout/AppBreadcrumb.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(crm): CRM type column, Quick Add modal, D&S fixes, credit limit actions, Cmd+K recents, empty states (TER-1035, TER-1036, TER-973, TER-1038, TER-1037, TER-916, TER-1041, TER-1045)
  client/src/components/CommandPalette.search.test.tsx
  client/src/components/CommandPalette.test.tsx
  client/src/components/CommandPalette.tsx
  client/src/components/orders/CreditWarningDialog.test.tsx
  client/src/components/orders/CreditWarningDialog.tsx
  client/src/components/orders/FloatingOrderPreview.test.tsx
  client/src/components/orders/FloatingOrderPreview.tsx
  client/src/components/orders/LineItemTable.test.tsx
  client/src/components/orders/LineItemTable.tsx
  client/src/components/orders/OrderAdjustmentPanel.tsx
  client/src/components/orders/OrderTotalsPanel.test.tsx
  client/src/components/orders/OrderTotalsPanel.tsx
  client/src/components/orders/ReferralCreditsPanel.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.test.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.tsx
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.visibility.test.tsx
  client/src/components/work-surface/QuotesWorkSurface.test.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/components/work-surface/VendorsWorkSurface.tsx
  client/src/components/work-surface/__tests__/InventoryWorkSurface.test.tsx
  client/src/hooks/useRecentPages.test.tsx
  client/src/hooks/useRecentPages.ts
  client/src/lib/relationshipSummary.test.ts
  client/src/lib/relationshipSummary.ts
  client/src/pages/MatchmakingServicePage.test.tsx
  client/src/pages/MatchmakingServicePage.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/OrderCreatorPage.visibility.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(surfaces): deepen behavioral coverage and polish inventory/po UX
  client/src/components/spreadsheet-native/InventoryManagementSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(surfaces): deepen behavioral coverage and polish inventory/po UX (#568)
  client/src/components/spreadsheet-native/InventoryManagementSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ux): P2 Phase 1 — overdue contact info, copy-for-chat data source, double-submit guard
  client/src/components/accounting/RecordPaymentDialog.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add P2 initiative specs (5 phases, 15 files)
  docs/initiatives/p2-immediate-fixes/design.md
  docs/initiatives/p2-immediate-fixes/requirements.md
  docs/initiatives/p2-immediate-fixes/tasks.md
  docs/initiatives/p2-seam-specifications/design.md
  docs/initiatives/p2-seam-specifications/requirements.md
  docs/initiatives/p2-seam-specifications/tasks.md
  docs/initiatives/p2-tranche1/design.md
  docs/initiatives/p2-tranche1/requirements.md
  docs/initiatives/p2-tranche1/tasks.md
  docs/initiatives/p2-tranche2/design.md
  docs/initiatives/p2-tranche2/requirements.md
  docs/initiatives/p2-tranche2/tasks.md
  docs/initiatives/p2-tranche3-closeout/design.md
  docs/initiatives/p2-tranche3-closeout/requirements.md
  docs/initiatives/p2-tranche3-closeout/tasks.md
Due: prettier --write

docs(p2): normalize TER-1067 recovery packet
  client/src/components/accounting/RecordPaymentDialog.test.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/p2-dependency-graph.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche1-seam3-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche1-seam4-audit.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche2-seam1-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1067/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reconciliation/2026-04-07-ter-1067-reconciliation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-adversarial-review.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-recovery-scorecard.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-scope-alignment-review.md
  output/playwright/ter-1067-recovery-2026-04-07/command-palette-search.png
  output/playwright/ter-1067-recovery-2026-04-07/copy-for-chat-proof.png
  output/playwright/ter-1067-recovery-2026-04-07/invoices-overdue-focus.png
  output/playwright/ter-1067-recovery-2026-04-07/orders-queue-client-search.png
  output/playwright/ter-1067-recovery-2026-04-07/record-payment-dialog-open.png
  output/playwright/ter-1067-recovery-2026-04-07/record-payment-success.png
  output/playwright/ter-1067-recovery-2026-04-07/sales-sheets-after-client.png
  output/playwright/ter-1067-recovery-2026-04-07/sales-sheets-after-live-batch.png
  output/playwright/ter-1067-recovery-2026-04-07/smoke-sales-sheets.png
  output/playwright/ter-1067-recovery-2026-04-07/summary.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(p2): record TER-1067 tracker normalization
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-recovery-scorecard.md
Due: prettier --write

docs(p2): record TER-1067 merge gate baseline
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1067/2026-04-08-merge-gate.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1067/README.md
Due: prettier --write

fix(ux): land TER-1067 recovery and canonical P2 packet (#570)
  client/src/components/accounting/RecordPaymentDialog.test.tsx
  client/src/components/accounting/RecordPaymentDialog.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.test.tsx
  client/src/components/spreadsheet-native/InvoicesSurface.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/p2-dependency-graph.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche1-seam3-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche1-seam4-audit.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche2-seam1-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1067/2026-04-08-merge-gate.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1067/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reconciliation/2026-04-07-ter-1067-reconciliation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-adversarial-review.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-recovery-scorecard.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-07-scope-alignment-review.md
  output/playwright/ter-1067-recovery-2026-04-07/command-palette-search.png
  output/playwright/ter-1067-recovery-2026-04-07/copy-for-chat-proof.png
  output/playwright/ter-1067-recovery-2026-04-07/invoices-overdue-focus.png
  output/playwright/ter-1067-recovery-2026-04-07/orders-queue-client-search.png
  output/playwright/ter-1067-recovery-2026-04-07/record-payment-dialog-open.png
  output/playwright/ter-1067-recovery-2026-04-07/record-payment-success.png
  output/playwright/ter-1067-recovery-2026-04-07/sales-sheets-after-client.png
  output/playwright/ter-1067-recovery-2026-04-07/sales-sheets-after-live-batch.png
  output/playwright/ter-1067-recovery-2026-04-07/smoke-sales-sheets.png
  output/playwright/ter-1067-recovery-2026-04-07/summary.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): close TER-1068 tranche 1
  client/src/components/sales/AdvancedFilters.tsx
  client/src/components/sales/InventoryBrowser.test.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/components/sales/SaveViewDialog.tsx
  client/src/components/sales/filtering.ts
  client/src/components/sales/types.ts
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1068/2026-04-08-full-test-limitation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1068/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1068-adversarial-review.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1068-scope-alignment-review.md
  output/playwright/ter-1068-tranche1-2026-04-08/catalogue-filters-open.png
  output/playwright/ter-1068-tranche1-2026-04-08/catalogue-include-unavailable.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-cut-summary-stable.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-default-available-now.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-imported-cut.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-saved-view-loaded.png
  output/playwright/ter-1068-tranche1-2026-04-08/summary.json
  output/playwright/ter-1068-tranche1-2026-04-08/summary.md
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): close TER-1068 tranche 1 (#571)
  client/src/components/sales/AdvancedFilters.tsx
  client/src/components/sales/InventoryBrowser.test.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/components/sales/SaveViewDialog.tsx
  client/src/components/sales/filtering.ts
  client/src/components/sales/types.ts
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1068/2026-04-08-full-test-limitation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1068/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1068-adversarial-review.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1068-scope-alignment-review.md
  output/playwright/ter-1068-tranche1-2026-04-08/catalogue-filters-open.png
  output/playwright/ter-1068-tranche1-2026-04-08/catalogue-include-unavailable.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-cut-summary-stable.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-default-available-now.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-imported-cut.png
  output/playwright/ter-1068-tranche1-2026-04-08/order-saved-view-loaded.png
  output/playwright/ter-1068-tranche1-2026-04-08/summary.json
  output/playwright/ter-1068-tranche1-2026-04-08/summary.md
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(sales): close TER-1069 retrieval continuity
  client/src/components/sales/filtering.test.ts
  client/src/components/sales/filtering.ts
  client/src/components/sales/outbound.test.ts
  client/src/components/sales/outbound.ts
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/pages/SharedSalesSheetPage.test.tsx
  client/src/pages/SharedSalesSheetPage.tsx
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche2-seam1-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche2-seam2-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/design/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1069/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/requirements/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1069-adversarial-review.md
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/blocked-draft-confirm-disabled.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/create-order-client-selected.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/create-order-imported-cut-after-reload.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/shared-sales-sheet-proof.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/summary.md
  server/routers/salesSheets.test.ts
  server/routers/salesSheets.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(sales): close TER-1069 retrieval continuity (#572)
  client/src/components/sales/filtering.test.ts
  client/src/components/sales/filtering.ts
  client/src/components/sales/outbound.test.ts
  client/src/components/sales/outbound.ts
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/pages/SharedSalesSheetPage.test.tsx
  client/src/pages/SharedSalesSheetPage.tsx
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche2-seam1-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/tranche2-seam2-spec.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/design/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1069/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/requirements/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1069-adversarial-review.md
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/blocked-draft-confirm-disabled.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/create-order-client-selected.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/create-order-imported-cut-after-reload.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/shared-sales-sheet-proof.png
  output/playwright/ter-1069-retrieval-continuity-2026-04-08/summary.md
  server/routers/salesSheets.test.ts
  server/routers/salesSheets.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(po): close TER-1070 tranche 3 continuity
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/lib/calendarDates.test.ts
  client/src/lib/calendarDates.ts
  client/src/lib/productIntakeDrafts.test.ts
  client/src/lib/productIntakeDrafts.ts
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1070/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1070-adversarial-review.md
  output/playwright/ter-1070-ops-continuity-2026-04-08/receiving-draft-po-reference.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/receiving-queue-expected-today.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/receiving-return-to-po.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/relationship-money-hybrid.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/relationship-supply-settlement.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/summary.json
  output/playwright/ter-1070-ops-continuity-2026-04-08/summary.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(po): close TER-1070 tranche 3 continuity (#573)
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/lib/calendarDates.test.ts
  client/src/lib/calendarDates.ts
  client/src/lib/productIntakeDrafts.test.ts
  client/src/lib/productIntakeDrafts.ts
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1070/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1070-adversarial-review.md
  output/playwright/ter-1070-ops-continuity-2026-04-08/receiving-draft-po-reference.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/receiving-queue-expected-today.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/receiving-return-to-po.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/relationship-money-hybrid.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/relationship-supply-settlement.png
  output/playwright/ter-1070-ops-continuity-2026-04-08/summary.json
  output/playwright/ter-1070-ops-continuity-2026-04-08/summary.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(p2): close TER-1071 deferred pass
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/2026-04-08-ter-1071-deferred-decision-pass.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1071/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1071-adversarial-review.md
Due: prettier --write

docs(p2): close TER-1071 deferred pass (#574)
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Documentation.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/Implement.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/analysis/2026-04-08-ter-1071-deferred-decision-pass.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/evidence/ter-1071/README.md
  docs/specs/spreadsheet-native-foundation/p2-remaining-initiative/reviews/2026-04-08-ter-1071-adversarial-review.md
Due: prettier --write

docs(context): refresh startup truth after P2 closeout
  docs/agent-context/START_HERE.md
  docs/agent-context/state.json
Due: prettier --write

docs(context): refresh startup truth after P2 closeout (#575)
  docs/agent-context/START_HERE.md
  docs/agent-context/state.json
Due: prettier --write

feat: add payment follow-up and ops dashboard seams
  client/src/components/clients/AddCommunicationModal.test.tsx
  client/src/components/clients/AddCommunicationModal.tsx
  client/src/components/clients/PaymentFollowUpPanel.test.tsx
  client/src/components/clients/PaymentFollowUpPanel.tsx
  client/src/components/clients/paymentFollowUp.test.ts
  client/src/components/clients/paymentFollowUp.ts
  client/src/components/dashboard/SimpleDashboard.test.tsx
  client/src/components/dashboard/SimpleDashboard.tsx
  client/src/components/dashboard/dashboardActivity.test.ts
  client/src/components/dashboard/dashboardActivity.ts
  client/src/components/spreadsheet-native/FulfillmentPilotSurface.tsx
  client/src/components/spreadsheet-native/fulfillmentPickList.test.ts
  client/src/components/spreadsheet-native/fulfillmentPickList.ts
  client/src/pages/ClientProfilePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
