Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

feat(INV-3): Implement photography workflow session endpoints
  server/routers/photography.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(INV-4): Implement catalog publishing service and router
  server/routers.ts
  server/routers/catalog.ts
  server/services/catalogPublishingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ACC-1): Implement AR/AP dashboard with aging analysis
  client/src/pages/accounting/AccountingDashboard.tsx
  server/routers/accounting.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ACC-2): Implement credit management system
  client/src/pages/CreditsPage.tsx
  server/routers/credits.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ACC-3): Implement returns processing workflow
  server/routers/returns.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(SALES-1): Implement quote creation and management
  server/routers/quotes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(SALES-2): Implement order fulfillment workflow
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(SALES-3): Add invoice generation from orders
  server/routers/invoices.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(SALES-4): Implement payment recording and application
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(SALES-5): Register sales routers and add OrderFulfillment component
  client/src/components/orders/OrderFulfillment.tsx
  server/routers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Critical security and data integrity fixes for inventory workflow
  server/routers/poReceiving.ts
  server/routers/purchaseOrders.ts
  server/services/catalogPublishingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Critical security and data integrity fixes for sales workflow
  server/routers/invoices.ts
  server/routers/orders.ts
  server/routers/quotes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Critical security and authorization fixes for accounting workflow
  server/routers/accounting.ts
  server/routers/credits.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Complete accounting and sales workflow implementations (#174)
  client/src/components/orders/OrderFulfillment.tsx
  client/src/pages/CreditsPage.tsx
  client/src/pages/accounting/AccountingDashboard.tsx
  server/routers.ts
  server/routers/accounting.ts
  server/routers/catalog.ts
  server/routers/credits.ts
  server/routers/invoices.ts
  server/routers/orders.ts
  server/routers/payments.ts
  server/routers/photography.ts
  server/routers/poReceiving.ts
  server/routers/purchaseOrders.ts
  server/routers/quotes.ts
  server/routers/returns.ts
  server/services/catalogPublishingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Wave 7: Technical Debt & Polish
  README.md
  client/src/lib/trpc.ts
  drizzle/migrations/0025_add_performance_indexes.sql
  server/_core/calendarJobs.ts
  server/_core/errors.ts
  server/ordersDb.ts
  server/routers/health.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(VIP-1): Implement VIP portal authentication and account enhancements
  server/routers/vipPortal.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(NOTIF-1): Implement notification triggers service
  server/services/notificationTriggers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(NOTIF-2): Integrate order created notification trigger
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(NOTIF-3): Integrate invoice and payment notification triggers
  server/routers/accounting.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(vip-portal): Add missing KPIs and improve error handling
  client/src/components/vip-portal/LiveCatalog.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  client/src/pages/vip-portal/VipNotificationsBell.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Correct column and table names in performance indexes migration
  drizzle/migrations/0025_add_performance_indexes.sql
Due: none

docs: Add holistic regression test prompt for two-week sprint validation
  docs/agent_prompts/execution_v4/HOLISTIC_REGRESSION_TEST_PROMPT.md
Due: prettier --write

Review and merge technical debt polish PR (#177)
  README.md
  client/src/lib/trpc.ts
  drizzle/migrations/0025_add_performance_indexes.sql
  server/_core/calendarJobs.ts
  server/_core/errors.ts
  server/ordersDb.ts
  server/routers/health.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(vip-portal): Add missing KPIs and improve error handling (#178)
  client/src/components/vip-portal/LiveCatalog.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  client/src/pages/vip-portal/VipNotificationsBell.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Resolve critical regression bugs from Jan 8 QA pass
  client/src/components/inventory/BatchDetailDrawer.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
  client/src/config/navigation.ts
  client/src/lib/errorHandling.ts
  client/src/pages/CalendarPage.tsx
  client/src/pages/SampleManagement.tsx
  client/src/pages/SearchResultsPage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve TypeScript errors and type compatibility issues
  client/src/components/ui/empty-state.tsx
  client/src/hooks/useRetryableQuery.ts
  client/src/pages/SearchResultsPage.tsx
  server/_core/logger.ts
  server/routers/poReceiving.ts
  server/routers/returns.ts
  server/routers/search.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve TypeScript errors and type compatibility issues (#180)
  client/src/components/ui/empty-state.tsx
  client/src/hooks/useRetryableQuery.ts
  client/src/pages/SearchResultsPage.tsx
  server/_core/logger.ts
  server/routers/poReceiving.ts
  server/routers/returns.ts
  server/routers/search.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add wave execution plan for video testing tasks
  docs/roadmaps/WAVE_EXECUTION_PLAN_VIDEO_TESTING.md
Due: prettier --write

docs: Add comprehensive QA chaos testing report
  docs/COMPREHENSIVE_QA_CHAOS_TESTING_REPORT.md
Due: prettier --write

:wq roadmap: Add 22 new issues from QA chaos testing
  docs/prompts/BUG-070.md
  docs/prompts/BUG-071.md
  docs/prompts/BUG-072.md
  docs/prompts/BUG-073.md
  docs/prompts/BUG-074.md
  docs/prompts/SEC-005.md
  docs/prompts/SEC-006.md
  docs/prompts/SEC-007.md
  docs/prompts/SEC-008.md
  docs/prompts/SEC-009.md
  docs/prompts/SEC-010.md
  docs/prompts/SEC-011.md
  docs/prompts/SEC-012.md
  docs/prompts/ST-025.md
  docs/prompts/ST-026.md
  docs/prompts/UX-001.md
  docs/prompts/UX-002.md
  docs/prompts/UX-003.md
  docs/prompts/UX-004.md
  docs/prompts/UX-005.md
  docs/prompts/UX-006.md
  docs/prompts/UX-007.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Add comprehensive suggested improvements report
  docs/SUGGESTED_IMPROVEMENTS_REPORT.md
Due: prettier --write

feat: Execute comprehensive TERP roadmap - Security Sprint & Critical Fixes
  client/public/version.json
  client/src/App.tsx
  client/src/components/DashboardLayout.tsx
  client/src/components/common/ConflictDialog.tsx
  client/src/components/common/ErrorWithRetry.tsx
  client/src/components/common/PageErrorBoundary.tsx
  client/src/components/inventory/BatchDetailDrawer.tsx
  client/src/components/inventory/PurchaseModal.tsx
  client/src/hooks/useFormDirtyState.ts
  client/src/hooks/useOptimisticLocking.ts
  client/src/pages/UnifiedSalesPortalPage.tsx
  client/version.json
  drizzle/schema.ts
  package.json
  pnpm-lock.yaml
  server/ordersDb.ts
  server/routers/alerts.ts
  server/routers/inventory.ts
  server/routers/locations.ts
  server/routers/orderEnhancements.ts
  server/routers/orders.ts
  server/routers/refunds.ts
  server/routers/returns.ts
  server/routers/search.ts
  server/routers/settings.ts
  server/routers/vipPortal.ts
  server/routers/warehouseTransfers.ts
  server/storage.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: QA review fixes - security, duplicate checks, and React performance
  client/src/hooks/useOptimisticLocking.tsx
  server/routers/locations.ts
  server/routers/refunds.ts
  server/routers/warehouseTransfers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: QA review - security, race conditions, and cross-platform fixes
  agent-prompts/README.md
  agent-prompts/dev-agent.md
  agent-prompts/dev-agent.md.backup
  agent-prompts/initiative-creator.md
  agent-prompts/pm-agent.md
  agent-prompts/pm-agent.md.backup
  agent-prompts/qa-agent.md
  agent-prompts/qa-agent.md.backup
  docs/archive/qa-reports/QA_AUTONOMOUS_SYSTEM_REVIEW_2026-01-08.md
  product-management/_system/scripts/file-locker.py
  product-management/_system/scripts/pm-evaluator.py
  scripts/manager.ts
  scripts/roadmap-strategic-executor.ts
  scripts/roadmap.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: TERP application QA review - security, performance, and React fixes
  client/src/_core/hooks/useAuth.ts
  client/src/components/comments/MentionInput.tsx
  client/src/components/comments/MentionRenderer.tsx
  client/src/components/receipts/ReceiptPreview.tsx
  docs/archive/qa-reports/QA_TERP_APPLICATION_REVIEW_2026-01-08.md
  server/routers/orders.ts
  server/routers/rbac-permissions.ts
  server/routers/returns.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add task: ST-045 Complete User Flow Mapping and Documentation
  docs/assets/ST-045/TERP_Flow_Guide.md
  docs/assets/ST-045/TERP_RBAC_Permission_Mismatches.csv
  docs/assets/ST-045/TERP_Routes.csv
  docs/assets/ST-045/TERP_User_Flow_Matrix_FULL.csv
  docs/prompts/ST-045.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: ST-045 Complete user flow mapping and documentation
  docs/assets/ST-045/TERP_Flow_Guide_UPDATED.md
  docs/assets/ST-045/TERP_User_Flow_Matrix_UPDATED.csv
Due: prettier --write

docs: ST-045 deliverables and identified issues
  docs/prompts/DATA-012.md
  docs/prompts/RBAC-001.md
  docs/prompts/SEC-013.md
  docs/reference/FLOW_GUIDE.md
  docs/reference/README.md
  docs/reference/USER_FLOW_MATRIX.csv
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Restructure roadmap with MVP and Beta milestones
  docs/prompts/REL-001.md
  docs/prompts/REL-002.md
  docs/prompts/REL-003.md
  docs/prompts/REL-004.md
  docs/prompts/REL-005.md
  docs/prompts/REL-006.md
  docs/prompts/REL-007.md
  docs/prompts/REL-008.md
  docs/prompts/REL-009.md
  docs/prompts/REL-010.md
  docs/prompts/REL-011.md
  docs/prompts/REL-012.md
  docs/prompts/REL-013.md
  docs/prompts/REL-014.md
  docs/prompts/REL-015.md
  docs/prompts/REL-016.md
  docs/prompts/REL-017.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/MASTER_ROADMAP_BACKUP_20260108.md
Due: prettier --write
