Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ]
}

fix: Use correct tables for returns and comment out refunds
  scripts/seed-realistic-main.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Add null/undefined check to formatCurrency function
  scripts/generators/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add comprehensive testing documentation
  .github/CONTRIBUTING.md
  README_TESTING_SECTION.md
  docs/testing/TERP_AI_AGENT_INTEGRATION_GUIDE.md
  docs/testing/TERP_PRE_COMMIT_CHECKLIST.md
  docs/testing/TERP_PRODUCT_LED_TESTING_STRATEGY.md
  docs/testing/TERP_TESTING_BEST_PRACTICES.md
  docs/testing/TERP_TESTING_MASTER_PLAN.md
  docs/testing/TERP_TESTING_README.md
  docs/testing/TERP_TESTING_ROADMAP.md
  docs/testing/TERP_TESTING_USAGE_GUIDE.md
  docs/testing/TESTING_INFRASTRUCTURE_STATUS.md
Due: prettier --write

docs: Add AI Agent Quick Reference card
  docs/testing/AI_AGENT_QUICK_REFERENCE.md
Due: prettier --write

feat: Add Vendor Payment Terms (MF-015)
  client/src/App.tsx
  client/src/pages/VendorsPage.tsx
  drizzle/0027_add_vendor_payment_terms.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/vendors.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: Update CHANGELOG for MF-015
  CHANGELOG.md
Due: prettier --write

docs: Integrate testing documentation into The Bible
  docs/AGENT_ONBOARDING.md
  docs/DEVELOPMENT_PROTOCOLS.md.backup
Due: prettier --write

docs: Remove backup file
  docs/DEVELOPMENT_PROTOCOLS.md.backup
Due: none

docs: Complete documentation for new AI agent onboarding
  docs/AGENT_ONBOARDING.md
  docs/DEVELOPMENT_PROTOCOLS.md
  docs/NEW_AGENT_PROMPT.md
  docs/PROJECT_CONTEXT.md
  docs/SETUP.md
Due: prettier --write

feat: Add Vendor Notes & History (MF-016)
  client/src/components/VendorNotesDialog.tsx
  client/src/pages/VendorsPage.tsx
  drizzle/0028_add_vendor_notes.sql
  drizzle/schema.ts
  server/routers/vendors.test.ts
  server/routers/vendors.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add Vendor Directory enhancements (MF-010)
  client/src/lib/exportUtils.test.ts
  client/src/lib/exportUtils.ts
  client/src/pages/VendorsPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write
