Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ]
}

feat(p0.4): Complete monitoring and logging implementation
  server/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add comprehensive P0 completion summary
  P0_COMPLETION_SUMMARY.md
Due: prettier --write

Add GitHub Actions workflow for PR checks
  .github/workflows/pr.yml
Due: none

Add CI/CD workflow for main branch
  .github/workflows/merge.yml
Due: none

Update merge.yml
  .github/workflows/merge.yml
Due: none

Enhance PR workflow with permissions and error handling
  .github/workflows/pr.yml
Due: none

Update merge workflow for dependency installation
  .github/workflows/merge.yml
Due: none

Remove frozen-lockfile option from pnpm install
  .github/workflows/pr.yml
Due: none

Modify merge workflow for Node.js setup
  .github/workflows/merge.yml
Due: none

Update GitHub Actions workflow for database operations
  .github/workflows/merge.yml
Due: none

Fix: Add missing toTitleCase and randomChoice functions to utils.ts
  scripts/generators/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write
