Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

docs: add updated path to completion (Jan 5, 2026)
  docs/roadmaps/PATH_TO_COMPLETION_20260105.md
Due: prettier --write

docs: add parallel agent execution strategy and prompts
  docs/prompts/AGENT_PROMPT_WORKSTREAM_A.md
  docs/prompts/AGENT_PROMPT_WORKSTREAM_B.md
  docs/prompts/AGENT_PROMPT_WORKSTREAM_C.md
  docs/prompts/MOBILE-RESPONSIVENESS-FIX.md
  docs/prompts/ORCHESTRATOR_INSTRUCTIONS.md
  docs/prompts/PARALLEL_AGENT_STRATEGY.md
Due: prettier --write

docs: add autonomous agent prompts with self-review step
  docs/prompts/AUTONOMOUS_AGENT_PROMPT_A.md
  docs/prompts/AUTONOMOUS_AGENT_PROMPT_B.md
  docs/prompts/AUTONOMOUS_AGENT_PROMPT_C.md
Due: prettier --write

docs: add Workstream B CHAOS tasks verification report
  docs/verification/CHAOS_WORKSTREAM_B_VERIFICATION.md
Due: prettier --write

fix(ux): implement mobile and UX polish (Wave 1)
  client/src/components/dashboard/widgets-v2/TotalDebtWidget.tsx
  client/src/components/dashboard/widgets-v2/WorkflowQueueWidget.tsx
  client/src/components/inventory/BatchMediaUpload.tsx
  client/src/components/ui/button.tsx
  client/src/index.css
  client/src/pages/InterestListPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(spreadsheet): implement intake and pick/pack grids
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/src/components/spreadsheet/PickPackGrid.tsx
  client/src/pages/SpreadsheetViewPage.tsx
  client/src/types/spreadsheet.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Wave 2 autonomous agent prompts
  docs/prompts/WAVE2_AGENT_PROMPT_A.md
  docs/prompts/WAVE2_AGENT_PROMPT_B.md
  docs/prompts/WAVE2_AGENT_PROMPT_C.md
Due: prettier --write

docs: Add non-technical client onboarding MVP guide
  docs/guides/CLIENT_ONBOARDING_MVP_GUIDE.md
Due: prettier --write

feat(spreadsheet): fix data mapping and display issues (Wave 2)
  client/src/components/spreadsheet/ClientGrid.tsx
  client/src/types/spreadsheet.ts
  server/services/spreadsheetViewService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(core): implement order draft auto-save and document skipped tests (Wave 2)
  client/src/pages/OrderCreatorPage.tsx
  server/routers/accounting.test.ts
  server/routers/badDebt.test.ts
  server/routers/clients.test.ts
  server/routers/credits.test.ts
  server/routers/inventory.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ux): implement UX polish (Wave 2)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/teri-code-label.tsx
  client/src/components/ui/tooltip.tsx
  client/src/hooks/useInventoryFilters.ts
  client/src/pages/ClientsListPage.tsx
  client/src/pages/Orders.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(performance): Add Performance Sprint specifications (PERF-001 to PERF-007)
  docs/roadmaps/MASTER_ROADMAP.md
  docs/specs/performance-sprint/PERF-001-SPEC.md
  docs/specs/performance-sprint/PERF-002-SPEC.md
  docs/specs/performance-sprint/PERF-003-SPEC.md
  docs/specs/performance-sprint/PERF-004-SPEC.md
  docs/specs/performance-sprint/PERF-005-SPEC.md
  docs/specs/performance-sprint/PERF-006-SPEC.md
  docs/specs/performance-sprint/PERF-007-SPEC.md
  docs/specs/performance-sprint/PERF_QA_REVIEW.md
Due: prettier --write

docs: create Wave 3 autonomous agent prompts
  docs/prompts/WAVE3_AGENT_PROMPT_A.md
  docs/prompts/WAVE3_AGENT_PROMPT_B.md
  docs/prompts/WAVE3_AGENT_PROMPT_C.md
Due: prettier --write

docs: create strategic path to completion and Wave 4-5 agent prompts
  docs/prompts/WAVE4_AGENT_PROMPT_A.md
  docs/prompts/WAVE4_AGENT_PROMPT_B.md
  docs/prompts/WAVE4_AGENT_PROMPT_C.md
  docs/prompts/WAVE5_AGENT_PROMPT_A.md
  docs/prompts/WAVE5_AGENT_PROMPT_B.md
  docs/prompts/WAVE5_AGENT_PROMPT_C.md
  docs/roadmaps/STRATEGIC_PATH_TO_COMPLETION_20260106.md
Due: prettier --write

docs: fix wave numbering to continue from Wave 3
  docs/prompts/WAVE6_AGENT_PROMPT_A.md
  docs/prompts/WAVE6_AGENT_PROMPT_B.md
  docs/prompts/WAVE6_AGENT_PROMPT_C.md
  docs/prompts/WAVE7_AGENT_PROMPT_A.md
  docs/prompts/WAVE7_AGENT_PROMPT_B.md
  docs/prompts/WAVE7_AGENT_PROMPT_C.md
  docs/roadmaps/STRATEGIC_PATH_TO_COMPLETION_20260106.md
Due: prettier --write

feat(spreadsheet): add visual cues color coding (TERP-SS-006)
  client/src/components/spreadsheet/ClientGrid.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(spreadsheet): add row grouping and editing capabilities to InventoryGrid
  client/src/components/spreadsheet/InventoryGrid.tsx
  package.json
  pnpm-lock.yaml
  server/inventoryDb.ts
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: complete Wave 2 QA follow-up tasks
  client/src/components/layout/Sidebar.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
  client/src/components/ui/teri-code-label.test.tsx
  client/src/config/navigation.ts
  client/src/hooks/useInventoryFilters.test.ts
  client/src/pages/OrderCreatorPage.tsx
  server/inventoryDb.ts
  server/services/spreadsheetViewService.test.ts
  server/services/spreadsheetViewService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add updated strategic plan and Wave 4-5 agent prompts
  docs/prompts/wave-4-new/WAVE4A_PERFORMANCE_SAFETY.md
  docs/prompts/wave-4-new/WAVE4B_ERROR_TRACKING.md
  docs/prompts/wave-4-new/WAVE5A_INTAKE_GRID.md
  docs/prompts/wave-4-new/WAVE5B_PICKPACK_GRID.md
  docs/roadmaps/STRATEGIC_PATH_TO_COMPLETION_20260106_v2.md
Due: prettier --write

fix: Wave 4A - Critical performance and safety fixes
  client/src/components/calendar/AppointmentRequestsList.tsx
  client/src/components/calendar/TimeOffRequestsList.tsx
  client/src/components/live-shopping/StaffSessionConsole.tsx
  client/src/components/vip-portal/LiveShoppingSession.tsx
  server/inventoryDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(sentry): complete Sentry error tracking integration (ST-008)
  .env.example
  client/src/components/ErrorBoundary.tsx
  client/src/components/dashboard/WidgetContainer.tsx
  package.json
  pnpm-lock.yaml
  server/_core/monitoring.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sentry): consolidate server config and remove unused import
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: address QA review issues - replace native dialogs, add error handling
  client/src/components/calendar/AppointmentRequestsList.tsx
  client/src/components/calendar/TimeOffRequestsList.tsx
  client/src/components/live-shopping/StaffSessionConsole.tsx
  client/src/components/ui/prompt-dialog.tsx
  client/src/components/vip-portal/LiveShoppingSession.tsx
  docs/reviews/PR150_ALL_FIXES_VERIFICATION.md
  docs/reviews/PR150_FIX_VERIFICATION.md
  docs/reviews/PR150_GPT_QA_REVIEW.md
  docs/reviews/PR151_GPT_QA_REVIEW.md
  docs/reviews/PR151_REDHAT_QA_REVIEW.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sentry): triple-check safety improvements to prevent past failures
  client/src/components/ErrorBoundary.tsx
  docs/reviews/SENTRY_TRIPLE_CHECK.md
  sentry.client.config.ts
  vite.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add comprehensive post-Wave 5 task audit and strategic plan
  docs/roadmaps/POST_WAVE5_TASK_AUDIT.md
Due: prettier --write

feat(spreadsheet): refactor IntakeGrid to use inventory.intake mutation
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/src/types/spreadsheet.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add corrected task audit with code verification
  .env.example
  docs/roadmaps/CORRECTED_TASK_AUDIT_20260106.md
Due: prettier --write

fix: restore AG-Grid license key in .env.example
  .env.example
Due: none

refactor: switch from AG-Grid Enterprise to Community edition
  .env.example
  client/src/components/spreadsheet/InventoryGrid.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Wave 6 parallel agent prompts for maximum throughput
  docs/prompts/WAVE6_PARALLEL_AGENTS.md
  docs/prompts/wave6/AGENT_6A_QA_BACKLOG.md
  docs/prompts/wave6/AGENT_6B_INFRASTRUCTURE.md
  docs/prompts/wave6/AGENT_6C_CLEANUP.md
  docs/prompts/wave6/AGENT_6D_FEATURES.md
  docs/prompts/wave6/AGENT_6E_TESTING.md
Due: prettier --write

fix(docs): correct Wave 6 agent prompts with verified file paths
  docs/prompts/WAVE6_PARALLEL_AGENTS.md
  docs/prompts/wave6/AGENT_6A_QA_BACKLOG.md
  docs/prompts/wave6/AGENT_6B_INFRASTRUCTURE.md
  docs/prompts/wave6/AGENT_6C_CLEANUP.md
  docs/prompts/wave6/AGENT_6D_FEATURES.md
  docs/prompts/wave6/AGENT_6E_TESTING.md
Due: prettier --write

fix(qa): update QA backlog status - modules verified to exist
  docs/roadmaps/QA_TASKS_BACKLOG.md
Due: prettier --write

feat(infra): add Datadog RUM, database backups, and health endpoint
  .env.example
  client/src/lib/datadog.ts
  client/src/main.tsx
  package.json
  pnpm-lock.yaml
  scripts/backup-database.ts
  server/routers.ts
  server/routers/health.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(infra): add database backups and health endpoint
  .env.example
  client/public/version.json
  client/src/lib/datadog.ts
  client/src/main.tsx
  client/version.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add unified product catalogue with CRUD operations (FEATURE-011)
  client/src/pages/ProductsPage.tsx
  server/productsDb.ts
  server/routers.ts
  server/routers/productCatalogue.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(cleanup): remove deprecated code and fix TypeScript issues
  apply-migration-railway.ts
  server/db/seed/productionSeed.ts
  server/index.ts
  server/todoListsDb.ts
  server/todoTasksDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Agent 6F prompt for auth/god-mode setup
  docs/prompts/wave6/AGENT_6F_AUTH_GODMODE.md
Due: prettier --write

test(qa): fix skipped tests and add documentation
  docs/DEPLOYMENT.md
  docs/ENVIRONMENT.md
  server/_core/dataProvider.test.ts
  server/routers/clients.test.ts
  server/routers/inventory.test.ts
  tests/performance/README.md
  tests/performance/api-benchmarks.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: fix Agent 6F prompt based on codebase QA review
  docs/prompts/wave6/AGENT_6F_AUTH_GODMODE.md
Due: prettier --write
