Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Fix QA findings for PR 401 (RBAC, soft delete, AR consistency, GL status)
  client/src/components/accounting/GLReversalStatus.tsx
  drizzle/migrations/0061_add_client_wants_soft_delete.sql
  drizzle/schema-client360.ts
  server/arApDb.ts
  server/ordersDb.ts
  server/routers/clientWants.ts
  server/routers/permission-checks.test.ts
  server/routers/vendorSupply.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): standardize Node 22, pnpm 10.4.1, and action-setup v4 across all workflows
  .github/workflows/golden-flows.yml
  .github/workflows/merge.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/schema-validation.yml
  .github/workflows/typescript-check.yml
  .github/workflows/verify-branch.yml
Due: none

fix(ci): align Dockerfile with CI versions and harden MySQL wait loops
  .github/workflows/merge.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/schema-validation.yml
  Dockerfile
Due: none

fix(test): fix SampleManagement and SampleForm test failures
  client/src/pages/SampleManagement.test.tsx
  tests/setup.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: sync roadmap with Linear — all phases complete, 4 open items remain
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

feat: TERP beta final sprint — TER-92, TER-94, TER-95
  client/src/App.tsx
  client/src/pages/ClientProfilePage.tsx
  scripts/seed-qa-users.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(routing): update all /intake references to /direct-intake
  client/src/config/navigation.ts
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

fix(ci): remove duplicate pnpm version from all workflows
  .github/workflows/golden-flows.yml
  .github/workflows/merge.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/schema-validation.yml
  .github/workflows/typescript-check.yml
  .github/workflows/verify-branch.yml
Due: none

Fix golden flow regressions and stabilize e2e coverage
  client/src/App.tsx
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/pages/SampleManagement.tsx
  server/_core/validation.ts
  server/routers/purchaseOrders.ts
  server/routers/samples.ts
  tests-e2e/fixtures/auth.ts
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
  tests-e2e/golden-flows/gf-006-client-ledger-review.spec.ts
  tests-e2e/golden-flows/order-creation.spec.ts
  tests-e2e/utils/golden-flow-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: sync roadmap with Linear — PR #404 regression fixes in review, post-QA bugs resolved
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs: define default TERP DATABASE_URL for agents
  AGENTS.md
  docs/skills/terp-qa/SKILL.md
Due: prettier --write

docs: add third-party QA protocol v4 with preexisting issue disposition
  docs/protocols/README.md
  docs/protocols/THIRD_PARTY_QA_PROTOCOL_V4.md
Due: prettier --write

fix: harden golden flow routes, filters, and e2e selectors
  client/src/App.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  server/ordersDb.ts
  server/routers/orders.test.ts
  tests-e2e/fixtures/auth.ts
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
  tests-e2e/golden-flows/order-creation.spec.ts
  tests-e2e/utils/golden-flow-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Update client/src/App.tsx
  client/src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve App route JSX syntax error blocking build
  client/src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: clarify local-vs-cloud agent workspace instructions
  AGENTS.md
  docs/skills/terp-qa/SKILL.md
Due: prettier --write

docs: Add comprehensive customer interview analysis with verbatim quotes
  docs/meeting-analysis/2026-01-29/COMPREHENSIVE_INTERVIEW_ANALYSIS.md
Due: prettier --write

docs: Rewrite comprehensive interview analysis with exhaustive coverage
  docs/meeting-analysis/2026-01-29/COMPREHENSIVE_INTERVIEW_ANALYSIS.md
Due: prettier --write

docs: Add consolidated master analysis document for customer interview
  docs/meeting-analysis/2026-01-29/TERP_MASTER_ANALYSIS.md
Due: prettier --write

fix(photography): block completion without photos
  client/src/pages/PhotographyPage.tsx
  server/routers/photography.markComplete.guard.test.ts
  server/routers/photography.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(intake): persist intake media to batch images
  server/inventoryIntakeService.ts
  server/routers/photography.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(intake): persist intake mediaUrls as batch images
  server/inventoryIntakeService.mediaUrls.test.ts
  server/inventoryIntakeService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(intake): allow attaching images during intake
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(intake): support photo upload in direct intake and intake grid
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(media): add batch image show/hide + primary + reorder
  client/src/components/inventory/BatchMediaUpload.tsx
  server/routers/photography.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(media): use batch primary image for VIP + catalog
  server/routers/vipPortalLiveShopping.ts
  server/services/catalogPublishingService.ts
  server/services/liveCatalogService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(photography): make markComplete guard tests DBless
  server/routers/photography.markComplete.guard.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(seed): add safe batch image seeder (dry-run default)
  package.json
  scripts/seed/seeders/seed-batch-images-safe.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(intake): fix vitest mock hoisting
  server/inventoryIntakeService.mediaUrls.test.ts
  server/routers/photography.markComplete.guard.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(media): keep partial intake uploads for cleanup
  client/src/components/spreadsheet/IntakeGrid.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(media): markComplete preserves primary + sort order
  server/routers/photography.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(types): satisfy tsc for batch media + intake
  client/src/components/inventory/BatchMediaUpload.tsx
  server/inventoryIntakeService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): map product_images status enum to existing DB column
  drizzle/schema.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(media): add demo-mode db fallback for uploadMedia
  drizzle/schema.ts
  server/_core/index.ts
  server/autoMigrate.ts
  server/demoMediaStorage.test.ts
  server/demoMediaStorage.ts
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: QA review of 10 canonical flow decisions against codebase
  docs/CANONICAL_FLOWS_QA_REVIEW.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
