Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

test(inventory): fix IMS orders.getAll mock + SalesCatalogue clamp expectation
  client/src/components/spreadsheet-native/InventoryManagementSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(inventory): add extractItems to spreadsheet-native mock in IMS test
  client/src/components/spreadsheet-native/InventoryManagementSurface.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): Inventory Value KPI always shows — - TER-1258 (#653)
  client/src/components/dashboard/widgets-v2/OperationalKpisWidget.tsx
  client/src/components/spreadsheet-native/InventoryManagementSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  docs/FUNCTIONAL_BASELINE_RUNTIME.md
  docs/sessions/active/TER-1258-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): pre-initialize session for TER-1245
  docs/sessions/active/TER-1245-session.md
Due: prettier --write

chore(session): pre-initialize session for TER-1196
  docs/sessions/active/TER-1196-session.md
Due: prettier --write

docs(matching): interface parity audit — legacy vs Enhanced - TER-1245
  docs/agent-context/matching-engine-audit.md
Due: prettier --write

docs(session): TER-1196 async map audit — no unguarded callsites found
  docs/sessions/active/TER-1196-session.md
Due: prettier --write

docs(matching): interface parity audit — legacy vs Enhanced - TER-1245 (#654)
  docs/agent-context/matching-engine-audit.md
  docs/sessions/active/TER-1245-session.md
Due: prettier --write

fix(server): wrap all async map callsites in Promise.all - TER-1196 (#655)
  docs/sessions/active/TER-1196-session.md
Due: prettier --write

chore(session): pre-initialize session for TER-1249
  docs/sessions/active/TER-1249-session.md
Due: prettier --write

chore(session): add session file for TER-1249
  docs/sessions/active/TER-1249-session.md
Due: prettier --write

feat(matching): verify historicalAnalysis Match import points to Enhanced - TER-1249
  docs/sessions/active/TER-1249-session.md
  server/tests/matchingEngine.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): fix branch format in TER-1249 session file
  docs/sessions/active/TER-1249-session.md
Due: prettier --write

feat(matching): redirect historicalAnalysis Match import to Enhanced - TER-1249 (#656)
  docs/sessions/active/TER-1249-session.md
  server/tests/matchingEngine.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add session file for TER-1250
  docs/sessions/active/TER-1250-session.md
Due: prettier --write

chore(session): fix session file format for TER-1250
  docs/sessions/active/TER-1250-session.md
Due: prettier --write

feat(matching): delete legacy matchingEngine files and add lint guard - TER-1250
  docs/sessions/active/TER-1250-session.md
  eslint.config.js
  server/matchingEngine.ts
  server/matchingEngineEnhanced.ts
  server/matchingEngineReverseSimplified.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(matching): delete legacy matchingEngine files and add lint guard (TER-1250)
  docs/sessions/active/TER-1250-session.md
  eslint.config.js
  server/matchingEngine.ts
  server/matchingEngineEnhanced.ts
  server/matchingEngineReverseSimplified.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(infra): add INFRA_ACCESS.md + staged droid-dispatch workflow
  docs/agent-context/INFRA_ACCESS.md
  docs/agent-context/staged/README.md
  docs/agent-context/staged/droid-dispatch.yml.new
Due: prettier --write

chore(ci): add Manus self-authorization workflow
  .github/workflows/manus-authorize.yml
Due: none

chore(session): add session file for infra-refresh PR
  docs/sessions/active/infra-refresh-session.md
Due: prettier --write

fix(session): use backticks around branch name for validation
  docs/sessions/active/infra-refresh-session.md
Due: prettier --write

chore(session): add session file for TER-1240
  docs/sessions/active/TER-1240-session.md
Due: prettier --write

feat(design): add semantic color CSS vars for Badge variants (TER-1240)
  client/src/components/ui/badge.tsx
  client/src/index.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): add codemod script for color rationalization (TER-1240)
  scripts/codemod-color-classes.sh
  scripts/codemod-color-classes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): remove colored shadows from AchievementBadge (TER-1240)
  client/src/components/gamification/AchievementBadge.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): enhance codemod to handle all color shades (TER-1240)
  scripts/codemod-color-classes.sh
Due: none

docs(infra): add INFRA_ACCESS.md + staged droid-dispatch workflow (#669)
  docs/agent-context/INFRA_ACCESS.md
  docs/agent-context/staged/README.md
  docs/agent-context/staged/droid-dispatch.yml.new
  docs/sessions/active/infra-refresh-session.md
Due: prettier --write

chore(session): add session file for TER-1238
  docs/sessions/active/TER-1238-session.md
Due: prettier --write

feat(design): Tranche D System 3 — Shadow rationalization (TER-1238)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/input.tsx
  client/src/index.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): Tranche D System 3 — Shadow rationalization (TER-1238) (#672)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/input.tsx
  client/src/index.css
  docs/sessions/active/TER-1238-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add session file for TER-1241
  docs/sessions/active/TER-1241-session.md
Due: prettier --write

feat(design): Tranche D System 4 — Kill decorative backgrounds (TER-1241)
  client/src/components/layout/AppHeader.tsx
  client/src/index.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): Tranche D System 4 — Kill decorative backgrounds (TER-1241)
  client/src/components/layout/AppHeader.tsx
  client/src/index.css
  docs/sessions/active/TER-1241-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add session file for TER-1243
  docs/sessions/active/TER-1243-session.md
Due: prettier --write

style(design): enforce --radius: 0.375rem token, replace hardcoded radii on non-interactive containers (TER-1243)
  client/src/index.css
Due: none
