Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

chore(infra): remove local TSC from DONE.sh, add CI-wait poll loop
  DONE.sh
Due: none

fix: address 6 recurring bug patterns systemically
  .husky/pre-commit
  client/src/components/sales/types.ts
  client/src/components/scheduling/RoomBookingModal.tsx
  client/src/components/scheduling/RoomManagementModal.tsx
  client/src/components/scheduling/ShiftScheduleView.tsx
  client/src/components/vendors/VendorSearchWithBrands.tsx
  client/src/lib/statusTokens.ts
  drizzle/schema-live-shopping.ts
  drizzle/schema.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: update stale JSDoc comment for isNonSellableStatus
  client/src/components/sales/InventoryBrowser.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

chore: update version.json from QA build
  client/public/version.json
  client/version.json
Due: prettier --write

chore: add retroactive session file for CI validation
  docs/agent-handoff/handoff.json
  docs/agent-handoff/session.json
  docs/sessions/active/TER-1052-session.md
Due: prettier --write

chore: add retroactive session file for CI validation
  docs/sessions/active/TER-522-recurring-session.md
Due: prettier --write

chore(infra): remove local TSC from pre-commit hook
  .husky/pre-commit
Due: none

feat(dashboard): recent activity feed widget - TER-1056
  client/src/components/dashboard/widgets-v2/ActivityFeedWidget.tsx
  client/src/components/dashboard/widgets-v2/index.ts
  client/src/pages/OwnerCommandCenterDashboard.tsx
  docs/sessions/active/TER-1056-session.md
  server/routers.ts
  server/routers/activity.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(policy): require adversarial QA + self-healing before ticket completion
  CLAUDE.md
Due: prettier --write

fix(ux): disable VIP Credit Info button with coming-soon tooltip
  client/src/pages/vip-portal/VIPDashboard.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

refactor(server): consolidate matching engines — finalize enhanced, remove legacy files
  server/historicalAnalysis.ts
  server/matchingEngine.ts
  server/matchingEngineEnhanced.ts
  server/matchingEngineReverseSimplified.ts
  server/routers/vendorSupply.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): wire actual avg cost to BatchDetailDrawer price simulation
  client/src/components/inventory/BatchDetailDrawer.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): remove location field from status dialog (no backend support)
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ux): show error state on PO edit fetch failure
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ux): replace raw enum values with human-readable labels (TER-1064)
  client/src/lib/enumLabels.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(lint): remove unused clientSideFilterActive dead-code variable (L-3)
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): tighten CORS allowlist and cookie sameSite policy
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/lib/statusTokens.ts
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  server/_core/cookies.ts
  server/_core/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(m4): remove DB writes (recordMatch) from pure read path in findMatchesForNeed
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/ui/mono-id.tsx
  client/src/lib/statusTokens.ts
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  server/matchingEngineEnhanced.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(routing): wrap /products lazy route in Suspense via withLazyErrorBoundary (L-1)
  client/src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(h6): confirm await Promise.all wrapping on async map calls
  client/src/components/work-surface/InventoryWorkSurface.tsx
  server/routers/poReceiving.ts
  server/routers/returns.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(merge): restore status token helpers after consolidation conflicts
  client/src/lib/statusTokens.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(H-8): centralize logout + clear all auth localStorage keys
  client/src/_core/hooks/useAuth.ts
  client/src/components/DashboardLayout.tsx
  client/src/lib/logout.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(m7): remove matching engine call from clientNeedsDbEnhanced list query
  server/clientNeedsDbEnhanced.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(po): show error state in supplier history/products tables on query failure (L-4)
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): audit sql.raw() calls — parameterize risky, document safe ones
  server/_core/inventoryLocking.ts
  server/clientNeedsDb.ts
  server/routers/admin.ts
  server/routers/adminSchemaPush.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(h9): remove N+1 matching engine call from getVendorSupplyWithMatches list query
  server/vendorSupplyDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(context): refresh agent-context bundle during onboarding
  docs/agent-context/START_HERE.md
  docs/agent-context/bootstrap/any-llm.md
  docs/agent-context/bootstrap/claude-ai.md
  docs/agent-context/bootstrap/claude-code-cli-cloud.md
  docs/agent-context/bootstrap/claude-code-cli-local.md
  docs/agent-context/bootstrap/claude-code-cloud.md
  docs/agent-context/bootstrap/claude-mac-app.md
  docs/agent-context/bootstrap/codex-cli-cloud.md
  docs/agent-context/bootstrap/codex-cli-local.md
  docs/agent-context/bootstrap/codex-cloud.md
  docs/agent-context/bootstrap/codex-mac-app.md
  docs/agent-context/bootstrap/hermes.md
  docs/agent-context/conflicts.ndjson
  docs/agent-context/evidence.json
  docs/agent-context/health.json
  docs/agent-context/manifest.json
  docs/agent-context/public/START_HERE.md
  docs/agent-context/public/health.json
  docs/agent-context/public/manifest.json
  docs/agent-context/public/state.json
  docs/agent-context/public/work.json
  docs/agent-context/state.json
  docs/agent-context/work.json
Due: prettier --write

chore(ci): add Factory Droid workflows (@droid + auto-review)
  .github/workflows/droid-review.yml
  .github/workflows/droid.yml
Due: none

feat(orders): add shipping pick list view - TER-1063
  client/public/version.json
  client/src/config/workspaces.ts
  client/src/pages/SalesWorkspacePage.tsx
  client/src/pages/ShippingPickListPage.tsx
  client/version.json
  docs/sessions/active/TER-1063-session.md
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): self-heal TER-1063 per AQA — remove version.json, fix All filter, add limit, date validation, null guards
  .gitignore
  client/public/version.json
  client/src/pages/SalesWorkspacePage.tsx
  client/src/pages/ShippingPickListPage.tsx
  client/version.json
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): untrack version.json build artifacts
  client/public/version.json
  client/version.json
Due: prettier --write

chore(agents): align Factory Droid with TERP protocol
  .factory/settings.json
  .factory/skills/review-guidelines/SKILL.md
  docs/agent-context/bootstrap/droid.md
  docs/agent-context/clients.json
Due: prettier --write

chore(session): register session file for DROID-FACTORY-SETUP-ALIGN
  docs/sessions/active/Session-20260420-DROID-FACTORY-SETUP-ALIGN-595.md
Due: prettier --write

test(unit): unblock pre-merge CI on main — TER-1210 partial
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/work-surface/OrdersWorkSurface.visibility.test.tsx
  client/src/pages/accounting/AccountingDashboard.test.tsx
  server/__tests__/ordersDb-error-propagation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add TER-1210 session file for agent-session gate
  docs/sessions/active/Session-20260421-TER-1210-unit-tests-partial.md
Due: prettier --write

chore(session): update TER-1210 handoff — PR #596 all green, lane plan captured
  docs/sessions/active/Session-20260421-TER-1210-unit-tests-partial.md
Due: prettier --write

test(unit): unblock pre-merge CI on main — TER-1210 partial (#596)
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/components/work-surface/OrdersWorkSurface.visibility.test.tsx
  client/src/pages/accounting/AccountingDashboard.test.tsx
  docs/sessions/active/Session-20260421-TER-1210-unit-tests-partial.md
  server/__tests__/ordersDb-error-propagation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
