Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

Fix roadmap validation: standardize formats and add BUG-017
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Update documentation with validator-required formatting rules
  .cursor/rules/terp-master-protocol.mdc
  docs/HOW_TO_ADD_TASK.md
  docs/ROADMAP_AGENT_GUIDE.md
  docs/templates/TASK_TEMPLATE.md
Due: prettier --write

fix: Link mock data entities for proper FK relationships
  scripts/generators/inventory.ts
  scripts/generators/invoices.ts
  scripts/generators/returns-refunds.ts
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Improve seed reliability and add validation
  scripts/generators/invoices.ts
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Claude/audit mock data 012aiv2y xcn aif fd px9bke f2 (#57)
  scripts/generators/inventory.ts
  scripts/generators/invoices.ts
  scripts/generators/returns-refunds.ts
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Improve seeding script and add user deletion
  pnpm-lock.yaml
  scripts/delete-seed-user.ts
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix seed script data clearing and ID mapping
  SEED_SCRIPT_FIX_PLAN.md
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Add database seeding job and adjust app config
  .do/app-seed-job.yaml
Due: none

Remove automatic database seeding job and add usage guide
  .do/app.yaml
  docs/SEED_SCRIPT_USAGE.md
Due: prettier --write

feat: Add database seeding functionality to settings
  client/src/pages/Settings.tsx
  scripts/seed-realistic-main.ts
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Checkpoint before follow-up message
  client/src/pages/Settings.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Make seedDatabase public procedure
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Improve settings page responsiveness and UI
  client/src/pages/Settings.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Improve Settings page mobile formatting and responsiveness
  docs/BUG-M004-SETTINGS-MOBILE-FORMATTING-COMPLETION.md
Due: prettier --write

Fix JWT_SECRET validation to be runtime-only (not build time)
  server/_core/env.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update auto-generated files from build verification
  client/public/version.json
  client/version.json
  pnpm-lock.yaml
Due: prettier --write

Add BUG-018 to roadmap for JWT_SECRET build fix
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

[HOTFIX] Fix JWT_SECRET validation to be runtime-only (BUG-018) (#58)
  client/public/version.json
  client/version.json
  docs/roadmaps/MASTER_ROADMAP.md
  pnpm-lock.yaml
  server/_core/env.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Checkpoint before follow-up message
  scripts/test-seed-api-http.ts
  scripts/test-seed-api.ts
  scripts/test-seed-direct.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Improve seed API error handling and logging
  docs/BUG-SEED-API-ERROR-HANDLING-COMPLETION.md
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix DigitalOcean app spec environment variables
  .do/app.spec.yaml
Due: none

Fix comment: secrets set at component level, not app level
  .do/app.spec.yaml
Due: none
