Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

test(sales-order): resync SalesOrderSurface assertions to 420-fork UI
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(sales-catalogue): resync SalesCatalogueSurface assertions to 420-fork UI
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(audit): expand UI+UX audit to master review with flow-by-flow + Tier A + 8-PR plan
  docs/audits/UI-UX-AUDIT-2026-04.md
Due: prettier --write

docs(agent-handoff): add atomic implementation roadmap for universal agent handoff
  docs/agent-handoff/ROADMAP.md
Due: prettier --write

fix(context): scope Linear query to Terpcorp team, add graceful degradation, extend lookback
  scripts/agent-context/generate-agent-context.mjs
Due: none

docs(agent-handoff): baseline snapshot + archive persistent-pm
  docs/agent-handoff/baseline.md
Due: prettier --write

fix(harness): atomic lock, resume detection, Linear validation in start-task.sh
  scripts/start-task.sh
Due: none

feat(harness): add complete-task-fast, force-close-session, session-reaper + cron
  docs/sessions/abandoned/.gitkeep
  package.json
  scripts/complete-task-fast.sh
  scripts/complete-task.sh
  scripts/force-close-session.sh
  scripts/session-reaper.sh
Due: prettier --write

feat(agent-handoff): coordination + handoff spec files, script bug fixes, gitignore audit.log
  .gitignore
  .kiro/steering/03-agent-coordination.md
  .kiro/steering/05-external-agent-handoff.md
  scripts/complete-task-fast.sh
  scripts/force-close-session.sh
  scripts/session-reaper.sh
Due: prettier --write

feat(ci): add session lifecycle validation workflow
  .github/workflows/session-validation.yml
Due: none

feat(enforcement): session validation in pre-commit, Linear check in pre-push, update agent rules
  .husky/pre-commit
  .husky/pre-push
  UNIVERSAL_AGENT_RULES.md
Due: prettier --write

feat(handoff): wire handoff.json into start-task and complete-task-fast
  scripts/complete-task-fast.sh
  scripts/handoff-write.sh
  scripts/start-task.sh
Due: none

feat(handoff): Linear comments on session start/end, update CLAUDE.md startup contract
  CLAUDE.md
  scripts/complete-task-fast.sh
  scripts/linear-comment.sh
  scripts/start-task.sh
Due: prettier --write

fix(handoff): repair linear-comment.sh using python helper, add scripts/lib/
  scripts/lib/linear_post_comment.py
  scripts/linear-comment.sh
Due: none

feat(convenience): add BOOT.sh and DONE.sh agent helper scripts
  BOOT.sh
  DONE.sh
Due: none

docs(agent-handoff): add ARCHITECTURE.md — final system documentation
  docs/agent-handoff/ARCHITECTURE.md
Due: prettier --write

fix(enforcement): move session check before TS early-exit, fix bash 3.2 color compat
  .husky/pre-commit
  docs/agent-handoff/recheck.txt
  scripts/start-task.sh
Due: none

chore: start task TER-1073 (Session: 20260419-2188db25)
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/TESTING_ROADMAP.md
  docs/sessions/active/Session-20260419-2188db25.md
  scripts/start-task.sh
Due: prettier --write

fix(harness): macOS sed -i compat, ensure roadmap files exist
  docs/agent-handoff/handoff.json
Due: prettier --write

fix(server): orders.getAll never 500s from corrupted items JSON - TER-1146
  server/ordersDb.getAllOrders.test.ts
  server/ordersDb.ts
  server/routers/orders.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(server): credit + referrals never 500 /orders/new on legacy schemas - TER-1147
  server/routers/credit.ts
  server/routers/referrals.ts
  server/routers/wave0-500-guards.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci(enforcement): add session-validation workflow + BOOT.sh/DONE.sh root helpers
  .github/workflows/session-validation.yml
  BOOT.sh
  DONE.sh
Due: none

fix(server): add eslint-disable for non-null assertion in test file
  server/ordersDb.getAllOrders.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(server): inventory profitability never 500 on empty/null data - TER-1148
  server/inventoryDb.ts
  server/routers/inventory.test.ts
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(server): featureFlags.getAuditHistory returns empty not 500 - TER-1156
  server/routers/featureFlags.test.ts
  server/routers/featureFlags.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(auth): enforce unauthenticated state on logout - TER-1149
  client/src/_core/hooks/useAuth.ts
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/Sidebar.tsx
  server/_core/context.ts
  server/_core/simpleAuth.ts
  server/routers/auth.ts
  tests-e2e/deep/auth-logout-enforcement.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(server): Wave 0 server 500s — TER-1146, TER-1147, TER-1148, TER-1156 (#589)
  server/inventoryDb.ts
  server/ordersDb.getAllOrders.test.ts
  server/ordersDb.ts
  server/routers/credit.ts
  server/routers/featureFlags.test.ts
  server/routers/featureFlags.ts
  server/routers/inventory.test.ts
  server/routers/inventory.ts
  server/routers/orders.test.ts
  server/routers/referrals.ts
  server/routers/wave0-500-guards.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(auth): enforce unauthenticated state on logout - TER-1149 (#591)
  client/src/_core/hooks/useAuth.ts
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/Sidebar.tsx
  server/_core/context.ts
  server/_core/simpleAuth.ts
  server/routers/auth.ts
  tests-e2e/deep/auth-logout-enforcement.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: resync 4 broken test files after 420-fork UI overhaul (#587)
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/spreadsheet-native/InventoryManagementSurface.test.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/pages/AccountingWorkspacePage.test.tsx
  server/routers/salesSheets.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(audit): expand UI+UX audit to master review with flow-by-flow + Tier A + 8-PR plan (#588)
  docs/audits/UI-UX-AUDIT-2026-04.md
Due: prettier --write

fix(ui): combobox type-ahead dropdown fails to open - TER-640
  client/src/components/ui/client-combobox.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): custom layout blank - add error boundary - TER-1151
  client/src/pages/OwnerCommandCenterDashboard.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): distinguish loading/empty/error widget states - TER-1150
  client/src/components/dashboard/widgets-v2/AvailableCashWidget.tsx
  client/src/components/dashboard/widgets-v2/CashCollectedLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/CashFlowWidget.tsx
  client/src/components/dashboard/widgets-v2/ClientDebtLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ClientProfitMarginLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/dashboard/widgets-v2/ProfitabilityWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesComparisonWidget.tsx
  client/src/components/dashboard/widgets-v2/TotalDebtWidget.tsx
  client/src/components/dashboard/widgets-v2/TransactionSnapshotWidget.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(comments): restore comment post and @ mention - TER-1153
  client/src/components/comments/MentionInput.tsx
  server/routers/comments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(routing): redirect /settings/display 404 - TER-1155
  client/src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(calendar): wire Create Event button - TER-1154
  client/src/components/calendar/EventFormDialog.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(header): settings/profile icons unresponsive on mobile - TER-1152
  client/src/components/layout/AppHeader.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(client): Wave 0 client bugs - TER-640/1150/1151/1152/1153/1154/1155 (#590)
  client/src/App.tsx
  client/src/components/calendar/EventFormDialog.tsx
  client/src/components/comments/MentionInput.tsx
  client/src/components/dashboard/widgets-v2/AvailableCashWidget.tsx
  client/src/components/dashboard/widgets-v2/CashCollectedLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/CashFlowWidget.tsx
  client/src/components/dashboard/widgets-v2/ClientDebtLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ClientProfitMarginLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/dashboard/widgets-v2/ProfitabilityWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesComparisonWidget.tsx
  client/src/components/dashboard/widgets-v2/TotalDebtWidget.tsx
  client/src/components/dashboard/widgets-v2/TransactionSnapshotWidget.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/client-combobox.tsx
  client/src/pages/OwnerCommandCenterDashboard.tsx
  server/routers/comments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
