Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

fix(media): close visibility, primary fallback, and seed image gaps
  scripts/seed/README.md
  scripts/seed/seed-main.ts
  scripts/seed/seeders/index.test.ts
  scripts/seed/seeders/index.ts
  scripts/seed/seeders/seed-product-images.ts
  server/routers/photography.ts
  server/routers/vipPortalLiveShopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): add Phase 1 stabilization utilities
  tests-e2e/utils/environment.ts
  tests-e2e/utils/preconditions.ts
  tests-e2e/utils/selectors.ts
  tests-e2e/utils/test-tags.ts
  tests-e2e/utils/wait-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: add version metadata and failure cluster reports
  client/public/version.json
  client/version.json
  qa-results/failure-clusters.json
  qa-results/failure-clusters.md
Due: prettier --write

docs: add E2E stabilization remediation plan
  PLAN.md
Due: prettier --write

test(e2e): eliminate non-intentional waitForTimeout calls (WP-2)
  tests-e2e/ENVIRONMENT_CONTRACT.md
  tests-e2e/mega/a11y/accessibility.spec.ts
  tests-e2e/mega/concurrency/concurrency.spec.ts
  tests-e2e/mega/journeys/journey-generator.spec.ts
  tests-e2e/mega/perf/performance.spec.ts
  tests-e2e/mega/resilience/resilience.spec.ts
  tests-e2e/mega/security/security.spec.ts
  tests-e2e/mega/visual/visual.spec.ts
  tests-e2e/utils/preconditions.ts
  tests-e2e/utils/selectors.ts
  tests-e2e/utils/test-tags.ts
  tests-e2e/utils/wait-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: eliminate .catch(() => false) anti-patterns from golden-flow specs (WP-1d)
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
  tests-e2e/golden-flows/invoice-to-payment.spec.ts
  tests-e2e/golden-flows/order-creation.spec.ts
  tests-e2e/golden-flows/order-to-invoice.spec.ts
  tests-e2e/golden-flows/pick-pack-fulfillment.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): eliminate .catch(() => false) anti-patterns from critical-path specs
  tests-e2e/critical-paths/order-fulfillment-workflow.spec.ts
  tests-e2e/critical-paths/returns-workflow.spec.ts
  tests-e2e/critical-paths/sales-client-management.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): eliminate .catch(() => false) and OR-assertions from mega specs
  tests-e2e/clients-crud.spec.ts
  tests-e2e/comprehensive-e2e-suite.spec.ts
  tests-e2e/critical-paths/client-credit-workflow.spec.ts
  tests-e2e/critical-paths/inventory-intake.spec.ts
  tests-e2e/critical-paths/pick-pack.spec.ts
  tests-e2e/critical-paths/sales-sheet-workflow.spec.ts
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
  tests-e2e/golden-flows/gf-002-procure-to-pay.spec.ts
  tests-e2e/golden-flows/gf-004-invoice-payment.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
  tests-e2e/golden-flows/gf-006-client-ledger-review.spec.ts
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
  tests-e2e/golden-flows/gf-008-sample-request.spec.ts
  tests-e2e/golden-flows/work-surface-keyboard.spec.ts
  tests-e2e/inventory-crud.spec.ts
  tests-e2e/mega/a11y/accessibility.spec.ts
  tests-e2e/mega/concurrency/concurrency.spec.ts
  tests-e2e/mega/journeys/journey-generator.spec.ts
  tests-e2e/mega/must-hit.spec.ts
  tests-e2e/mega/perf/performance.spec.ts
  tests-e2e/mega/resilience/resilience.spec.ts
  tests-e2e/mega/security/security.spec.ts
  tests-e2e/mega/sprint-features.spec.ts
  tests-e2e/mega/visual/visual.spec.ts
  tests-e2e/navigation-ui.spec.ts
  tests-e2e/orders-crud.spec.ts
  tests-e2e/rbac/accounting-flows.spec.ts
  tests-e2e/rbac/inventory-manager-flows.spec.ts
  tests-e2e/rbac/sales-rep-flows.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(dashboard): finalize owner command center card wiring and QA docs
  client/public/version.json
  client/src/components/dashboard/widgets-v2/AgingInventoryWidget.tsx
  client/src/components/dashboard/widgets-v2/AvailableCashWidget.tsx
  client/src/components/dashboard/widgets-v2/ClientDebtLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/dashboard/widgets-v2/MatchmakingOpportunitiesWidget.tsx
  client/src/components/dashboard/widgets-v2/TotalDebtWidget.tsx
  client/src/components/dashboard/widgets-v2/TransactionSnapshotWidget.tsx
  client/src/lib/constants/dashboardPresets.test.ts
  client/src/lib/constants/dashboardPresets.ts
  client/src/pages/DashboardV3.tsx
  client/version.json
  docs/meeting-analysis/2026-01-29/homepage-mockups/mockup-4-widget-reuse-owner-center.html
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/MEET_CUSTOMER_FEEDBACK_EXECUTION_SPEC_2026-02-10.md
  docs/roadmaps/MEET_WIDGET_REUSE_EXECUTION_PLAN_2026-02-10.md
  reports/interview-gap-report-2026-02-10.md
  reports/repo-snapshot-2026-02-10.md
  server/routers/dashboard.pagination.test.ts
  server/routers/dashboard.ts
  tests-e2e/workflows-dashboard.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: eliminate all .catch(() => false) and expect(x||y).toBeTruthy() anti-patterns from E2E tests
  tests-e2e/comprehensive-e2e-suite.spec.ts
  tests-e2e/critical-paths/leaderboard.spec.ts
  tests-e2e/rbac/inventory-manager-flows.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): eliminate .catch(() => false) and OR-assertions from RBAC + leaderboard specs
  tests-e2e/critical-paths/leaderboard.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: fix final 4 files with .catch(() => false) anti-patterns
  tests-e2e/critical-paths/accounting-quick-payment.spec.ts
  tests-e2e/critical-paths/calendar-events.spec.ts
  tests-e2e/critical-paths/locations-management.spec.ts
  tests-e2e/critical-paths/vip-admin-impersonation.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): rewrite report with grep-verified numbers, fix unused import
  qa-results/final-production-e2e-report.md
  tests-e2e/critical-paths/kpi-actionability.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(startup): honor AUTO_MIGRATE_MODE for migrations
  server/__tests__/autoMigrateFingerprint.test.ts
  server/_core/env.autoMigrateMode.test.ts
  server/_core/env.ts
  server/_core/index.ts
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(e2e): harden prod suite routing and failure reporting
  package.json
  playwright.config.ts
  qa-results/failure-clusters.json
  qa-results/failure-clusters.md
  scripts/e2e-failure-cluster.ts
  tests-e2e/ENVIRONMENT_CONTRACT.md
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
  tests-e2e/live-catalog-admin.spec.ts
  tests-e2e/live-catalog-client.spec.ts
  tests-e2e/mega/a11y/accessibility.spec.ts
  tests-e2e/mega/concurrency/concurrency.spec.ts
  tests-e2e/mega/journeys/journey-generator.spec.ts
  tests-e2e/mega/perf/performance.spec.ts
  tests-e2e/mega/resilience/resilience.spec.ts
  tests-e2e/mega/security/security.spec.ts
  tests-e2e/mega/visual/visual.spec.ts
  tests-e2e/oracles/auth-fixtures.ts
  tests-e2e/oracles/loader.ts
  tests-e2e/utils/preconditions.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): reconcile fingerprint canaries and RBAC drift tooling
  docs/deployment/CONTROLLED_SCHEMA_SEED_RECONCILIATION_PLAN.md
  package.json
  scripts/audit/schema-fingerprint-report.ts
  scripts/seed-rbac-reconcile.ts
  server/__tests__/autoMigrateFingerprint.test.ts
  server/_core/index.ts
  server/autoMigrate.ts
  server/services/rbacDefinitions.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): prevent pre-merge quality gate comment 404 failures
  .github/workflows/pre-merge.yml
Due: none

fix(ci): stabilize ts baseline output and split migration statements
  .github/workflows/typescript-check.yml
  drizzle/0044_add_admin_impersonation_tables.sql
Due: none

fix(migrations): align admin impersonation seed columns with rbac schema
  drizzle/0044_add_admin_impersonation_tables.sql
Due: none

fix(ci): gate schema validation on regression baseline
  .github/workflows/schema-validation.yml
Due: none

fix(ci): baseline-gate schema verification test debt
  .github/workflows/schema-validation.yml
Due: none

test(oracle): harden live runtime auth, selector resolution, and blocked-data handling
  playwright.config.ts
  testing/setup-e2e.ts
  tests-e2e/oracles/auth-fixtures.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/lib/validation.ts
  tests-e2e/oracles/oracle-runner.spec.ts
  tests-e2e/oracles/types.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): align schema verification baseline to current debt
  .github/workflows/schema-validation.yml
Due: none

fix(ci): harden preview deploy startup with preview app spec
  .do/app.preview.yaml
  .github/workflows/preview-deploy.yml
Due: none

test(oracle): broaden selector normalization for live UI drift
  tests-e2e/oracles/executor.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(dashboard): add owner command center behind feature flag
  client/src/App.tsx
  client/src/components/dashboard/owner/OwnerCashDecisionPanel.tsx
  client/src/components/dashboard/owner/OwnerDebtPositionWidget.tsx
  client/src/components/dashboard/owner/OwnerQuickCardsWidget.tsx
  client/src/components/dashboard/owner/OwnerVendorsNeedPaymentWidget.tsx
  client/src/components/dashboard/widgets-v2/AgingInventoryWidget.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/dashboard/widgets-v2/MatchmakingOpportunitiesWidget.tsx
  client/src/lib/constants/dashboardPresets.test.ts
  client/src/lib/constants/featureFlags.ts
  client/src/pages/DashboardHomePage.test.tsx
  client/src/pages/DashboardHomePage.tsx
  client/src/pages/OwnerCommandCenterDashboard.tsx
  docs/roadmaps/OWNER_DASHBOARD_FEATURE_FLAG_ROLLOUT_2026-02-11.md
  scripts/seed/seeders/seed-feature-flags.ts
  server/routers/dashboard.pagination.test.ts
  server/routers/dashboard.ts
  server/services/seedFeatureFlags.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): add resilient card data fallbacks
  client/src/components/dashboard/owner/OwnerVendorsNeedPaymentWidget.tsx
  server/routers/cashAudit.ts
  server/routers/dashboard.pagination.test.ts
  server/routers/dashboard.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(qa): handoff oracle and prod regression remediations
  tests-e2e/oracles/accounting/mark-invoice-sent.oracle.yaml
  tests-e2e/oracles/accounting/update-batch-cogs.oracle.yaml
  tests-e2e/oracles/accounting/update-invoice-status.oracle.yaml
  tests-e2e/oracles/accounting/void-invoice.oracle.yaml
  tests-e2e/oracles/auth-fixtures.ts
  tests-e2e/oracles/clients/create-client.oracle.yaml
  tests-e2e/oracles/clients/list-clients.oracle.yaml
  tests-e2e/oracles/crm/clients-archive.oracle.yaml
  tests-e2e/oracles/crm/clients-create.oracle.yaml
  tests-e2e/oracles/crm/clients-delete.oracle.yaml
  tests-e2e/oracles/crm/clients-update.oracle.yaml
  tests-e2e/oracles/crm/communications-add.oracle.yaml
  tests-e2e/oracles/crm/tags-add.oracle.yaml
  tests-e2e/oracles/crm/transactions-create.oracle.yaml
  tests-e2e/oracles/crm/transactions-record-payment.oracle.yaml
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/inventory/adjust-inventory.oracle.yaml
  tests-e2e/oracles/inventory/create-batch.oracle.yaml
  tests-e2e/oracles/inventory/list-batches.oracle.yaml
  tests-e2e/oracles/inventory/record-movement.oracle.yaml
  tests-e2e/oracles/inventory/update-batch.oracle.yaml
  tests-e2e/oracles/inventory/update-status.oracle.yaml
  tests-e2e/oracles/lib/domain-validators.ts
  tests-e2e/oracles/orders/confirm-draft-order.oracle.yaml
  tests-e2e/oracles/orders/confirm-order.oracle.yaml
  tests-e2e/oracles/orders/create-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/create-order.oracle.yaml
  tests-e2e/oracles/orders/finalize-draft.oracle.yaml
  tests-e2e/oracles/orders/fulfill-order.oracle.yaml
  tests-e2e/oracles/orders/update-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/update-order-status.oracle.yaml
  tests-e2e/prod-regression/core-regression.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(media): harden batch visibility/primary semantics and seed workflow docs
  package.json
  scripts/seed/README.md
  server/routers/photography.media-behavior.test.ts
  server/routers/photography.ts
  server/services/liveCatalogService.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: QA remediations for TER-182, TER-183, TER-184 integration
  server/_core/dbErrors.test.ts
  server/_core/dbErrors.ts
  server/routers/cashAudit.ts
  server/routers/dashboard.ts
  server/routers/photography.ts
  tests-e2e/oracles/crm/communications-add.oracle.yaml
  tests-e2e/oracles/executor.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update build version artifacts
  client/public/version.json
  client/version.json
Due: prettier --write

docs: add master analysis of 2026-02-11 customer interview
  docs/meeting-analysis/2026-02-11_customer_interview_analysis.md
Due: prettier --write

docs: update customer interview analysis V2 - comprehensive detail extraction
  docs/meeting-analysis/2026-02-11_customer_interview_analysis.md
Due: prettier --write

chore(qa): checkpoint oracle remediation and linear handoff
  docs/LINEAR_ROADMAP_SYNC.md
  tests-e2e/oracles/accounting/check-overdue-invoices.oracle.yaml
  tests-e2e/oracles/accounting/mark-invoice-sent.oracle.yaml
  tests-e2e/oracles/accounting/update-batch-cogs.oracle.yaml
  tests-e2e/oracles/accounting/update-invoice-status.oracle.yaml
  tests-e2e/oracles/accounting/void-invoice.oracle.yaml
  tests-e2e/oracles/auth-fixtures.ts
  tests-e2e/oracles/crm/clients-archive.oracle.yaml
  tests-e2e/oracles/crm/clients-delete.oracle.yaml
  tests-e2e/oracles/crm/clients-update.oracle.yaml
  tests-e2e/oracles/crm/communications-add.oracle.yaml
  tests-e2e/oracles/crm/tags-add.oracle.yaml
  tests-e2e/oracles/crm/transactions-create.oracle.yaml
  tests-e2e/oracles/crm/transactions-record-payment.oracle.yaml
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/inventory/adjust-inventory.oracle.yaml
  tests-e2e/oracles/inventory/create-batch.oracle.yaml
  tests-e2e/oracles/inventory/record-movement.oracle.yaml
  tests-e2e/oracles/inventory/update-batch.oracle.yaml
  tests-e2e/oracles/inventory/update-status.oracle.yaml
  tests-e2e/oracles/orders/confirm-draft-order.oracle.yaml
  tests-e2e/oracles/orders/confirm-order.oracle.yaml
  tests-e2e/oracles/orders/create-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/create-order.oracle.yaml
  tests-e2e/oracles/orders/finalize-draft.oracle.yaml
  tests-e2e/oracles/orders/fulfill-order.oracle.yaml
  tests-e2e/oracles/orders/update-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/update-order-status.oracle.yaml
  tests/contracts/oracle-metadata-contract.test.ts
  tests/unit/server/oracles/auth-fixtures.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(phase-1a): broken controls sweep for sales + inventory core flows
  .claude/commands/coding-prompt-forge.md
  .claude/references/prompt-template.md
  client/src/components/orders/OrderAdjustmentPanel.tsx
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/pages/OrderCreatorPage.tsx
  tests-e2e/critical-paths/sales-sheet-workflow.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): change admin fallback to opt-in for role-specific tests
  tests-e2e/fixtures/auth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: eliminate soft assertions and conditional skips in critical tests (TER-190)
  tests-e2e/critical-paths/inventory-intake.spec.ts
  tests-e2e/critical-paths/sales-sheet-workflow.spec.ts
  tests-e2e/orders-crud.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(phase-1b): test infrastructure hardening (TER-191..194)
  .github/workflows/merge.yml
  .github/workflows/pre-merge.yml
  docs/roadmaps/TEST_COVERAGE_MAP.md
  scripts/generate-coverage-map.sh
  tests-e2e/critical-paths/control-action-contracts.spec.ts
  tests-e2e/utils/control-action-contracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(qa): complete TER-182, TER-178, TER-231 oracle hardening wave 2
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  docs/LINEAR_ROADMAP_SYNC.md
  tests-e2e/oracles/executor.ts
  tests/contracts/oracle-metadata-contract.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
