Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

Fix BUG-007: Replace window.confirm in ShareListModal and WorkflowSettings
  client/src/components/todos/ShareListModal.tsx
  client/src/components/workflow/WorkflowSettings.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Complete WorkflowSettings AlertDialog
  client/src/components/workflow/WorkflowSettings.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Resolve merge conflict in Dockerfile.bot and fix duplicate comment
  Dockerfile.bot
Due: none

Fix BUG-007: Replace window.confirm in VIP Portal components
  client/src/components/vip-portal/LiveCatalogConfig.tsx
  client/src/components/vip-portal/MarketplaceNeeds.tsx
  client/src/components/vip-portal/MarketplaceSupply.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Add AlertDialog components to VIP Portal files
  client/src/components/vip-portal/LiveCatalogConfig.tsx
  client/src/components/vip-portal/MarketplaceSupply.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Fix duplicate comment number in Dockerfile.bot
  Dockerfile.bot
Due: none

Fix BUG-007: Replace window.confirm in RBAC components
  client/src/components/settings/rbac/PermissionAssignment.tsx
  client/src/components/settings/rbac/RoleManagement.tsx
  client/src/components/settings/rbac/UserRoleManagement.tsx
  client/src/components/vip-portal/MarketplaceNeeds.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix BUG-007: Complete all remaining window.confirm replacements
  client/src/components/settings/rbac/PermissionAssignment.tsx
  client/src/components/settings/rbac/RoleManagement.tsx
  client/src/pages/Settings.tsx
  client/src/pages/TodoListDetailPage.tsx
  client/src/pages/TodoListsPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete BUG-007: Update roadmap and create completion report
  docs/completion-reports/BUG-007-COMPLETION-REPORT.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251124-BUG-007-78a29f8b.md
Due: prettier --write

Add BUG-007 deployment verification report
  docs/DEPLOYMENT_VERIFICATION_BUG-007.md
Due: prettier --write

Create missing workflow verification prompts (WF-002, WF-003, WF-004)
  docs/prompts/WF-002.md
  docs/prompts/WF-003.md
  docs/prompts/WF-004.md
Due: prettier --write

Register session for BUG-010
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251124-BUG-010-e7378438.md
Due: prettier --write

Fix BUG-010: Implement global search functionality
  client/src/App.tsx
  client/src/pages/SearchResultsPage.tsx
  server/routers.ts
  server/routers/search.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete BUG-010: Update roadmap status
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Archive BUG-010 session
  docs/sessions/completed/Session-20251124-BUG-010-e7378438.md
Due: prettier --write

Update ACTIVE_SESSIONS: BUG-010 complete
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

fix: Revolutionary approach - clone repo at runtime instead of build-time
  Dockerfile.bot
Due: none

fix: Refine runtime clone - ensure proper directory structure
  Dockerfile.bot
Due: none

Complete WF-001: End-to-End Order Creation Workflow Verification
  client/src/components/UserManagement.tsx
  client/src/components/VendorNotesDialog.tsx
  client/src/components/comments/CommentItem.tsx
  client/src/components/dashboard/v3/CustomizationPanel.tsx
  client/src/components/inbox/InboxItem.tsx
  client/src/components/inventory/SavedViewsDropdown.tsx
  client/src/components/orders/OrderPreview.tsx
  client/src/components/settings/rbac/PermissionAssignment.tsx
  client/src/components/settings/rbac/RoleManagement.tsx
  client/src/components/settings/rbac/UserRoleManagement.tsx
  client/src/components/todos/ShareListModal.tsx
  client/src/components/vip-portal/LiveCatalog.tsx
  client/src/components/vip-portal/LiveCatalogConfig.tsx
  client/src/components/vip-portal/MarketplaceNeeds.tsx
  client/src/components/vip-portal/MarketplaceSupply.tsx
  client/src/components/workflow/WorkflowSettings.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/Quotes.tsx
  client/src/pages/Settings.tsx
  client/src/pages/TodoListDetailPage.tsx
  client/src/pages/TodoListsPage.tsx
  client/src/pages/VendorsPage.tsx
  docs/ACTIVE_SESSIONS.md
  docs/BUG-007-PROGRESS.md
  docs/DEPLOYMENT_VERIFICATION_BUG-007.md
  docs/WF-001-VERIFICATION-REPORT.md
  docs/completion-reports/BUG-007-COMPLETION-REPORT.md
  docs/prompts/WF-002.md
  docs/prompts/WF-003.md
  docs/prompts/WF-004.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251124-WF-001-$(openssl rand -hex 4).md
  docs/sessions/active/Session-20251124-WF-001-802a87a4.md
  docs/sessions/active/Session-20251124-WF-001-a1b2c3d4.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete WF-002: End-to-End Inventory Intake Workflow Verification
  docs/WF-002-VERIFICATION-REPORT.md
  docs/sessions/active/Session-20251124-WF-002-e5f6g7h8.md
Due: prettier --write

Complete WF-003: End-to-End Returns Workflow Verification
  docs/WF-003-VERIFICATION-REPORT.md
  docs/sessions/completed/Session-20251124-WF-001-a1b2c3d4.md
  docs/sessions/completed/Session-20251124-WF-002-e5f6g7h8.md
Due: prettier --write
