Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update build status [skip ci]
  .github/BUILD_STATUS.md
Due: prettier --write

fix: Enable public dashboard access with clean context provisioning
  server/_core/context.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Disable build status pushes to prevent unwanted deployments
  .github/workflows/merge.yml
Due: none

fix: Push build status to separate branch to prevent deployment triggers
  .github/workflows/merge.yml
Due: none

docs: Update build status protocol - now on separate branch
  docs/BUILD_STATUS_BRANCH_PROTOCOL.md
  docs/DEVELOPMENT_PROTOCOLS.md
Due: prettier --write

fix: Force Docker rebuild with LABEL version tag
  Dockerfile
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add newly discovered security vulnerabilities and bugs from codebase audit
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: JWT_SECRET fallback to NEXTAUTH_SECRET + non-fatal seeding
  Dockerfile
  server/_core/env.ts
  server/_core/envValidator.test.ts
  server/_core/envValidator.ts
  server/_core/index.ts
  server/services/seedDefaults.ts
  server/services/seedRBAC.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add 35 bugs from 10-persona workflow simulation audit
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

perf: Improve code splitting to reduce chunk sizes
  vite.config.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Register session for FEATURE-002
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20250127-FEATURE-002-d68fd74b.md
Due: prettier --write

FEATURE-002: Update header background color and fix tests
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
  docs/roadmaps/MASTER_ROADMAP.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete FEATURE-002: Change header color
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20250127-FEATURE-002-d68fd74b.md
Due: prettier --write

Update ACTIVE_SESSIONS: FEATURE-002 complete
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

BUG-002: Ensure AppSidebar is not rendered for dashboard routes
  client/src/components/layout/AppShell.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete BUG-002: Fix duplicate navigation bar
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Refactor dashboard helpers and fix bugs
  .husky/pre-commit-qa-check.sh
  .husky/qa-config.sh
  client/public/version.json
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20250127-BUG-002-501a6334.md
  server/dashboardHelpers.ts
  server/routers/dashboard.ts
  tests/setup.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete BUG-M004: Add session file
  docs/sessions/completed/Session-20250127-BUG-M004-d0feee19.md
Due: prettier --write

Update BUG-M004 with commit hash
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Fix roadmap validation: standardize formats and add BUG-017
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
