Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Sub-Phase 0.4: API Routers Scaffolding (50% complete)
  product-management/initiatives/registry.json
  server/routers/calendar.ts
  server/routers/calendarFinancials.ts
  server/routers/calendarMeetings.ts
  server/routers/calendarParticipants.ts
  server/routers/calendarRecurrence.ts
  server/routers/calendarReminders.ts
  server/routers/calendarViews.ts
Due: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Sub-Phase 0.5: Background Jobs (60% complete)
  product-management/initiatives/registry.json
  server/_core/calendarJobs.ts
Due: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Router Registration (65% complete)
  product-management/initiatives/registry.json
  server/routers.ts
Due: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Complete Router Implementations (70% complete)
  product-management/initiatives/registry.json
  server/routers/calendar.ts
  server/routers/calendarFinancials.ts
  server/routers/calendarMeetings.ts
  server/routers/calendarParticipants.ts
  server/routers/calendarRecurrence.ts
  server/routers/calendarReminders.ts
  server/routers/calendarViews.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Update TERP-INIT-003 to 70% and TERP-INIT-004 to 100% (ready-to-deploy)
  product-management/initiatives/TERP-INIT-003/manifest.json
  product-management/initiatives/TERP-INIT-004/manifest.json
  product-management/initiatives/registry.json
  product-management/pm-evaluation/dashboard.json
Due: prettier --write

[FIX] Remove package-lock.json to resolve deployment conflict
  package-lock.json
Due: prettier --write

[TERP-INIT-003] Core Calendar UI Components (75% complete)
  client/src/components/calendar/AgendaView.tsx
  client/src/components/calendar/CalendarFilters.tsx
  client/src/components/calendar/DayView.tsx
  client/src/components/calendar/EventFormDialog.tsx
  client/src/components/calendar/MonthView.tsx
  client/src/components/calendar/WeekView.tsx
  client/src/pages/CalendarPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Calendar Integration (85% complete)
  client/src/App.tsx
  client/src/components/layout/AppSidebar.tsx
  product-management/initiatives/registry.json
Due: eslint --fix --max-warnings=0, prettier --write

[TERP-INIT-003] Calendar Module Complete - Documentation & Final QA (100%)
  docs/CHANGELOG.md
  docs/calendar/CALENDAR_MODULE_README.md
  docs/calendar/MIGRATION_GUIDE.md
  product-management/initiatives/registry.json
  product-management/pm-evaluation/file-locks.json
Due: prettier --write

docs: Add dashboard deployment guide and helper script
  product-management/DASHBOARD_DEPLOYMENT.md
  product-management/_system/scripts/deploy-dashboard.sh
Due: prettier --write

feat: Add standalone roadmap dashboard
  product-management/pm-evaluation/roadmap-dashboard.html
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
