Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: trigger deployment for WS-010A QA verification
  docs/reports/PARALLEL_WAVE_EXECUTION_2026-02-02.md
Due: prettier --write

docs(qa): add INV-FILTER-WAVE QA verification report [skip ci]
  docs/qa-reports/INV-FILTER-WAVE_NETWORK_EVIDENCE_2026-02-02.md
  docs/qa-reports/INV-FILTER-WAVE_QA_REPORT_2026-02-02.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

HOTFIX: Add ownership_type column to batches table
  scripts/apply-all-missing-migrations.ts
  scripts/hotfix-add-ownership-type.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

HOTFIX: Add comprehensive migration scripts for schema sync
  scripts/apply-critical-migrations.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: update agent protocols to reflect terp-pm and terp-qa skills
  CLAUDE.md
  docs/CLAUDE_WORKFLOW.md
Due: prettier --write

docs: remove codex requirements from agent protocol
  CLAUDE.md
Due: prettier --write

fix(tests): Make tests date-agnostic and fix party model migration
  server/inventoryDb.test.ts
  server/routers/vipPortal.appointments.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Update roadmaps with Phase 3.5 progress
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/PR366_INTEGRATION_TASKS.md
Due: prettier --write

DEBUG: Add console.info logging to InventoryWorkSurface
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): Wire InventoryWorkSurface directly, remove broken WorkSurfaceGate
  client/src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: add Phase 6 Legacy UI Deprecation tasks (DEPRECATE-UI-001 to DEPRECATE-UI-011)
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

fix(lint): GF-007-LINT-P1-001 - Replace any types in inventory modules
  client/src/components/inventory/CogsEditModal.tsx
  client/src/components/inventory/SaveViewModal.tsx
  client/src/components/inventory/SavedViewsDropdown.tsx
  scripts/codex_caller.py
  scripts/task_gf007_lint.json
  scripts/task_gf007_lint_output.txt
  server/productRecommendations.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(lint): GF-CORE-REACT-P1-001 - Fix array-index-key in DataTable
  client/src/components/ui/DataTable.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Update roadmap - Phase 3.5 P1 tasks in progress (PR #378)
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

feat(ui): remove WorkSurfaceGate wrappers and unused imports (DEPRECATE-UI-001 to DEPRECATE-UI-008)
  client/public/version.json
  client/src/App.tsx
  client/version.json
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: claim WAVE-2026-02-02-A (DEPRECATE-UI-001 to DEPRECATE-UI-008)
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs: Phase 3.5 COMPLETE - All P0/P1 tasks done (PR #375, #378)
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

debug: Add logging to InventoryWorkSurface data flow
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ci): add automatic PR preview deployments
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-deploy.yml
  docs/PREVIEW_DEPLOYMENTS.md
Due: prettier --write

feat(ci): add automatic PR preview deployments (#381)
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-deploy.yml
  docs/PREVIEW_DEPLOYMENTS.md
Due: prettier --write

fix(inventory): Allow cursor:0 for first page pagination
  server/_core/validation.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: Clear stale sessions - unblock Phase 4 agents
  docs/ACTIVE_SESSIONS.md
  docs/sessions/archived/Session-20260123-ROADMAP-INGEST-dfb370.md
  docs/sessions/archived/Session-20260130-TASK-ID-425fd9.md
  docs/sessions/archived/Session-20260130-TASK-ID-757025.md
  docs/sessions/archived/Session-20260130-TASK-ID-a20d2e.md
Due: prettier --write

fix(ci): fix YAML syntax error in preview-deploy workflow
  .github/workflows/preview-deploy.yml
Due: none

fix(ci): fix YAML syntax in preview-deploy workflow
  .github/workflows/preview-deploy.yml
Due: none

docs: Update roadmaps with 2026-02-03 inventory fixes
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/PR366_INTEGRATION_TASKS.md
Due: prettier --write

fix(deploy): remove augment-data job from app spec
  .do/app.yaml
Due: none

feat(ui): complete legacy UI deprecation (DEPRECATE-UI-009 to DEPRECATE-UI-011)
  client/src/App.tsx
  client/src/hooks/work-surface/useWorkSurfaceFeatureFlags.ts
  client/src/pages/ClientLedger.tsx
  client/src/pages/ClientsListPage.tsx
  client/src/pages/Orders.tsx
  client/src/pages/PickPackPage.tsx
  client/src/pages/PurchaseOrdersPage.tsx
  client/src/pages/Quotes.tsx
  client/src/pages/SpreadsheetViewPage.tsx
  client/src/pages/accounting/Invoices.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): refactor roadmap to reflect 2026-02-03 realities
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/REFACTORED_ROADMAP_SUMMARY_2026-02-03.md
Due: prettier --write

test(e2e): align golden flow fixtures with type rules
  .github/workflows/golden-flows.yml
  docs/ACTIVE_SESSIONS.md
  docs/prompts/BUG-110.md
  docs/prompts/BUG-111.md
  docs/prompts/BUG-112.md
  docs/prompts/BUG-113.md
  docs/prompts/BUG-114.md
  docs/prompts/BUG-115.md
  docs/prompts/BUG-116.md
  docs/prompts/BUG-123.md
  docs/prompts/BUG-124.md
  docs/prompts/DATA-026.md
  docs/prompts/DATA-027.md
  docs/roadmaps/GF-PHASE4-002-execution-plan.md
  docs/roadmaps/GF-PHASE4-003-execution-plan.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20260203-QA-FIX-49ca77.md
  docs/sessions/active/Session-20260203-WAVE-2026-02-03-PHASE4-de061c.md
  tests-e2e/fixtures/auth.ts
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
  tests-e2e/golden-flows/gf-002-procure-to-pay.spec.ts
  tests-e2e/golden-flows/gf-003-order-to-cash.spec.ts
  tests-e2e/golden-flows/gf-004-invoice-payment.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
  tests-e2e/golden-flows/gf-006-client-ledger-review.spec.ts
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
  tests-e2e/golden-flows/gf-008-sample-request.spec.ts
  tests-e2e/golden-flows/index.ts
  tests-e2e/utils/golden-flow-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(audit): add validation/data flow audit report
  docs/audits/VALIDATION_DATAFLOW_AUDIT_2026-02-03.md
  docs/sessions/completed/Session-20260203-ADHOC-AUDIT-959a98.md
Due: prettier --write

docs(roadmap): update Phase 4 status after PR #383 merge
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

feat(ui): Complete legacy UI deprecation (DEPRECATE-UI-009 to 011) (#380)
  client/src/App.tsx
  client/src/hooks/work-surface/useWorkSurfaceFeatureFlags.ts
  client/src/pages/ClientLedger.tsx
  client/src/pages/ClientsListPage.tsx
  client/src/pages/Orders.tsx
  client/src/pages/PickPackPage.tsx
  client/src/pages/PurchaseOrdersPage.tsx
  client/src/pages/Quotes.tsx
  client/src/pages/SpreadsheetViewPage.tsx
  client/src/pages/accounting/Invoices.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: mark DEPRECATE-UI-009 to 011 as complete
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

fix(auth): fix cookie name mismatch and remove QA auth layer
  client/src/components/qa/QaRoleSwitcher.tsx
  client/src/pages/Login.tsx
  docs/auth/QA_AUTH.md
  server/_core/index.ts
  server/_core/qaAuth.ts
  shared/const.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci(github): update pnpm version to 10.4.1 in CI workflow
  .github/workflows/merge.yml
  AGENTS.md
  docs/api/authentication.md
  docs/prompts/INFRA-CICD-FIX.md
Due: prettier --write

docs(qa): add QA reports for INFRA-CICD-FIX and GOLDEN-FLOWS
  client/public/version.json
  client/version.json
  docs/qa-reports/INFRA-CICD-FIX-QA-REPORT.md
  docs/qa-reports/QA-GOLDEN-FLOWS-REPORT.md
Due: prettier --write

fix(ui): replace window.confirm with AlertDialog components (BUG-007)
  client/src/components/clients/ClientWantsSection.tsx
  client/src/components/inventory/OfficeSupplyManager.tsx
  client/src/components/sales/QuickViewSelector.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): add BUG-007 QA report
  docs/qa-reports/BUG-007-QA-REPORT.md
Due: prettier --write

roadmap: update Phase 4 and Phase 6 status to COMPLETE (Feb 3)
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
