Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

Add infrastructure prompts and parallel execution guide
  PARALLEL_EXECUTION_WITH_DATA001.md
  docs/prompts/INFRA-001.md
  docs/prompts/INFRA-002.md
Due: prettier --write

Register session for DATA-001
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251114-DATA-001-e078f30a.md
Due: prettier --write

Register session for INFRA-001
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251114-INFRA-001-597889bf.md
Due: prettier --write

Remove obsolete PR-based GitHub workflows
  .github/workflows/pr-auto-fix.yml
  .github/workflows/pr.yml
  .github/workflows/roadmap-validation.yml
Due: none

Register session for QA-016
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251114-QA-016-5a466e7f.md
Due: prettier --write

Register session for QA-015: Session-20251114-QA-015-cb3ac5d3
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251114-QA-015-cb3ac5d3.md
Due: prettier --write

Complete INFRA-002: Add session cleanup validation
  .husky/pre-commit
  docs/SESSION_CLEANUP_VALIDATION.md
  docs/sessions/abandoned/Session-20251114-QA-015-003de90c.md
  docs/sessions/completed/Session-20251114-INFRA-002-4d94ff09.md
  package.json
  pnpm-lock.yaml
  scripts/validate-session-cleanup.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Register session: QA-033 - Fix Custom Layout Blank Dashboard
  docs/sessions/active/Session-20251114-QA-033-46dfba44.md
Due: prettier --write

Add INFRA-001 and INFRA-002 to roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

chore: resolve duplicate session conflict
  docs/ACTIVE_SESSIONS.md
Due: prettier --write

feat(data-001): create operational flow diagrams
  docs/DATA-001-OPERATIONAL-FLOWS.md
  docs/client-relationship.mmd
  docs/events-calendar.mmd
  docs/img/data-001-flow-client-relationship.png
  docs/img/data-001-flow-events-calendar.png
  docs/img/data-001-flow-inventory-workflow.png
  docs/img/data-001-flow-order-to-cash.png
  docs/img/data-001-flow-procure-to-pay.png
  docs/inventory-workflow.mmd
  docs/order-to-cash.mmd
  docs/procure-to-pay.mmd
Due: prettier --write

feat(data-001): create operational flow diagrams
  docs/sessions/completed/Session-20251114-QA-015-cb3ac5d3.md
Due: prettier --write

Complete INFRA-001: Remove obsolete workflows
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251114-INFRA-001-597889bf.md
  docs/sessions/completed/Session-20251114-INFRA-001-597889bf.md
Due: prettier --write

docs: Add INFRA-001 completion report
  docs/INFRA-001-COMPLETION-REPORT.md
Due: prettier --write

feat(data-001): create generator architecture for operational coherence
  scripts/generators/inventory-tracker.ts
  scripts/generators/transaction-context.ts
  scripts/generators/validators.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

QA-016: Fix Add Supply button 404 error
  client/src/pages/MatchmakingServicePage.test.tsx
  client/src/pages/MatchmakingServicePage.tsx
  client/src/pages/WorkflowQueuePage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete QA-016: Fix Matchmaking - Add Supply Button 404
  docs/ACTIVE_SESSIONS.md
  docs/QA-016-COMPLETION-REPORT.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251114-QA-016-5a466e7f.md
Due: prettier --write

Fix QA-033: Preserve widgets when switching to Custom layout
  client/src/contexts/DashboardPreferencesContext.test.tsx
  client/src/contexts/DashboardPreferencesContext.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete QA-033: Update roadmap and archive session
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251114-QA-033-46dfba44-COMPLETION.md
  docs/sessions/completed/Session-20251114-QA-033-46dfba44.md
Due: prettier --write

QA-015: Add completion report
  docs/QA-015-COMPLETION-REPORT.md
Due: prettier --write
