Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

fix: Use static import for seed function to fix production 500 error
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add PERF-003 Implementation Guide and Performance Sprint Summary
  docs/PERF-003-ENDPOINT-AUDIT.json
  docs/PERF-003-IMPLEMENTATION-GUIDE.md
  docs/PERFORMANCE-SPRINT-SUMMARY.md
  scripts/audit-endpoints-pagination.py
Due: prettier --write

fix: Use static import for seed function to fix production 500 error (#62)
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add Standards Remediation Project with 48 atomic tasks
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Add comprehensive integration audit report
  docs/INTEGRATION-AUDIT-REPORT.md
Due: prettier --write

fix: Add dashboard:read permission and fix public user permission check
  AI_AGENT_HANDOFF_DEPLOYMENT_ISSUE.md
  scripts/check-backup-status.sh
  scripts/setup-backup-cron.sh
  scripts/swarm-status-monitor.ts
  server/_core/permissionMiddleware.ts
  server/services/rbacDefinitions.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(seeding): Fetch actual order IDs before generating returns
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

debug: Add logging to understand public user permission check failure
  server/_core/index.ts
  server/_core/permissionMiddleware.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Add missing Vite environment variables to fix frontend build (BUG-002)
  .do/app.yaml
  Dockerfile
Due: none

fix: Add error handling to deploy-watchdog workflow
  .github/workflows/deploy-watchdog.yml
Due: none

docs: Add DigitalOcean API token management protocol
  docs/CLAUDE_WORKFLOW.md
  docs/DIGITALOCEAN_API_TOKEN_ISSUE.md
Due: prettier --write

docs: consolidate AI agent protocols into unified Kiro steering files
  .kiro/steering/00-core-identity.md
  .kiro/steering/01-development-standards.md
  .kiro/steering/02-workflows.md
  .kiro/steering/03-agent-coordination.md
  .kiro/steering/04-infrastructure.md
  .kiro/steering/README.md
  .kiro/steering/terp-master-protocol.md
  PROTOCOL_CONSOLIDATION_SUMMARY.md
Due: prettier --write

feat: add auto deploy monitor & self-heal system
  .github/workflows/auto-deploy-monitor.yml
  .husky/post-push
  .kiro/hooks/auto-deploy-monitor.json
  .kiro/steering/04-infrastructure.md
  BETA-READINESS-ACTION-PLAN.md
  docs/AUTO_DEPLOY_HEAL_GUIDE.md
  docs/initiatives/BETA-READINESS-2025.md
  docs/prompts/AUDIT-001-feature-completeness.md
  scripts/auto-deploy-heal.sh
  scripts/beta-readiness-start.sh
  scripts/dashboard.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: add auto-updating visual dashboard system
  .github/workflows/deploy-dashboard-pages.yml
  .github/workflows/update-dashboard.yml
  .husky/post-push
  .husky/pre-commit
  .kiro/hooks/validate-compliance.md
  .kiro/steering/99-pre-commit-checklist.md
  DASHBOARD-AUTO-UPDATE.md
  DASHBOARD-GUIDE.md
  dashboard.html
  package-lock.json
  package.json
  scripts/dashboard.ts
  scripts/generate-html-dashboard.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: create comprehensive code review framework for Kiro
  .github/workflows/mobile-issue-commands.yml
  .kiro/steering/05-external-agent-handoff.md
  .kiro/steering/README.md
  EXTERNAL_AGENT_CHEAT_SHEET.md
  EXTERNAL_AGENT_COMPLETION_CHECKLIST.txt
  EXTERNAL_AGENT_MINIMAL_PROMPT.txt
  EXTERNAL_AGENT_PROMPT.md
  EXTERNAL_AGENT_QUICK_START.md
  EXTERNAL_AGENT_README.md
  MOBILE-AI-ASSISTANT-QUICK-START.md
  docs/MOBILE-WORKFLOW-GUIDE.md
  docs/SLACK-AI-BOT-SETUP.md
  docs/reviews/CODE_REVIEW_CHECKLIST.md
  docs/reviews/KIRO_REVIEW_WORKFLOW.md
  docs/reviews/SYSTEM_ARCHITECTURE_REVIEW.md
  docs/roadmaps/MASTER_ROADMAP.md
  package.json
  scripts/comprehensive-code-review.ts
  scripts/external-agent-onboard.sh
  scripts/slack-bot-ai.ts
  scripts/slack-bot-mobile.ts
  scripts/validate-external-agent-work.sh
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: complete Phase 1 code review - discovery and system mapping
  docs/reviews/COMPONENT_INVENTORY.md
  docs/reviews/FILE_ANALYSIS.md
  docs/reviews/PHASE_1_DISCOVERY_REPORT.md
  docs/reviews/REVIEW_SUMMARY.md
Due: prettier --write

docs: complete Phase 2 code review - architecture deep dive
  docs/reviews/PHASE_2_ARCHITECTURE_REPORT.md
Due: prettier --write

docs: complete Phase 3 code review - code quality analysis
  docs/reviews/PHASE_3_CODE_QUALITY_REPORT.md
Due: prettier --write

docs: complete Phase 4 code review - security & performance deep dive
  docs/reviews/PHASE_4_SECURITY_PERFORMANCE_REPORT.md
Due: prettier --write

docs: complete comprehensive code review - final executive summary
  docs/reviews/COMPREHENSIVE_CODE_REVIEW_SUMMARY.md
Due: prettier --write

docs: create CODE-QUALITY-IMPROVEMENT-2025 initiative from code review
  DO_ENV_FIX_SUMMARY.md
  DO_ENV_VARS_AUDIT.md
  docs/initiatives/CODE-QUALITY-IMPROVEMENT-2025.md
  scripts/fix-do-env-vars.sh
Due: prettier --write
