Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": ["prettier --write"],
  "server/**/*.test.ts": ["vitest related --run"]
}

fix(QA-034): fix widget visibility disappearing when Custom layout selected
  client/src/contexts/DashboardPreferencesContext.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(INFRA-005): Remove deprecated husky lines from git hooks
  .husky/post-push
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: Remove /orders-debug route and debug page
  client/src/App.tsx
  client/src/pages/OrdersDebug.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: complete infrastructure sprint session - all 8 tasks done
  docs/sessions/active/Session-20251217-INFRA-SPRINT-84d2b1.md
Due: prettier --write

docs(QA-028): confirm old sidebar navigation fix - AppShell correctly hides sidebar on dashboard routes
  client/src/components/layout/AppShell.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(IMPROVE-001): Enhance backup script security
  scripts/backup-database.sh
Due: none

fix(BUG-026): Fix Pino logger API signature errors
  server/auditLogger.ts
  server/autoMigrate.ts
  server/dashboardHelpers.ts
  server/dbTransaction.ts
  server/import_openthc_strains.ts
  server/inventoryIntakeService.ts
  server/matchingEngineReverseSimplified.ts
  server/needsMatchingService.ts
  server/orderEnhancements.ts
  server/paymentMethodsDb.ts
  server/productIntakeDb.ts
  server/productRecommendations.ts
  server/salesSheetsDb.ts
  server/seedStrains.ts
  server/sequenceDb.ts
  server/strainMatcher.ts
  server/transactionHooks.ts
  server/transactionsDb.ts
  server/vendorSupplyDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(INFRA-006): Enhance conflict resolution script
  scripts/auto-resolve-conflicts.sh
Due: none

roadmap: mark 8 tasks complete from infrastructure sprint
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251217-INFRA-SPRINT-84d2b1.md
Due: prettier --write

roadmap: add QA-054 through QA-065 - Complete Gap Analysis Coverage
  docs/prompts/QA-054.md
  docs/prompts/QA-055.md
  docs/prompts/QA-056.md
  docs/prompts/QA-057.md
  docs/prompts/QA-058.md
  docs/prompts/QA-059.md
  docs/prompts/QA-060.md
  docs/prompts/QA-061.md
  docs/prompts/QA-062.md
  docs/prompts/QA-063.md
  docs/prompts/QA-064.md
  docs/prompts/QA-065.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: add P0 Critical Gap Remediation Execution Plan
  docs/P0_EXECUTION_PLAN.md
Due: prettier --write

feat(QA-053): retrofit core workflows with useAppMutation and FormSubmitButton
  client/src/components/clients/AddClientWizard.tsx
  client/src/components/inventory/PurchaseModal.tsx
  client/src/pages/PurchaseOrdersPage.tsx
  client/src/pages/Quotes.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(QA-052): implement system settings backend and frontend
  client/src/pages/Settings.tsx
  drizzle/schema.ts
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(QA-051): implement comprehensive analytics & reporting backend and frontend
  client/src/pages/AnalyticsPage.tsx
  server/routers/analytics.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: mark P0 sprint complete - all 3 tasks finished
  docs/P0_EXECUTION_PLAN.md
Due: prettier --write

fix: address Red Hat QA audit findings for P0 sprint
  client/src/components/inventory/PurchaseModal.tsx
  client/src/pages/AnalyticsPage.tsx
  client/src/pages/PurchaseOrdersPage.tsx
  client/src/pages/Quotes.tsx
  server/routers/analytics.ts
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve preflight test issues and stale command references
  docs/testing/TERP_TESTING_MASTER_PLAN.md
  docs/testing/ai-agents-guide.md
  testing/db-util.ts
  testing/setup-e2e.ts
  testing/setup-integration.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: resolve type errors and unblock mega-qa script
  client/src/components/vip-portal/MarketplaceNeeds.tsx
  client/src/components/vip-portal/MarketplaceSupply.tsx
  client/src/pages/Settings.tsx
  scripts/mega-qa/index.ts
  scripts/mega-qa/lib/contract.ts
  vite.config.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): UX Sprint Wave 1 & 2 - Quick wins and confirm dialogs
  .kiro/hooks/validate-compliance.md
  .kiro/specs/vendor-to-supplier-frontend-unification/design.md
  .kiro/specs/vendor-to-supplier-frontend-unification/requirements.md
  .kiro/specs/vendor-to-supplier-frontend-unification/tasks.md
  .kiro/steering/00-core-identity.md
  .kiro/steering/02-workflows.md
  .kiro/steering/03-agent-coordination.md
  .kiro/steering/05-external-agent-handoff.md
  .kiro/steering/99-pre-commit-checklist.md
  .kiro/steering/README.md
  EXTERNAL_AGENT_PROMPT.md
  EXTERNAL_AGENT_README.md
  PRODUCTION-VALIDATION-GUIDE.md
  UNIVERSAL_AGENT_RULES.md
  client/public/version.json
  client/src/components/comments/CommentItem.tsx
  client/src/components/dashboard/v3/CustomizationPanel.tsx
  client/src/components/dashboard/widgets-v2/CashFlowWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.tsx
  client/src/components/data-cards/DataCardConfigDropdown.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/confirm-dialog.tsx
  client/src/pages/ClientsListPage.tsx
  client/src/pages/Quotes.tsx
  client/version.json
  docs/ACTIVE_SESSIONS.md
  docs/audits/CANONICAL_MODEL_UI_UX_AUDIT_2025-12-16.md
  docs/reviews/KIRO_REVIEW_WORKFLOW.md
  docs/sessions/active/Session-20251217-INFRA-SPRINT-84d2b1.md
  docs/sessions/active/Session-20251218-UX-SPRINT-a7c3d2.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): Wave 2 continued - More ConfirmDialog replacements
  client/src/components/UserManagement.tsx
  client/src/pages/TodoListDetailPage.tsx
  docs/sessions/active/Session-20251218-UX-SPRINT-a7c3d2.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: archive UX Sprint session, update ACTIVE_SESSIONS
  docs/ACTIVE_SESSIONS.md
  docs/sessions/completed/Session-20251218-UX-SPRINT-a7c3d2.md
Due: prettier --write

chore: update session branch reference
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251218-MASTER-FIX-c0f9fa.md
Due: prettier --write

Cursor: Apply local changes for cloud agent
  scripts/audit/_orphan-counts.mjs
  scripts/audit/detect-orphans.ts
  scripts/audit/detect-schema-drift.ts
  scripts/audit/detect-vendor-client-collisions.ts
  terp-do-spec-no-augment.yaml
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Checkpoint before follow-up message
  client/public/version.json
  client/src/components/clients/ClientOverviewTab.tsx
  client/src/components/clients/ClientPaymentsTab.tsx
  client/src/components/clients/ClientTransactionsTab.tsx
  client/src/components/dashboard/widgets-v2/CashFlowWidget.tsx
  client/src/components/dashboard/widgets-v2/CommentsPanel.tsx
  client/src/components/dashboard/widgets-v2/InventorySnapshotWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.tsx
  client/src/components/orders/ConfirmedOrdersTab.tsx
  client/src/components/orders/DraftOrdersTab.tsx
  client/src/components/ui/EmptyState.tsx
  client/src/components/ui/skeletons.tsx
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/Orders.tsx
  client/version.json
  docs/roadmaps/MASTER_ROADMAP.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(PERF-003): add pagination infrastructure with mobile optimization
  client/src/components/accounting/AccountSelector.tsx
  client/src/components/ui/pagination-controls.tsx
  client/src/pages/accounting/ChartOfAccounts.tsx
  client/src/pages/accounting/Invoices.tsx
  docs/sessions/active/Session-20251130-PERF-003-1018ca89.md
  server/_core/pagination.ts
  server/routers/accounting.test.ts
  server/routers/accounting.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: add UX Polish Sprint (Dec 18-21) with 10 tasks in 3 waves
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(PERF-003): add pagination to comments, inbox, and todo endpoints
  client/src/components/comments/CommentWidget.tsx
  client/src/components/inbox/InboxPanel.tsx
  client/src/components/inbox/InboxWidget.tsx
  client/src/pages/TodoListDetailPage.tsx
  docs/sessions/active/Session-20251130-PERF-003-1018ca89.md
  server/commentsDb.ts
  server/inboxDb.ts
  server/routers/comments.ts
  server/routers/inbox.ts
  server/routers/todoTasks.ts
  server/todoTasksDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
