Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

fix(test): fix floating-point precision edge case in seed-payments property test
  scripts/seed/seeders/seed-payments.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): update schema baselines and skip referral_settings dual-definition columns
  .github/workflows/schema-validation.yml
  tests/integration/schema-verification.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Wave 6-10 MVP blocker plan + prompt forge for Wave 6 tasks
  docs/prompts/WAVE6-TER-256-payments-recordPayment-rollback.md
  docs/prompts/WAVE6-TER-257-orders-shipped-batch-undefined.md
  docs/prompts/WAVE6-TER-258-orders-cancelled-sql-error.md
  docs/prompts/WAVE6-TER-259-inventory-deduction-on-order-create.md
  docs/prompts/WAVE6-TER-260-adjustQty-totalQty-not-updated.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/WAVE_PLAN_MVP_BLOCKERS.md
Due: prettier --write

ci: replace full E2E gates with targeted domain-aware PR validation
  .github/workflows/merge.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/pre-merge.yml
  scripts/ci/domain-test-map.json
  scripts/ci/resolve-affected-tests.sh
Due: prettier --write

fix(TER-235): remove deletedAt filter from backfill script
  scripts/backfill-ter235-supplier-client-ids.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add production migration runbook from TER-235 experience
  docs/runbooks/PRODUCTION_MIGRATION_RUNBOOK.md
Due: prettier --write

fix(payments): reject DRAFT invoices in recordPayment (TER-256)
  server/routers/payments.test.ts
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): fix SHIPPED batch lookup and CANCELLED status mapping (TER-257, TER-258)
  server/__tests__/ordersDb-ter257-ter258.test.ts
  server/ordersDb.stateMachine.test.ts
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): standardize inventory lifecycle — reserve on create, deduct on ship (TER-259)
  server/__tests__/ordersDb-ter259-inventory-lifecycle.test.ts
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): add computed totalQty to all batch API responses (TER-260)
  server/__tests__/inventoryUtils.test.ts
  server/inventoryUtils.ts
  server/routers/inventory.test.ts
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): release reservedQty on PENDING→CANCELLED transition (QA-001)
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(payments): add DRAFT/PAID/VOID guards to all payment endpoints (QA-001/002/003)
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): add totalQty to list and getEnhanced endpoints (QA-001)
  server/routers/inventory.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): fix SHIPPED availability check for reservation model (QA-002)
  server/__tests__/ordersDb-ter259-inventory-lifecycle.test.ts
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): fix SHIPPED availability check tautology + fix broken tests
  server/__tests__/ordersDb-ter259-inventory-lifecycle.test.ts
  server/ordersDb.ts
  server/routers/inventory.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): fix totalQty double-counting + add negative onHand guard
  server/__tests__/inventoryUtils.test.ts
  server/inventoryUtils.ts
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: Wave 7 — TER-96, TER-97, TER-98, TER-99 (PR #404 re-implementation)
  CLAUDE.md
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/src/config/navigation.ts
  docs/prompts/WAVE7-TER-96-97-98-99-pr404-regressions.md
  docs/runbooks/PRODUCTION_MIGRATION_RUNBOOK.md
  drizzle/schema.ts
  server/autoMigrate.ts
  server/routers/poReceiving.ts
  server/routers/purchaseOrders.ts
  server/services/vendorMappingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Wave 8 prompt forge (TER-251 through TER-255)
  docs/prompts/WAVE8-TER-251-255-input-validation-guards.md
Due: prettier --write

fix(wave7-qa): address P1 vendorId corruption + P2 hardening issues
  client/public/version.json
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/version.json
  server/autoMigrate.ts
  server/routers/poReceiving.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(wave8): TER-251/252/253/254/255 input validation guards
  client/public/version.json
  client/version.json
  server/clientsDb.ts
  server/ordersDb.ts
  server/routers/clients.ts
  server/routers/inventory.test.ts
  server/routers/inventory.ts
  server/routers/orders.test.ts
  server/routers/orders.ts
  server/test-utils/testDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(wave8): re-apply QA fixes reverted by lint-staged stash
  server/clientsDb.ts
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add Wave 9 forged prompts for E2E test stabilization
  docs/prompts/WAVE9-TER-238-fix-gf001-brittle-count.md
  docs/prompts/WAVE9-TER-240-fix-gf005-invalid-locators.md
  docs/prompts/WAVE9-TER-241-fix-gf006-client-ledger.md
  docs/prompts/WAVE9-TER-242-fix-gf007-duplicate-h1.md
  docs/prompts/WAVE9-TER-243-fix-cmdk-pick-pack-focus.md
  docs/prompts/WAVE9_AGENT_PROMPT.md
Due: prettier --write

chore: update version.json build metadata
  client/public/version.json
  client/version.json
Due: prettier --write

fix(wave8): adversarial review fixes — archived client guard, error types, delete tests
  server/routers/clients.test.ts
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): stabilize GF-001 direct intake row-count assertion (TER-238)
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): replace invalid :text() and text= locators in GF-005 pick-pack tests (TER-240)
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
  tests-e2e/golden-flows/pick-pack-fulfillment.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(work-surface): demote h1 to h2 in embedded WorkSurface headers (TER-242)
  client/src/components/work-surface/ClientLedgerWorkSurface.tsx
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/ProductsWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/components/work-surface/VendorsWorkSurface.tsx
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): stabilize GF-006 client ledger test — add data-testid attrs and fix nav path (TER-241)
  client/src/components/work-surface/ClientLedgerWorkSurface.tsx
  tests-e2e/golden-flows/gf-006-client-ledger-review.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(pick-pack): prevent Cmd+K from opening command palette over search focus (TER-243)
  client/src/components/CommandPalette.tsx
  client/src/components/work-surface/ClientLedgerWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci: bump schema validation baseline to 63 total / 57 medium
  .github/workflows/schema-validation.yml
Due: none

docs: add Wave 10 forged prompts for infrastructure & edge cases
  docs/prompts/WAVE10-TER-261-data-cleanup-live-batches.md
  docs/prompts/WAVE10-TER-262-vendorpayables-select-error.md
  docs/prompts/WAVE10-TER-263-storage-createzone-insert.md
  docs/prompts/WAVE10-TER-264-tags-create-select-error.md
  docs/prompts/WAVE10-TER-93-deployment-health-check.md
  docs/prompts/WAVE10_AGENT_PROMPT.md
Due: prettier --write

fix: apply hanging migrations + data cleanup from lost-commits audit
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/SCHEMA-016-execution-plan.md
  docs/roadmaps/SCHEMA-016-migration-required.md
  scripts/fix-ter261-bad-qty-batches.ts
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
