Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(staging): align app spec and deploy proof
  .do/app-staging.yaml
  scripts/await-staging-build.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(deploy): pass agentation endpoint into build
  Dockerfile
Due: none

fix(sales): ship reusable orders document layout
  client/src/components/layout/AdaptiveSplitLayout.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.test.tsx
  client/src/components/orders/OrdersDocumentLineItemsGrid.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/index.css
  client/src/pages/SalesWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales): move document controls below split panes
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales): complete sales catalogue workflow polish
  client/src/components/sales/QuickViewSelector.tsx
  client/src/components/sales/types.ts
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SpreadsheetPilotGrid.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
  client/src/pages/SharedSalesSheetPage.tsx
  server/routers/salesSheets.test.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.test.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales): complete sales catalogue workflow polish (#546)
  client/src/components/sales/QuickViewSelector.tsx
  client/src/components/sales/types.ts
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SpreadsheetPilotGrid.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
  client/src/pages/SharedSalesSheetPage.tsx
  server/routers/salesSheets.test.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.test.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(grid): dedupe equivalent selection summaries
  client/src/components/spreadsheet-native/SpreadsheetPilotGrid.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(grid): dedupe equivalent selection summaries (#547)
  client/src/components/spreadsheet-native/SpreadsheetPilotGrid.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): add inline row controls to po and so
  client/src/components/spreadsheet-native/InlineRowAddControls.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.test.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/hooks/usePoDocument.test.ts
  client/src/hooks/usePoDocument.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): add inline row controls to po and so (#548)
  client/src/components/spreadsheet-native/InlineRowAddControls.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.test.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/hooks/usePoDocument.test.ts
  client/src/hooks/usePoDocument.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): hydrate sheet-native client labels
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/components/ui/client-combobox.test.tsx
  client/src/components/ui/client-combobox.tsx
  tests-e2e/critical-paths/sheet-native-order-inline-controls.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): hydrate sheet-native client labels (#549)
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/components/ui/client-combobox.test.tsx
  client/src/components/ui/client-combobox.tsx
  tests-e2e/critical-paths/sheet-native-order-inline-controls.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

bd: backup 2026-04-01 15:39
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
Due: prettier --write

fix(orders): block unavailable sales-order client routes
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/components/ui/client-combobox.test.tsx
  client/src/components/ui/client-combobox.tsx
  docs/execution/2026-04-01-so-po-next-steps/Documentation.md
  docs/execution/2026-04-01-so-po-next-steps/Implement.md
  docs/execution/2026-04-01-so-po-next-steps/Plan.md
  docs/execution/2026-04-01-so-po-next-steps/Prompt.md
  tests-e2e/critical-paths/sheet-native-order-inline-controls.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Fix unavailable sales-order client routes and harden inline-controls coverage (#550)
  .beads/backup/backup_state.json
  .beads/backup/events.jsonl
  .beads/backup/issues.jsonl
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/components/ui/client-combobox.test.tsx
  client/src/components/ui/client-combobox.tsx
  docs/execution/2026-04-01-so-po-next-steps/Documentation.md
  docs/execution/2026-04-01-so-po-next-steps/Implement.md
  docs/execution/2026-04-01-so-po-next-steps/Plan.md
  docs/execution/2026-04-01-so-po-next-steps/Prompt.md
  tests-e2e/critical-paths/sheet-native-order-inline-controls.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales): clarify new-order entry and document redirects
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.test.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.tsx
  client/src/index.css
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  client/src/pages/Help.tsx
  client/src/pages/SalesWorkspacePage.test.tsx
  client/src/pages/SalesWorkspacePage.tsx
  tests-e2e/comprehensive-staging.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales): clarify new-order entry and document redirects (#551)
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.test.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.tsx
  client/src/index.css
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  client/src/pages/Help.tsx
  client/src/pages/SalesWorkspacePage.test.tsx
  client/src/pages/SalesWorkspacePage.tsx
  tests-e2e/comprehensive-staging.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(qa): add local worktree prep and human flow packets
  AGENTS.md
  CLAUDE.md
  docs/TESTING.md
  package.json
  scripts/agent/prepare-local-agent-worktree.sh
  scripts/qa/check-confused-human-flows.ts
  scripts/qa/confused-human-flow-lib.test.ts
  scripts/qa/confused-human-flow-lib.ts
  scripts/qa/generate-confused-human-flows.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(shell): standardize nav chrome across workspaces
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.tsx
  client/src/index.css
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Documentation.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Implement.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Plan.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Prompt.md
  tests-e2e/critical-paths/sales-sheets-workflow.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(shell): standardize nav chrome and worktree QA prep (#552)
  AGENTS.md
  CLAUDE.md
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.tsx
  client/src/index.css
  docs/TESTING.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Documentation.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Implement.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Plan.md
  docs/superpowers/plans/2026-04-01-nav-shell-standardization/Prompt.md
  package.json
  scripts/agent/prepare-local-agent-worktree.sh
  scripts/qa/check-confused-human-flows.ts
  scripts/qa/confused-human-flow-lib.test.ts
  scripts/qa/confused-human-flow-lib.ts
  scripts/qa/generate-confused-human-flows.ts
  tests-e2e/critical-paths/sales-sheets-workflow.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): dedupe sheet-native order actions
  client/src/components/orders/OrderAdjustmentsBar.test.tsx
  client/src/components/orders/OrderAdjustmentsBar.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  docs/execution/2026-04-01-order-action-dedupe/Documentation.md
  docs/execution/2026-04-01-order-action-dedupe/Implement.md
  docs/execution/2026-04-01-order-action-dedupe/Plan.md
  docs/execution/2026-04-01-order-action-dedupe/Prompt.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): dedupe sheet-native order actions (#553)
  client/src/components/orders/OrderAdjustmentsBar.test.tsx
  client/src/components/orders/OrderAdjustmentsBar.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  docs/execution/2026-04-01-order-action-dedupe/Documentation.md
  docs/execution/2026-04-01-order-action-dedupe/Implement.md
  docs/execution/2026-04-01-order-action-dedupe/Plan.md
  docs/execution/2026-04-01-order-action-dedupe/Prompt.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): keep create-order client changes on-route
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: keep create-order client picker on the create-order route (#554)
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): persist client selection in create-order urls
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: persist create-order client selection in the URL (#555)
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(health): reduce noisy disk degradation warnings
  client/src/pages/SystemMetricsPage.tsx
  server/_core/diskHealth.test.ts
  server/_core/diskHealth.ts
  server/_core/healthCheck.ts
  server/_core/index.ts
  server/routers/health.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(health): reduce noisy disk degradation warnings (#556)
  client/src/pages/SystemMetricsPage.tsx
  server/_core/diskHealth.test.ts
  server/_core/diskHealth.ts
  server/_core/healthCheck.ts
  server/_core/index.ts
  server/routers/health.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): harden catalogue handoff flows
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): harden catalogue handoff flows (#557)
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): preserve shared view popup gesture
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): preserve shared view popup gesture (#558)
  client/src/components/spreadsheet-native/SalesCatalogueSurface.test.tsx
  client/src/components/spreadsheet-native/SalesCatalogueSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

build(ci): upgrade active actions to node 24
  .github/workflows/deploy-ops-api.yml
  .github/workflows/golden-flows.yml
  .github/workflows/merge.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/pre-merge.yml
  .github/workflows/schema-validation.yml
  .github/workflows/typescript-check.yml
  .github/workflows/verify-branch.yml
Due: none

build(ci): refresh harden-runner pin
  .github/workflows/golden-flows.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/pre-merge.yml
  .github/workflows/schema-validation.yml
  .github/workflows/typescript-check.yml
Due: none

fix(sales-catalogue): keep shared links working without clipboard
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-catalogue): keep shared links working without clipboard (#561)
  client/src/hooks/useCatalogueDraft.test.ts
  client/src/hooks/useCatalogueDraft.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

build(ci): upgrade artifact uploads to node 24
  .github/workflows/golden-flows.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/pre-merge.yml
  .github/workflows/schema-validation.yml
  .github/workflows/typescript-check.yml
Due: none

build(ci): upgrade active actions to node 24 (#559)
  .github/workflows/deploy-ops-api.yml
  .github/workflows/golden-flows.yml
  .github/workflows/merge.yml
  .github/workflows/nightly-e2e.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/pre-merge.yml
  .github/workflows/schema-validation.yml
  .github/workflows/typescript-check.yml
  .github/workflows/verify-branch.yml
Due: none

build(ci): harden ops ssh and nightly e2e output
  .github/workflows/deploy-ops-api.yml
  .github/workflows/nightly-e2e.yml
Due: none

build(ci): harden ops ssh and nightly e2e output (#562)
  .github/workflows/deploy-ops-api.yml
  .github/workflows/nightly-e2e.yml
Due: none

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
