Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

Fix comment: secrets set at component level, not app level
  .do/app.spec.yaml
Due: none

feat: Add script to test seed API directly
  scripts/test-seed-api-direct.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Improve seed API error handling and DATABASE_URL handling
  scripts/db-sync.ts
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Resolve seed API DATABASE_URL and validation errors
  docs/BUG-SEED-API-DATABASE-URL-FIX-COMPLETION.md
Due: prettier --write

Checkpoint before follow-up message
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add Phase 2.6: Non-Data-Dependent Bug Fixes
  .husky/qa-config.sh
  docs/prompts/BUG-019.md
  docs/prompts/BUG-020.md
  docs/prompts/BUG-021.md
  docs/prompts/BUG-022.md
  docs/prompts/BUG-023.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Fix BUG-023: Add consistent header to Dashboard layout
  client/src/components/DashboardLayout.tsx
  docs/roadmaps/MASTER_ROADMAP.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add Phase 2.6: Non-Data-Dependent Bug Fixes (#59)
  .husky/qa-config.sh
  client/src/components/DashboardLayout.tsx
  docs/prompts/BUG-019.md
  docs/prompts/BUG-020.md
  docs/prompts/BUG-021.md
  docs/prompts/BUG-022.md
  docs/prompts/BUG-023.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix husky hooks: use bash instead of sh for bash-specific syntax
  .husky/post-push
  .husky/pre-push
Due: none

Claude/fix roadmap bugs 01 j hvm1 r uyk q vd vj9 k jna us y (#60)
  .husky/post-push
  .husky/pre-push
Due: none

Fix: Update all workflows to use pnpm/action-setup@v4
  .github/workflows/execute-natural-commands.yml
  .github/workflows/fix-lockfile-now.yml
  .github/workflows/merge.yml
  .github/workflows/swarm-auto-start.yml
  .github/workflows/swarm-status-monitor.yml
  .github/workflows/sync-lockfile.yml
  .github/workflows/update-lockfile.yml
Due: none

fix(BUG-024): Update DATABASE_URL scope to RUN_AND_BUILD_TIME
  .do/app.yaml
  docs/prompts/BUG-024.md
Due: prettier --write

fix(settings): Fix seed database button by creating dedicated seeder service
  DEPLOYMENT_STATUS_REPORT.md
  server/routers/settings.ts
  server/services/databaseSeeder.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add seed button fix completion report
  SEED_BUTTON_FIX_REPORT.md
Due: prettier --write

fix(settings): CORRECT fix for seed database button
  server/routers/settings.ts
  server/services/databaseSeeder.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(seed): Use absolute path resolution for production compatibility
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(seed): Use child_process to execute seed script (bulletproof)
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: Add comprehensive seed button diagnostic report
  SEED_BUTTON_FINAL_REPORT.md
Due: prettier --write

fix(trpc): Correct import path in settings router
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: Add secure universal logging access infrastructure
  .env.logging.example
  .gitignore
  docs/LOGGING_ACCESS_GUIDE.md
  docs/sessions/completed/Session-20251130-BUG-024-c322a493.md
  scripts/README.md
  scripts/terp-logs.sh
Due: prettier --write

docs: Add logging infrastructure setup completion report
  docs/sessions/completed/Session-20251130-LOGGING-SETUP.md
Due: prettier --write
