Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

docs: Add comprehensive QA report for Feb 3 changes
  docs/qa-reports/FEB-03-2026-COMPREHENSIVE-QA-REPORT.md
Due: prettier --write

feat(data): derive totalOwed from unpaid invoices (DATA-DERIVED-GEN)
  client/public/version.json
  client/src/components/settings/TagManagementSettings.tsx
  client/src/pages/CreditsPage.tsx
  client/version.json
  scripts/backfill-totalOwed.ts
  server/routers/payments.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): add QA reports for Phase 2 tasks
  docs/qa-reports/DATA-DERIVED-GEN-QA-REPORT.md
  docs/qa-reports/UI-CONFIRM-DIALOG-QA-REPORT.md
  docs/qa-reports/UI-MODAL-FIX-QA-REPORT.md
Due: prettier --write

fix(ci): remove leftover merge conflict marker
  .github/workflows/merge.yml
Due: none

docs(qa): hyper-thorough QA report for all Phase 1 & 2 changes
  docs/qa-reports/HYPER-THOROUGH-QA-REPORT-2026-02-03.md
Due: prettier --write

docs: Phase 1 & low-risk documentation cleanup
  .claude/AGENT_ONBOARDING.md
  README.md
  UNIVERSAL_AGENT_RULES.md
  docs/DOCUMENTATION_MAP.md
  docs/README.md
  docs/archive/ARCHIVE_INDEX.md
  docs/archive/agent-prompts/UNIVERSAL_AGENT_RULES.md
Due: prettier --write

docs: Fix UNIVERSAL_AGENT_RULES.md merge - preserve original reading order
  UNIVERSAL_AGENT_RULES.md
Due: prettier --write

docs: Verify UNIVERSAL_AGENT_RULES.md against actual protocols
  UNIVERSAL_AGENT_RULES.md
Due: prettier --write

feat(auth): add DEMO_MODE for auto-login as Super Admin (AUTH-QA-002)
  .env.example
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20260204-AUTH-QA-002-4e74e9.md
  server/_core/context.ts
  server/_core/env.ts
  server/_core/qaAuth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: complete AUTH-QA-002 and archive session
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260204-AUTH-QA-002-4e74e9.md
Due: prettier --write

chore: remove moved session file from active
  docs/sessions/active/Session-20260204-AUTH-QA-002-4e74e9.md
Due: prettier --write

chore: register session Session-20260203-QA-BUG-131-743f14
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/__tests__/InventoryWorkSurface.test.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260203-BUG-131-768a8a.md
  docs/sessions/active/Session-20260203-QA-BUG-131-743f14.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: archive session Session-20260203-QA-BUG-132-1052ba
  client/src/components/work-surface/ProductsWorkSurface.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260203-BUG-132-cd4d7f.md
  docs/sessions/completed/Session-20260203-QA-BUG-132-1052ba.md
  server/__tests__/productsDb.test.ts
  server/productsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add authentication & login documentation to CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(auth): fix cookie name mismatch and remove QA auth layer (#385)
  client/src/components/qa/QaRoleSwitcher.tsx
  client/src/pages/Login.tsx
  docs/auth/QA_AUTH.md
  server/_core/index.ts
  server/_core/qaAuth.ts
  shared/const.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: archive session Session-20260203-QA-BUG-132-1052ba (#388)
  client/src/components/work-surface/ProductsWorkSurface.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260203-BUG-132-cd4d7f.md
  docs/sessions/completed/Session-20260203-QA-BUG-132-1052ba.md
  server/__tests__/productsDb.test.ts
  server/productsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Phase 1 & Low-Risk Documentation Cleanup (#386)
  .claude/AGENT_ONBOARDING.md
  README.md
  UNIVERSAL_AGENT_RULES.md
  docs/DOCUMENTATION_MAP.md
  docs/README.md
  docs/archive/ARCHIVE_INDEX.md
  docs/archive/agent-prompts/UNIVERSAL_AGENT_RULES.md
Due: prettier --write

docs(audit): add validation/data flow audit report (#384)
  docs/audits/VALIDATION_DATAFLOW_AUDIT_2026-02-03.md
  docs/sessions/completed/Session-20260203-ADHOC-AUDIT-959a98.md
Due: prettier --write

test(payments): add InvoiceToPaymentFlow unit tests (TER-39)
  client/src/components/work-surface/golden-flows/InvoiceToPaymentFlow.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): wire Add Batch button to PurchaseModal (#387)
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/__tests__/InventoryWorkSurface.test.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260203-BUG-131-768a8a.md
  docs/sessions/active/Session-20260203-QA-BUG-131-743f14.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json after build verification
  client/public/version.json
  client/version.json
Due: prettier --write

fix(tests): replace stub assertions with proper test logic (TER-39)
  client/src/components/work-surface/golden-flows/InvoiceToPaymentFlow.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add InvoiceToPaymentFlow mutation tests (GF-PHASE2-001) (#390)
  client/public/version.json
  client/src/components/work-surface/golden-flows/InvoiceToPaymentFlow.test.tsx
  client/version.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(sessions): register audit deep dive
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260203-TASK-ID-f3fb73.md
Due: prettier --write

chore(sessions): register audit deep dive (#377)
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260203-TASK-ID-f3fb73.md
Due: prettier --write

docs(intended-map): add comprehensive TERP behavior audit artifacts
  docs/intended-map/00_CONVENTIONS.md
  docs/intended-map/00_COVERAGE.csv
  docs/intended-map/00_EXISTING_DOCS_INVENTORY.md
  docs/intended-map/00_GOLDEN_FLOWS.md
  docs/intended-map/00_INDEX.md
  docs/intended-map/00_INTENT_SOURCES.md
  docs/intended-map/00_REPLACEMENT_PLAN.md
  docs/intended-map/01_INVARIANTS_INTENDED.md
  docs/intended-map/01_STATE_MODEL_INTENDED.md
  docs/intended-map/01_STATE_MODEL_INTENDED.mmd
  docs/intended-map/02_FLOW_GRAPH_INTENDED.mmd
  docs/intended-map/02_FLOW_MATRIX_INTENDED.csv
  docs/intended-map/02_FLOW_MATRIX_INTENDED.md
  docs/intended-map/03_DECISION_TABLES_INTENDED/INDEX.md
  docs/intended-map/03_DECISION_TABLES_INTENDED/INVENTORY_RULES_INTENDED.csv
  docs/intended-map/03_DECISION_TABLES_INTENDED/RBAC_INTENDED.csv
  docs/intended-map/03_DECISION_TABLES_INTENDED/STATUS_GUARDS_INTENDED.csv
  docs/intended-map/03_DECISION_TABLES_INTENDED/VALIDATIONS_INTENDED.csv
  docs/intended-map/04_RTM_INTENDED.csv
  docs/intended-map/04_RTM_INTENDED.md
  docs/intended-map/DELTA_SCOREBOARD.md
  docs/intended-map/IMPL_API_INVENTORY.md
  docs/intended-map/IMPL_DATA_INVENTORY.md
  docs/intended-map/IMPL_UI_INVENTORY.md
  docs/intended-map/TERMINOLOGY_MAP.md
  docs/intended-map/TOP_DELTAS.md
Due: prettier --write

fix(intake): resolve BUG-112 AG Grid form fields not rendering
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json files
  client/public/version.json
  client/version.json
Due: prettier --write

docs: Add TERP Intended Behavior Map - comprehensive system specification audit (#344)
  client/public/version.json
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/version.json
  docs/intended-map/00_CONVENTIONS.md
  docs/intended-map/00_COVERAGE.csv
  docs/intended-map/00_EXISTING_DOCS_INVENTORY.md
  docs/intended-map/00_GOLDEN_FLOWS.md
  docs/intended-map/00_INDEX.md
  docs/intended-map/00_INTENT_SOURCES.md
  docs/intended-map/00_REPLACEMENT_PLAN.md
  docs/intended-map/01_INVARIANTS_INTENDED.md
  docs/intended-map/01_STATE_MODEL_INTENDED.md
  docs/intended-map/01_STATE_MODEL_INTENDED.mmd
  docs/intended-map/02_FLOW_GRAPH_INTENDED.mmd
  docs/intended-map/02_FLOW_MATRIX_INTENDED.csv
  docs/intended-map/02_FLOW_MATRIX_INTENDED.md
  docs/intended-map/03_DECISION_TABLES_INTENDED/INDEX.md
  docs/intended-map/03_DECISION_TABLES_INTENDED/INVENTORY_RULES_INTENDED.csv
  docs/intended-map/03_DECISION_TABLES_INTENDED/RBAC_INTENDED.csv
  docs/intended-map/03_DECISION_TABLES_INTENDED/STATUS_GUARDS_INTENDED.csv
  docs/intended-map/03_DECISION_TABLES_INTENDED/VALIDATIONS_INTENDED.csv
  docs/intended-map/04_RTM_INTENDED.csv
  docs/intended-map/04_RTM_INTENDED.md
  docs/intended-map/DELTA_SCOREBOARD.md
  docs/intended-map/IMPL_API_INVENTORY.md
  docs/intended-map/IMPL_DATA_INVENTORY.md
  docs/intended-map/IMPL_UI_INVENTORY.md
  docs/intended-map/TERMINOLOGY_MAP.md
  docs/intended-map/TOP_DELTAS.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add TERP Operations API for Manus infrastructure access
  .github/workflows/deploy-ops-api.yml
  ops-api/.env.template
  ops-api/README.md
  ops-api/package.json
  ops-api/src/index.ts
  ops-api/terp-ops-api.service
  ops-api/tsconfig.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add TERP Operations API for Manus infrastructure access (#337)
  .github/workflows/deploy-ops-api.yml
  ops-api/.env.template
  ops-api/README.md
  ops-api/package.json
  ops-api/src/index.ts
  ops-api/terp-ops-api.service
  ops-api/tsconfig.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add automated Linear to GitHub roadmap sync
  CLAUDE.md
  docs/LINEAR_ROADMAP_SYNC.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  scripts/linear_backlog_refactor.py
  scripts/sync_linear_to_github_roadmap.py
Due: prettier --write

test: validation test
  VALIDATION_TEST.md
Due: prettier --write

docs: update QA auth docs with DEMO_MODE and fix E2E emails
  docs/auth/QA_AUTH.md
  docs/features/modules/qa-authentication.md
  docs/qa/QA_PLAYBOOK.md
  tests-e2e/fixtures/auth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(security): remove QA password hint exposure (TER-58)
  server/_core/qaAuth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(tests): fix test infrastructure issues (TER-54)
  server/routers/orders.debug-removal.property.test.ts
  server/services/vendorMappingService.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: update QA docs with DEMO_MODE and fix E2E emails
  docs/features/modules/qa-authentication.md
  docs/qa/QA_PLAYBOOK.md
  tests-e2e/fixtures/auth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): comprehensive task investigation report
  docs/qa-reports/TASK-INVESTIGATION-REPORT-2026-02-03.md
Due: prettier --write

fix(client): register AG Grid modules
  client/public/version.json
  client/src/lib/ag-grid.ts
  client/src/main.tsx
  client/version.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
