Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

infra: improve Railway health checks and documentation
  DEPLOY.md
  docs/deployment/DEPLOYMENT_DOCUMENTATION_INDEX.md
  docs/deployment/DEPLOY_SKIP_SEEDING.md
  railway.json
  railway.json.md
Due: prettier --write

fix: revert to /health endpoint - /health/ready failing with service unavailable
  railway.json
Due: prettier --write

fix: make SKIP_SEEDING check case-insensitive
  server/_core/index.ts
  server/_core/simpleAuth.ts
  server/routers/settings.ts
  server/services/seedDefaults.ts
  server/services/seedRBAC.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: remove health check to allow app to start
  railway.json
Due: prettier --write

Revert "fix: remove health check to allow app to start"
  railway.json
Due: prettier --write

fix: resolve Railway deployment health check failures
  server/_core/index.ts
  server/services/seedRBAC.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: revert auto-migration to non-fatal to allow server startup
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Railway port binding - use exact PORT without fallback search
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: make JWT_SECRET access lazy to prevent startup crashes
  server/_core/simpleAuth.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: critical bugs - graceful git handling and Dockerfile security
  Dockerfile
  scripts/generate-version.cjs
Due: none

fix: restore ENV for VITE vars to support DigitalOcean
  Dockerfile
Due: none

fix: remove ARG declarations for VITE vars (DigitalOcean compatibility)
  Dockerfile
Due: none

debug: add echo statements to verify VITE build args are passed
  Dockerfile
Due: none

fix: add VITE env vars to augment-data job for consistent builds
  .do/app.yaml
Due: none

fix: explicitly export VITE env vars in build RUN command
  Dockerfile
Due: none

fix: Add comprehensive database resilience for deployments
  .do/app.yaml
  server/_core/healthCheck.ts
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: restore DigitalOcean compatibility - revert Railway-specific changes
  server/_core/healthCheck.ts
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: syntax error - add missing closing brace and trailing newline
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: make all non-critical startup operations non-fatal
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add schema drift scaling completion report
  SCHEMA_VALIDATION_REPORT.md
  docs/SCHEMA_DRIFT_SCALING_COMPLETE.md
  schema-validation-report.json
Due: prettier --write

fix: align Drizzle schema field names with database column names
  client/src/components/clients/CommunicationTimeline.tsx
  drizzle/schema.ts
  scripts/utils/schema-introspection.ts
  scripts/validate-schema-comprehensive.ts
  server/badDebtDb.ts
  server/clientsDb.ts
  server/cogsCalculation.ts
  server/creditsDb.ts
  server/dashboardAnalytics.ts
  server/dataCardMetricsDb.ts
  server/inventoryAlerts.ts
  server/inventoryDb.ts
  server/matchingEngine.ts
  server/matchingEngineEnhanced.ts
  server/ordersDb.ts
  server/routers/purchaseOrders.ts
  server/routers/refunds.ts
  server/routers/returns.ts
  server/salesSheetsDb.ts
  server/samplesAnalytics.ts
  server/samplesDb.ts
  server/services/liveCatalogService.ts
  tests/integration/data-integrity.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
