Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ui): Fix RC-003 - Frontend event handler wiring issues
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/accounting/Invoices.tsx
  docs/qa/RC-002-VALIDATION.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): Fix RC-004 - Grid data rendering and AR/AP widgets stuck loading
  client/src/pages/accounting/AccountingDashboard.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(rbac): Fix RC-005 - Sales Manager RBAC permission gaps
  server/services/rbacDefinitions.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Complete QA Sales Manager fixes - mark 9 bugs as FIXED
  docs/qa/QA_SALES_MANAGER_FIXES_VALIDATION.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(qa-wave2): Fix BUG-093 to BUG-096 - Order finalization and UI reliability
  client/src/components/inventory/PurchaseModal.tsx
  client/src/pages/OrderCreatorPage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/QA_STRATEGIC_FIX_PLAN_WAVE2.md
  server/arApDb.ts
  server/routers/liveShopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Add Wave 2 validation checklist
  docs/qa/QA_WAVE2_VALIDATION.md
Due: prettier --write

fix: Add transaction safety to save functions preventing data loss
  server/dashboardDb.ts
  server/routers/dashboardPreferences.ts
  server/services/leaderboard/rankingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(live-shopping): Complete Live Shopping module VIP Portal integration
  client/src/components/vip-portal/LiveShoppingSession.tsx
  client/src/pages/vip-portal/LiveShoppingPage.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  drizzle/schema-vip-portal.ts
  server/routers/vipPortalLiveShopping.ts
  src/pages/live-shopping/[sessionId].tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales): Fix button and state management issues in SalesSheetPreview
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/pages/SalesSheetCreatorPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): Ensure quarantine/infected logic flows correctly across all operations
  server/inventoryDb.ts
  server/ordersDb.ts
  server/routers/inventory.ts
  server/routers/returns.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): Improve code quality and consistency across dashboard module
  client/src/components/dashboard/widgets-v2/CashFlowWidget.tsx
  client/src/components/dashboard/widgets-v2/MatchmakingOpportunitiesWidget.tsx
  client/src/components/dashboard/widgets-v2/ProfitabilityWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesComparisonWidget.tsx
  client/src/components/dashboard/widgets-v2/TotalDebtWidget.tsx
  client/src/components/dashboard/widgets-v2/WorkflowActivityWidget.tsx
  server/routers/dashboard.ts
  server/routers/dashboardPreferences.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update package-lock.json from npm install
  package-lock.json
Due: prettier --write

feat(live-shopping): Enable true real-time bidirectional sync via SSE
  client/src/components/vip-portal/LiveShoppingSession.tsx
  src/pages/live-shopping/[sessionId].tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(live-shopping): QA bug fixes
  server/routers/vipPortalLiveShopping.ts
  src/pages/live-shopping/[sessionId].tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Allow public demo user with Super Admin role to access protected endpoints
  server/_core/trpc.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(seed): add realistic product media seeder with category-specific images
  scripts/seed/seeders/seed-product-media-realistic.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(sales-sheet): Add comprehensive roadmap for Sales Sheet module restoration
  product-management/initiatives/TERP-INIT-016/docs/prd.md
  product-management/initiatives/TERP-INIT-016/docs/roadmap.md
  product-management/initiatives/TERP-INIT-016/overview.md
Due: prettier --write

docs: QA test analysis report with roadmap and execution plan
  docs/audits/QA-TEST-ANALYSIS-REPORT-2026-01-11.md
  docs/roadmaps/README.md
  docs/roadmaps/qa-bug-fixes-execution-plan.md
  docs/roadmaps/qa-bug-fixes-january-2026.md
Due: prettier --write

revert: Remove bloated Sales Sheet roadmap after red hat QA
  product-management/initiatives/TERP-INIT-016/docs/prd.md
  product-management/initiatives/TERP-INIT-016/docs/roadmap.md
  product-management/initiatives/TERP-INIT-016/overview.md
Due: prettier --write

docs: Update QA report with corrected test results
  docs/audits/QA-TEST-ANALYSIS-REPORT-2026-01-11.md
  docs/roadmaps/qa-bug-fixes-january-2026.md
Due: prettier --write

feat(sales-sheets): Add navigation, shareable links, and conversion features
  client/src/App.tsx
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/config/navigation.ts
  client/src/pages/SharedSalesSheetPage.tsx
  drizzle/migrations/0026_add_sales_sheet_sharing.sql
  drizzle/schema.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-sheets): Address QA review findings
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(migration): Make sales sheet sharing migration idempotent and safe
  drizzle/migrations/0026_add_sales_sheet_sharing.sql
Due: none

docs: Add comprehensive open items execution plan
  docs/roadmaps/OPEN_ITEMS_EXECUTION_PLAN.md
Due: prettier --write

fix: use correct column name deleted_at instead of deletedAt
  scripts/seed/seeders/seed-product-media-realistic.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-sheets): QA fixes for soft delete, race conditions, and imports
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(sales-sheets): Add advanced filtering, sorting, and saved views
  client/src/components/sales/AdvancedFilters.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/components/sales/QuickViewSelector.tsx
  client/src/components/sales/SaveViewDialog.tsx
  client/src/components/sales/types.ts
  client/src/pages/SalesSheetCreatorPage.tsx
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: TypeScript errors in schema and liveShopping router
  drizzle/schema.ts
  server/routers/liveShopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: More TypeScript errors in liveShopping, vipPortal, and orders routers
  server/routers/liveShopping.ts
  server/routers/orders.ts
  server/routers/vipPortalLiveShopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: TypeScript errors in EditInvoiceDialog and SearchResultsPage
  client/src/components/orders/EditInvoiceDialog.tsx
  client/src/pages/SearchResultsPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(sales-sheets): QA round 2 - authorization and debounce fixes
  client/src/components/sales/AdvancedFilters.tsx
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update auto-generated version files
  client/public/version.json
  client/version.json
Due: prettier --write

fix: More TypeScript errors - invoices, orders, LiveShoppingPage
  client/src/components/orders/EditInvoiceDialog.tsx
  client/src/pages/vip-portal/LiveShoppingPage.tsx
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: TypeScript errors in OrganizationSettings
  client/src/components/settings/OrganizationSettings.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

build: Update version files after successful build
  client/public/version.json
  client/version.json
Due: prettier --write

feat(nav): add hidden features to sidebar navigation
  client/src/config/navigation.ts
  docs/adr/0004-surface-hidden-features-in-sidebar.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add customer meeting analysis (2026-01-11)
  docs/meeting-analysis-2026-01-11/TERP_Final_Unified_Report.md
  docs/meeting-analysis-2026-01-11/installment_research.md
  docs/meeting-analysis-2026-01-11/meeting_artifacts_improved.json
  docs/meeting-analysis-2026-01-11/transcription_full.txt
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
