Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

SPECS: Add 24 detailed product specifications for roadmap tasks
  docs/roadmaps/MASTER_ROADMAP.md
  docs/specs/BUG-001-SPEC.md
  docs/specs/FEATURE-003-SPEC.md
  docs/specs/FEATURE-005-SPEC.md
  docs/specs/FEATURE-006-SPEC.md
  docs/specs/FEATURE-008-SPEC.md
  docs/specs/FEATURE-010-SPEC.md
  docs/specs/FEATURE-011-SPEC.md
  docs/specs/FEATURE-020-SPEC.md
  docs/specs/QA-051-SPEC.md
  docs/specs/README.md
  docs/specs/SPEC_TEMPLATE.md
  docs/specs/WS-001-SPEC.md
  docs/specs/WS-002-SPEC.md
  docs/specs/WS-003-SPEC.md
  docs/specs/WS-004-SPEC.md
  docs/specs/WS-005-SPEC.md
  docs/specs/WS-006-SPEC.md
  docs/specs/WS-007-SPEC.md
  docs/specs/WS-008-SPEC.md
  docs/specs/WS-009-SPEC.md
  docs/specs/WS-010-SPEC.md
  docs/specs/WS-011-SPEC.md
  docs/specs/WS-012-SPEC.md
  docs/specs/WS-013-SPEC.md
  docs/specs/WS-014-SPEC.md
Due: prettier --write

ROADMAP: Add MANDATORY specs reference section for all agents
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

FEATURE: WS-001 & WS-002 - Quick Action modals for Receive Payment and Pay Vendor
  client/src/components/accounting/PayVendorModal.tsx
  client/src/components/accounting/ReceivePaymentModal.tsx
  client/src/components/accounting/index.ts
  client/src/pages/accounting/AccountingDashboard.tsx
  server/routers/accounting.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

QA: Redhat QA review for WS-001 & WS-002 - PASSED
  docs/qa/WS-001-002-REDHAT-QA.md
Due: prettier --write

WS-003: Implement Pick & Pack Module
  client/src/App.tsx
  client/src/pages/PickPackPage.tsx
  drizzle/migrations/0018_add_pick_pack_tables.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/pickPack.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

QA: Add Redhat QA review for WS-003 Pick & Pack Module
  docs/qa/WS-003-REDHAT-QA.md
Due: prettier --write

WS-004: Implement Referral Credits System
  client/src/components/orders/ReferralCreditsPanel.tsx
  client/src/components/orders/ReferredBySelector.tsx
  drizzle/migrations/0019_add_referral_credits.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/referrals.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

QA: Add Redhat QA review for WS-004 Referral Credits System
  docs/qa/WS-004-REDHAT-QA.md
Due: prettier --write

FEATURE: WS-005 - No Black Box Audit Trail
  client/src/components/audit/AuditIcon.tsx
  client/src/components/audit/AuditModal.tsx
  client/src/components/audit/index.ts
  server/routers.ts
  server/routers/audit.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

QA: WS-005 Redhat QA Review - PASSED
  docs/qa/WS-005-REDHAT-QA.md
Due: prettier --write

FEATURE: WS-006 - Immediate Tab Screenshot/Receipt Generation
  client/src/components/receipts/ReceiptPreview.tsx
  client/src/components/receipts/index.ts
  drizzle/migrations/0020_add_receipts_table.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/receipts.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

FEATURE: WS-007 through WS-010 - HIGH Priority Sprint Tasks
  drizzle/migrations/0021_add_ws007_010_tables.sql
  server/routers.ts
  server/routers/alerts.ts
  server/routers/flowerIntake.ts
  server/routers/inventoryShrinkage.ts
  server/routers/photography.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

FEATURE: WS-011 through WS-014 - MEDIUM Priority Sprint Tasks
  drizzle/migrations/0022_add_ws011_014_tables.sql
  server/routers.ts
  server/routers/customerPreferences.ts
  server/routers/quickCustomer.ts
  server/routers/vendorReminders.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

QA: Final comprehensive Redhat QA review for Cooper Rd Sprint
  docs/qa/SPRINT_FINAL_REDHAT_QA.md
Due: prettier --write

ROADMAP: Update sprint status - Cooper Rd Remediation Sprint COMPLETE
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

POST-SPRINT: Complete UI integration, navigation, and migration fixes
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/Inventory.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/PhotographyPage.tsx
  docs/qa/POST_SPRINT_FINAL_REDHAT_QA.md
  docs/qa/POST_SPRINT_TASK1_MIGRATIONS_QA.md
  docs/qa/POST_SPRINT_TASK2_UI_INTEGRATION_QA.md
  docs/qa/POST_SPRINT_TASK3_NAVIGATION_QA.md
  drizzle/migrations/0013_add_pick_pack_tables.sql
  drizzle/migrations/0014_add_referral_credits.sql
  drizzle/migrations/0015_add_receipts_table.sql
  drizzle/migrations/0016_add_ws007_010_tables.sql
  drizzle/migrations/0017_add_ws011_014_tables.sql
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

DOCS: Update roadmap v2.14 and add sprint completion summary
  docs/SPRINT_COMPLETION_SUMMARY.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: Address Third-Party Expert Redhat QA Report issues
  QA_REVIEW_FIXES.md
  client/public/version.json
  client/src/components/accounting/ReceivePaymentModal.tsx
  client/src/components/orders/ReferralCreditsPanel.tsx
  client/src/components/receipts/ReceiptPreview.tsx
  client/src/lib/utils.ts
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/PickPackPage.tsx
  client/version.json
  docs/DEPLOYMENT_VERIFICATION.md
  drizzle/schema.ts
  server/routers/alerts.ts
  server/routers/audit.ts
  server/routers/customerPreferences.ts
  server/routers/flowerIntake.ts
  server/routers/inventoryShrinkage.ts
  server/routers/photography.ts
  server/routers/pickPack.ts
  server/routers/quickCustomer.ts
  server/routers/receipts.ts
  server/routers/referrals.ts
  server/routers/vendorReminders.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Update MASTER_ROADMAP v2.15 with sprint completion and E2E results
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): Add REFACTOR-001 - Codebase Duplication & Consistency Cleanup
  docs/DUPLICATION_ANALYSIS_REPORT_V2.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat: Complete final sprint - WS-015, BUG-035, BUG-036, BUG-037, UI enhancements
  QA_REVIEW_FINAL_SPRINT.md
  client/public/version.json
  client/src/components/audit/AuditIcon.tsx
  client/src/components/clients/CustomerWishlistCard.tsx
  client/src/components/orders/ReferralCreditsPanel.tsx
  client/src/pages/ClientProfilePage.tsx
  client/version.json
  drizzle/migrations/0018_add_wishlist_field.sql
  drizzle/migrations/0019_fix_vip_portal_fk_constraint.sql
  drizzle/schema.ts
  server/routers/admin.ts
  server/routers/audit.ts
  server/routers/clients.ts
  server/routers/vipPortal.ts
  server/services/priceAlertsService.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Update roadmap to v2.16 - Sprint 100% complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Fix roadmap discrepancies - WS-015 marked complete, 100% completion rate
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

chore(session): register Documentation & Testing Infrastructure Sprint session
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251231-DOCS-TESTING-SPRINT-82fd9d.md
Due: prettier --write

fix(FIX-001): Add missing client columns migration
  client/public/version.json
  client/version.json
  drizzle/migrations/0020_add_missing_client_columns.sql
Due: prettier --write

docs(api): add comprehensive API documentation (DOCS-002)
  docs/api/AUTHENTICATION.md
  docs/api/README.md
  docs/api/postman-collection.json
  docs/api/routers/accounting.md
  docs/api/routers/analytics.md
  docs/api/routers/auth.md
  docs/api/routers/leaderboard.md
  docs/api/routers/search.md
Due: prettier --write

fix(FIX-001): Add missing client columns via autoMigrate
  client/public/version.json
  client/version.json
  drizzle/migrations/0020_add_missing_client_columns.sql
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(user-guide): add comprehensive user documentation (DOCS-003)
  docs/user-guide/FAQ.md
  docs/user-guide/README.md
  docs/user-guide/accounting.md
  docs/user-guide/inventory.md
  docs/user-guide/pick-pack.md
  docs/user-guide/sales.md
Due: prettier --write

fix(FIX-002): Add missing version columns to batches and orders tables
  client/public/version.json
  client/version.json
  drizzle/migrations/0020_add_missing_client_columns.sql
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(dev-guide): add developer onboarding documentation (DOCS-004)
  docs/dev-guide/README.md
  docs/dev-guide/creating-routers.md
  docs/dev-guide/database-schema.md
Due: prettier --write

test(e2e): add critical path E2E test suite (TEST-002)
  tests-e2e/critical-paths/accounting-quick-payment.spec.ts
  tests-e2e/critical-paths/inventory-intake.spec.ts
  tests-e2e/critical-paths/leaderboard.spec.ts
  tests-e2e/critical-paths/pick-pack.spec.ts
  tests-e2e/critical-paths/sales-client-management.spec.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(Foundation Sprint): Complete Foundation Stabilization Sprint
  FINAL_THIRD_PARTY_REDHAT_QA_REVIEW.md
  QA_PHASE1_REVIEW.md
  QA_PHASE2_REVIEW.md
  QA_PHASE3_REVIEW.md
  QA_PHASE4_REVIEW.md
  client/public/version.json
  client/version.json
  docs/QUAL-004_REFERENTIAL_INTEGRITY_REVIEW.md
  docs/QUAL-007_TODO_AUDIT.md
  docs/REFACTOR-001_PROGRESS.md
  server/inventoryDb.ts
  server/ordersDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Update roadmap to v2.17 - Foundation Stabilization Sprint complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

test(unit): add unit tests for leaderboard, search, and auth routers (TEST-003)
  server/routers/auth.test.ts
  server/routers/leaderboard.test.ts
  server/routers/search.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(analytics): add extended metrics, date filtering, and export functionality (ENHANCE-001)
  client/src/components/analytics/MetricCard.tsx
  client/src/components/analytics/RevenueTrendsTable.tsx
  client/src/components/analytics/TopClientsTable.tsx
  client/src/components/analytics/index.ts
  client/src/pages/AnalyticsPage.tsx
  server/routers/analytics.ts
  server/services/analytics/helpers.ts
  server/services/analytics/index.ts
  server/services/analytics/types.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(leaderboard): add export functionality and weight customizer UI (ENHANCE-002)
  client/src/components/leaderboard/ExportButton.tsx
  client/src/components/leaderboard/WeightCustomizer.tsx
  client/src/components/leaderboard/index.ts
  client/src/pages/LeaderboardPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci: add commit message validation hook (CI-005)
  .husky/commit-msg
Due: none

chore(session): archive Documentation & Testing Infrastructure Sprint session
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251231-DOCS-TESTING-SPRINT-82fd9d.md
  docs/sessions/archived/Session-20251231-DOCS-TESTING-SPRINT-82fd9d.md
Due: prettier --write

docs: Update roadmap to v2.18 - Add Feature Flag System Sprint
  docs/roadmaps/MASTER_ROADMAP.md
  docs/specs/FEATURE-FLAG-SYSTEM-SPEC.md
Due: prettier --write

ci: add documentation generation, coverage reporting, and bundle size monitoring workflows (CI-004)
  .github/workflows/bundle-size.yml
  .github/workflows/coverage.yml
  .github/workflows/docs-generate.yml
Due: none

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
