Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): move TER-1210 session file to completed/
  docs/sessions/completed/Session-20260421-TER-1210-unit-tests-partial.md
Due: prettier --write

feat(dashboard): operational KPI widget row - TER-1055
  client/src/components/dashboard/widgets-v2/OperationalKpisWidget.tsx
  client/src/components/dashboard/widgets-v2/index.ts
  client/src/pages/OwnerCommandCenterDashboard.tsx
  docs/sessions/active/TER-1055-session.md
  server/routers/dashboard.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(dashboard): self-heal TER-1055 per AQA — loading guard, parallel queries, percentChange null, grid breakpoint
  client/src/components/dashboard/widgets-v2/OperationalKpisWidget.tsx
  server/routers/dashboard.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(cogs): COGS adjustment direction logic, pricing context panel, historical analysis cleanup
  client/src/components/cogs/CogsClientSettings.tsx
  client/src/components/pricing/PricingContextPanel.tsx
  server/historicalAnalysis.ts
  server/routers/vendorSupply.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: add retroactive session file for CI validation
  docs/sessions/active/TER-582-cogs-session.md
Due: prettier --write

fix(cogs): guard NaN and render neutral state for zero adjustment
  client/src/components/cogs/CogsClientSettings.tsx
  client/src/components/pricing/PricingContextPanel.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(test): auto-generate version.json before vitest runs - TER-1209
  package.json
Due: prettier --write

fix(schema): correct mysqlEnum column name for cartItemStatus - TER-1193
  drizzle/schema-live-shopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(ci): add unit-tests job to merge.yml - TER-1210 follow-up
  .github/workflows/merge.yml
Due: none

fix(schema): split sampleLocationEnum into per-column enums - TER-1194
  drizzle/schema.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(scheduling): layer modal backdrop below content with z-[-1] - TER-1191
  client/src/components/scheduling/RoomBookingModal.tsx
  client/src/components/scheduling/RoomManagementModal.tsx
  client/src/components/scheduling/ShiftScheduleView.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add multi-lane session file for active post-TER-1210 work
  docs/sessions/active/Session-20260421-post-TER-1210-multi-lane.md
Due: prettier --write

fix(auth): centralize logout + clear all auth-bearing storage keys - TER-1197
  client/src/_core/hooks/useAuth.ts
  client/src/lib/logout.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

perf(vendor-supply): remove N+1 matching-engine call from list path - TER-1198
  server/vendorSupplyDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): update post-TER-1210 multi-lane status (8 PRs, 6 all-green)
  docs/sessions/active/Session-20260421-post-TER-1210-multi-lane.md
Due: prettier --write

chore(session): move TER-1210 session file to completed/ (#597)
  docs/sessions/active/Session-20260421-post-TER-1210-multi-lane.md
  docs/sessions/completed/Session-20260421-TER-1210-unit-tests-partial.md
Due: prettier --write

fix(test): auto-generate version.json before vitest runs - TER-1209 (#598)
  package.json
Due: prettier --write

chore(ci): add unit-tests job to merge.yml - TER-1210 follow-up (#600)
  .github/workflows/merge.yml
Due: none

fix(schema): correct mysqlEnum column name for cartItemStatus - TER-1193 (#599)
  drizzle/schema-live-shopping.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(schema): split sampleLocationEnum into per-column enums - TER-1194 (#601)
  drizzle/schema.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(auth): centralize logout + clear all auth-bearing storage keys - TER-1197 (#603)
  client/src/_core/hooks/useAuth.ts
  client/src/lib/logout.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

perf(vendor-supply): remove N+1 matching-engine call from list path - TER-1198 (#604)
  server/vendorSupplyDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(scheduling): layer modal backdrop below content with z-[-1] - TER-1191 (#602)
  client/src/components/scheduling/RoomBookingModal.tsx
  client/src/components/scheduling/RoomManagementModal.tsx
  client/src/components/scheduling/ShiftScheduleView.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(cogs): COGS adjustment direction, pricing config panel, historical analysis (#582)
  client/src/components/cogs/CogsClientSettings.tsx
  client/src/components/pricing/PricingContextPanel.tsx
  docs/sessions/active/TER-582-cogs-session.md
  server/historicalAnalysis.ts
  server/routers/vendorSupply.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(dashboard): operational KPIs - TER-1055 (#592)
  client/src/components/dashboard/widgets-v2/OperationalKpisWidget.tsx
  client/src/components/dashboard/widgets-v2/index.ts
  client/src/pages/OwnerCommandCenterDashboard.tsx
  docs/sessions/active/TER-1055-session.md
  server/routers/dashboard.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): add Price, COGS, and Margin columns to grid - TER-1047
  client/src/components/spreadsheet-native/InventoryManagementSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): use human-readable status labels - TER-1048
  client/src/components/spreadsheet-native/inventoryConstants.ts
  client/src/lib/statusTokens.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(search): enable strain-based search for products and batches - TER-1049
  server/routers/search.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): product/strain name prominent with supplier secondary - TER-1051
  client/src/components/spreadsheet-native/InventoryManagementSurface.tsx
  client/src/components/spreadsheet-native/InventorySheetPilotSurface.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.tsx
  client/src/components/spreadsheet-native/ProductNameCell.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/spreadsheet-native/PurchaseOrdersPilotSurface.tsx
  client/src/lib/spreadsheet-native/pilotContracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): add Price, COGS, and Margin columns to grid - TER-1047 (#605)
  client/src/components/spreadsheet-native/InventoryManagementSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(inventory): use human-readable status labels - TER-1048 (#606)
  client/src/components/spreadsheet-native/inventoryConstants.ts
  client/src/lib/statusTokens.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(search): enable strain-based search for products and batches - TER-1049 (#607)
  server/routers/search.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(inventory): update pilotContracts test to include Price/COGS/Margin columns
  client/src/lib/spreadsheet-native/pilotContracts.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(orders): update getAllOrders error handling test to expect partial results
  server/__tests__/ordersDb-error-propagation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): add Submitted By column with sorting - TER-1065
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/pages/accounting/AccountingDashboard.test.tsx
  server/ordersDb.ts
  server/routers/orders.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): bulk status update action - TER-1056
  client/src/components/work-surface/OrdersWorkSurface.tsx
  server/routers/orders.test.ts
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): bulk status update action - TER-1056 (#610)
  client/src/components/work-surface/OrdersWorkSurface.tsx
  server/routers/orders.test.ts
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): Product/strain name prominent with supplier secondary - TER-1051 (#608)
  client/src/components/spreadsheet-native/InventoryManagementSurface.tsx
  client/src/components/spreadsheet-native/InventorySheetPilotSurface.tsx
  client/src/components/spreadsheet-native/OrdersSheetPilotSurface.tsx
  client/src/components/spreadsheet-native/ProductBrowserGrid.tsx
  client/src/components/spreadsheet-native/ProductNameCell.tsx
  client/src/components/spreadsheet-native/PurchaseOrderSurface.tsx
  client/src/components/spreadsheet-native/PurchaseOrdersPilotSurface.tsx
  client/src/lib/spreadsheet-native/pilotContracts.test.ts
  client/src/lib/spreadsheet-native/pilotContracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): add missing getSubmittedByName helper - TER-1065
  client/src/components/work-surface/OrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
