Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

feat(orders): add WorkSurfaceStatusBar with keyboard hints
  client/src/pages/OrderCreatorPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): wire useExport for CSV download
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): port saved filter views from legacy
  client/src/components/inventory/SaveViewModal.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/__tests__/InventoryWorkSurface.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): port aging badges, stock status, and extended columns
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): port mobile responsive card view
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): wire useUndo, useValidationTiming, WorkSurfaceStatusBar
  client/src/components/work-surface/InventoryWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(pick-pack): wire useUndo for pack operations
  client/src/components/work-surface/PickPackWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(inventory): remove dead legacy Inventory.tsx (1,462 lines)
  client/src/pages/Inventory.test.tsx
  client/src/pages/Inventory.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(po): wire useUndo for draft operations
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(po): wire useValidationTiming for line item fields
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(po): add WorkSurfaceStatusBar with keyboard hints
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(worksurface): wire CSV export into PO and pick-pack
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): create reusable KeyboardHintBar component
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/KeyboardHintBar.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/components/work-surface/index.ts
  client/src/pages/OrderCreatorPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: align dashboard and schema fingerprint suites with current behavior
  client/src/components/DashboardLayout.test.tsx
  server/__tests__/autoMigrateFingerprint.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(export): honor per-export maxRows overrides
  client/src/hooks/work-surface/__tests__/useExport.test.ts
  client/src/hooks/work-surface/useExport.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(protocol): strengthen model-agnostic QA and evidence gates
  AGENTS.md
  CLAUDE.md
Due: prettier --write

docs(release-train): stamp final V4 matrix with integration SHA
  docs/execution/2026-02-27-release-train/06-final-v4-qa-report.md
Due: prettier --write

docs(release-train): record post-commit gate rerun status
  docs/execution/2026-02-27-release-train/05-execution-log.md
Due: prettier --write

chore(version): refresh build metadata after release-gate rerun
  client/public/version.json
  client/version.json
Due: prettier --write

docs(release-train): finalize head-level verification and blocker notes
  client/public/version.json
  client/version.json
  docs/execution/2026-02-27-release-train/05-execution-log.md
  docs/execution/2026-02-27-release-train/06-final-v4-qa-report.md
  docs/execution/2026-02-27-release-train/07-release-gate-verdict.md
Due: prettier --write

fix(release-gate): harden staging auth, inventory delete UX, and schema-validation CI
  .github/workflows/schema-validation.yml
  server/_core/env.ts
  server/inventoryDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci(pre-merge): provide mysql setup for data-integrity tests
  .github/workflows/pre-merge.yml
Due: none

ci(pre-merge): start app server for targeted e2e job
  .github/workflows/pre-merge.yml
Due: none

ci(pre-merge): probe /health for app readiness in targeted e2e
  .github/workflows/pre-merge.yml
Due: none

ci(pre-merge): scope targeted e2e to chromium project
  .github/workflows/pre-merge.yml
Due: none

ci(pre-merge): seed QA accounts for targeted e2e auth
  .github/workflows/pre-merge.yml
Due: none

docs(release-train): finalize post-merge evidence and blocked gate verdict
  docs/execution/2026-02-27-release-train/04-linear-mapping.md
  docs/execution/2026-02-27-release-train/05-execution-log.md
  docs/execution/2026-02-27-release-train/06-final-v4-qa-report.md
  docs/execution/2026-02-27-release-train/07-release-gate-verdict.md
  docs/execution/2026-02-27-release-train/08-adversarial-qa-reaudit.md
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/debug-after-select.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/inventory-api-proof-post-merge.json
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/inventory-ui-proof-post-merge.json
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/route-final-urls-post-merge.txt
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/route-inventory-1-post-merge.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/route-orders-create-post-merge.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/route-purchase-orders-classic-post-merge.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/route-receiving-post-merge.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/route-spreadsheet-view-post-merge.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/rt07-ui-01-selected-row.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/rt07-ui-02-delete-confirm.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/rt07-ui-03-after-delete.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/rt07-ui-04-after-undo.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/ter463-ui-01-selected-blocked-row.png
  docs/execution/2026-02-27-release-train/ui-evidence/post-merge/ter463-ui-02-blocked-delete-error.png
Due: prettier --write

fix(docker): use production-only deps in runner stage
  .do/app-seed-job.yaml
  .do/app-staging.yaml
  .do/app.yaml
  Dockerfile
  scripts/ci/check-image-size.sh
  terp-do-spec-no-augment.yaml
  terp-do-spec.yaml
Due: none

test: harden oracle contracts and refresh frontend action checks
  package.json
  tests-e2e/critical-paths/control-action-contracts.spec.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/loader.ts
  tests-e2e/oracles/oracle-runner.spec.ts
  tests-e2e/oracles/orders/create-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/create-order.oracle.yaml
  tests-e2e/oracles/orders/navigate-create-order.oracle.yaml
  tests-e2e/oracles/orders/update-draft-enhanced.oracle.yaml
  tests-e2e/utils/control-action-contracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: harden oracle contracts and refresh frontend action checks (#450)
  package.json
  tests-e2e/critical-paths/control-action-contracts.spec.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/loader.ts
  tests-e2e/oracles/oracle-runner.spec.ts
  tests-e2e/oracles/orders/create-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/create-order.oracle.yaml
  tests-e2e/oracles/orders/navigate-create-order.oracle.yaml
  tests-e2e/oracles/orders/update-draft-enhanced.oracle.yaml
  tests-e2e/utils/control-action-contracts.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(release-train): refresh live staging V4 gate evidence and final verdict
  docs/execution/2026-02-27-release-train/04-linear-mapping.md
  docs/execution/2026-02-27-release-train/05-execution-log.md
  docs/execution/2026-02-27-release-train/06-final-v4-qa-report.md
  docs/execution/2026-02-27-release-train/07-release-gate-verdict.md
  docs/execution/2026-02-27-release-train/08-adversarial-qa-reaudit.md
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/blocked-delete-guidance-message.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/delete-undo-after-delete.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/delete-undo-clicked-undo.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/delete-undo-restored.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/delete-undo-selected-row.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/excluded-smoke-rerun-report.json
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/lane-b-evidence.json
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-audit-2026-03-01.json
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-final-urls-2026-03-01.txt
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-inventory-1.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-orders-create.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-purchase-orders-classic.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-receiving.png
  docs/execution/2026-02-27-release-train/ui-evidence/2026-03-01-live-revalidation/route-spreadsheet-view.png
Due: prettier --write

feat(release-train): checkpoint1 CF-001 CF-002 CF-003
  client/src/components/orders/LineItemRow.tsx
  client/src/components/orders/LineItemTable.tsx
  client/src/components/orders/OrderTotalsPanel.tsx
  client/src/components/samples/SampleForm.test.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/pages/OrderCreatorPage.tsx
  docs/roadmaps/2026-03-02-feedback-video-atomic-roadmap.json
  docs/roadmaps/2026-03-02-feedback-video-atomic-roadmap.md
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
  docs/roadmaps/2026-03-02-feedback-video-qa-gates.md
  docs/roadmaps/2026-03-02-feedback-video-subagent-coordination-plan.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(ledger): record checkpoint1 commit sha
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
Due: prettier --write

docs(ledger): close checkpoint1 with staging evidence
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
Due: prettier --write

feat(sales): implement checkpoint2 drawer and quantity contracts
  client/src/components/orders/LineItemRow.tsx
  client/src/components/orders/MarginInput.test.tsx
  client/src/components/orders/MarginInput.tsx
  client/src/components/pricing/PricingConfigTab.tsx
  client/src/components/sales/InventoryBrowser.test.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/lib/quantity.test.ts
  client/src/lib/quantity.ts
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/OrderCreatorPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): record checkpoint2 evidence in execution ledger
  docs/roadmaps/2026-03-02-feedback-video-execution-ledger.md
Due: prettier --write

feat(ui): add compact density mode and sales-mode defaults
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/orders/LineItemTable.tsx
  client/src/components/orders/MarginInput.test.tsx
  client/src/components/orders/MarginInput.tsx
  client/src/components/spreadsheet/ClientGrid.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
  client/src/components/spreadsheet/PickPackGrid.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/hooks/useUiDensity.ts
  client/src/index.css
  client/src/lib/salesMode.test.ts
  client/src/lib/salesMode.ts
  client/src/lib/uiDensity.test.ts
  client/src/lib/uiDensity.ts
  client/src/main.tsx
  client/src/pages/ConsolidatedWorkspaces.test.tsx
  client/src/pages/SalesWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(workspaces): enforce compact defaults and cross-surface validation contracts
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/lib/uiDensity.test.ts
  client/src/lib/uiDensity.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(seed): use open-source flower photos for realistic media fallback
  scripts/seed/README.md
  scripts/seed/seeders/ATTRIBUTION.md
  scripts/seed/seeders/open-source-flower-images.test.ts
  scripts/seed/seeders/open-source-flower-images.ts
  scripts/seed/seeders/seed-batch-images-safe.ts
  scripts/seed/seeders/seed-product-images.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
