Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ]
}

chore: Force deployment rebuild for Dashboard V3
  .deployment-trigger
Due: none

fix: Correct property names and method calls in Sales Order V2.0
  server/routers/ordersEnhancedV2.ts.backup
Due: none

fix: Frontend bugs - React Router and missing widget exports
  client/src/components/dashboard/widgets-v2/index.ts
  client/src/components/dashboard/widgets-v3/index.ts
  client/src/pages/DashboardV3.tsx
  client/src/pages/OrderCreatorPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: Resolve Dashboard V3 deployment build errors
  client/src/components/dashboard/widgets-v2/index.ts
  client/src/components/dashboard/widgets-v3/index.ts
  client/src/pages/DashboardV3.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: widget visibility toggle - add useMemo/useCallback for proper re-rendering
  client/src/contexts/DashboardPreferencesContext.tsx
  client/src/pages/DashboardV3.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: remove duplicate ProfitabilityWidget export causing build failure
  client/src/components/dashboard/widgets-v2/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add cross-device dashboard preferences sync
  client/src/contexts/DashboardPreferencesContext.tsx
  client/src/types/dashboard.ts
  docs/DASHBOARD_PREFERENCES_SCHEMA_DESIGN.md
  drizzle/migrations/0002_dashboard_preferences.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/dashboardPreferences.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add userDashboardPreferences migration to admin endpoint
  server/routers/adminMigrations.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add lightweight widget reordering with up/down arrow buttons
  client/src/components/dashboard/v3/CustomizationPanel.tsx
  client/src/contexts/DashboardPreferencesContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Add multi-agent PM system with automated status tracking
  product-management/README.md
  product-management/SYSTEM_DESIGN.md
  product-management/USER_GUIDE_V2.md
  product-management/_system/chat-contexts/dev-agent-context.md
  product-management/_system/chat-contexts/pm-agent-context.md
  product-management/_system/scripts/initiative-manager.py
  product-management/_system/scripts/pm-evaluator.py
  product-management/_system/scripts/status-tracker.py
  product-management/_system/templates/initiative-template.md
  product-management/initiatives/TERP-INIT-001/manifest.json
  product-management/initiatives/TERP-INIT-001/overview.md
  product-management/initiatives/TERP-INIT-001/progress.md
  product-management/initiatives/registry.json
  product-management/pm-evaluation/dashboard.json
  product-management/pm-evaluation/dependencies.json
Due: prettier --write
