Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-012: Fix Add Item button on Create Order page
  client/src/pages/OrderCreatorPage.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-012: Mark as COMPLETE in roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: refactor createContext per tRPC best practices - never throw, always return context
  TRPC_CONTEXT_FIX.md
  server/_core/context.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update build status [skip ci]
  .github/BUILD_STATUS.md
Due: prettier --write

fix: add comment clarifying user type in createContext
  server/_core/context.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: QA fixes for context creation - type safety and consistency
  QA_REPORT_CONTEXT_FIX.md
  server/_core/context.ts
  server/_core/permissionMiddleware.ts
  server/_core/trpc.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: add start:production script for Dockerfile compatibility
  package.json
Due: prettier --write

debug: Add multiple logging methods to verify createContext is called
  server/_core/context.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

debug: Add test endpoint to verify createContext is callable
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

debug: Add version check endpoint to verify deployed code
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Defensive approach - requireUser middleware provisions public user if createContext fails
  server/_core/trpc.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Add build timestamp to Dockerfile to bust cache and ensure fresh builds
  Dockerfile
Due: none

fix: Improve Docker cache busting with RUN command that always produces unique output
  Dockerfile
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
