Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

docs: add Task 8 to Agent 6F - update all agent documentation with auth info
  docs/prompts/wave6/AGENT_6F_AUTH_GODMODE.md
Due: prettier --write

feat(auth): add admin setup scripts, test accounts, and AI agent auth
  .env.example
  README.md
  docs/AUTH_SETUP.md
  docs/guides/E2E_TESTING.md
  docs/prompts/AGENT_ONBOARDING_TEMPLATE.md
  package.json
  scripts/get-auth-token.ts
  scripts/setup-admin.ts
  server/_core/env.ts
  server/db/seed/testAccounts.ts
  server/routers/auth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json files from build
  client/public/version.json
  client/version.json
Due: prettier --write

docs: add QA fixes for auth implementation
  docs/AUTH_SETUP.md
  docs/guides/E2E_TESTING.md
  scripts/get-auth-token.ts
  server/routers/auth.test.ts
  server/routers/auth.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(cleanup): remove deprecated code and fix TypeScript issues
  apply-migration-railway.ts
  server/db/seed/productionSeed.ts
  server/index.ts
  server/todoListsDb.ts
  server/todoTasksDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(infra): add database backups and health endpoint
  .env.example
  client/public/version.json
  client/src/lib/datadog.ts
  client/src/main.tsx
  client/version.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(infra): add Datadog RUM, database backups, and health endpoint
  .env.example
  client/src/lib/datadog.ts
  client/src/main.tsx
  package.json
  pnpm-lock.yaml
  scripts/backup-database.ts
  server/routers.ts
  server/routers/health.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add unified product catalogue with CRUD operations (FEATURE-011)
  client/src/pages/ProductsPage.tsx
  server/productsDb.ts
  server/routers.ts
  server/routers/productCatalogue.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Make feature flag Default Enabled editable and unify dashboard layout
  client/public/version.json
  client/src/components/layout/AppShell.tsx
  client/src/pages/DashboardV3.tsx
  client/src/pages/settings/FeatureFlagsPage.tsx
  client/version.json
  docs/prompts/WAVE6_PARALLEL_AGENTS.md
  docs/prompts/wave6/AGENT_6B_INFRASTRUCTURE.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add comprehensive user flow test results and root cause analysis
  test-flows/FINAL_TEST_SUMMARY.md
  test-flows/ROOT_CAUSE_ANALYSIS.md
  test-flows/TEST_RESULTS.md
  test-flows/USER_FLOW_TESTS.md
Due: prettier --write

feat: Add safe seed:fill-gaps script to fill data gaps without breaking relationships
  package.json
  scripts/seed-fill-gaps.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add additional bugs found through codebase pattern analysis
  test-flows/ADDITIONAL_BUGS_FOUND.md
Due: prettier --write

docs(roadmap): Add 30 bugs from user flow testing (BUG-040 to BUG-069)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: Correct column names and add missing required fields in seed-fill-gaps.ts
  scripts/seed-fill-gaps.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): Add consolidated REMAINING_TASKS_ROADMAP.md
  docs/roadmaps/REMAINING_TASKS_ROADMAP.md
Due: prettier --write

docs: Add DigitalOcean MCP guide for AI agents
  docs/agents/DIGITALOCEAN_MCP_GUIDE.md
Due: prettier --write

Add task validation results - 15 tasks found to be already complete
  test-flows/VALIDATION_RESULTS.md
  test-flows/VALIDATION_SUMMARY.md
Due: prettier --write

docs: Add Wave 7 completion - Data Seeding & QA Infrastructure
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/WAVE_7_DATA_SEEDING_COMPLETE.md
Due: prettier --write

Add Strategic Execution Roadmap - Wave-based approach to full completion
  docs/roadmaps/STRATEGIC_EXECUTION_ROADMAP.md
  test-flows/VALIDATION_RESULTS.md
Due: prettier --write

Add Thursday Ready Plan - Focused on user testing deadline
  docs/roadmaps/THURSDAY_READY_PLAN.md
Due: prettier --write

Add complete execution roadmap with all agent prompts
  docs/agent_prompts/execution/WAVE_1A_PROMPT.md
  docs/agent_prompts/execution/WAVE_1B_PROMPT.md
  docs/agent_prompts/execution/WAVE_2A_PROMPT.md
  docs/agent_prompts/execution/WAVE_2B_PROMPT.md
  docs/agent_prompts/execution/WAVE_3_PROMPT.md
  docs/agent_prompts/execution/WAVE_4A_PROMPT.md
  docs/agent_prompts/execution/WAVE_4B_PROMPT.md
  docs/agent_prompts/execution/WAVE_5_PROMPT.md
  docs/agent_prompts/execution/WAVE_6_PROMPT.md
  docs/roadmaps/COMPLETE_EXECUTION_ROADMAP.md
Due: prettier --write

docs: Add stability-focused execution plan v2
  docs/agent_prompts/execution_v2/WAVE_1A_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_1B_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_1C_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_2A_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_2B_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_3_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_4A_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_4B_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_5_PROMPT.md
  docs/agent_prompts/execution_v2/WAVE_6_PROMPT.md
  docs/qa/RED_TEAM_ANALYSIS.md
  docs/roadmaps/PARALLEL_EXECUTION_ROADMAP_V2.md
Due: prettier --write

fix(QA-049): Fix Products page showing empty
  client/src/pages/ProductsPage.test.tsx
  client/src/pages/ProductsPage.tsx
  docs/bugs/QA-049-050-POSTMORTEM.md
  server/routers/productCatalogue.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(QA-050): Fix Samples page showing empty
  client/src/pages/SampleManagement.test.tsx
  client/src/pages/SampleManagement.tsx
  server/routers/samples.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(debug): Add data display diagnostics endpoint
  server/routers/debug.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: Add smoke test suite for critical path verification
  tests/smoke/smoke.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add manual verification checklist for Thursday deployment
  tests/manual/THURSDAY_VERIFICATION_CHECKLIST.md
Due: prettier --write

test: Add database verification queries for deployment
  tests/sql/verify_data.sql
Due: none

docs: Add deployment runbook for Thursday release
  docs/deployment/THURSDAY_DEPLOYMENT_RUNBOOK.md
Due: prettier --write

chore: Add smoke test project and scripts to Playwright config
  package.json
  playwright.config.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(Wave-1A): Critical stability fixes for Order & Batch operations
  client/src/components/inventory/BatchDetailDrawer.test.tsx
  client/src/components/inventory/BatchDetailDrawer.tsx
  server/pricingEngine.ts
  server/routers/inventory.ts
  server/services/permissionService.test.ts
  server/services/permissionService.ts
  server/tests/pricingEngine.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(Wave-1A): Critical stability fixes with security hardening
  client/src/components/inventory/BatchDetailDrawer.test.tsx
  client/src/components/inventory/BatchDetailDrawer.tsx
  server/pricingEngine.ts
  server/routers/inventory.ts
  server/services/permissionService.test.ts
  server/services/permissionService.ts
  server/tests/pricingEngine.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: Add smoke test infrastructure and deployment runbook
  docs/deployment/THURSDAY_DEPLOYMENT_RUNBOOK.md
  package.json
  playwright.config.ts
  tests/manual/THURSDAY_VERIFICATION_CHECKLIST.md
  tests/smoke/smoke.spec.ts
  tests/sql/verify_data.sql
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(QA-049,QA-050): Data display stability with security hardening
  client/src/pages/ProductsPage.test.tsx
  client/src/pages/ProductsPage.tsx
  client/src/pages/SampleManagement.test.tsx
  client/src/pages/SampleManagement.tsx
  docs/bugs/QA-049-050-POSTMORTEM.md
  server/routers/debug.ts
  server/routers/productCatalogue.ts
  server/routers/samples.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(Wave-1A): Critical stability fixes with security hardening (#162)
  client/src/components/inventory/BatchDetailDrawer.test.tsx
  client/src/components/inventory/BatchDetailDrawer.tsx
  client/src/pages/ProductsPage.test.tsx
  client/src/pages/ProductsPage.tsx
  client/src/pages/SampleManagement.test.tsx
  client/src/pages/SampleManagement.tsx
  docs/bugs/QA-049-050-POSTMORTEM.md
  docs/deployment/THURSDAY_DEPLOYMENT_RUNBOOK.md
  package.json
  playwright.config.ts
  server/pricingEngine.ts
  server/routers/debug.ts
  server/routers/inventory.ts
  server/routers/productCatalogue.ts
  server/routers/samples.ts
  server/services/permissionService.test.ts
  server/services/permissionService.ts
  server/tests/pricingEngine.test.ts
  tests/manual/THURSDAY_VERIFICATION_CHECKLIST.md
  tests/smoke/smoke.spec.ts
  tests/sql/verify_data.sql
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

db: Add FULLTEXT indexes for search performance
  drizzle/0046_add_search_indexes.sql
Due: none

fix(BUG-042): Expand search to include product names, strains
  server/routers/search.test.ts
  server/routers/search.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(BUG-045,BUG-048): Replace page reload with proper retry
  client/src/hooks/useRetryableQuery.test.ts
  client/src/hooks/useRetryableQuery.ts
  client/src/pages/ClientsListPage.tsx
  client/src/pages/OrderCreatorPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
