Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete WF-003: End-to-End Returns Workflow Verification
  docs/WF-003-VERIFICATION-REPORT.md
  docs/sessions/completed/Session-20251124-WF-001-a1b2c3d4.md
  docs/sessions/completed/Session-20251124-WF-002-e5f6g7h8.md
Due: prettier --write

Complete DATA-002-AUGMENT: Create data augmentation script
  docs/DATA-002-AUGMENT-COMPLETION-REPORT.md
  scripts/augment-seeded-data.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Complete WF-004: Data Integrity Verification - Create test suite and validation script
  docs/WF-004-COMPLETION-REPORT.md
  scripts/validate-data-integrity.ts
  tests/integration/data-integrity.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add sprint completion report for Phase 2.5 & Phase 3
  docs/DEPLOYMENT_CONFLICT_ANALYSIS.md
  docs/SPRINT_COMPLETION_REPORT_2025-11-24.md
Due: prettier --write

Complete all remaining waves: Archive sessions and finalize sprint
  docs/sessions/completed/Session-20251124-WF-001-$(openssl rand -hex 4).md
  docs/sessions/completed/Session-20251124-WF-001-802a87a4.md
Due: prettier --write

Add final sprint summary - 100% completion
  docs/FINAL_SPRINT_SUMMARY_2025-11-24.md
Due: prettier --write

fix: Ultra-minimal Dockerfile - absolute simplest possible
  Dockerfile.bot
Due: none

fix: Add fallback install strategies to handle patch failures
  Dockerfile.bot
Due: none

fix: Copy patches before install (required for pnpm)
  Dockerfile.bot
Due: none

fix: Copy only essential files instead of everything
  Dockerfile.bot
Due: none

fix: Fix COPY syntax errors - remove shell redirection, fix multiple file copy
  Dockerfile.bot
Due: none

fix: Create directories first, then copy with error handling
  Dockerfile.bot
Due: none

fix: Minimal Dockerfile - copy only absolutely essential files
  Dockerfile.bot
Due: none

refactor: Runtime clone strategy - minimal Dockerfile, clone at startup
  Dockerfile.bot
  scripts/bot-start.sh
Due: none

docs: Complete mobile E2E testing with rapid sampling approach
  docs/roadmaps/MASTER_ROADMAP.md
  docs/testing/MOBILE_E2E_FINAL_REPORT.md
  docs/testing/MOBILE_E2E_TESTING_EXECUTION_LOG.md
  docs/testing/MOBILE_RAPID_TESTING_SUMMARY.md
  docs/testing/P0_BUG_FIX_MONITORING.md
Due: prettier --write

Complete comprehensive mobile E2E testing with QA review and gap closure
  docs/testing/COMPREHENSIVE_MOBILE_TESTING_EXECUTION.md
  docs/testing/MOBILE_TESTING_QA_REVIEW.md
  docs/testing/RAPID_COMPREHENSIVE_MOBILE_TESTING.md
  docs/testing/TRUE_100_PERCENT_MOBILE_TESTING_COMPLETE.md
Due: prettier --write

fix: Comprehensive runtime validation and error handling (merged)
  docs/AGENT_PROMPT_BUG_FIXES_PHASE.md
  docs/COMPREHENSIVE_EXECUTION_PLAN_2025-01-27.md
  docs/DEPLOYMENT_CONFLICT_ANALYSIS.md
  docs/DEPLOYMENT_CONFLICT_ANALYSIS_V2_EXECUTIVE_SUMMARY.md
  docs/DEPLOYMENT_CONFLICT_ANALYSIS_V2_QA_REVIEW.md
  docs/DEPLOYMENT_CONFLICT_FINAL_SUMMARY.md
  docs/DEPLOYMENT_CONFLICT_INTEGRATION_PLAN.md
  docs/DEPLOYMENT_CONFLICT_INTEGRATION_PLAN_FINAL.md
  docs/DEPLOYMENT_CONFLICT_INTEGRATION_PLAN_FINAL_WITH_MONITORING.md
  docs/DEPLOYMENT_CONFLICT_INTEGRATION_PLAN_V2_FINAL.md
  docs/DEPLOYMENT_MONITORING_ENFORCEMENT_PLAN.md
  docs/DEPLOYMENT_PLAN_FINAL_PRESENTATION.md
  docs/DEPLOYMENT_PLAN_PERFORMANCE_OPTIMIZED.md
  docs/DEPLOYMENT_PLAN_QA_REVIEW_FINAL.md
  docs/DEPLOYMENT_PLAN_ROADMAP_TASKS.md
  docs/FINAL_PLAN_REPORT.md
  docs/INTEGRATION_SUMMARY.md
  docs/NEXT_PHASE_BUG_FIXES_REPORT_2025-11-24.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251124-WF-002-e5f6g7h8.md
Due: prettier --write

fix: Comprehensive runtime validation and error handling
  RUNTIME_FIX_PLAN.md
  scripts/bot-start.sh
  scripts/slack-bot.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add rigorous UI/UX audit and honest mobile testing assessment
  docs/testing/COMPREHENSIVE_INTERACTION_TESTING.md
  docs/testing/FINAL_REALISTIC_MOBILE_TESTING_ASSESSMENT.md
  docs/testing/RIGOROUS_UI_UX_AUDIT.md
Due: prettier --write

INFRA-004: Implement deployment monitoring enforcement
  .gitignore
  .husky/post-push
  .husky/pre-push
  scripts/check-deployment-status.sh
  scripts/cleanup-deployment-status.sh
  scripts/manage-deployment-monitors.sh
  scripts/monitor-deployment-auto.sh
Due: none

Add deployment infrastructure tasks and PREREQ-001 to roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
