Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix: Add missing publicProcedure import in orders router
  server/routers/orders.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update build status [skip ci]
  .github/BUILD_STATUS.md
Due: prettier --write

Fix: Use role field instead of non-existent isSuperAdmin
  server/routers/admin.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add grantPermission endpoint to admin router for BUG-001
  scripts/grant-orders-permission.ts
  server/routers/admin.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add clearPermissionCache endpoint to admin router
  server/routers/admin.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add dynamic login/logout link to sidebar navigation
  client/src/components/DashboardLayout.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update MASTER_ROADMAP v2.1: Add BUG-001, login/logout feature, fix ST-011 status, renumber ST-018
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat: implement Ironclad Workflow system with ad-hoc task support
  .husky/pre-commit-qa-check.sh
  .husky/pre-push
  docs/CLAUDE_WORKFLOW.md
  docs/NEW_AGENT_PROMPT.md
  docs/QUICK_REFERENCE.md
  docs/agent_prompts/live_qa/README.md
  docs/agent_prompts/live_qa/live_qa_prompt.md
  docs/archive/CLAUDE_WORKFLOW_v1.md
  docs/archive/NEW_AGENT_PROMPT_v3.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/QA_TASKS_BACKLOG.md
  docs/roadmaps/TESTING_ROADMAP.md
  docs/roadmaps/TEST_COVERAGE_MAP.md
  docs/roadmaps/testing/TEST_TASK_TEMPLATE.md
  docs/roadmaps/testing/architecture/auth.md
  docs/roadmaps/testing/flows/create-order.md
  docs/roadmaps/testing/modules/inventory.md
  docs/roadmaps/testing_roadmap_diagram.png
  docs/testing/AI_AGENT_QUICK_REFERENCE.md
  docs/testing/TERP_TESTING_README.md
  docs/testing_roadmap_implementation_guide.md
  docs/testing_roadmap_system_design.md
  docs/testing_roadmap_system_summary.md
  package.json
  scripts/start-task.sh
Due: prettier --write

Add assignSuperAdminRole endpoint - BUG-001 final fix
  server/routers/admin.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: improve Ironclad Workflow System robustness and usability
  .husky/pre-commit-qa-check.sh
  .husky/pre-push
  .husky/qa-config.sh
  docs/NEW_AGENT_PROMPT.md
  docs/QUICK_REFERENCE.md
  docs/ironclad_workflow_implementation_report.md
  scripts/start-task.sh
Due: prettier --write

feat: add pre-merge quality gate workflow
  .github/workflows/pre-merge.yml
Due: none

Add DATA-002-AUGMENT: Augment seeded data for realistic relationships
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Add BUG-002: Duplicate navigation bar on dashboard
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Add FEATURE-002: Change Header Color
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Add 2025-11-22 TERP roadmap update
  docs/ROADMAP_UPDATE_2025-11-22.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
