Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

style(design): card.tsx — rounded-xl → rounded-[var(--radius)] token (TER-1243)
  client/src/components/ui/card.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

style(design): AppHeader search — rounded-2xl → rounded-[var(--radius)] token (TER-1243)
  client/src/components/layout/AppHeader.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): fix session file format for TER-1243 (add backticks around branch)
  docs/sessions/active/TER-1243-session.md
Due: prettier --write

style(design): enforce single --radius token across all primitives (TER-1243)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/card.tsx
  client/src/index.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

style(design): Tranche D System 2 — enforce --radius token (TER-1243)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/card.tsx
  client/src/index.css
  docs/sessions/active/TER-1243-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add session file for TER-1242
  docs/sessions/active/TER-1242-session.md
Due: prettier --write

feat(design): Tranche D System 5 — Header + sidebar consolidation (TER-1242)
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/index.css
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/CreditsWorkspacePage.tsx
  client/src/pages/DemandSupplyWorkspacePage.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/RelationshipsWorkspacePage.tsx
  client/src/pages/SalesWorkspacePage.tsx
  docs/sessions/active/TER-1242-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): Tranche D System 5 — Header + sidebar consolidation (TER-1242)
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/index.css
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/CreditsWorkspacePage.tsx
  client/src/pages/DemandSupplyWorkspacePage.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/RelationshipsWorkspacePage.tsx
  client/src/pages/SalesWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): fix session file branch reference for TER-1242
  docs/sessions/active/TER-1242-session.md
Due: prettier --write

chore(session): update branch ref in session file for TER-1242
  docs/sessions/active/TER-1242-session.md
Due: prettier --write

feat(design): Tranche D System 5 — Header + sidebar consolidation (TER-1242) (#686)
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/layout/Sidebar.tsx
  client/src/index.css
  client/src/pages/AccountingWorkspacePage.tsx
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/CreditsWorkspacePage.tsx
  client/src/pages/DemandSupplyWorkspacePage.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  client/src/pages/ProcurementWorkspacePage.tsx
  client/src/pages/RelationshipsWorkspacePage.tsx
  client/src/pages/SalesWorkspacePage.tsx
  docs/sessions/active/TER-1242-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): Tranche D Systems 6+7 — Primitives cleanup + single max-width (TER-1244, TER-1239)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/input.tsx
  client/src/index.css
  docs/sessions/active/TER-1239-session.md
  docs/sessions/active/TER-1244-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(design): Tranche D Systems 6+7 — Primitives cleanup + single max-width (TER-1244, TER-1239) (#689)
  client/src/components/layout/AppHeader.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/input.tsx
  client/src/index.css
  docs/sessions/active/TER-1239-session.md
  docs/sessions/active/TER-1244-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): add session file for TER-1260
  docs/sessions/active/TER-1260-session.md
Due: prettier --write

chore(session): add session file for TER-1259
  docs/sessions/active/TER-1259-session.md
Due: prettier --write

chore(session): add session file for TER-1281
  docs/sessions/active/TER-1281-session.md
Due: prettier --write

fix(clients): exclude QA/test fixtures from client picker — TER-1259
  server/clientsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): add horizontal resize divider between order tables and line-item controls - TER-1281
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(clients): exclude QA/test fixtures from client picker — TER-1259 (#690)
  docs/sessions/active/TER-1259-session.md
  server/clientsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): horizontal resize divider between order tables and controls (TER-1281) (#691)
  client/src/components/spreadsheet-native/SalesOrderSurface.test.tsx
  client/src/components/spreadsheet-native/SalesOrderSurface.tsx
  docs/sessions/active/TER-1281-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(routing): redirect /sales/new to sales new order tab (TER-1260)
  client/src/App.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(routing): redirect /sales/new to sales new order tab (TER-1260) (#692)
  client/src/App.tsx
  docs/sessions/active/TER-1260-session.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(session): pre-initialize session for TER-921
  docs/sessions/active/TER-921-session.md
Due: prettier --write

chore(session): pre-initialize session for TER-904
  docs/sessions/active/TER-904-session.md
Due: prettier --write

chore(session): pre-initialize session for TER-973
  docs/sessions/active/TER-973-session.md
Due: prettier --write

chore(session): pre-initialize session for TER-851
  docs/sessions/active/TER-851-session.md
Due: prettier --write

chore(session): pre-initialize session for TER-924
  docs/sessions/active/TER-924-session.md
Due: prettier --write

fix(returns): show user name instead of raw 'User #N' in Processed By column (TER-921)
  client/src/components/spreadsheet-native/ReturnsPilotSurface.tsx
  server/routers/returns.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(demand-supply): render supplier name (or fallback) on supply cards (TER-973)
  client/src/pages/MatchmakingServicePage.test.tsx
  server/vendorSupplyDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(demand-supply): render supplier name (or fallback) on supply cards (TER-973)
  client/src/components/notifications/NotificationBell.test.tsx.backup
Due: none

fix(notifications): repair deep links to use workspace routes (TER-851)
  server/services/notificationTriggers.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(notifications): bell badge mirrors real unread count (TER-904)
  client/src/components/notifications/NotificationBell.test.tsx
  client/src/components/notifications/NotificationBell.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(a11y): add WAI-ARIA tab semantics to SheetModeToggle (TER-924)
  client/src/components/spreadsheet-native/SheetModeToggle.test.tsx
  client/src/components/spreadsheet-native/SheetModeToggle.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
