Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

feat(data-integrity): migrate VARCHAR to DECIMAL for 29 numeric columns (DI-007)
  docs/DI-007_VARCHAR_TO_DECIMAL_MIGRATION.md
  drizzle/migrations/0052_migrate_varchar_to_decimal_numeric_columns.sql
  drizzle/schema.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): add comprehensive merged code review report
  docs/qa/MERGED_CODE_REVIEW_REPORT.md
Due: prettier --write

docs(qa): update code review with verified findings only
  docs/qa/MERGED_CODE_REVIEW_REPORT.md
Due: prettier --write

fix: resolve 3 verified bugs from QA review
  drizzle/migrations/0057_add_sms_enabled_to_notification_preferences.sql
  drizzle/schema.ts
  server/routers/vipPortalLiveShopping.ts
  server/services/notificationService.ts
  server/utils/subcategoryMatcher.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(db): add migration runner script
  package.json
  scripts/run-migrations.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): improve migration script with proper tracking
  scripts/run-migrations.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): add BUG-098 and BUG-099 for UI investigation findings
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): full accuracy audit - fix counts and duplicate entries (v5.3)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): add MVP completion execution plan v1.0
  docs/roadmaps/MVP_COMPLETION_EXECUTION_PLAN.md
Due: prettier --write

fix(wave1): resolve BUG-098 and BUG-099 - P1 critical bugs
  client/src/pages/Inventory.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  server/samplesDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): complete Wave 1 data integrity tasks (v5.5)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): Wave 2 audit - verify already implemented features (v5.6)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): Wave 3 audit - verify more implemented features (v5.7)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): Wave 4 audit - verify 14 additional features already implemented (v5.8)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): Final MVP audit - verify 6 more tasks complete (v5.9)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(BUG-097): standardize error handling across modules (v6.0)
  client/src/lib/errorHandling.ts
  client/src/pages/PricingProfilesPage.tsx
  client/src/pages/PricingRulesPage.tsx
  client/src/pages/Settings.tsx
  client/src/pages/VIPPortalConfigPage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): MVP 100% complete - remove unneeded tasks (v6.1)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: comprehensive user flow documentation update (v3.0)
  docs/features/USER_FLOWS.md
  docs/reference/FLOW_GUIDE.md
  docs/reference/USER_FLOW_MATRIX.csv
Due: prettier --write

docs: complete 100% router coverage in user flow documentation (v3.1)
  docs/features/USER_FLOWS.md
  docs/reference/FLOW_GUIDE.md
  docs/reference/USER_FLOW_MATRIX.csv
Due: prettier --write

Add User Flow Matrix alignment report comparing matrix to customer requirements
  docs/meeting-analysis-2026-01-11/User_Flow_Matrix_Alignment_Report.md
Due: prettier --write

docs: add comprehensive business logic and expected effects (v3.2)
  docs/features/USER_FLOWS.md
  docs/reference/FLOW_GUIDE.md
  docs/reference/USER_FLOW_MATRIX.csv
Due: prettier --write

chore: register session Session-20260115-DOCS-USERFLOWS-d5ea18
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260115-DOCS-USERFLOWS-d5ea18.md
Due: prettier --write

docs(qa): add ai prompt for impact-driven e2e testing
  docs/ACTIVE_SESSIONS.md
  docs/qa/README.md
  docs/qa/USER_FLOW_E2E_AGENT_PROMPT.md
  docs/reference/README.md
  docs/reference/USER_FLOW_IMPACT_OUTCOMES.md
  docs/reference/USER_FLOW_IMPACT_OUTCOMES_TEMPLATE.csv
  docs/sessions/active/Session-20260115-DOCS-USERFLOWS-d5ea18.md
Due: prettier --write

docs(qa): add prompt metadata
  docs/ACTIVE_SESSIONS.md
  docs/qa/README.md
  docs/qa/USER_FLOW_E2E_AGENT_PROMPT.md
  docs/reference/README.md
  docs/reference/USER_FLOW_IMPACT_OUTCOMES.md
  docs/reference/USER_FLOW_IMPACT_OUTCOMES_TEMPLATE.csv
  docs/sessions/active/Session-20260115-DOCS-USERFLOWS-d5ea18.md
Due: prettier --write

feat: Execute USER_FLOW_E2E_AGENT_PROMPT across 4 domains
  qa-results/USER_FLOW_E2E_REPORT.all-domains.2026-01-16.md
  qa-results/user-flow-impact-outcomes.accounting.2026-01-16.csv
  qa-results/user-flow-impact-outcomes.crm.2026-01-16.csv
  qa-results/user-flow-impact-outcomes.inventory.2026-01-16.csv
  qa-results/user-flow-impact-outcomes.orders.2026-01-16.csv
  tests-e2e/oracles/accounting/check-overdue-invoices.oracle.yaml
  tests-e2e/oracles/accounting/generate-invoice-from-order.oracle.yaml
  tests-e2e/oracles/accounting/mark-invoice-sent.oracle.yaml
  tests-e2e/oracles/accounting/update-batch-cogs.oracle.yaml
  tests-e2e/oracles/accounting/update-invoice-status.oracle.yaml
  tests-e2e/oracles/accounting/void-invoice.oracle.yaml
  tests-e2e/oracles/crm/clients-archive.oracle.yaml
  tests-e2e/oracles/crm/clients-create.oracle.yaml
  tests-e2e/oracles/crm/clients-delete.oracle.yaml
  tests-e2e/oracles/crm/clients-update.oracle.yaml
  tests-e2e/oracles/crm/communications-add.oracle.yaml
  tests-e2e/oracles/crm/tags-add.oracle.yaml
  tests-e2e/oracles/crm/transactions-create.oracle.yaml
  tests-e2e/oracles/crm/transactions-record-payment.oracle.yaml
  tests-e2e/oracles/inventory/adjust-inventory.oracle.yaml
  tests-e2e/oracles/inventory/create-batch.oracle.yaml
  tests-e2e/oracles/inventory/create-strain.oracle.yaml
  tests-e2e/oracles/inventory/delete-batch.oracle.yaml
  tests-e2e/oracles/inventory/record-movement.oracle.yaml
  tests-e2e/oracles/inventory/reverse-movement.oracle.yaml
  tests-e2e/oracles/inventory/update-batch.oracle.yaml
  tests-e2e/oracles/inventory/update-status.oracle.yaml
  tests-e2e/oracles/orders/confirm-draft-order.oracle.yaml
  tests-e2e/oracles/orders/confirm-order.oracle.yaml
  tests-e2e/oracles/orders/create-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/create-order.oracle.yaml
  tests-e2e/oracles/orders/finalize-draft.oracle.yaml
  tests-e2e/oracles/orders/fulfill-order.oracle.yaml
  tests-e2e/oracles/orders/update-draft-enhanced.oracle.yaml
  tests-e2e/oracles/orders/update-order-status.oracle.yaml
Due: prettier --write

fix: Update E2E report with execution findings and fix YAML error
  qa-results/USER_FLOW_E2E_REPORT.all-domains.2026-01-16.md
  tests-e2e/oracles/accounting/void-invoice.oracle.yaml
Due: prettier --write

chore: Update pnpm-lock.yaml after dependency install
  pnpm-lock.yaml
Due: none

feat(qa): Complete E2E oracle test execution with observed outcomes
  qa-results/USER_FLOW_E2E_REPORT.all-domains.2026-01-16.md
Due: prettier --write

feat(roadmap): Add E2E Testing Infrastructure tasks (E2E-001, E2E-002, E2E-003)
  docs/prompts/E2E-001.md
  docs/prompts/E2E-002.md
  docs/prompts/E2E-003.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(e2e): Complete E2E Testing Infrastructure tasks (E2E-001, E2E-002, E2E-003)
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20260116-E2E-INFRA.md
  tests-e2e/auth.spec.ts
  tests-e2e/fixtures/auth.ts
  tests-e2e/orders-crud.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add comprehensive TERP Agent Instructions for prompt injection
  docs/TERP_AGENT_INSTRUCTIONS.md
Due: prettier --write

docs(qa): Add updated E2E Agent Prompt v2 with correct document paths
  docs/qa/USER_FLOW_E2E_AGENT_PROMPT_V2.md
Due: prettier --write

chore: register session Session-20260116-TASK-PREMORTEM-11ec2f
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260116-TASK-PREMORTEM-11ec2f.md
Due: prettier --write

chore: register session Session-20260116-QA-DRIFT-2da4e7
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260116-QA-DRIFT-2da4e7.md
Due: prettier --write

docs(qa): add run sheet summary
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260116-DOCS-RUN-SHEET-3e6e59.md
  qa-results/USER_FLOW_RUN_SHEET_SUMMARY.md
Due: prettier --write

docs: add constraint stack QA tests
  docs/qa/constraint_stack_tests.md
  docs/sessions/completed/Session-20260116-QA-TERP-f31646.md
Due: prettier --write

chore: register QA-RBAC-AUDIT session
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260116-QA-RBAC-AUDIT-d6a424.md
Due: prettier --write
