Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

feat(DATA-002-AUGMENT): add HTTP client script for augmentation
  scripts/run-augmentation-via-http.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(prod): move Sentry import after regular imports
  client/src/main.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Docs: Add current status to prod loading session
  docs/sessions/active/Session-20251203-PROD-LOADING-dc6060.md
Due: prettier --write

docs: add atomic root cause analysis
  docs/sessions/active/Session-20251203-PROD-LOADING-dc6060.md
Due: prettier --write

docs(DATA-002-AUGMENT): add troubleshooting completion summary
  docs/DATA-002-AUGMENT-TROUBLESHOOTING-COMPLETE.md
Due: prettier --write

docs(DATA-002-AUGMENT): update execution status with latest results
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(DATA-002-AUGMENT): update troubleshooting summary
  client/public/version.json
  client/version.json
Due: prettier --write

roadmap: add FEATURE-003 - Live Shopping & Price Negotiation System
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: add cloud-based development environment setup
  .env.app-ids.example
  .gitignore
  docs/DEV_ENVIRONMENT_SETUP.md
  docs/DEV_WORKFLOW_DIAGRAM.md
  docs/DEV_WORKFLOW_QUICK_START.md
  scripts/setup-dev-environment.sh
  scripts/watch-deploy.sh
Due: prettier --write

docs: add executive summary for dev environment setup
  DEVELOPMENT_SETUP_SUMMARY.md
Due: prettier --write

docs: create comprehensive Railway migration plan
  docs/PLATFORM_COMPARISON_ANALYSIS.md
  docs/RAILWAY_ATOMIC_MIGRATION_PLAN.md
  docs/RAILWAY_MIGRATION_GUIDE.md
Due: prettier --write

feat: add nixpacks config with database migrations
  nixpacks.toml
Due: none

feat: run database migrations at container startup
  Dockerfile
Due: none

fix: remove failing drizzle-kit push from startup
  Dockerfile
Due: none

feat: add Railway migration script
  scripts/run-migrations-railway.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: listen on 0.0.0.0 for Railway deployment
  scripts/check-db-tables.ts
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: temporarily disable seeding to fix Railway deployment
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: configure Railway Docker build args for VITE variables
  Dockerfile
  RAILWAY_VITE_BUILD_FIX.md
  docs/RAILWAY_DOCKER_BUILD_ARGS.md
  docs/RAILWAY_MIGRATION_GUIDE.md
  railway.json
Due: prettier --write

docs: add Railway deployment status and VITE fix verification
  RAILWAY_DEPLOYMENT_STATUS.md
  RAILWAY_VITE_FIX_COMPLETE_SUMMARY.md
Due: prettier --write

docs: organize Railway deployment documentation per protocol
  .husky/pre-commit-qa-check.sh
  .kiro/steering/04-infrastructure.md
  CHANGELOG.md
  docs/RAILWAY_ENV_SETUP_COMPLETE.md
  docs/deployment/RAILWAY_DEPLOYMENT_STATUS.md
  docs/deployment/RAILWAY_VITE_BUILD_FIX.md
  docs/deployment/RAILWAY_VITE_FIX_COMPLETE_SUMMARY.md
  docs/deployment/README.md
Due: prettier --write

docs: add deployment documentation index
  docs/deployment/DEPLOYMENT_DOCUMENTATION_INDEX.md
Due: prettier --write
