Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

chore: update version files
  docs/qa/DUPLICATE_RESOLUTION_DECISIONS.md
  docs/qa/PR_MERGE_CHECKLIST.md
Due: prettier --write

docs: mark TERP-0012 as complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(accounting): TERP-0012 Phase 2 add GL reversal visibility components
  client/src/components/accounting/GLReversalStatus.tsx
  client/src/components/accounting/index.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(accounting): add APPROVED status to bill type definitions
  server/arApDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Add QA & Merge Agent completion report
  docs/qa/BROWSER_SMOKE_RESULTS.md
  docs/qa/MERGE_COMPLETION_REPORT.md
  docs/qa/POST_MERGE_ISSUES.md
  docs/qa/PR_MERGE_CHECKLIST.md
Due: prettier --write

docs(qa): Add deployment requirements for merged PRs
  docs/qa/DEPLOYMENT_REQUIREMENTS.md
Due: prettier --write

docs(roadmap): Add INFRA-017, INFRA-018 for memory health check fixes
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(inventory): Add fallback queries for strains join to handle schema drift
  server/routers/photography.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(infra): Sync .do/app.yaml with production config (INFRA-018)
  .do/app.yaml
Due: none

fix(health): Use memoryOptimizer for accurate memory reporting (INFRA-017)
  server/_core/healthCheck.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): Mark INFRA-017, INFRA-018 as COMPLETE
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): add 8 new bug tasks from Jan 26 QA audit
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

chore: complete INFRA-017/INFRA-018 and archive session
  docs/ACTIVE_SESSIONS.md
  docs/sessions/completed/Session-20260126-INFRA-017-018-343f32.md
Due: prettier --write

chore: register session Session-20260121-QA-FIX-GIT-449bdd
  client/public/version.json
  client/version.json
  docs/ACTIVE_SESSIONS.md
  docs/features/USER_FLOWS.md
  docs/meeting-analysis-2026-01-11/User_Flow_Matrix_Alignment_Report.md
  docs/reference/FLOW_GUIDE.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/NEW_TASKS_BACKLOG.md
  docs/sessions/active/Session-20260121-QA-FIX-GIT-449bdd.md
  docs/sessions/active/Session-20260121-QA-PLAN-ed7813.md
  docs/specs/FEAT-SIGNAL-001-SPEC.md
  docs/specs/README.md
Due: prettier --write

docs(roadmap): add Golden Flow Execution Plan
  docs/roadmaps/GOLDEN_FLOW_EXECUTION_PLAN.md
Due: prettier --write

docs: refine jan-26 checkpoint ai report
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260126-JAN-26-CHECKPOINT-REPORT-75bbf6.md
  docs/sessions/active/Session-20260126-JAN-26-CHECKPOINT-REPORT-FIX-704a4a.md
  jan-26-checkpoint/ai-parsable-report.json
Due: prettier --write

fix(roadmap): resolve merge conflicts and update task statuses
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): Add schema drift and SQL safety issues (BUG-110 to BUG-116, ST-055)
  docs/jan-26-checkpoint/INVENTORY_FLOW_ANALYSIS.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: add golden flow production readiness plan
  docs/ACTIVE_SESSIONS.md
  docs/reports/GOLDEN_FLOWS_PROD_READY_PLAN_2026-01-27.md
  docs/sessions/active/Session-20260127-GOLDEN-FLOW-REPORT-2c2070.md
Due: prettier --write

docs(roadmap): add comprehensive Golden Flows Beta Roadmap
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP_QA_REVIEW.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_SUMMARY.md
Due: prettier --write

docs(roadmap): add Phase 0.A golden flow specifications and Protocol QA findings
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_SUMMARY.md
  docs/roadmaps/GOLDEN_FLOWS_PROTOCOL_QA_ANALYSIS.md
Due: prettier --write

docs(roadmap): Add comprehensive Golden Flow execution plan
  docs/jan-26-checkpoint/GOLDEN_FLOW_EXECUTION_PLAN.md
Due: prettier --write

docs(qa): Add comprehensive Golden Flow execution manual
  docs/jan-26-checkpoint/GOLDEN_FLOW_EXECUTION_MANUAL.md
Due: prettier --write

fix(inventory): Add try-catch fallback queries for schema drift (BUG-110 to BUG-114)
  server/productsDb.ts
  server/routers/photography.ts
  server/routers/search.ts
  server/services/catalogPublishingService.ts
  server/services/strainMatchingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): Use safeInArray and add empty order validation (BUG-115)
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: Update version.json with build metadata
  client/public/version.json
  client/version.json
Due: prettier --write

chore: Update version.json after QA verification build
  client/public/version.json
  client/version.json
Due: prettier --write

docs(qa): Add Phase 0 QA audit report
  docs/jan-26-checkpoint/PHASE0_QA_AUDIT_REPORT.md
Due: prettier --write

fix(schema-drift): Improve error handling for strainId fallbacks (QA-001 to QA-003)
  server/productsDb.ts
  server/routers/photography.ts
  server/routers/search.ts
  server/services/catalogPublishingService.ts
  server/services/strainMatchingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Add PR description for schema-drift fixes
  docs/jan-26-checkpoint/PR_DESCRIPTION.md
Due: prettier --write

docs(roadmap): update Phase 0 tasks to reflect PR #318 progress
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs(prompts): add Roadmap Operator agent prompt
  docs/prompts/ROADMAP_OPERATOR_PROMPT.md
Due: prettier --write

docs(prompts): improve Roadmap Operator prompt v2.0
  docs/prompts/ROADMAP_OPERATOR_PROMPT.md
Due: prettier --write

docs(prompts): add SOP enforcement section to Roadmap Operator
  docs/prompts/ROADMAP_OPERATOR_PROMPT.md
Due: prettier --write

docs(roadmap): mark GF-PHASE0-001a/b/c complete after PR #318 verification
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs(golden-flows): add GF-002 Procure-to-Pay specification
  docs/golden-flows/specs/GF-002-PROCURE-TO-PAY.md
Due: prettier --write

docs(golden-flows): add GF-003 Order-to-Cash specification
  docs/golden-flows/specs/GF-003-ORDER-TO-CASH.md
Due: prettier --write

docs(golden-flows): add GF-001 Direct Intake specification
  docs/golden-flows/specs/GF-001-DIRECT-INTAKE.md
Due: prettier --write
