Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add verified success report - both frontend and backend live
  docs/deployment/DEPLOYMENT_SUCCESS_VERIFIED.md
Due: prettier --write

docs: document unstable status - app cycling
  docs/deployment/DEPLOYMENT_UNSTABLE_STATUS.md
Due: prettier --write

docs: document intermittent status - app cycling
  docs/deployment/DEPLOYMENT_STATUS_INTERMITTENT.md
Due: prettier --write

fix(railway): add auto-migrations for VIP portal schema drift
  server/_core/index.ts
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: update version.json files from build
  client/public/version.json
  client/version.json
Due: prettier --write

fix(railway): add auto-migrations for VIP portal schema drift (#63)
  client/public/version.json
  client/version.json
  server/_core/index.ts
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: register external agent session Session-20251208-RAILWAY-FIX-8ce562 for RAILWAY-FIX
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251208-RAILWAY-FIX-8ce562.md
Due: prettier --write

fix(RAILWAY-FIX): Add missing statusId and deleted_at columns to batches table
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Add photo_session_event_id column to batches table
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Improve error logging in autoMigrate to show full MySQL errors
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Fix syntax error - missing closing brace in autoMigrate
  server/autoMigrate.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Add SKIP_SEEDING check to seed-realistic-main.ts
  scripts/seed-realistic-main.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Add global error handlers to catch startup failures
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Add detailed startup logging to identify crash point
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Deploy minimal diagnostic startup script
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Add detailed database error logging
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: improved DB logging
  railway_error_analysis.txt
  server/_core/index.BACKUP.ts
  server/_core/index.DIAGNOSTIC.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(RAILWAY-FIX): Restore full server with DATABASE_URL parsing fix
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

chore: force rebuild 1765225018
  package.json
Due: prettier --write

fix: remove invalid comment from package.json
  package.json
Due: prettier --write

chore: force rebuild with version 1765225609
  server/_core/version.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: bust Docker cache for Railway deployment
  Dockerfile
Due: none

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
