Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(GF-PHASE0-006): Add product_images table creation to autoMigrate
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json files from build
  client/public/version.json
  client/version.json
Due: prettier --write

docs(roadmap): complete GF-PHASE0-008 database audit review and prioritization
  docs/audits/DATABASE_REMEDIATION_RISK_ASSESSMENT.md
  docs/audits/DATABASE_TABLE_AUDIT_2026-01-28.md
  docs/audits/GF-PHASE0-008_COMPLETION_REPORT.md
  docs/roadmaps/DATABASE_REMEDIATION_ROADMAP.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(docs): address QA findings in database audit documentation
  docs/audits/DATABASE_TABLE_AUDIT_2026-01-28.md
  docs/roadmaps/DATABASE_REMEDIATION_ROADMAP.md
Due: prettier --write

docs(audit): Add comprehensive database table audit report (#331)
  docs/audits/DATABASE_TABLE_AUDIT_2026-01-28.md
Due: prettier --write

docs(roadmap): complete GF-PHASE0-008 database audit review and prioritization (#332)
  docs/audits/DATABASE_REMEDIATION_RISK_ASSESSMENT.md
  docs/audits/GF-PHASE0-008_COMPLETION_REPORT.md
  docs/roadmaps/DATABASE_REMEDIATION_ROADMAP.md
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(qa): add test data seeding strategy and update contract status
  docs/qa/TEST_DATA_STRATEGY.md
  docs/qa/reality-map-2026-01-23/test-data/test_data_contract.md
  docs/qa/reality-map-2026-01-23/test-data/test_data_registry.json
Due: prettier --write

docs(roadmap): update GF-PHASE0-006 status to complete
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

fix(GF-PHASE0-006): Add product_images table to autoMigrate.ts
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(qa): address P2/P3 bugs in QA seeding script
  docs/qa/TEST_DATA_STRATEGY.md
  scripts/seed-qa-data.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(GF-PHASE0-006): Add product_images table to autoMigrate.ts
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): Mark GF-PHASE0-005 and GF-PHASE0-006 as VERIFIED COMPLETE
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs(audit): Add comprehensive deep-dive database schema review
  docs/audits/DATABASE_SCHEMA_REVIEW_2026-01-28.md
Due: prettier --write

docs(roadmap): update Phase 0 with database verification findings
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs(audit): Complete deep-dive schema review with Golden Flow remediation plan
  docs/audits/GOLDEN_FLOW_DATABASE_REMEDIATION_PLAN.md
Due: prettier --write

docs(audit): Add QA Protocol v3.0 comprehensive database audit report
  docs/audits/QA_PROTOCOL_v3_DATABASE_REPORT.md
Due: prettier --write

fix(schema): add missing clients table columns (GF-PHASE0-003)
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): add test data seeding strategy and update contract status (#333)
  docs/qa/TEST_DATA_STRATEGY.md
  docs/qa/reality-map-2026-01-23/test-data/test_data_contract.md
  docs/qa/reality-map-2026-01-23/test-data/test_data_registry.json
  scripts/seed-qa-data.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(GF-PHASE0-004): Fix order state machine test failures
  server/services/orderStateMachine.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: add TERP Operations API for Manus infrastructure access
  .github/workflows/deploy-ops-api.yml
  ops-api/.env.template
  ops-api/README.md
  ops-api/package.json
  ops-api/src/index.ts
  ops-api/terp-ops-api.service
  ops-api/tsconfig.json
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(audit): Add comprehensive remediation impact analysis
  docs/audits/REMEDIATION_IMPACT_ANALYSIS.md
Due: prettier --write

docs(audit): Create master database remediation plan
  docs/audits/MASTER_DATABASE_REMEDIATION_PLAN.md
Due: prettier --write

fix(rbac): allow sales reps to view assigned clients
  server/clientsDb.ts
  server/routers/clients.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): mark GF-PHASE0-002, 003, 004 as verified
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs(roadmap): Add database remediation tasks and parallel execution plan
  docs/roadmaps/DATABASE_REMEDIATION_TASKS.md
  docs/roadmaps/GOLDEN_FLOW_EXECUTION_PLAN_v2.md
Due: prettier --write

docs(roadmap): Create fully integrated Golden Flow Execution Plan v2
  docs/roadmaps/DATABASE_REMEDIATION_TASKS.md
  docs/roadmaps/GOLDEN_FLOW_EXECUTION_PLAN_v2.md
  docs/roadmaps/GOLDEN_FLOW_EXECUTION_PLAN_v2_INTEGRATED.md
Due: prettier --write

docs(roadmap): Integrate Golden Flows MVP as first initiative in MASTER_ROADMAP
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: Add comprehensive database schema audit and remediation plan (#338)
  docs/audits/DATABASE_SCHEMA_REVIEW_2026-01-28.md
  docs/audits/GOLDEN_FLOW_DATABASE_REMEDIATION_PLAN.md
  docs/audits/MASTER_DATABASE_REMEDIATION_PLAN.md
  docs/audits/QA_PROTOCOL_v3_DATABASE_REPORT.md
  docs/audits/REMEDIATION_IMPACT_ANALYSIS.md
  docs/roadmaps/DATABASE_REMEDIATION_TASKS.md
  docs/roadmaps/GOLDEN_FLOW_EXECUTION_PLAN_v2_INTEGRATED.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(claude-code): add parallel wave execution system with adversarial QA
  .claude/agents/terp-implementer.md
  .claude/agents/terp-qa-reviewer.md
  .claude/commands/wave-execute.md
Due: prettier --write

fix(golden-flows): complete Wave 0 database pre-requisites
  drizzle/schema-gamification.ts
  drizzle/schema.ts
  scripts/seed/seeders/seed-gamification-defaults.ts
  server/routers/gamification.ts
  server/routers/productCategories.ts
  server/routers/rbac-roles.ts
  server/routers/rbac-users.ts
  server/routers/referrals.ts
  server/samplesDb.ts
  server/services/seedGamification.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

ci: add on-demand branch verification workflow for wave execution
  .github/workflows/verify-branch.yml
Due: none

fix(qa): address QA audit findings QA-001 and QA-002
  drizzle/schema-gamification.ts
  server/samplesDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

SCHEMA-010: Resolve referralSettings naming conflicts across schemas (#340)
  drizzle/schema-gamification.ts
  drizzle/schema.ts
  scripts/seed/seeders/seed-gamification-defaults.ts
  server/routers/gamification.ts
  server/routers/productCategories.ts
  server/routers/rbac-roles.ts
  server/routers/rbac-users.ts
  server/routers/referrals.ts
  server/samplesDb.ts
  server/services/seedGamification.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): mark Wave 0 complete with verification details
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(golden-flows): complete Wave 1 concurrent safety and constraints
  docs/roadmaps/MASTER_ROADMAP.md
  drizzle/0057_add_gl_entry_single_direction_constraint.sql
  drizzle/migrations/0060_add_batch_quantity_check_constraints.sql
  drizzle/migrations/0060_add_batch_quantity_check_constraints.test.ts
  drizzle/schema.ts
  server/accountingDb.ts
  server/arApDb.test.ts
  server/arApDb.ts
  server/ordersDb.ts
  server/routers/orders.ts
  server/services/orderAccountingService.ts
  server/services/orderOrchestrator.test.ts
  server/services/orderOrchestrator.ts
  server/tests/glSingleDirection.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Claude/golden flows roadmap update a xl1l (#341)
  docs/roadmaps/MASTER_ROADMAP.md
  drizzle/0057_add_gl_entry_single_direction_constraint.sql
  drizzle/migrations/0060_add_batch_quantity_check_constraints.sql
  drizzle/migrations/0060_add_batch_quantity_check_constraints.test.ts
  drizzle/schema.ts
  server/accountingDb.ts
  server/arApDb.test.ts
  server/arApDb.ts
  server/ordersDb.ts
  server/routers/orders.ts
  server/services/orderAccountingService.ts
  server/services/orderOrchestrator.test.ts
  server/services/orderOrchestrator.ts
  server/tests/glSingleDirection.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(golden-flows): complete Wave 2 security and safeInArray migration
  client/src/components/clients/AddClientWizard.tsx
  server/_core/trpc.ts
  server/arApDb.ts
  server/inventoryDb.test.ts
  server/inventoryDb.ts
  server/ordersDb.ts
  server/routers/admin-security.test.ts
  server/routers/adminSetup.test.ts
  server/routers/clientLedger.ts
  server/routers/debug.security.test.ts
  server/routers/debug.ts
  server/routers/orders.ts
  server/routers/purchaseOrders.ts
  server/routers/vipPortal.ts
  server/services/permissionService.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(golden-flows): complete Wave 2 security and safeInArray migration (#342)
  client/src/components/clients/AddClientWizard.tsx
  server/_core/trpc.ts
  server/arApDb.ts
  server/inventoryDb.test.ts
  server/inventoryDb.ts
  server/ordersDb.ts
  server/routers/admin-security.test.ts
  server/routers/adminSetup.test.ts
  server/routers/clientLedger.ts
  server/routers/debug.security.test.ts
  server/routers/debug.ts
  server/routers/orders.ts
  server/routers/purchaseOrders.ts
  server/routers/vipPortal.ts
  server/services/permissionService.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
