Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: align Drizzle schema field names with database column names
  client/src/components/clients/CommunicationTimeline.tsx
  drizzle/schema.ts
  scripts/utils/schema-introspection.ts
  scripts/validate-schema-comprehensive.ts
  server/badDebtDb.ts
  server/clientsDb.ts
  server/cogsCalculation.ts
  server/creditsDb.ts
  server/dashboardAnalytics.ts
  server/dataCardMetricsDb.ts
  server/inventoryAlerts.ts
  server/inventoryDb.ts
  server/matchingEngine.ts
  server/matchingEngineEnhanced.ts
  server/ordersDb.ts
  server/routers/purchaseOrders.ts
  server/routers/refunds.ts
  server/routers/returns.ts
  server/salesSheetsDb.ts
  server/samplesAnalytics.ts
  server/samplesDb.ts
  server/services/liveCatalogService.ts
  tests/integration/data-integrity.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add comprehensive QA report for schema drift scaling
  docs/QA_REPORT_SCHEMA_DRIFT_SCALING.md
Due: prettier --write

fix: complete schema drift fix for inventoryAlerts.ts stale field references
  server/inventoryAlerts.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: resolve vip_portal leaderboard runtime risk by using featuresConfig JSON
  drizzle/schema.ts
  server/routers/vipPortal.ts
  server/routers/vipPortalAdmin.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

ci: add schema validation workflow to prevent drift regressions
  .github/workflows/schema-validation.yml
Due: none

docs: add QA follow-up completion report for schema drift scaling
  docs/QA_FOLLOWUP_COMPLETION_REPORT.md
Due: prettier --write

spec: add Code Quality Stabilization spec
  .kiro/specs/code-quality-stabilization/design.md
  .kiro/specs/code-quality-stabilization/requirements.md
  .kiro/specs/code-quality-stabilization/tasks.md
Due: prettier --write

fix: Add comprehensive tRPC mock to test setup, fix 10 failing tests
  TYPESCRIPT-ERRORS-ALLOWLIST.md
  client/src/components/calendar/EventFormDialog.test.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.test.tsx
  client/src/components/layout/AppHeader.test.tsx
  client/src/contexts/DashboardPreferencesContext.test.tsx
  client/src/pages/MatchmakingServicePage.test.tsx
  client/src/pages/WorkflowQueuePage.test.tsx
  tests/setup.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Add default export to inventoryUtils, fix schema imports (42 tests fixed)
  server/inventoryUtils.ts
  server/routers/batches.test.ts
  server/routers/vipPortal.liveCatalog.test.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: Add useContext to tRPC mock
  tests/setup.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(deploy): re-apply proven spinning wheel fixes to force rebuild
  client/src/main.tsx
  sentry.client.config.ts
  server/_core/vite.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Improve test mocks and RBAC seeding
  debug_drizzle.ts
  docs/sessions/active/Session-20251211-CODE-QUALITY-STABILIZATION.md
  server/routers/vipPortal.liveCatalog.test.ts
  server/routers/vipPortalAdmin.liveCatalog.test.ts
  server/services/seedRBAC.test.ts
  server/services/seedRBAC.ts
  server/test-utils/testDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Refactor: Improve test mocks and RBAC seeding (#65)
  debug_drizzle.ts
  docs/sessions/active/Session-20251211-CODE-QUALITY-STABILIZATION.md
  server/routers/vipPortal.liveCatalog.test.ts
  server/routers/vipPortalAdmin.liveCatalog.test.ts
  server/services/seedRBAC.test.ts
  server/services/seedRBAC.ts
  server/test-utils/testDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update version info for spinning wheel fix
  client/public/version.json
  client/version.json
Due: prettier --write

docs: add ST-023 Code Quality Stabilization to roadmap
  docs/prompts/ST-023.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251211-CODE-QUALITY-STABILIZATION.md
Due: prettier --write

Find spinning wheel fix (#66)
  client/public/version.json
  client/src/main.tsx
  client/version.json
  sentry.client.config.ts
  server/_core/vite.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

update pre-merge workflow to warn instead of block
  .github/workflows/pre-merge.yml
Due: none

update pre-merge workflow to warn instead of block (#67)
  .github/workflows/pre-merge.yml
Due: none

docs: outline database data rollout plan
  docs/ACTIVE_SESSIONS.md
  docs/analysis/DB_DATA_ROLLOUT_PLAN.md
  docs/analysis/DB_PILOT_ASSESSMENT.md
  docs/sessions/active/Session-20251211-DB-PILOT-ASSESS-2cf0ce.md
  docs/sessions/active/Session-20251211-DB-PLAN-f9b211.md
Due: prettier --write

docs: outline database data rollout plan (#68)
  docs/ACTIVE_SESSIONS.md
  docs/analysis/DB_DATA_ROLLOUT_PLAN.md
  docs/analysis/DB_PILOT_ASSESSMENT.md
  docs/sessions/active/Session-20251211-DB-PILOT-ASSESS-2cf0ce.md
  docs/sessions/active/Session-20251211-DB-PLAN-f9b211.md
Due: prettier --write

docs: add next steps for db rollout
  docs/ACTIVE_SESSIONS.md
  docs/analysis/DB_DATA_ROLLOUT_PLAN.md
  docs/analysis/DB_PILOT_ASSESSMENT.md
  docs/sessions/active/Session-20251211-DB-PILOT-ASSESS-2cf0ce.md
  docs/sessions/active/Session-20251211-DB-PLAN-f9b211.md
Due: prettier --write

test: stabilize test suite by skipping integration tests needing real database
  docs/ACTIVE_SESSIONS.md
  server/routers/calendarInvitations.test.ts
  server/routers/rbac-permissions.test.ts
  server/routers/rbac-roles.test.ts
  server/routers/vipPortal.liveCatalog.test.ts
  server/test-utils/testDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat: add CI hardening workflows and documentation
  .github/workflows/migration-lint.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/typescript-check.yml
  docs/monitoring/SCHEMA_DRIFT_MONITORING.md
  docs/rollout/PRODUCTION_ROLLOUT.md
  docs/rollout/STAGING_ROLLOUT.md
  docs/standards/SCHEMA_NAMING.md
  docs/templates/MIGRATION_TEMPLATE.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
