Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

feat: add one-step production verification script
  verify-production.sh
Due: none

fix: update import path for seed-realistic-main to legacy directory
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: deprecate legacy seedDatabase endpoint
  server/routers/settings.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add DATA-011 comprehensive execution report
  DATA-011-EXECUTION-REPORT.md
Due: prettier --write

test: add DATA-011 E2E validation report and test script
  DATA-011-E2E-VALIDATION-REPORT.md
  e2e-production-test.sh
Due: prettier --write

fix: add automatic database schema sync to deployment
  Dockerfile
  docs/deployment/DEPLOYMENT-CHECKLIST.md
  scripts/post-deploy-migrate.sh
  validation-evidence-before.txt
Due: prettier --write

fix: explicitly set nullable fields in brands insert
  CRITICAL-REQUIREMENTS-ANALYSIS.md
  scripts/seed/seeders/seed-products.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: increase Node.js memory limit to 896MB
  package.json
Due: prettier --write

fix: correct drizzle-kit configuration and migration strategy
  drizzle.config.ts
  scripts/post-deploy-migrate.sh
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: critical deployment issues - drizzle-kit and migration script
  DEPLOYMENT-QA-AUDIT.md
  package.json
  scripts/post-deploy-migrate.sh
Due: prettier --write

fix(e2e): standardize authentication across all E2E tests
  tests-e2e/create-order.spec.ts
  tests-e2e/fixtures/auth.ts
  tests-e2e/live-catalog-admin.spec.ts
  tests-e2e/live-catalog-client.spec.ts
  tests-e2e/seed.spec.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: update lockfile and simplify migration strategy
  drizzle/0028_add_vendor_notes.sql
  pnpm-lock.yaml
  scripts/post-deploy-migrate.sh
Due: none

fix: remove automatic migrations, add one-time setup script
  Dockerfile
  scripts/one-time-setup.sh
Due: none

fix(e2e): standardize auth fixtures and replace waitForTimeout anti-patterns
  tests-e2e/auth.spec.ts
  tests-e2e/clients-crud.spec.ts
  tests-e2e/create-order.spec.ts
  tests-e2e/inventory-crud.spec.ts
  tests-e2e/live-catalog-client.spec.ts
  tests-e2e/navigation-ui.spec.ts
  tests-e2e/orders-crud.spec.ts
  tests-e2e/seed.spec.ts
  tests-e2e/workflows-dashboard.spec.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: add seed-only script to bypass migration issues
  scripts/seed-only.sh
Due: none

fix: comprehensive seeding system fixes - FINAL
  CODE-QA-ANALYSIS.md
  DEPLOYMENT-VERIFICATION.md
  FINAL-QA-ANALYSIS.md
  scripts/fix-all-seeding-issues.sh
  scripts/qa-seeding-system.sh
  scripts/safe-schema-sync.sh
  scripts/scan-all-issues.sh
  scripts/seed/seeders/seed-batches.ts
  scripts/seed/seeders/seed-products.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add final execution guide
  FINAL-EXECUTION-READY.md
Due: prettier --write

fix: use Node.js for schema sync instead of mysql CLI
  scripts/add-payment-terms-column.js
  scripts/run-seeding.sh
Due: none

fix: convert to ES module syntax (import instead of require)
  scripts/add-payment-terms-column.js
Due: none

fix: comprehensive seeding system fixes
  SEEDING-REQUIREMENTS-ANALYSIS.md
  package.json
  pnpm-lock.yaml
  scripts/fix-all-seeders.sh
  scripts/seed/seeders/seed-invoices.ts
  scripts/seed/seeders/seed-payments.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(seeding): Add explicit timestamps to all seeders to fix DO MySQL compatibility
  SEEDING_FIXES_SUMMARY.md
  scripts/seed/seeders/seed-batches.ts
  scripts/seed/seeders/seed-clients.ts
  scripts/seed/seeders/seed-invoices.ts
  scripts/seed/seeders/seed-orders.ts
  scripts/seed/seeders/seed-payments.ts
  scripts/seed/seeders/seed-products.ts
  scripts/seed/seeders/seed-vendors.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write
