Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

docs: Add adversarial QA and improved roadmap system design
  docs/ROADMAP_SYSTEM_ADVERSARIAL_QA.md
  docs/ROADMAP_SYSTEM_V2_IMPROVED.md
Due: prettier --write

docs: Second adversarial QA on V2 roadmap system
  docs/ROADMAP_SYSTEM_V2_SECOND_QA.md
Due: prettier --write

docs: Reality check on roadmap system design
  docs/ROADMAP_SYSTEM_REALITY_CHECK.md
Due: prettier --write

Implement GitHub-native roadmap management system V3.2
  .husky/pre-commit
  README.md
  docs/AGENT_PROMPTS_PARALLEL_BATCH.md
  docs/AGENT_PROMPTS_PARALLEL_BATCH_2.md
  docs/AGENT_PROMPTS_PARALLEL_BATCH_CORRECTED.md
  docs/ROADMAP_ADD_TASK_ADVERSARIAL_QA.md
  docs/ROADMAP_ADD_TASK_SYSTEM.md
  docs/ROADMAP_MIGRATION_PLAN.md
  docs/ROADMAP_SYSTEM_DESIGN.md
  docs/ROADMAP_SYSTEM_FINAL_QA.md
  docs/ROADMAP_SYSTEM_FINAL_REPORT.md
  docs/ROADMAP_SYSTEM_GITHUB_NATIVE_V3.1.md
  docs/ROADMAP_SYSTEM_GITHUB_NATIVE_V3.2_FINAL.md
  docs/ROADMAP_SYSTEM_GITHUB_NATIVE_V3.md
  docs/ROADMAP_SYSTEM_GUIDE.md
  docs/ROADMAP_SYSTEM_REQUIREMENTS_VERIFICATION.md
  docs/ROADMAP_SYSTEM_V3.1_ADVERSARIAL_QA.md
  docs/ROADMAP_SYSTEM_V3_EXPERT_QA.md
  docs/prompts/ST-005.md
  docs/prompts/ST-007.md
  docs/prompts/ST-008.md
  docs/prompts/ST-009.md
  docs/prompts/ST-010.md
  docs/roadmaps/ACTIVE_TASKS_SECTION.md
  docs/roadmaps/MASTER_ROADMAP.backup-20251114.md
  docs/templates/PROMPT_TEMPLATE.md
  docs/templates/TASK_TEMPLATE.md
  package.json
Due: prettier --write

Add roadmap system infrastructure files (except workflow)
  .claude/AGENT_ONBOARDING.md
  .github/CODEOWNERS
  docs/HOW_TO_ABORT_TASK.md
  docs/HOW_TO_ADD_TASK.md
  docs/HOW_TO_DEPRECATE_TASK.md
  docs/HOW_TO_ROLLBACK.md
  docs/REPOSITORY_SECURITY.md
  docs/ROADMAP_SYSTEM_OVERVIEW.md
  docs/templates/COMPLETION_REPORT_TEMPLATE.md
  docs/templates/PROMPT_TEMPLATE.md
  docs/templates/SESSION_TEMPLATE.md
  docs/templates/TASK_TEMPLATE.md
  scripts/check-circular-deps.js
  scripts/check-prompt-safety.js
  scripts/check-secrets.js
  scripts/clean-stale-sessions.js
  scripts/roadmap.ts
  scripts/validate-prompts.js
  scripts/validate-roadmap.js
  scripts/validate-sessions.js
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Add implementation summary document
  docs/ROADMAP_SYSTEM_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

Add roadmap validation workflow
  .github/workflows/roadmap-validation.yml
Due: none

Add roadmap validation workflow (#48)
  .github/workflows/roadmap-validation.yml
Due: none

Add GitHub-native roadmap management system V3.2 infrastructure (#47)
  .claude/AGENT_ONBOARDING.md
  .github/CODEOWNERS
  docs/HOW_TO_ABORT_TASK.md
  docs/HOW_TO_ADD_TASK.md
  docs/HOW_TO_DEPRECATE_TASK.md
  docs/HOW_TO_ROLLBACK.md
  docs/REPOSITORY_SECURITY.md
  docs/ROADMAP_SYSTEM_IMPLEMENTATION_SUMMARY.md
  docs/ROADMAP_SYSTEM_OVERVIEW.md
  docs/templates/COMPLETION_REPORT_TEMPLATE.md
  docs/templates/PROMPT_TEMPLATE.md
  docs/templates/SESSION_TEMPLATE.md
  docs/templates/TASK_TEMPLATE.md
  scripts/check-circular-deps.js
  scripts/check-prompt-safety.js
  scripts/check-secrets.js
  scripts/clean-stale-sessions.js
  scripts/roadmap.ts
  scripts/validate-prompts.js
  scripts/validate-roadmap.js
  scripts/validate-sessions.js
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Fix validation scripts for ES modules
  scripts/check-circular-deps.cjs
  scripts/check-prompt-safety.cjs
  scripts/check-secrets.cjs
  scripts/clean-stale-sessions.cjs
  scripts/validate-prompts.cjs
  scripts/validate-roadmap.cjs
  scripts/validate-sessions.cjs
Due: none

Add workflow fixes documentation
  WORKFLOW_FIXES_NEEDED.md
Due: prettier --write

Add workflow fixes patch file
  workflow-fixes.patch
Due: none

Add implementation completion report
  IMPLEMENTATION_COMPLETE.md
Due: prettier --write

Add final status report - roadmap system operational, branch protection removed
  FINAL_STATUS.md
Due: prettier --write

Add script to apply workflow fixes
  apply-workflow-fixes.sh
Due: none

Fix YAML syntax in pr-auto-fix.yml
  .github/workflows/pr-auto-fix.yml
Due: none

Fix YAML syntax in merge.yml (multiline template literals)
  .github/workflows/merge.yml
Due: none

Fix YAML syntax in pr.yml (multiline template literals)
  .github/workflows/pr.yml
Due: none

Add final completion summary - roadmap system and workflows fully operational
  FINAL_COMPLETION_SUMMARY.md
Due: prettier --write
