Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

chore: mark Phase 2 checklist items as complete
  docs/sessions/active/Session-20251112-roadmap-1cf97d3c.md
Due: prettier --write

chore: complete roadmap integration session (Session-20251112-roadmap-1cf97d3c)
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20251112-roadmap-1cf97d3c.md
Due: prettier --write

docs: QA roadmap and add critical clarifications
  docs/ROADMAP_QA_REPORT.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: add roadmap QA executive summary
  docs/ROADMAP_QA_SUMMARY.md
Due: prettier --write

docs: add validated findings from Kimi AI QA report
  docs/QA_COMPARISON_ANALYSIS.md
  docs/QA_VALIDATION_RESULTS.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(security): fix SQL injection vulnerability + refactor for code quality (CL-001)
  .husky/pre-commit-qa-check.sh
  server/advancedTagFeatures.test.ts
  server/advancedTagFeatures.ts
  server/tagManagementService.ts
  server/tagSearchHelpers.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: mark CL-001 complete and add ST-014 for test infrastructure
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs: add secret rotation guide for CL-002
  docs/CL-002-SECRET-ROTATION-GUIDE.md
Due: prettier --write

docs: mark CL-002 complete (secrets purged from Git history)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

security(CL-003): secure admin endpoints with proper authorization
  server/routers/admin-security.test.ts
  server/routers/admin.ts
  server/routers/adminMigrations.ts
  server/routers/adminQuickFix.ts
  server/routers/adminSchemaPush.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(CL-004): remove duplicate schema file after investigation
  docs/CL-004-INVESTIGATION-REPORT.md
  drizzle/schema_po_addition.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: mark Phase 1 (Critical Lockdown) complete
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

security(CL-005): remove .env and outdated env files from Git
  .env.example
  .env.railway
  .env.railway.txt
Due: none

security(CL-005): remove .env and outdated env files from Git
  .env.example
  .env.production
  .env.railway
  .env.railway.txt
Due: none

docs: add CL-005 security documentation
  docs/CL-005-ENV-FILE-SECURITY.md
Due: prettier --write

docs: add autonomous execution progress report
  docs/AUTONOMOUS_EXECUTION_PROGRESS.md
Due: prettier --write

feat(ST-002): implement global error handling middleware
  docs/ERROR_HANDLING_GUIDE.md
  server/_core/errorHandling.test.ts
  server/_core/errorHandling.ts
  server/_core/trpc.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: update progress report with ST-002 and ST-003
  docs/AUTONOMOUS_EXECUTION_PROGRESS.md
Due: prettier --write
