Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": ["prettier --write"],
  "server/**/*.test.ts": ["vitest related --run"]
}

feat(qa): add nightly QA bot with Slack approval workflow
  .github/workflows/daily-qa.yml
  .github/workflows/morning-summary.yml
  docs/NIGHTLY_QA_BOT_PLAN.md
  qa-results/pending-bugs.json
  scripts/qa/send-interactive-report.ts
  scripts/qa/send-morning-summary.ts
  scripts/qa/stage-pending-bugs.ts
  scripts/slack-bot-ai.ts
  scripts/slack-bot-qa-handlers.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

roadmap: comprehensive audit and cleanup - Dec 17, 2025
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(qa): address Red Hat QE audit findings
  .github/workflows/daily-qa.yml
  qa-results/pending-bugs.json
  scripts/qa/send-interactive-report.ts
  scripts/qa/send-morning-summary.ts
  scripts/qa/stage-pending-bugs.ts
  scripts/slack-bot-qa-handlers.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add AI roadmap management recommendations and improve steering
  .kiro/steering/terp-master-protocol.md
  docs/protocols/AI_ROADMAP_MANAGEMENT_RECOMMENDATIONS.md
Due: prettier --write

docs: add Smart Calibration Estimation Protocol to steering
  .kiro/steering/terp-master-protocol.md
Due: prettier --write

feat(slack-bot): upgrade to Gemini 3.5 Pro with new @google/genai SDK
  package.json
  pnpm-lock.yaml
  scripts/slack-bot-ai.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(slack-bot): give bot full TERP agent context and authority
  scripts/slack-bot-ai.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: register session Session-20251218-FIX-IMPL-db9dd2
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251218-FIX-IMPL-db9dd2.md
Due: prettier --write

docs: improve task creation workflow for AI agents
  .kiro/steering/terp-master-protocol.md
Due: prettier --write

feat: implement MASTER_FIX_SPECIFICATION_v2 fixes
  client/src/components/ui/FormSubmitButton.tsx
  client/src/components/workflow/WorkflowAnalytics.tsx
  client/src/hooks/useAppMutation.ts
  client/src/lib/errorHandling.ts
  client/src/lib/formValidation.ts
  client/src/pages/AnalyticsPage.tsx
  client/src/pages/VendorSupplyPage.tsx
  docs/fix-implementation/CHANGELOG.md
  docs/fix-implementation/FIX_NOTES.md
  docs/fix-implementation/QA_VERIFICATION.md
  docs/sessions/active/Session-20251218-FIX-IMPL-db9dd2.md
  server/_core/index.ts
  server/routers/clients.ts
  server/services/rbacValidation.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: archive completed session Session-20251218-FIX-IMPL-db9dd2
  docs/ACTIVE_SESSIONS.md
  docs/sessions/completed/Session-20251218-FIX-IMPL-db9dd2.md
Due: prettier --write

chore: remove archived session file from active directory
  docs/sessions/active/Session-20251218-FIX-IMPL-db9dd2.md
Due: prettier --write

fix(qa): address Red Hat QE audit findings
  client/src/components/ui/FormSubmitButton.tsx
  client/src/hooks/useAppMutation.ts
  docs/fix-implementation/QA_AUDIT_REDHAT.md
  server/routers/clients.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add UI/UX improvement initiatives to Master Roadmap
  docs/ACTIVE_SESSIONS.md
  docs/reviews/TERP_UIUX_Analysis_Report.md
  docs/reviews/TERP_UIUX_QA_Validation.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20251217-UIUX-ROADMAP-cb92a7.md
Due: prettier --write

Archive Session-20251217-UIUX-ROADMAP-cb92a7 as complete
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20251217-UIUX-ROADMAP-cb92a7.md
Due: prettier --write

roadmap: add QA-051, QA-052, QA-053 - Critical Gap Remediation
  docs/prompts/QA-051.md
  docs/prompts/QA-052.md
  docs/prompts/QA-053.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(QA-028): confirm old sidebar navigation fix - AppShell correctly hides sidebar on dashboard routes
  client/src/components/layout/AppShell.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(INFRA-005): Remove deprecated husky lines from git hooks
  .husky/post-push
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: Remove /orders-debug route and debug page
  client/src/App.tsx
  client/src/pages/OrdersDebug.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(IMPROVE-001): Enhance backup script security
  scripts/backup-database.sh
Due: none

feat(IMPROVE-002): enhance health check endpoints with transaction checks, metrics, and external service monitoring
  server/_core/healthCheck.ts
  server/_core/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(QA-034): fix widget visibility disappearing when Custom layout selected
  client/src/contexts/DashboardPreferencesContext.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(BUG-026): Fix Pino logger API signature errors
  server/auditLogger.ts
  server/autoMigrate.ts
  server/dashboardHelpers.ts
  server/dbTransaction.ts
  server/import_openthc_strains.ts
  server/inventoryIntakeService.ts
  server/matchingEngineReverseSimplified.ts
  server/needsMatchingService.ts
  server/orderEnhancements.ts
  server/paymentMethodsDb.ts
  server/productIntakeDb.ts
  server/productRecommendations.ts
  server/salesSheetsDb.ts
  server/seedStrains.ts
  server/sequenceDb.ts
  server/strainMatcher.ts
  server/transactionHooks.ts
  server/transactionsDb.ts
  server/vendorSupplyDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write
