Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "vitest related --run",
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ],
  "server/**/*.test.ts": [
    "vitest related --run"
  ]
}

BUG-001 FIX: Make order filter robust - handle null values and show all when no search query
  client/src/pages/Orders.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Update build status [skip ci]
  .github/BUILD_STATUS.md
Due: prettier --write

DEBUG: Add console logging to investigate empty orders list
  client/src/pages/Orders.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

DEBUG: Add backend logging to getAllOrders
  server/ordersDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

DEBUG: Add comprehensive debug endpoint and page for BUG-001
  client/src/pages/DebugOrders.tsx
  client/src/pages/OrdersDebug.tsx
  docs/ACTIVE_SESSIONS.md
  docs/BUG-001-FIX-REPORT.md
  docs/DEPLOYMENT-VERIFICATION-CHECKLIST.md
  scripts/debug-orders.ts
  scripts/test-boolean-query.ts
  scripts/test-get-all-orders.ts
  scripts/test-orders-api.ts
  server/routers/orders.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-001 FIX: Use explicit 0/1 comparison for isDraft boolean field
  server/ordersDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

DEBUG: Add database connection info to debug endpoint
  client/src/pages/OrdersDebug.tsx
  scripts/test-drizzle-query.ts
  server/routers/orders.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

BUG-001 FIX: Change sameSite from 'lax' to 'none' for production cookie compatibility
  server/_core/simpleAuth.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Trigger deployment to apply DATABASE_URL environment variable
  README.md
Due: prettier --write

BUG-001 DEBUG: Add diagnostic logging for DATABASE_URL at server startup
  server/index.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

Trigger deployment with BUG-001 diagnostic logging
  .deployment-trigger
Due: none

BUG-001 FIX: Remove DATABASE_URL check from getDb() to use cached connection pool
  server/db.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write
