Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): remediate ESM, route drift, and selector contract drift (#424)
  tests-e2e/clients-crud.spec.ts
  tests-e2e/comprehensive-e2e-suite.spec.ts
  tests-e2e/create-order.spec.ts
  tests-e2e/critical-paths/control-action-contracts.spec.ts
  tests-e2e/critical-paths/feature-flags-workflow.spec.ts
  tests-e2e/critical-paths/sales-sheets-workflow.spec.ts
  tests-e2e/golden-flows/gf-003-order-to-cash.spec.ts
  tests-e2e/navigation-ui.spec.ts
  tests-e2e/orders-crud.spec.ts
  tests-e2e/page-objects/DashboardPage.ts
  tests-e2e/rbac/auditor-flows.spec.ts
  tests-e2e/rbac/fulfillment-flows.spec.ts
  tests-e2e/rbac/sales-rep-flows.spec.ts
  tests-e2e/workflows-dashboard.spec.ts
  tests/e2e/setup/auth.setup.ts
  tests/e2e/specs/navigation.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): remediate port conflict, ghost workflows, stale build status, and deploy placeholder
  .github/workflows/merge.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/preview-cleanup.yml
  testing/setup-e2e.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ci): harden build-status checkout and deploy verification
  .github/workflows/merge.yml
Due: none

docs: add comprehensive Golden Flows browser test plan (104 test cases)
  TERP-Golden-Flows-Browser-Test-Plan.md
Due: prettier --write

docs: add v2 execution plan and Wave 1 prompt-forged task prompts
  docs/prompts/WAVE1-TER-238-fix-gf001-brittle-count.md
  docs/prompts/WAVE1-TER-240-fix-gf005-invalid-locators.md
  docs/prompts/WAVE1-TER-241-fix-gf006-skip-noop.md
  docs/prompts/WAVE1-TER-242-fix-gf007-duplicate-h1.md
  docs/prompts/WAVE1-TER-243-fix-cmdk-pick-pack-focus.md
  docs/prompts/WAVE1-TER-246-type-clients-worksurface.md
  docs/roadmaps/EXECUTION_PLAN_V2.md
Due: prettier --write

fix(e2e): replace comma-separated locators with .or() in GF-005
  tests-e2e/golden-flows/gf-005-pick-pack.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): replace brittle toHaveCount(2) with relative assertion
  tests-e2e/golden-flows/gf-001-direct-intake.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): replace false-pass test.skip with real assertions in GF-006
  tests-e2e/golden-flows/gf-006-client-ledger-review.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): fix locator syntax and h1 ambiguity in GF-007
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/pages/InventoryWorkspacePage.tsx
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(e2e): add Cmd+K pick-pack coverage and fix locator syntax
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(clients): remove any types from ClientsWorkSurface
  client/src/components/work-surface/ClientsWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: add migration pre-flight analysis for Waves 2-4
  docs/roadmaps/MIGRATION_PREFLIGHT_ANALYSIS.md
Due: prettier --write

chore: update version.json with build metadata
  client/public/version.json
  client/version.json
Due: prettier --write

fix: QA hardening — eliminate false-pass patterns and tighten type safety
  client/src/components/work-surface/ClientsWorkSurface.tsx
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
  tests-e2e/golden-flows/gf-007-inventory-management.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json build metadata
  client/public/version.json
  client/version.json
Due: prettier --write

docs: add Wave 2 prompt-forge prompts (TER-245, TER-248)
  docs/prompts/WAVE2-TER-245-product-images-soft-delete.md
  docs/prompts/WAVE2-TER-248-strain-referral-columns.md
Due: prettier --write

feat(schema): Wave 2 — TER-245 product_images soft delete + TER-248 strain/referral columns
  drizzle/schema.ts
  server/autoMigrate.ts
  server/inventoryDb.test.ts
  server/inventoryDb.ts
  server/productsDb.ts
  server/routers/photography.media-behavior.test.ts
  server/routers/photography.ts
  tests/integration/schema-verification.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(photography): comprehensive soft-delete hardening + QA improvements
  server/autoMigrate.ts
  server/routers/photography.ts
  server/routers/vipPortalLiveShopping.ts
  server/services/catalogPublishingService.ts
  server/services/liveCatalogService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(prompts): prompt forge for Waves 3-5 (TER-247, TER-235, TER-249, TER-239, TER-250)
  docs/prompts/WAVE3-TER-235-deprecate-vendor-table.md
  docs/prompts/WAVE3-TER-247-rewrite-vendor-queries.md
  docs/prompts/WAVE4-TER-239-gf002-procure-to-pay.md
  docs/prompts/WAVE4-TER-249-oracle-db-assertions.md
  docs/prompts/WAVE5-TER-250-type-cleanup.md
Due: prettier --write

docs: sync roadmap — Wave 2 complete (TER-245, TER-248), Waves 3-5 planned
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

test(TER-249): strengthen oracle DB assertions and fix broken patterns
  tests-e2e/oracles/accounting/mark-invoice-sent.oracle.yaml
  tests-e2e/oracles/accounting/update-batch-cogs.oracle.yaml
  tests-e2e/oracles/accounting/update-invoice-status.oracle.yaml
  tests-e2e/oracles/accounting/void-invoice.oracle.yaml
  tests-e2e/oracles/clients/create-client.oracle.yaml
  tests-e2e/oracles/crm/clients-update.oracle.yaml
  tests-e2e/oracles/crm/communications-add.oracle.yaml
  tests-e2e/oracles/crm/transactions-create.oracle.yaml
  tests-e2e/oracles/inventory/create-batch.oracle.yaml
  tests-e2e/oracles/inventory/delete-batch.oracle.yaml
  tests-e2e/oracles/inventory/update-batch.oracle.yaml
  tests-e2e/oracles/inventory/update-status.oracle.yaml
  tests/contracts/oracle-metadata-contract.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(TER-239): rewrite GF-002 procure-to-pay E2E with full lifecycle coverage
  tests-e2e/golden-flows/gf-002-procure-to-pay.spec.ts
  tests-e2e/oracles/procurement/gf-002-procure-to-pay.oracle.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(TER-247): rewrite vendor queries to use canonical clients table
  client/src/components/spreadsheet/IntakeGrid.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  server/dataCardMetricsDb.ts
  server/inventoryDb.ts
  server/routers/audit.ts
  server/routers/debug.ts
  server/routers/purchaseOrders.ts
  server/services/vendorMappingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(TER-250): eliminate z.any() and as any from router business logic
  client/src/components/inventory/ClientInterestWidget.tsx
  client/src/components/inventory/SaveViewModal.tsx
  server/routers/admin.ts
  server/routers/adminImport.ts
  server/routers/auth.test.ts
  server/routers/badDebt.test.ts
  server/routers/calendar.ts
  server/routers/calendarFinancials.test.ts
  server/routers/clientNeedsEnhanced.ts
  server/routers/clients.test.ts
  server/routers/configuration.ts
  server/routers/dashboard.pagination.test.ts
  server/routers/dashboard.ts
  server/routers/freeformNotes.ts
  server/routers/inventory.ts
  server/routers/leaderboard.test.ts
  server/routers/orderEnhancements.ts
  server/routers/orders.test.ts
  server/routers/salesSheets.test.ts
  server/routers/search.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: fix TER-235 prompt factual errors before launch
  docs/prompts/WAVE3-TER-235-deprecate-vendor-table.md
Due: prettier --write

fix: QA findings — debug test quote-style + YAML duplicate key
  server/routers/debug.security.test.ts
  tests-e2e/oracles/procurement/gf-002-procure-to-pay.oracle.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

feat(TER-235): Phase 1 — add supplierClientId schema columns + backfill script
  drizzle/schema.ts
  scripts/backfill-ter235-supplier-client-ids.ts
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(TER-235): Phase 2 — code update + deprecation comments
  drizzle/schema.ts
  server/routers/vendors.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(TER-235): remove phantom vendorId columns + add FK constraints
  drizzle/schema.ts
  scripts/backfill-ter235-supplier-client-ids.ts
  server/autoMigrate.ts
  tests/contracts/oracle-metadata-contract.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: sync roadmap — Waves 3-5 complete (TER-235, TER-247, TER-249, TER-239, TER-250)
  docs/roadmaps/GOLDEN_FLOWS_BETA_ROADMAP.md
Due: prettier --write

docs: add UI evolution handoff package
  docs/ui-evolution/AGENT_PROMPT.md
  docs/ui-evolution/CHANGE_MANIFEST.md
  docs/ui-evolution/DESIGN_TOKENS.css
  docs/ui-evolution/README.md
  docs/ui-evolution/reference-implementations/DensityContext.tsx
  docs/ui-evolution/reference-implementations/KeyboardHintBadge.tsx
  docs/ui-evolution/reference-implementations/kbd.tsx
  docs/ui-evolution/reference-implementations/table-diff.md
  docs/ui-evolution/reference-implementations/useKeyboardHints.ts
  docs/ui-evolution/reference-implementations/useRecentItems.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(TER-235): harden vendor migration scripts for production safety
  scripts/apply-ter235-column-migrations.ts
  scripts/backfill-supplier-client-ids.ts
  server/services/vendorMappingService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test(TER-235): add migration result classification tests
  server/services/vendorMappingService.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
