Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx,md,json}": [
    "prettier --write"
  ]
}

Remove GitHub Actions workflows (will be added in Phase 4)
  .github/workflows/merge.yml
  .github/workflows/pr.yml
Due: none

Complete Testing Suite integration with Argos visual testing
  .env
  .env.example
  .manus/ARGOS_SETUP.md
  .manus/PROMPTS/PHASE_3_E2E_TESTS.md
  docs/DEVELOPMENT_PROTOCOLS.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests-e2e/auth.spec.ts
  tests-e2e/create-order.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Complete Testing Suite integration with Argos visual testing
  .env.example
  .manus/ARGOS_SETUP.md
  .manus/PROMPTS/PHASE_3_E2E_TESTS.md
  docs/DEVELOPMENT_PROTOCOLS.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests-e2e/auth.spec.ts
  tests-e2e/create-order.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Complete Phase 0: Test Data Foundation
  PHASE_0_COMPLETION_SUMMARY.md
  TESTING_README.md
  package.json
  scripts/generators/config.ts
  scripts/generators/scenarios.ts
  scripts/seed-realistic-main.ts
  testing/fixtures/README.md
  testing/fixtures/order.json
  testing/fixtures/overdue-invoice.json
  testing/fixtures/product.json
  testing/fixtures/regular-client.json
  testing/fixtures/whale-client.json
Due: eslint --fix --max-warnings=0, prettier --write

Add live database seeding script
  LIVE_DATABASE_SEEDING.md
  PHASE_1_COMPLETION_SUMMARY.md
  TESTING_README.md
  package.json
  scripts/seed-live-database.ts
  testing/db-util.ts
Due: eslint --fix --max-warnings=0, prettier --write

Complete Phase 2: Backend Integration Tests
  PHASE_2_COMPLETION_SUMMARY.md
  TESTING_README.md
  server/routers/clients.test.ts
  server/routers/orders.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add P0.1 error handling issue summary for external review
  P0_ERROR_HANDLING_ISSUE_SUMMARY.md
Due: prettier --write

Phase 3: Frontend E2E Tests - Scalable pattern-based testing with Argos and accessibility
  PHASE_3_COMPLETION_SUMMARY.md
  TESTING_README.md
  tests-e2e/fixtures/crud-entities.json
  tests-e2e/fixtures/dashboards.json
  tests-e2e/page-objects/BasePage.ts
  tests-e2e/page-objects/CRUDPage.ts
  tests-e2e/page-objects/DashboardPage.ts
  tests-e2e/patterns/crud.spec.ts
  tests-e2e/patterns/dashboard.spec.ts
  tests-e2e/specialized/auth.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(p0.1): Add global error handling middleware to tRPC
  ERROR_HANDLING_APPROACH_QA.md
  scripts/add_error_handling.py
  scripts/identify_routers_without_error_handling.py
  scripts/identify_transaction_needs.py
  scripts/routers_needing_error_handling.txt
  scripts/verify_transaction_coverage.py
  server/_core/trpc.ts
Due: eslint --fix --max-warnings=0, prettier --write

Phase 4: Advanced Quality & Automation - CI/CD pipelines (manual setup required)
  .manus/WORKFLOWS/README.md
  .manus/WORKFLOWS/merge.yml
  .manus/WORKFLOWS/pr.yml
  PHASE_4_COMPLETION_SUMMARY.md
  TESTING_README.md
Due: prettier --write

feat(p0.1): Fix DB layer silent failures - Phase 2
  scripts/analyze_result_null_patterns.py
  scripts/db_silent_failures_report.txt
  scripts/fix_db_silent_failures.py
  scripts/identify_db_silent_failures.py
  server/accountingDb.ts
  server/arApDb.ts
  server/cashExpensesDb.ts
  server/clientsDb.ts
  server/inventoryDb.ts
  server/salesDb.ts
  server/salesSheetsDb.ts
Due: eslint --fix --max-warnings=0, prettier --write

Testing Suite Complete - All 4 phases implemented
  TESTING_SUITE_COMPLETE.md
Due: prettier --write

docs(p0.1): Phase 3 analysis - No code changes needed
  P0.1_PHASE3_ANALYSIS.md
  scripts/identify_critical_procedures.py
Due: prettier --write
