Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(testing): add write-path and edge-case chains, consolidate runner specs
  tests-e2e/chains/chain-runner.spec.ts
  tests-e2e/chains/definitions/edge-case-chains.ts
  tests-e2e/chains/definitions/index.ts
  tests-e2e/chains/definitions/write-path-sales-chains.ts
  tests-e2e/chains/simulation-runner.spec.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(testing): add test infrastructure improvement roadmap
  docs/roadmaps/2026-03-07-test-infrastructure-roadmap.md
Due: prettier --write

fix(stress): handle missing /dev/fd in preflight + add smoke verdict
  qa-results/stress/20260308-staging-smoke/VERDICT.md
  qa-results/stress/20260308-staging-smoke/verdict.json
  scripts/stress/preflight.sh
Due: prettier --write

chore: commit version.json build artifacts and preflight output
  qa-results/stress/preflight-20260308-033252/BLOCKERS.md
Due: prettier --write

chore(testing): remove orphaned k6 files, test-flows, and dead scripts
  scripts/qa/send-morning-summary.ts
  test-flows/ADDITIONAL_BUGS_FOUND.md
  test-flows/FINAL_TEST_SUMMARY.md
  test-flows/ROOT_CAUSE_ANALYSIS.md
  test-flows/TEST_RESULTS.md
  test-flows/USER_FLOW_TESTS.md
  test-flows/VALIDATION_RESULTS.md
  test-flows/VALIDATION_SUMMARY.md
  tests/stress/mixed-traffic.k6.js
  tests/stress/peak.k6.js
  tests/stress/smoke.k6.js
  tests/stress/soak.k6.js
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(docs): correct k6 profile path in TESTING.md
  docs/TESTING.md
Due: prettier --write

docs(ui): comprehensive UI review with Instagram-style mobile redesign plan
  docs/reviews/UI_REVIEW_MOBILE_REDESIGN_2026-03-08.md
Due: prettier --write

fix(ux): ship staging audit quick wins
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/components/ui/button.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/index.css
  client/src/pages/LiveShoppingPage.tsx
  client/src/pages/RelationshipsWorkspacePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ux): make mobile tab overflow explicit
  client/src/components/layout/LinearWorkspaceShell.tsx
  client/src/index.css
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ux): TER-634/638/639/667/668/669/670 search, dashboard, contrast, mobile
  client/src/App.tsx
  client/src/components/accounting/StatusBadge.tsx
  client/src/components/inventory/StockStatusBadge.tsx
  client/src/components/layout/PageHeader.tsx
  client/src/components/orders/OrderStatusBadge.tsx
  client/src/components/ui/client-combobox.tsx
  client/src/components/ui/command.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/pages/DashboardHomePage.tsx
  client/src/pages/SearchResultsPage.tsx
  server/routers/poReceiving.ts
  tests-e2e/utils/golden-flow-helpers.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(staging): resolve TER-229/641/644/645 chain test failures
  client/src/components/clients/AddClientWizard.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/pages/OrderCreatorPage.tsx
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(ops): TER-632/633/635/636/637/290 workflow queue testid, calendar form, todo creation, user role display
  client/src/components/UserManagement.tsx
  client/src/components/calendar/EventFormDialog.tsx
  client/src/components/todos/QuickAddTaskModal.tsx
  client/src/pages/TodoListsPage.tsx
  client/src/pages/WorkflowQueuePage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(staging): TER-563/630/631/642/643 - fix 4 chain test failures
  client/src/App.tsx
  client/src/components/AdjustQuantityDialog.tsx
  client/src/components/locations/LocationFormDialog.tsx
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/pages/ProductsPage.test.tsx
  client/src/pages/ProductsPage.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): adopt PageHeader across all work surfaces
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/InventoryWorkSurface.tsx
  client/src/components/work-surface/InvoicesWorkSurface.tsx
  client/src/components/work-surface/OrdersWorkSurface.tsx
  client/src/components/work-surface/ProductsWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/components/work-surface/VendorsWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(test): stabilize flaky ordersDb error propagation test
  server/__tests__/ordersDb-error-propagation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: update version.json build artifacts
  client/public/version.json
  client/version.json
Due: prettier --write

chore(ci): advance schema validation baseline
  .github/workflows/schema-validation.yml
Due: none

fix(runtime): harden schema drift fallbacks
  server/routers/intakeReceipts.test.ts
  server/routers/intakeReceipts.ts
  server/routers/organizationSettings.test.ts
  server/routers/organizationSettings.ts
  server/routers/purchaseOrders.helpers.test.ts
  server/routers/purchaseOrders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(runtime): harden schema drift fallbacks (#470)
  server/routers/intakeReceipts.test.ts
  server/routers/intakeReceipts.ts
  server/routers/organizationSettings.test.ts
  server/routers/organizationSettings.ts
  server/routers/purchaseOrders.helpers.test.ts
  server/routers/purchaseOrders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(procurement): recover po workflow and receiving range cogs
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/uiux-slice/PurchaseOrdersSlicePage.tsx
  client/src/components/uiux-slice/SliceV1WorkbenchLayout.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  server/_core/index.ts
  server/routers/inventory.test.ts
  server/routers/purchaseOrders.helpers.test.ts
  server/routers/purchaseOrders.test.ts
  server/routers/purchaseOrders.ts
  server/webhooks/github.test.ts
  server/webhooks/github.ts
  tests-e2e/critical-paths/control-action-contracts.spec.ts
  tests-e2e/critical-paths/pick-pack.spec.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/inventory/create-batch.oracle.yaml
  tests-e2e/oracles/inventory/create-strain.oracle.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(procurement): recover po workflow and receiving range cogs (#471)
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/uiux-slice/PurchaseOrdersSlicePage.tsx
  client/src/components/uiux-slice/SliceV1WorkbenchLayout.tsx
  client/src/components/work-surface/DirectIntakeWorkSurface.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  server/_core/index.ts
  server/routers/inventory.test.ts
  server/routers/purchaseOrders.helpers.test.ts
  server/routers/purchaseOrders.test.ts
  server/routers/purchaseOrders.ts
  server/webhooks/github.test.ts
  server/webhooks/github.ts
  tests-e2e/critical-paths/control-action-contracts.spec.ts
  tests-e2e/critical-paths/pick-pack.spec.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/inventory/create-batch.oracle.yaml
  tests-e2e/oracles/inventory/create-strain.oracle.yaml
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(profiles): unify relationship profile experience
  client/src/components/VendorRedirect.tsx
  client/src/components/clients/AddClientWizard.tsx
  client/src/components/clients/ProfileQuickPanel.tsx
  client/src/components/clients/QuickCreateClient.tsx
  client/src/components/clients/ReferrerLookup.tsx
  client/src/components/clients/VIPPortalSettings.tsx
  client/src/components/dashboard/LeaderboardWidget.tsx
  client/src/components/dashboard/widgets-v2/MatchmakingOpportunitiesWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.tsx
  client/src/components/dashboard/widgets-v2/SmartOpportunitiesWidget.tsx
  client/src/components/inbox/InboxItem.tsx
  client/src/components/inbox/InboxWidget.tsx
  client/src/components/interest-list/InterestDetailSheet.tsx
  client/src/components/inventory/ClientInterestWidget.tsx
  client/src/components/inventory/PotentialBuyersWidget.tsx
  client/src/components/inventory/ProductConnections.tsx
  client/src/components/inventory/SuggestedBuyers.tsx
  client/src/components/work-surface/ClientsWorkSurface.tsx
  client/src/components/work-surface/VendorsWorkSurface.tsx
  client/src/lib/relationshipProfile.test.ts
  client/src/lib/relationshipProfile.ts
  client/src/pages/ClientProfilePage.tsx
  client/src/pages/LeaderboardPage.tsx
  client/src/pages/MatchmakingServicePage.tsx
  client/src/pages/NeedsManagementPage.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/SearchResultsPage.tsx
  client/src/types/relationshipProfile.ts
  server/routers.ts
  server/routers/relationshipProfile.ts
  server/routers/search.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(operations): harden shipping signals and bulk cogs qa
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/components/work-surface/purchaseOrderBulkCogs.test.ts
  client/src/components/work-surface/purchaseOrderBulkCogs.ts
  tests-e2e/chains/definitions/ops-chains.ts
  tests-e2e/critical-paths/order-fulfillment-workflow.spec.ts
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/work-surface-keyboard.spec.ts
  tests-e2e/mega/sprint-features.spec.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/orders/fulfill-order.oracle.yaml
  tests-e2e/rbac/fulfillment-flows.spec.ts
  tests-e2e/run-comprehensive-http-tests.ts
  tests-e2e/run-with-proxy.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(operations): harden shipping signals and bulk cogs qa (#473)
  client/src/components/uiux-slice/ProductIntakeSlicePage.tsx
  client/src/components/work-surface/PurchaseOrdersWorkSurface.tsx
  client/src/components/work-surface/purchaseOrderBulkCogs.test.ts
  client/src/components/work-surface/purchaseOrderBulkCogs.ts
  tests-e2e/chains/definitions/ops-chains.ts
  tests-e2e/critical-paths/order-fulfillment-workflow.spec.ts
  tests-e2e/golden-flows/cmd-k-enforcement.spec.ts
  tests-e2e/golden-flows/gf-005-pick-pack-complete.spec.ts
  tests-e2e/golden-flows/work-surface-keyboard.spec.ts
  tests-e2e/mega/sprint-features.spec.ts
  tests-e2e/oracles/executor.ts
  tests-e2e/oracles/orders/fulfill-order.oracle.yaml
  tests-e2e/rbac/fulfillment-flows.spec.ts
  tests-e2e/run-comprehensive-http-tests.ts
  tests-e2e/run-with-proxy.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(db): apply range cogs migration in drizzle path
  drizzle/0062_restore_range_cogs_native_flow.sql
  drizzle/meta/_journal.json
Due: prettier --write

feat: restore native range cogs flow
  client/src/components/cogs/CogsGlobalSettings.tsx
  client/src/components/orders/COGSInput.tsx
  client/src/components/orders/LineItemRow.tsx
  client/src/components/orders/LineItemTable.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/components/sales/types.ts
  client/src/components/vendors/VendorContextPanel.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/SalesSheetCreatorPage.tsx
  drizzle/migrations/0062_restore_range_cogs_native_flow.sql
  drizzle/schema.ts
  server/__tests__/autoMigrateFingerprint.test.ts
  server/autoMigrate.ts
  server/cogsCalculator.ts
  server/ordersDb.ts
  server/routers/orders.ts
  server/routers/pricingDefaults.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
  server/services/live-shopping/sessionPricingService.ts
  server/services/orderOrchestrator.ts
  server/services/payablesService.test.ts
  server/services/payablesService.ts
  server/services/pricingService.test.ts
  server/services/pricingService.ts
  server/tests/cogsCalculator.test.ts
  server/vendorContextDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(pricing): harden range cogs preview controls
  client/src/components/sales/SalesSheetPreview.tsx
  server/routers/pricingDefaults.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Restore native range-based COGS flow (#474)
  client/src/components/cogs/CogsGlobalSettings.tsx
  client/src/components/orders/COGSInput.tsx
  client/src/components/orders/LineItemRow.tsx
  client/src/components/orders/LineItemTable.tsx
  client/src/components/sales/InventoryBrowser.tsx
  client/src/components/sales/SalesSheetPreview.tsx
  client/src/components/sales/types.ts
  client/src/components/vendors/VendorContextPanel.tsx
  client/src/pages/OrderCreatorPage.tsx
  client/src/pages/SalesSheetCreatorPage.tsx
  drizzle/0062_restore_range_cogs_native_flow.sql
  drizzle/meta/_journal.json
  drizzle/schema.ts
  server/__tests__/autoMigrateFingerprint.test.ts
  server/autoMigrate.ts
  server/cogsCalculator.ts
  server/ordersDb.ts
  server/routers/orders.ts
  server/routers/pricingDefaults.ts
  server/routers/salesSheets.ts
  server/salesSheetsDb.ts
  server/services/live-shopping/sessionPricingService.ts
  server/services/orderOrchestrator.ts
  server/services/payablesService.test.ts
  server/services/payablesService.ts
  server/services/pricingService.test.ts
  server/services/pricingService.ts
  server/tests/cogsCalculator.test.ts
  server/vendorContextDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(build): refresh version metadata
  client/public/version.json
  client/version.json
Due: prettier --write

fix(backlog): close remaining staging workflow gaps
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/pages/OrderCreatorPage.tsx
  server/ordersDb.ts
  server/routers/pickPack.ts
  server/routers/quotes.test.ts
  server/routers/quotes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(backlog): close remaining staging workflow gaps (#476)
  client/src/components/work-surface/PickPackWorkSurface.tsx
  client/src/components/work-surface/QuotesWorkSurface.tsx
  client/src/pages/OrderCreatorPage.tsx
  server/ordersDb.ts
  server/routers/pickPack.ts
  server/routers/quotes.test.ts
  server/routers/quotes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(quotes): normalize legacy quote items
  client/src/components/work-surface/QuotesWorkSurface.tsx
  server/ordersDb.legacyQuoteCompatibility.test.ts
  server/ordersDb.ts
  server/routers/quotes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(batches): tolerate staging schema drift
  server/inventoryDb.ts
  server/lib/batchColumnCompatibility.test.ts
  server/lib/batchColumnCompatibility.ts
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
