Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add notification center and preferences
  client/src/App.tsx
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/notifications/NotificationBell.test.tsx
  client/src/components/notifications/NotificationBell.tsx
  client/src/pages/NotificationsPage.test.tsx
  client/src/pages/NotificationsPage.tsx
  client/src/pages/Settings.tsx
  client/src/pages/settings/NotificationPreferences.test.tsx
  client/src/pages/settings/NotificationPreferences.tsx
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260103-NOTIF-001-007-edcfff.md
  drizzle/migrations/0023_add_notifications_tables.sql
  drizzle/schema.ts
  server/_core/calendarJobs.ts
  server/routers.ts
  server/routers/calendarParticipants.ts
  server/routers/notifications.test.ts
  server/routers/notifications.ts
  server/routers/vipPortal.ts
  server/services/notificationRepository.ts
  server/services/notificationService.test.ts
  server/services/notificationService.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(stability): harden KPIs and validation
  client/src/components/data-cards/DataCard.tsx
  client/src/components/data-cards/DataCardGrid.test.tsx
  client/src/components/data-cards/DataCardGrid.tsx
  client/src/components/needs/NeedForm.tsx
  client/src/components/needs/needForm.types.ts
  client/src/components/supply/SupplyForm.test.tsx
  client/src/components/supply/SupplyForm.tsx
  client/src/hooks/useInventorySort.test.ts
  client/src/hooks/useInventorySort.ts
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260103-STAB-001-003-f40fdc.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add notification center and preferences (#106)
  client/src/App.tsx
  client/src/components/layout/AppHeader.test.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/notifications/NotificationBell.test.tsx
  client/src/components/notifications/NotificationBell.tsx
  client/src/pages/NotificationsPage.test.tsx
  client/src/pages/NotificationsPage.tsx
  client/src/pages/Settings.tsx
  client/src/pages/settings/NotificationPreferences.test.tsx
  client/src/pages/settings/NotificationPreferences.tsx
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260103-NOTIF-001-007-edcfff.md
  drizzle/migrations/0023_add_notifications_tables.sql
  drizzle/schema.ts
  server/_core/calendarJobs.ts
  server/routers.ts
  server/routers/calendarParticipants.ts
  server/routers/notifications.test.ts
  server/routers/notifications.ts
  server/routers/vipPortal.ts
  server/services/notificationRepository.ts
  server/services/notificationService.test.ts
  server/services/notificationService.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(stability): harden KPIs and validation (#107)
  client/src/components/data-cards/DataCard.tsx
  client/src/components/data-cards/DataCardGrid.test.tsx
  client/src/components/data-cards/DataCardGrid.tsx
  client/src/components/needs/NeedForm.tsx
  client/src/components/needs/needForm.types.ts
  client/src/components/supply/SupplyForm.test.tsx
  client/src/components/supply/SupplyForm.tsx
  client/src/hooks/useInventorySort.test.ts
  client/src/hooks/useInventorySort.ts
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/completed/Session-20260103-STAB-001-003-f40fdc.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(samples): enforce auth and permissions
  client/src/App.tsx
  client/src/components/samples/SampleForm.test.tsx
  client/src/components/samples/SampleForm.tsx
  client/src/components/samples/SampleList.test.tsx
  client/src/components/samples/SampleList.tsx
  client/src/config/navigation.ts
  client/src/pages/SampleManagement.test.tsx
  client/src/pages/SampleManagement.tsx
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20260103-SAMPLE-001-005-0f896c.md
  server/routers/samples.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(samples): enforce auth and permissions (#108)
  client/src/App.tsx
  client/src/components/samples/SampleForm.test.tsx
  client/src/components/samples/SampleForm.tsx
  client/src/components/samples/SampleList.test.tsx
  client/src/components/samples/SampleList.tsx
  client/src/config/navigation.ts
  client/src/pages/SampleManagement.test.tsx
  client/src/pages/SampleManagement.tsx
  docs/ACTIVE_SESSIONS.md
  docs/roadmaps/MASTER_ROADMAP.md
  docs/sessions/active/Session-20260103-SAMPLE-001-005-0f896c.md
  server/routers/samples.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Add Red Hat QA report for PRs #106, #107, #108
  docs/qa/redhat-qa-report-20260103.md
Due: prettier --write

chore: update version.json files from build
  client/public/version.json
  client/version.json
Due: prettier --write

feat(samples): implement sample returns SAMPLE-006 to SAMPLE-009
  client/src/components/samples/ExpiringSamplesWidget.tsx
  client/src/components/samples/LocationUpdateDialog.tsx
  client/src/components/samples/SampleList.tsx
  client/src/components/samples/SampleReturnDialog.tsx
  client/src/components/samples/VendorShipDialog.tsx
  client/src/pages/SampleManagement.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  drizzle/schema.ts
  server/routers/samples.ts
  server/samplesDb.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(calendar): implement calendar foundation CAL-001 and CAL-002
  client/src/components/calendar/CalendarFilters.tsx
  client/src/components/calendar/CalendarSettings.tsx
  client/src/components/calendar/EventFormDialog.tsx
  client/src/pages/Settings.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  drizzle/migrations/0024_calendar_foundation.sql
  drizzle/schema.ts
  server/routers.ts
  server/routers/calendarsManagement.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): Add SPRINT-DEBT-001 TypeScript & Test Remediation
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(qa): add AI browser QA agent with Claude vision
  package.json
  tests-e2e/ai-agents/index.ts
  tests-e2e/ai-agents/qa-agent.ts
  tests-e2e/ai-agents/scenarios.ts
  tests-e2e/ai-agents/types.ts
  tests-e2e/ai-generated/accounting/ledger.spec.ts
  tests-e2e/ai-generated/core/dashboard.spec.ts
  tests-e2e/ai-generated/features/clients.spec.ts
  tests-e2e/ai-generated/features/inventory.spec.ts
  tests-e2e/ai-generated/run-scenario.spec.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(qa): add AI browser QA agent with Claude vision (#113)
  package.json
  tests-e2e/ai-agents/index.ts
  tests-e2e/ai-agents/qa-agent.ts
  tests-e2e/ai-agents/scenarios.ts
  tests-e2e/ai-agents/types.ts
  tests-e2e/ai-generated/accounting/ledger.spec.ts
  tests-e2e/ai-generated/core/dashboard.spec.ts
  tests-e2e/ai-generated/features/clients.spec.ts
  tests-e2e/ai-generated/features/inventory.spec.ts
  tests-e2e/ai-generated/run-scenario.spec.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(samples): improve error handling and fix lint errors
  client/src/components/samples/LocationUpdateDialog.tsx
  client/src/components/samples/SampleForm.tsx
  client/src/components/samples/SampleReturnDialog.tsx
  client/src/components/samples/VendorShipDialog.tsx
  client/src/pages/SampleManagement.test.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ux): implement UX enhancements ACT-001 to ENH-003
  client/src/App.tsx
  client/src/components/CommandPalette.tsx
  client/src/components/KeyboardShortcutsModal.tsx
  client/src/components/dashboard/widgets-v2/SalesComparisonWidget.tsx
  client/src/components/dashboard/widgets-v2/TransactionSnapshotWidget.tsx
  client/src/components/interest-list/InterestDetailSheet.tsx
  client/src/components/ui/bulk-actions.tsx
  client/src/components/ui/export-button.tsx
  client/src/pages/InterestListPage.tsx
  client/src/pages/accounting/Invoices.tsx
  docs/roadmaps/MASTER_ROADMAP.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Add RedHat QA review for PRs #109-#112
  docs/qa/PR-REVIEW-109-112.md
Due: prettier --write

fix(e2e): add SKIP_E2E_SETUP option for AI agent tests
  playwright.config.ts
  testing/setup-e2e.ts
  tests-e2e/ai-generated/no-auth-test.spec.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(qa): add cloud-ready AI agent test scripts
  package.json
Due: prettier --write

feat(ci): add AI Browser QA Agent workflow
  .github/workflows/ai-qa-agent.yml
Due: none

feat(calendar): implement calendar advanced CAL-003 and CAL-004
  client/src/components/calendar/AppointmentRequestModal.tsx
  client/src/components/calendar/AppointmentRequestsList.tsx
  client/src/components/calendar/RecurrenceEditDialog.tsx
  client/src/components/calendar/RecurrencePatternBuilder.tsx
  client/src/components/calendar/TimeOffRequestForm.tsx
  client/src/components/calendar/TimeOffRequestsList.tsx
  client/src/pages/CalendarPage.tsx
  docs/roadmaps/MASTER_ROADMAP.md
  drizzle/schema.ts
  server/routers.ts
  server/routers/appointmentRequests.ts
  server/routers/calendarsManagement.ts
  server/routers/timeOffRequests.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

refactor(calendar): QA remediation for PR #110
  client/src/components/calendar/CalendarSettings.tsx
  client/src/components/calendar/settings/CalendarAppointmentTypes.tsx
  client/src/components/calendar/settings/CalendarAvailabilitySettings.tsx
  client/src/components/calendar/settings/CalendarGeneralSettings.tsx
  server/routers.ts
  server/routers/calendars/calendarsAccess.ts
  server/routers/calendars/calendarsAppointments.ts
  server/routers/calendars/calendarsAvailability.ts
  server/routers/calendars/calendarsCore.ts
  server/routers/calendars/index.ts
  server/services/seedFeatureFlags.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Add comprehensive RedHat QA review for PRs #109-#113
  docs/qa/REDHAT_QA_REVIEW_2026-01-03.md
Due: prettier --write

docs(qa): Comprehensive RedHat QA review for PRs #106-#113
  docs/qa/REDHAT_QA_REVIEW_2026-01-03.md
Due: prettier --write

feat: Add AI agent prompt for FEATURE-021 Spreadsheet View
  docs/prompts/FEATURE-021.md
  docs/roadmaps/ACTIVE_TASKS_SECTION.md
Due: prettier --write

docs(roadmap): Add technical debt from QA review v2.31
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(calendar): correct schema column references for users and clients tables
  client/src/components/calendar/AppointmentRequestsList.tsx
  client/src/components/calendar/TimeOffRequestsList.tsx
  server/routers/appointmentRequests.ts
  server/routers/calendars/calendarsAccess.ts
  server/routers/timeOffRequests.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): add Sprint F & G - Verification, Validation & Credit System
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat(spreadsheet): add spreadsheet view
  client/src/App.tsx
  client/src/components/spreadsheet/ClientGrid.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
  client/src/pages/SpreadsheetViewPage.tsx
  client/src/types/spreadsheet.ts
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260103-FEATURE-021-ef9784.md
  package.json
  pnpm-lock.yaml
  server/routers.ts
  server/routers/spreadsheet.test.ts
  server/routers/spreadsheet.ts
  server/services/seedFeatureFlags.ts
  server/services/spreadsheetViewService.test.ts
  server/services/spreadsheetViewService.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(prompts): add ChatGPT UI/UX review agent prompt
  docs/prompts/CHATGPT-UIUX-REVIEW-AGENT.md
Due: prettier --write

fix(spreadsheet): correct status type in InventoryGrid
  client/src/components/spreadsheet/InventoryGrid.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): add UI/UX audit findings - Sprints H, I, J, K
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

docs(roadmap): remove UX-024 (Onboarding) and UX-026 (Trust Signals)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

feat: add spreadsheet view inventory and client grids (#117)
  client/src/App.tsx
  client/src/components/spreadsheet/ClientGrid.tsx
  client/src/components/spreadsheet/InventoryGrid.tsx
  client/src/pages/SpreadsheetViewPage.tsx
  client/src/types/spreadsheet.ts
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260103-FEATURE-021-ef9784.md
  package.json
  pnpm-lock.yaml
  server/routers.ts
  server/routers/spreadsheet.test.ts
  server/routers/spreadsheet.ts
  server/services/seedFeatureFlags.ts
  server/services/spreadsheetViewService.test.ts
  server/services/spreadsheetViewService.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(vip): implement VIP Portal frontend enhancements
  client/src/components/vip-portal/AccountsPayable.test.tsx
  client/src/components/vip-portal/AccountsPayable.tsx
  client/src/components/vip-portal/AccountsReceivable.test.tsx
  client/src/components/vip-portal/AccountsReceivable.tsx
  client/src/pages/vip-portal/VIPDashboard.test.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260103-VIP-F-01-c9de7f.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(vip): correct config type compatibility for AR/AP components
  client/src/components/vip-portal/AccountsPayable.tsx
  client/src/components/vip-portal/AccountsReceivable.tsx
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(vip): implement VIP Portal frontend enhancements (#118)
  client/src/components/vip-portal/AccountsPayable.test.tsx
  client/src/components/vip-portal/AccountsPayable.tsx
  client/src/components/vip-portal/AccountsReceivable.test.tsx
  client/src/components/vip-portal/AccountsReceivable.tsx
  client/src/pages/vip-portal/VIPDashboard.test.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260103-VIP-F-01-c9de7f.md
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add VIP portal appointments and downloads
  client/src/pages/vip-portal/AppointmentBooking.tsx
  client/src/pages/vip-portal/DocumentDownloads.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  client/src/pages/vip-portal/VipNotificationsBell.tsx
  docs/sessions/completed/Session-20260103-VIP-PORTAL-d62b53.md
  server/routers/vipPortal.appointments.test.ts
  server/routers/vipPortal.ts
  server/services/notificationRepository.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(vip): fix timezone bugs in appointment slot calculation and validation
  server/routers/vipPortal.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Add VIP portal appointments and downloads (#119)
  client/src/pages/vip-portal/AppointmentBooking.tsx
  client/src/pages/vip-portal/DocumentDownloads.tsx
  client/src/pages/vip-portal/VIPDashboard.tsx
  client/src/pages/vip-portal/VipNotificationsBell.tsx
  docs/sessions/completed/Session-20260103-VIP-PORTAL-d62b53.md
  server/routers/vipPortal.appointments.test.ts
  server/routers/vipPortal.ts
  server/services/notificationRepository.ts
Due: vitest related --run, eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): add supplemental UX audit findings (8 new items, 41h)
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
