Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: vitest related --run, eslint --fix --max-warnings=0, prettier --write

feat(calendar): add pagination and complete Phase 1 & Phase 2 improvements
  docs/calendar/MOBILE_OPTIMIZATION_REQUIREMENTS.md
  docs/testing/PHASE1_SMOKE_TEST_REPORT.md
  docs/testing/PHASE2_SMOKE_TEST_REPORT.md
  server/routers/calendar.pagination.test.ts
  server/routers/calendar.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add Phase 1 & Phase 2 delivery report and E2E test report
  CALENDAR_PHASE1_PHASE2_DELIVERY_REPORT.md
  docs/testing/E2E_TEST_REPORT.md
Due: prettier --write

docs: add API error investigation report
  docs/testing/API_ERROR_INVESTIGATION_REPORT.md
Due: prettier --write

fix: update user menu to fetch real user data and fix logout
  client/src/components/DashboardLayout.tsx
  server/scripts/create-admin-user.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix(database): add missing schema migrations for calendar tables
  drizzle/migrations/0008_fix_calendar_events_schema.sql
  drizzle/migrations/0009_fix_calendar_recurrence_instances_schema.sql
Due: none

docs: add comprehensive API fix completion report
  docs/testing/API_FIX_COMPLETE_REPORT.md
Due: prettier --write

fix: improve user menu dropdown for mobile devices
  client/src/components/DashboardLayout.tsx
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: correct isGhostTime DST validation to properly compare HH:MM format
  server/_core/timezoneService.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: temporarily disable DST ghost time validation to unblock event creation
  server/_core/timezoneService.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

fix: update calendar router to handle void return from validateDateTime
  server/routers/calendar.ts
Due: vitest related --run, eslint --fix --max-warnings=0, prettier --write

docs: add comprehensive E2E QA report for calendar system
  docs/testing/E2E_QA_COMPLETE_REPORT.md
Due: prettier --write

Path conditions:
  vitest related --run: (any of: *.{ts,tsx}) or (any of: server/**/*.test.ts)
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,md,json})
