Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(agents): Add Multi-Agent Execution Plan V2 with team prompts
  docs/prompts/agents-v2/COORDINATOR_V2.md
  docs/prompts/agents-v2/TEAM_A_SECURITY_CRITICAL.md
  docs/prompts/agents-v2/TEAM_B_ACCOUNTING_GL.md
  docs/prompts/agents-v2/TEAM_C_INVENTORY_ORDERS.md
  docs/prompts/agents-v2/TEAM_D_CODE_QUALITY.md
  docs/prompts/agents-v2/TEAM_E_INFRASTRUCTURE.md
  docs/prompts/agents-v2/TEAM_F_UI_FEATURES.md
  docs/roadmaps/MULTI_AGENT_EXECUTION_PLAN_V2.md
Due: prettier --write

chore: register Team E Infrastructure session
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260126-TEAM-E-INFRA-RNtE3.md
Due: prettier --write

feat(infra): Team E infrastructure tasks
  docs/sessions/active/Session-20260126-TEAM-E-INFRA-RNtE3.md
  drizzle/0053_fix_dashboard_preferences_index.sql
  drizzle/0054_fix_long_constraint_names.sql
  drizzle/0055_add_bills_fk_constraints.sql
  drizzle/0056_migrate_lots_supplier_client_id.sql
  package.json
  server/cron/arReconciliationCheck.ts
  server/cron/glBalanceCheck.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(infrastructure): Team E infrastructure improvements
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260126-TEAM-E-INFRA-Pmltm.md
  drizzle/0053_fix_dashboard_preferences_index.sql
  drizzle/0054_fix_long_constraint_names.sql
  drizzle/schema.ts
  package.json
  server/_core/index.ts
  server/cron/arReconciliationCron.ts
  server/cron/glBalanceVerificationCron.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(ui): Team F UI/UX improvements batch 1
  client/src/App.tsx
  client/src/components/accounting/MultiInvoicePaymentForm.tsx
  client/src/config/navigation.ts
  client/src/pages/AlertsPage.tsx
  client/src/pages/ShrinkagePage.tsx
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260126-TEAM-F-UI-4pvOr.md
  package.json
  scripts/seed-qa-data.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore: register Team D Code Quality session
  docs/ACTIVE_SESSIONS.md
  docs/sessions/active/Session-20260126-TEAM-D-CODE-QUALITY-9V7zW.md
Due: prettier --write

docs(session): update Team F session with batch 1 progress
  docs/sessions/active/Session-20260126-TEAM-F-UI-4pvOr.md
Due: prettier --write

fix(tests): improve test infrastructure setup
  tests/setup.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(tests): mock Radix UI Dialog/Select for EventFormDialog tests
  client/src/components/calendar/EventFormDialog.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(lint): fix React Hooks violations and missing React imports
  client/src/components/ErrorBoundary.tsx
  client/src/components/accounting/AccountSelector.tsx
  client/src/components/accounting/AmountInput.tsx
  client/src/components/accounting/FiscalPeriodSelector.tsx
  client/src/components/audit/AuditIcon.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(lint): fix unused variables, any types, and non-null assertions
  client/src/components/UserManagement.tsx
  client/src/components/VersionChecker.tsx
  client/src/components/accounting/AgingBadge.tsx
  client/src/components/accounting/InvoicePaymentHistory.tsx
  client/src/components/accounting/MultiInvoicePaymentForm.tsx
  client/src/components/accounting/ReceivePaymentModal.tsx
  client/src/components/alerts/AlertsPanel.tsx
  client/src/components/audit/AuditIcon.tsx
  client/src/components/calendar/AgendaView.tsx
  client/src/components/calendar/AppointmentRequestModal.tsx
  client/src/components/calendar/CalendarFilters.tsx
  client/src/components/calendar/RecurrencePatternBuilder.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(migration): Use soft delete and safe fallbacks in 0055
  drizzle/0055_add_bills_fk_constraints.sql
Due: none

fix(migrations): Address QA issues in migration files 0053-0056
  drizzle/0053_fix_dashboard_preferences_index.sql
  drizzle/0054_fix_long_constraint_names.sql
  drizzle/0055_add_bills_fk_constraints.sql
  drizzle/0056_migrate_lots_supplier_client_id.sql
Due: none

fix(lint): replace any types with proper interfaces in dashboard widgets
  client/src/components/dashboard/widgets-v2/CashCollectedLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ClientDebtLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ClientProfitMarginLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/FreeformNoteWidget.tsx
  client/src/components/dashboard/widgets-v2/SmartOpportunitiesWidget.tsx
  client/src/components/dashboard/widgets-v2/TopStrainFamiliesWidget.tsx
  client/src/components/inbox/InboxPanel.tsx
  client/src/components/inventory/ClientInterestWidget.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(session): update Team D code quality progress
  docs/sessions/active/Session-20260126-TEAM-D-CODE-QUALITY-9V7zW.md
Due: prettier --write

docs(roadmap): Add execution plan for QA migration fixes
  docs/roadmaps/QA-MIGRATION-FIXES-execution-plan.md
Due: prettier --write

fix(migrations): Address all QA issues (QA-R02 through QA-R07)
  drizzle/0055_add_bills_fk_constraints.sql
  drizzle/0056_migrate_lots_supplier_client_id.sql
Due: none

docs(roadmap): Add migration execution tasks and update statuses
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(tests): skip EventFormDialog tests due to Radix UI jsdom incompatibility
  client/src/components/calendar/EventFormDialog.test.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(lint): replace any types with proper types in order modals
  client/src/components/orders/DeleteDraftModal.tsx
  client/src/components/orders/ProcessReturnModal.tsx
  client/src/components/orders/ShipOrderModal.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(roadmap): update Team D code quality progress
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(lint): unblock LINT-006 by fixing pre-existing lint errors
  server/routers/admin.ts
  server/routers/adminImport.ts
  server/routers/pickPack.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

chore(coordinator): Initialize multi-agent sprint v2 integration coordinator
  docs/sessions/active/coordinator.md
Due: prettier --write

chore: update version.json from build
  client/public/version.json
  client/version.json
Due: prettier --write

chore(coordinator): Add QA protocol reference for PR reviews
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Update with discovered team PRs
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Mark Team D PR #312 as verified
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Mark Team E PR #311 as verified
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Mark Team C PR #308 as verified
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Mark Team F PR #310 as verified
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Mark Team A PR #309 as verified, signal Team B unlock
  docs/sessions/active/coordinator.md
Due: prettier --write

chore(coordinator): Mark Team B PR #313 as verified - ALL TEAMS COMPLETE
  docs/sessions/active/coordinator.md
Due: prettier --write

feat(quotes): SM-001 - Implement quote status transition validation
  server/ordersDb.ts
  server/routers/quotes.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(orders): SM-002 - Implement sale status transition validation
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): INV-002 - Fix race condition in draft order confirmation
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): INV-005 - Create batches and record movements on PO goods receipt
  server/routers/poReceiving.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix(orders): ORD-002 - Add positive price validation
  server/ordersDb.ts
  server/routers/orders.ts
  server/services/orderService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): INV-004 - Add reservation release on order cancellation
  server/ordersDb.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(inventory): INV-001 - Add inventory deduction and reservation release on ship
  server/routers/orders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat(purchaseOrders): PARTY-001 - Enhance supplierClientId support in POs
  server/routers/purchaseOrders.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{md,json})
