Repository EvanTenenbaum/TERP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings=0 --no-warn-ignored",
    "prettier --write"
  ],
  "*.{md,json}": ["prettier --write"]
}

fix: Update all workflows to use pnpm v10 with correct step ordering
  .github/workflows/auto-deploy-monitor.yml
  .github/workflows/bundle-size.yml
  .github/workflows/comprehensive-test.yml
  .github/workflows/coverage.yml
  .github/workflows/daily-qa.yml
  .github/workflows/deploy-watchdog.yml
  .github/workflows/docs-generate.yml
  .github/workflows/e2e-live-site.yml
  .github/workflows/execute-natural-commands.yml
  .github/workflows/fix-lockfile-now.yml
  .github/workflows/mega-qa-cloud.yml
  .github/workflows/merge.yml
  .github/workflows/morning-summary.yml
  .github/workflows/nightly-schema-check.yml
  .github/workflows/qa-initial-audit.yml
  .github/workflows/schema-validation.yml
  .github/workflows/slack-bot-deploy.yml
  .github/workflows/swarm-auto-start.yml
  .github/workflows/swarm-status-monitor.yml
  .github/workflows/sync-lockfile.yml
  .github/workflows/typescript-check.yml
  scripts/ai-diagnosis-result.md
Due: prettier --write

fix: Use db:push instead of migrations for CI tests
  .github/workflows/comprehensive-test.yml
  .github/workflows/daily-qa.yml
  drizzle/0020_flimsy_makkari_fix.sql
Due: none

revert: Remove database migration changes, keep only workflow fixes
  .github/workflows/comprehensive-test.yml
  .github/workflows/daily-qa.yml
  drizzle/0020_flimsy_makkari_fix.sql
  scripts/ai-fix-workflows.py
  scripts/claude-diagnose.py
  scripts/fix-all-workflows.py
  scripts/fix-workflow-order.py
  scripts/openai-diagnose.py
Due: none

fix: AI-generated fixes for failing unit tests
  client/src/hooks/work-surface/__tests__/useExport.test.ts
  client/src/hooks/work-surface/__tests__/usePrint.test.ts
  tests/security/permission-escalation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: AI-generated fixes for multiple failing tests (batch 2)
  client/src/components/inventory/BatchDetailDrawer.test.tsx
  client/src/components/layout/AppSidebar.test.tsx
  client/src/pages/vip-portal/VIPDashboard.test.tsx
  scripts/ai-fix-batch.py
  scripts/ai-fix-results.json
  scripts/ai-fix-tests.py
  scripts/claude-analysis-results.json
  scripts/claude-fix-tests.py
  tests/security/auth-bypass.test.ts
  tests/unit/server/routers/clients.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Unify inventory status filtering across dashboard and sales modules (INV-CONSISTENCY-001)
  server/inventoryDb.ts
  server/routers/inventory.ts
  server/salesSheetsDb.ts
  server/services/spreadsheetViewService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: AI-generated fixes for server-side router tests (batch 3)
  scripts/ai-fix-server-tests.py
  server/routers/accounting.test.ts
  server/routers/analytics.test.ts
  server/routers/credits.test.ts
  server/routers/dashboard.test.ts
  server/routers/inventory.test.ts
  server/routers/orders.test.ts
  tests/security/sql-injection.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Show all inventory with qty > 0, include status for filtering (INV-CONSISTENCY-002)
  server/salesSheetsDb.ts
  server/services/spreadsheetViewService.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

test: Update getDashboardStats tests for INV-CONSISTENCY-001 changes
  server/inventoryDb.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: AI-generated fixes for failing tests (reduced from 116 to 37)
  client/src/components/calendar/EventFormDialog.test.tsx
  client/src/components/common/UserSelector.test.tsx
  client/src/components/inventory/BatchDetailDrawer.test.tsx
  client/src/hooks/work-surface/__tests__/useExport.test.ts
  client/src/hooks/work-surface/__tests__/usePrint.test.ts
  client/src/pages/ProductsPage.test.tsx
  drizzle/0053_fix_dashboard_preferences_index.sql
  server/__tests__/optimisticLocking.test.ts
  server/arApDb.test.ts
  server/creditsDb.race-condition.test.ts
  server/inventoryDb.test.ts
  server/routers/accounting.test.ts
  server/routers/analytics.test.ts
  server/routers/clients.test.ts
  server/routers/inventory.test.ts
  server/routers/orders.test.ts
  server/routers/pricing.test.ts
  server/services/permissionService.test.ts
  server/tests/calendarDb.v32.test.ts
  tests/security/auth-bypass.test.ts
  tests/security/permission-escalation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Additional test fix for credits router
  server/routers/credits.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Additional test fix for calendar pagination router
  server/routers/calendar.pagination.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Additional test fix for calendar financials router
  server/routers/calendarFinancials.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Further updates to calendar financials test
  server/routers/calendarFinancials.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Commit server test files from previous session
  server/routers/admin-security.test.ts
  server/routers/comments.test.ts
  server/routers/rbac-permissions.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Additional test fixes for component and router tests
  client/src/components/layout/AppSidebar.test.tsx
  client/src/pages/SampleManagement.test.tsx
  client/src/pages/vip-portal/VIPDashboard.test.tsx
  tests/unit/server/routers/clients.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Fix security permission-escalation tests
  tests/security/permission-escalation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Final test fixes and migration repair
  client/src/pages/Inventory.test.tsx
  client/src/pages/SampleManagement.test.tsx
  drizzle/0020_flimsy_makkari.sql
  drizzle/0053_fix_dashboard_preferences_index.sql
  scripts/fix-remaining-tests.py
  server/auth.integration.test.ts
  server/inventoryDb.test.ts
  server/routers/calendar.pagination.test.ts
  server/tests/schema-validation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add missing AddClientWizard to ClientsWorkSurface
  client/src/components/work-surface/ClientsWorkSurface.tsx
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Dashboard widgets comprehensive fixes
  client/src/components/dashboard/widgets-v2/CashCollectedLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/CashFlowWidget.tsx
  client/src/components/dashboard/widgets-v2/ClientDebtLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ClientProfitMarginLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ProfitabilityWidget.tsx
  client/src/components/dashboard/widgets-v2/SalesByClientWidget.tsx
  client/src/components/dashboard/widgets-v2/TotalDebtWidget.tsx
  client/src/components/dashboard/widgets-v2/TransactionSnapshotWidget.tsx
  server/dashboardHelpers.ts
  server/routers/dashboard.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Fix MySQL identifier length limit for constraint names
  drizzle/0020_flimsy_makkari.sql
  drizzle/0054_fix_long_constraint_names.sql
Due: none

fix: Fix all MySQL identifier length violations (>64 chars)
  drizzle/0021_giant_leech.sql
  drizzle/0054_fix_long_constraint_names.sql
  drizzle/meta/0020_snapshot.json
  drizzle/meta/0021_snapshot.json
  drizzle/meta/0022_snapshot.json
  drizzle/meta/0023_snapshot.json
  drizzle/meta/0024_snapshot.json
  drizzle/meta/0025_snapshot.json
  drizzle/meta/0026_snapshot.json
Due: prettier --write

fix: Shorten MySQL constraint names to under 64 chars
  drizzle/0020_flimsy_makkari.sql
  drizzle/0021_giant_leech.sql
Due: none

fix: Final test fixes, migration repair, and constraint name fixes (#278)
  client/src/pages/Inventory.test.tsx
  client/src/pages/SampleManagement.test.tsx
  drizzle/0020_flimsy_makkari.sql
  drizzle/0021_giant_leech.sql
  drizzle/0053_fix_dashboard_preferences_index.sql
  scripts/fix-remaining-tests.py
  server/auth.integration.test.ts
  server/inventoryDb.test.ts
  server/routers/calendar.pagination.test.ts
  server/tests/schema-validation.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Drop FKs before indexes in migration 0023 (RBAC tables)
  drizzle/0023_redundant_bulldozer.sql
Due: none

fix: Drop FKs before indexes in migration 0023 (RBAC tables) (#281)
  drizzle/0023_redundant_bulldozer.sql
Due: none

Add CLAUDE.md for Claude Code + Claude.ai Project integration
  CLAUDE.md
Due: prettier --write

feat(nav): Reorganize navigation based on user workflow analysis
  client/src/config/navigation.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs: Mark DATA-021 as complete in roadmap
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

chore: Update version.json from QA build verification
  client/public/version.json
  client/version.json
Due: prettier --write

fix: Convert migrations to Drizzle-compatible format
  drizzle/0041_add_leaderboard_tables.sql
  drizzle/0044_add_admin_impersonation_tables.sql
  drizzle/0052_feat_002_tag_system_revamp.sql
Due: none

fix: Dashboard improvements - real profit margin & consistent time filtering
  client/src/components/dashboard/widgets-v2/CashCollectedLeaderboard.tsx
  client/src/components/dashboard/widgets-v2/ClientDebtLeaderboard.tsx
  server/routers/analytics.ts
  server/routers/dashboard.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

feat: Add RedHat comprehensive QA audit findings to roadmap (26 tasks)
  docs/prompts/BL-001.md
  docs/prompts/BL-003.md
  docs/prompts/CON-001.md
  docs/prompts/DI-010.md
  docs/prompts/DI-011.md
  docs/prompts/SEC-030.md
  docs/prompts/SEC-031.md
  docs/prompts/SEC-033.md
  docs/prompts/SEC-036.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix: Remove DELIMITER from migrations (not supported by Drizzle)
  drizzle/0053_fix_dashboard_preferences_index.sql
  drizzle/0054_fix_long_constraint_names.sql
Due: none

docs: Add NAV-018 navigation reorganization to roadmap
  docs/roadmaps/MASTER_ROADMAP.md
  docs/roadmaps/ROADMAP_UPDATE_CHANGELOG.md
  docs/sessions/completed/Session-20260123-NAV-018-27fc9c6.md
Due: prettier --write

fix: Convert all remaining migrations to Drizzle-compatible format
  drizzle/0022_create_order_line_items.sql
  drizzle/0024_create_order_audit_log.sql
  drizzle/0025_create_pricing_defaults.sql
  drizzle/0026_recreate_dashboard_preferences.sql
  drizzle/0028_add_vendor_notes.sql
  drizzle/0029_add_purchase_orders.sql
  drizzle/0036_add_event_invitations.sql
  drizzle/0040_add_credit_visibility_settings.sql
  drizzle/0045_add_sales_sheet_drafts.sql
  drizzle/0047_feat_009_015_implementation.sql
Due: none

docs: Add inventory consistency QA findings to roadmap
  docs/prompts/INV-010.md
  docs/prompts/INV-011.md
  docs/prompts/INV-012.md
  docs/prompts/INV-013.md
  docs/roadmaps/MASTER_ROADMAP.md
Due: prettier --write

fix(db): Add notifications table migration to autoMigrate
  server/autoMigrate.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

fix: Add missing mock for getInvoices in dashboard test
  server/routers/dashboard.test.ts
Due: eslint --fix --max-warnings=0 --no-warn-ignored, prettier --write

docs(qa): Add Reality Map 2026-01-23 - Autonomous QA Analysis
  docs/qa/reality-map-2026-01-23/README.md
  docs/qa/reality-map-2026-01-23/analysis/REALITY_MAP.md
  docs/qa/reality-map-2026-01-23/analysis/environment_status.md
  docs/qa/reality-map-2026-01-23/charters/charters_master.json
  docs/qa/reality-map-2026-01-23/charters/charters_master.md
  docs/qa/reality-map-2026-01-23/charters/golden_paths.json
  docs/qa/reality-map-2026-01-23/exports/EXECUTIVE_SUMMARY.md
  docs/qa/reality-map-2026-01-23/exports/NEXT_7_DAYS_PLAN.md
  docs/qa/reality-map-2026-01-23/exports/TOP_RELEASE_BLOCKERS.md
  docs/qa/reality-map-2026-01-23/test-data/qa_credentials.md
  docs/qa/reality-map-2026-01-23/test-data/test_data_contract.md
  docs/qa/reality-map-2026-01-23/test-data/test_data_registry.json
Due: prettier --write
